<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CANCUN HIGHLIGHTS, Saturday, 4 December 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, CANCUN HIGHLIGHTS, Saturday, 4 December 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12493e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12493f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12493s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12493j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 493 - Monday, 6 December 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">CANCUN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Saturday, 4 December 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">On Saturday morning, the SBSTA closing plenary convened along with  a number of contact groups and informal consultations under the SBI, SBSTA,  AWG-KP and the AWG-LCA. In the afternoon, the COP held an informal stocktaking  plenary. In the evening, the COP/MOP informal stocktaking plenary and the SBI  closing plenary took place.</p>
                               <p class="textstory"><strong><em>SBSTA CLOSING PLENARY</em></strong></p>
                               <p class="textstory"><strong>ORGANIZATION OF WORK: </strong>On elections of officers other than the Chair, SBSTA Chair  Mama Konat&eacute; (Mali) noted ongoing consultations. Parties agreed that the SBSTA  would invite the COP to elect the Vice-Chair and Rapporteur during the closing  plenary. </p>
                               <p class="textstory"><strong>NAIROBI WORK PROGRAMME ON IMPACTS, VULNERABILITY AND  ADAPTATION TO CLIMATE CHANGE (NWP): </strong>Co-Chair Don Lemmen (Canada) reported that parties had  decided to continue activities under the NWP and complete the review of the NWP  at SBSTA 34. References to &ldquo;communities&rdquo; and &ldquo;peoples&rdquo; in the conclusions  remain bracketed. Parties agreed on language referring to &ldquo;women, local communities  and indigenous peoples.&rdquo; The SBSTA adopted the proposed conclusions  (FCCC/SBSTA/2010/L.20) as amended. </p>
                               <p class="textstory"><strong>METHODOLOGICAL ISSUES UNDER THE KYOTO PROTOCOL:</strong> On carbon capture (CCS) under the CDM,  Co-Facilitator Pedro Martins Barata (Portugal) reported that parties had been  unable to agree on whether CCS should be eligible under the CDM, but had agreed  on a draft COP/MOP decision containing two options on issues that need to be  addressed. He requested that the conclusions be amended to recommend the  decision for &ldquo;consideration&rdquo; rather than &ldquo;adoption&rdquo; by the COP/MOP, noting that  a draft decision containing options cannot be adopted. The SBSTA adopted  conclusions (FCCC/SBSTA/2010/L.24) as amended. The SBSTA also adopted  conclusions on standardized baselines under the CDM (FCCC/SBSTA/2010/L.23)  and inclusion of lands with forests in exhaustion under the CDM  (FCCC/SBSTA/2010/L.15).</p>
                               <p class="textstory"><strong>OTHER SBSTA AGENDA ITEMS: </strong>The SBSTA also adopted the following  conclusions:</p>
                               <ul>
                                 <li class="textstory">Technology  transfer (FCCC/SBSTA/2010/L.17); </li>
                               </ul>
                               
                               <ul>
                                 <li class="textstory">Research  and systematic observation (FCCC/SBSTA/2010/L.22); </li>
                               </ul>
                               <ul>
                                 <li class="textstory">Matters  relating to Protocol Article 2.3 (adverse impacts of policies and measures)  (FCCC/SBSTA/2010/L.16);</li>
                               </ul>
                               
                               <ul>
                                 <li class="textstory">Methodological  issues under the Convention: Revision of UNFCCC reporting guidelines on annual  inventories for Annex I parties) (FCCC/SBSTA/2010/L.18) and Emissions from  international aviation and maritime transport (FCCC/SBSTA/2010/L.19);</li>
                               </ul>
                               <ul>
                                 <li class="textstory">Activities  implemented jointly under the pilot phase (FCCC/SBSTA/2010/L.21). </li>
                               </ul>
                               
                               <p class="textstory"><strong>CLOSING: </strong>The SBSTA adopted the report of the session  (FCCC/SBSTA/2010/L.14).</p>
                               <p class="textstory">Australia, for the UMBRELLA GROUP, called for a conversation on  how to make the SBSTA more efficient. The EU welcomed advances made on  technology transfer, research and systematic observation, and Annex I UNFCCC  reporting guidelines, as well as the outcomes on standardized baselines and CCS  under the CDM. Yemen, for the G-77/CHINA, called for international  organizations to harmonize actions under the NWP to avoid duplication of  efforts and urged further country-driven actions. </p>
                               <p class="textstory">The Republic of Korea, for the ENVIRONMENTAL INTEGRITY GROUP  (EIG), welcomed progress under research and systematic observation and looked  forward to the report of the High-Level Taskforce on the Global Framework for  Climate Services. The Democratic Republic of the Congo, for the AFRICAN GROUP,  highlighted additional issues for consideration, including CDM reform and  expansion, and continuation of the CDM after the first commitment period.  Lesotho, for the LDCs, urged further progress on research and systematic  observation to strengthen institutions in LDCs, SIDS and African countries. He  also expressed concern with the lack of progress on the scientific, technical  and social aspects of mitigation. </p>
                               <p class="textstory">ECUADOR, with SYRIA, SUDAN, CHILE, SIERRA LEONE and EL SALVADOR,  drew attention to the linkages between climate change impacts and water. He  called for a process under the Convention to address water-related matters,  including a SBSTA programme of work on water. The US expressed concern with the  proliferation of agenda items and new work programmes. He proposed informal  discussions to identify what interests were not being considered under the NWP.  SBSTA Chair Konat&eacute; noted that since the report had already been adopted, the  issue could not be included in the session&rsquo;s report. </p>
                               <p class="textstory">The BUSINESS COUNCIL FOR SUSTAINABLE ENERGY urged parties to  adopt a decision that establishes a technology mechanism and technology center  and network. The INTERNATIONAL INDIGENOUS PEOPLES&rsquo; FORUM ON CLIMATE CHANGE  called for stronger recognition in the NWP of indigenous peoples&rsquo; knowledge of  adaptation strategies, and for their full and effective participation in NWP  projects and programmes. </p>
                               <p class="textstory">SBSTA Chair Konat&eacute; closed SBSTA 33 at 1:19 pm.</p>
                               <p class="textstory"><strong><em>COP INFORMAL STOCKTAKING PLENARY</em></strong></p>
                               <p class="textstory">                                 Opening the COP informal stocktaking plenary in the afternoon, COP  President Patricia Espinosa underlined the need for political decisions next  week, noted that ministers have been arriving in Cancun and that an informal  ministerial session will be held on Sunday on the way forward. She underscored  her personal commitment to ensure transparency, stressing that &ldquo;there is no  parallel negotiation process and no hidden text.&rdquo; She explained that  ministerial discussions will be held to provide further political guidance on  key issues, but highlighted that this will not substitute for negotiations in  the AWGs.</p>
                               <p class="textstory">AWG-LCA Chair Margaret Mukahanana-Sangarwe (Zimbabwe) said she had  prepared a new text (FCCC/AWGLCA/2010/CRP.2). On adaptation, she highlighted  progress, particularly on institutional arrangements and functions. On  mitigation, she underscored ongoing consultations and additional work needed,  saying that a possible outcome could retain options for a political decision  next week. Regarding finance, she said agreement was &ldquo;close&rdquo; on, <em>inter alia</em>,  long-term finance and establishment of the proposed fund. Negotiations on  technology transfer are &ldquo;closer to compromise solutions.&rdquo; On capacity building  and a shared vision, she said more work and compromise is needed to deliver an  outcome. She urged parties to move forward and compromise.</p>
                               <p class="textstory">Many parties thanked the COP President&rsquo;s &ldquo;excellent efforts&rdquo; to  ensure transparency. Many parties also thanked AWG-LCA Chair  Mukahanana-Sangarwe for her text and efforts. </p>
                               <p class="textstory">Yemen, for the G-77/CHINA, said that they could not provide an  overview of the new text as it was just delivered. The EU commended the  &ldquo;constructive spirit of compromise,&rdquo; urged further progress on mitigation and  identified the need for a legally-binding outcome under both tracks. Switzerland,  for the EIG, recognized the COP Presidency&rsquo;s efforts to ensure a transparent,  inclusive and result-oriented process, and welcomed the AWG-LCA Chair&rsquo;s new  text. Australia, for the UMBRELLA GROUP, highlighted the importance of  anchoring developed countries&rsquo; economy-wide targets, as well as mitigation  actions submitted by developing countries, and urged further work on MRV and  mitigation.</p>
                               <p class="textstory">Grenada, for AOSIS, with VENEZUELA and others, underscored that  the new text lacks sufficient ambition. AOSIS highlighted the text as &ldquo;a step  forward&rdquo; at this juncture. Lesotho, for the LDCs, emphasized the central  importance of adaptation. The Democratic Republic of the Congo, for the AFRICAN  GROUP, called on parties to redouble their efforts to reach agreement. Egypt,  for the ARAB GROUP, underscored emerging consensus on a balanced package,  comprising, <em>inter alia</em>, an: effective and predictable finance mechanism;  an adaptation mechanism; and a delicate balance in mitigation between  commitments and voluntary actions. </p>
                               <p class="textstory">BOLIVIA stressed that the new text is imbalanced, stated that  texts originating from facilitators and the Chair have no official status and  urged returning to the &quot;parties&rsquo; text&quot; containing all options.  ECUADOR underscored that the text does not substitute the AWG-LCA negotiating  text. VENEZUELA requested information on the role of the various texts on the  table and sought assurance that the role of ministers will not be the same as  in the &ldquo;horrible Copenhagen Summit.&rdquo; NICARAGUA highlighted the new text as &ldquo;an  informal text,&rdquo; emphasizing that facilitators cannot be the interpreters of  party positions. </p>
                               <p class="textstory">COLOMBIA emphasized support for the COP President and the  facilitators who have the task to generate texts that attempt to bring  countries closer to consensus. PAKISTAN said the consultations have been &ldquo;frank  and deep&rdquo; and stressed the need for a solution. TUVALU and GUYANA identified  the need for parties to take ownership of the text. CHINA called for switching  into full negotiating mode. NIGERIA  identified the need for the intergovernmental process to continue when the  ministers arrive, warning against repeating &ldquo;a previous situation&rdquo; where  parties end up in separate rooms. COP President Espinosa stressed a commitment  to transparency, underlining that there will be &ldquo;no hidden text and hidden  negotiations&rdquo; at the conference. </p>
                               <p class="textstory">BRAZIL, BOLIVIA, VENEZUELA and others lamented the lack of an  option in the text on developed country mitigation on a second commitment  period under the Kyoto Protocol. PAKISTAN, ECUADOR and others stressed that  progress under the Convention is linked to progress under the Protocol. NIGERIA  underscored the need to continue the Kyoto Protocol and NICARAGUA said this is  essential to achieve balance. SAUDI ARABIA identified the need for new text  under the Protocol track. IRAQ and many others called for  establishment of the second Kyoto Protocol commitment period. </p>
                               <p class="textstory">BOLIVIA lamented that the text lacked adequate options on: a  target of 1 or 1.5&deg;C or lower; human rights; indigenous peoples; impact of war  and war industries on climate change; and rights of Mother Earth. He opposed  creating new market mechanisms. ECUADOR lamented the &ldquo;rather unambitious goals&rdquo;  and identified the need to represent the rights of nature. VENEZUELA stated  that the wording on the temperature goal is &ldquo;worse than in the Copenhagen  Accord.&rdquo; PANAMA stated that an &ldquo;agreement that is perfect for everyone is going  to be imperfect and cruel for the planet.&rdquo; </p>
                               <p class="textstory">The US stated that movement is only possible with balanced package  and highlighted the need to improve text on sub-paragraph 1(b)(ii) of the Bali  Action Plan (mitigation by developing countries). AUSTRALIA urged incorporation  of further details on: the relation between developing and developed countries  mitigation and the registry, MRV and ICA.</p>
                               <p class="textstory">SAINT LUCIA expressed concern with the absence of reference to the  1.5&deg;C goal and legally-binding agreement under the AWG-LCA. With TUVALU, she  lamented a weakening of language on a mechanism to address loss and damage. BENIN  said the text must address the fundamental concern of LDCs regarding limiting  temperature increase to 1.5&deg;C. PERU  said that financing and mitigation require further work, calling for a more  constructive discussion on the numbers and MRV. </p>
                               <p class="textstory">GUATEMALA called for a clear distinction between fast-track and  long-term finance. TAJIKISTAN, supported by BHUTAN, stressed the need to  reflect needs of mountainous, landlocked developing countries. SAUDI ARABIA  underscored the importance of including text on adaptation to the impacts of  response measures. BANGLADESH stated that many issues that are important for  LDCs are missing. BARBADOS raised concern over the text on adaptation,  highlighting institutional issues and a mechanism to address loss and damage.  SYRIA called for reference to droughts, storms, dust and sandstorms. MALAWI and  the GAMBIA requested special consideration for vulnerabilities, capacity  building, technology transfer and capacity building needs of the LDCs, SIDS and  Africa. </p>
                               <p class="textstory">ARGENTINA regretted that the new text does not reflect parties&rsquo;  views on poverty eradication issues. COSTA RICA highlighted the need for:  clarity on the legal nature of the AWG-LCA&rsquo;s outcome; a decision under the  AWG-KP on emission reductions; and progress on technology transfer, financing,  capacity building, REDD+ and adaptation. PAPUA NEW GUINEA said the text  provides a good basis for work towards a substantive REDD+ decision to be  agreed in Cancun. SENEGAL highlighted a standing committee as the &ldquo;missing  link&rdquo; under finance. INDONESIA said the shared vision section  of the text must be consistent with the Bali Action Plan. </p>
                               <p class="textstory">Chair Michael  Zammit Cutajar (Malta) reported that the contact group on parties&rsquo; proposals  under Convention Article 17 (protocols) had considered six proposals. He noted  that most parties envisaged a legally-binding outcome, but divergent views  remain regarding the legal nature and substantive content of such an outcome  and its relationship to the Kyoto Protocol. He specified that views include: a  COP 16 decision; a process during the intersessional period to determine the  legal form; assigning the task to the AWG-LCA or to a separate subsidiary body  to be established; and that the AWG-LCA&rsquo;s current mandate is adequate for  considering the legal form. He said many observed that the legal form is an  important element of the broader package that could emerge from Cancun. </p>
                               <p class="textstory">COP President Espinosa  proposed that Luis Alfonso de Alba (Mexico) conduct informal consultations to  clarify further work that could be undertaken on legal form at COP 16. Opposed  by INDIA, Grenada, for AOSIS, called for continuing discussions on the legal  form in the contact group. The contact group will continue meeting with the  participation of de Alba.</p>
                               <p class="textstory"><strong><em>COP/MOP INFORMAL STOCKTAKING PLENARY </em></strong></p>
                               <p class="textstory">On Saturday evening, COP/MOP President Espinosa convened the  COP/MOP informal stocktaking plenary. AWG-KP Chair John Ashe (Antigua and  Barbuda) highlighted progress on: base and reference years; length and duration  of commitment period; and carryover of surplus AAUs. On &ldquo;numbers,&rdquo; he drew  attention to ongoing consultations by de Alba on behalf of the COP Presidency,  saying some of the ideas presented needed further consideration. AWG-KP Chair  Ashe said that a text reflecting progress made would be issued  (FCCC/KP/AWG/CRP.4/Rev.1). He also noted that ministerial consultations would  be undertaken to seek political guidance on numbers, LULUCF, the flexibility  mechanisms and methodological work. He emphasized that these consultations  would not supersede the work of the AWG-KP. </p>
                               <p class="textstory">Responding to  parties&rsquo; questions on the  role of ministers, Ashe noted that he cannot say whether ministerial meetings  will involve drafting. COP/MOP President Espinosa said plenary text will have  to be confirmed through working groups but would benefit from ministerial  guidance. </p>
                               <p class="textstory">Yemen, for the G-77/CHINA, stressed that a second commitment  period is the cornerstone of a successful outcome. Lesotho, for the  LDCs, urged balance between the two tracks. Australia, for the UMBRELLA GROUP, underscored the need to consider  all parties&rsquo; mitigation targets and actions. He identified an opportunity to  improve rules on greenhouse gases, LULUCF and common metrics. The EU expressed  willingness to commit to a second commitment period as part of a global,  binding framework. Switzerland, for the EIG, highlighted the need for political  decisions and flexibility. Grenada, for AOSIS, called for an ambitious and  balanced new text focusing on emission reduction targets.&nbsp; </p>
                               <p class="textstory">MALAYSIA and  others stressed the continuity of the Kyoto Protocol must not be linked to  mitigation actions by developing countries. INDIA stressed the Convention&rsquo;s  principles, including historical responsibility. VIETNAM, PERU and BENIN stressed that the Kyoto Protocol is  the cornerstone of the regime to address climate change. </p>
                               <p class="textstory">&nbsp;NORWAY expressed  willingness for a second commitment period as part of a balanced outcome. JAPAN  said since not all major emitters are part of the Kyoto Protocol, a second  commitment period is neither fair nor effective. AUSTRALIA supported the  adoption of a single treaty, but said that to address developing countries&rsquo;  concerns, his country could agree on outcomes under both tracks.</p>
                               <p class="textstory">BOLIVIA welcomed a new Chair&rsquo;s text if it reflects parties&rsquo; views,  urged progress on &ldquo;numbers&rdquo; and called for negotiations to take place in  official meetings rather than informally. TUVALU called for tightening LULUCF  rules to avoid creating new subsidies for the forest industry and introducing  new &ldquo;hot air&rdquo; into the Protocol. EGYPT called for clarity on LULUCF, AAUs and other issues. PAPUA  NEW GUINEA called for the inclusion of REDD+. CHINA urged for a balanced  outcome, which would not be achieved without a second commitment period  agreement under the Kyoto Protocol. </p>
                               <p class="textstory">In response to a request by Tuvalu, SBI Chair Robert Owen-Jones  (Australia) reported on work by the SBI on privileges and immunities. COP/MOP  President Espinosa called on parties to pursue areas of understanding and  remain actively engaged in negotiations. </p>
                               <p class="textstory"><strong><em>SBI CLOSING PLENARY </em></strong></p>
                               <p class="textstory"><strong>ORGANIZATION OF WORK: </strong>On elections of officers other than the Chair, SBI Chair  Robert Owen-Jones (Australia) noted ongoing consultations. Parties agreed that  the SBI would invite the COP to elect the Vice-Chair and Rapporteur during the  closing plenary. </p>
                               <p class="textstory"><strong>CONVENTION ARTICLES 4.8 AND 4.9: Progress on implementation  of decision 1/CP.10 (Buenos Aires programme of work):</strong> SAUDI ARABIA, supported by the UNITED  ARAB EMIRATES and QATAR, noted that the issue had been pending for &ldquo;a very long  time&rdquo; but requested that reference linking a workshop on 1/CP.10 to a workshop  on Protocol Articles 2.3 and 3.14 be deleted. AUSTRALIA, with the EU and the  US, noted that they had agreed to consider a workshop on Protocol Articles 2.3  and 3.14 on the understanding that it would be a &ldquo;joint&rdquo; workshop with 1/CP.10,  but that it could be worded as either a workshop where the issues were  &ldquo;considered together&rdquo; or &ldquo;back-to-back.&rdquo; SAUDI ARABIA underscored that distinct  issues should not be linked.</p>
                               <p class="textstory">Following informal consultations, AUSTRALIA proposed, and parties  supported, holding a workshop promoting risk management approaches to address  impacts of response measures and that it be held back-to-back, if possible,  with other workshops relevant to developing country concerns surrounding impact  of response measures. The SBI adopted conclusions (FCCC/SBI/2010/L.34) as  amended.</p>
                               <p class="textstory"><strong>Matters related to the LDCs: </strong>Bangladesh, for the G-77/CHINA, welcomed  the extension of the LEG and requested parties support the LEG in its efforts  to enhance the capacity of LDCs to implement NAPAs. </p>
                               <p class="textstory">The SBI adopted conclusions (FCCC/SBI/2010/L.28 and Add.1) and  forwarded the draft decision to the COP for adoption. </p>
                               <p class="textstory"><strong>FINANCIAL  MECHANISM:</strong> <strong>The GEF&rsquo;s report and guidance to the GEF:</strong> The  Philippines, for the G-77/CHINA, requested, and parties agreed, referring only  to additional guidance to the GEF in the title of the decision text. The SBI  adopted the conclusions and draft decision (FCCC/SBI/2010/L.39 and Add.1) as  amended. </p>
                               <p class="textstory"><strong>Assessment of the  SCCF:</strong> The EU and NORWAY requested, and parties agreed, to  remove reference to economic diversification as no economic diversification  activities had been undertaken. The SBI adopted conclusions and a draft  decision (FCCC/SBI/2010/L.40 and Add.1) as amended. </p>
                               <p class="textstory"><strong>ARRANGEMENTS FOR INTERGOVERNMENTAL MEETINGS:</strong> The SBI adopted conclusions  (FCCC/SBI/2010/L.31). MEXICO, Bangladesh, for the G-77/CHINA, BINGOs,  INDIGENOUS PEOPLES ORGANIZATIONS, LOCAL GOVERNMENTS and CIVIL SOCIETY welcomed  the outcome. MEXICO highlighted the workshop to be held to explore means to  enhance observer participation, suggesting the creation of a new government  constituency for parliamentarians and legislators. </p>
                               <p class="textstory">SOUTH AFRICA requested guidance on future intersessional meetings.  SBI Chair Owen-Jones indicated that he will report back to the Bureau after  conducting consultations during the next week. </p>
                               <p class="textstory"><strong>ANNEX I NATIONAL  COMMUNICATIONS: </strong>On the agenda sub-item on national GHG inventory data  for 1990-2007 and 1990-2008, BOLIVIA welcomed the outcome but regretted that  consensus was not reached to include text on countries whose emissions  increased. The SBI adopted conclusions (FCCC/SBI/2010/L.35).</p>
                               <p class="textstory"><strong>OTHER SBI AGENDA ITEMS:</strong> The SBI also adopted:</p>
                               <ul type="disc">
                                 <li class="textstory">a draft COP       decision on Convention Article 6       (education, training and public awareness) (FCCC/SBI/2010/L.26);</li>
                               </ul>
                               
                               <ul type="disc">
                                 <li class="textstory">conclusions on Technology transfer       (FCCC/SBI/2010/L.25);</li>
                               </ul>
                               <ul type="disc">
                                 <li class="textstory">conclusions       (FCCC/2010/L.36), a draft COP decision (FCCC/SBI/2010/L.36.Add.1) and a       draft COP/MOP decision (FCCC/SBI/2010/L.36/Add.2) on Annex I national       communications, covering the sub-items on: the fifth national communications;       submission of the sixth national communications; and Convention Article       12.5 (frequency of national communications); </li>
                               </ul>
                               
                               <ul type="disc">
                                 <li class="textstory">conclusions on       Protocol Annex B parties&rsquo; annual compilation and accounting reports for       2009 and 2010 (FCCC/SBI/2010/L.32);</li>
                               </ul>
                               <ul type="disc">
                                 <li class="textstory">in relation to       non-Annex I national communications, conclusions on the CGE       (FCCC/SBI/2010/L.33); and Financial and technical support       (FCCC/SBI/2010/L.37);</li>
                               </ul>
                               
                               <ul>
                                 <li class="textstory">conclusions  on Protocol Article 3.14 (adverse effects) (FCCC/SBI/2010/L.23);</li>
                               </ul>
                               <ul>
                                 <li class="textstory">conclusions  on Capacity building (Convention) (FCCC/SBI/2010/L.29);</li>
                               </ul>
                               
                               <ul>
                                 <li class="textstory">conclusions  on Capacity building (Protocol) (FCCC/SBI/2010/L.30); </li>
                               </ul>
                               <ul>
                                 <li class="textstory">conclusions  on Matters related to the LDCs (FCCC/SBI/2010/L.28);</li>
                               </ul>
                               
                               <ul>
                                 <li class="textstory">conclusions and a draft COP decision on  the Fourth review of the financial mechanism (FCCC/SBI/2010/L.38 and Add.1); </li>
                               </ul>
                               <ul>
                                 <li class="textstory">conclusions  and a draft COP decision on the LDC Fund (FCCC/SBI/2010/L.27 and Add.1);  and </li>
                               </ul>
                               
                               <ul>
                                 <li class="textstory">conclusions  and draft COP and COP/MOP decisions on Audited financial statements for the  biennium 2008-2009, budget performance for the biennium 2010-2011, and  continuing review of the functions and operations of the Secretariat  (FCCC/SBI/2010/L.24 and Add.s 1-2).</li>
                               </ul>
                               <ul>
                                 <li class="textstory">The SBI agreed to continue consideration  of the following issues at SB 34: </li>
                               </ul>
                               
                               <ul>
                                 <li class="textstory">Privileges  and immunities;</li>
                               </ul>
                               <ul>
                                 <li class="textstory">Protocol  amendment with respect to compliance; and</li>
                               </ul>
                               
                               <ul>
                                 <li class="textstory">Further  implementation of Convention Article 12.5.</li>
                               </ul>
                               <p class="textstory"><strong>CLOSING: </strong>SBI  33 adopted the report of the session (FCCC/SBI/2010/L.22). The EU highlighted  progress made in, <em>inter alia</em>: the LEG&rsquo;s mandate; review of the LDC Fund;  fourth review of the financial mechanism; assessment of the SCCF; and national  communications and GHG inventories for Annex I and non-Annex I parties.&nbsp; </p>
                               <p class="textstory">Yemen, for the G-77/CHINA, underscored the Adaptation Fund as a  successful example of direct access to funding and called for further progress  in key issues, including: funding for national communications for non-Annex I  parties; the establishment of a technology transfer mechanism; and capacity  building needs in developing countries. He requested that a sufficient budget  be allocated for the AWG-LCA and AWG-KP work in 2011 to achieve an outcome in  South Africa.</p>
                               <p class="textstory">Australia, for the UMBRELLA GROUP, highlighted, <em>inter alia,</em> the outcome on the LEG, and regretted lack of agreement on capacity building.  Mexico, for the EIG, highlighted observer engagement and agreement on the  workshop to consider this issue. Lesotho, for the LDCs, stressed the importance  of the LDC work programme and welcomed the decision to extend the LEG&rsquo;s  mandate. Benin, for the AFRICAN GROUP, highlighted funding. Grenada, for AOSIS,  noted a number of important outcomes on: Convention Article 6; adaptation in  the context of decision 1/CP.10; the Adaptation Fund and its review; and LDCs.</p>
                               <p class="textstory">SBI Chair Owen-Jones closed SBI 33 at 11:11 pm.</p>
                               <p class="textstory"><strong><em>CONTACT GROUPS AND INFORMAL CONSULTATIONS </em></strong></p>
                               <p class="textstory"><strong>CHAPTER I (numbers) (AWG-KP): </strong>Parties continued consideration of the  carryover of surplus AAUs. Many parties supported continuing discussions and  requested technical experts to provide scientific input on the options. Parties  also heard a proposal to give countries that take on voluntary targets the  option to purchase units to meet those targets, to create an integrated carbon  market.&nbsp; </p>
                               <p class="textstory"><strong>CHAPTER II (LULUCF) (AWG-KP): </strong>Parties discussed a new non-paper by the  facilitators and considered whether this could be forwarded to ministers. Some  parties said the text should not be used as the basis for political decisions  and called for a return to Friday&rsquo;s non-paper. Others questioned the process,  highlighting that all proposals had not been negotiated. Parties were unable to  agree on text to be forwarded to the informal COP/MOP stocktaking plenary. </p>
                               <p class="textstory"><strong>CHAPTER III (flexibility mechanisms) (AWG-KP): </strong>Parties considered a proposal regarding  the continuation of the CDM. Many supported the continuation of the CDM, but  disagreement remained on whether an explicit signal is needed on the CDM&rsquo;s  continuation and on the nature of such a signal. Parties agreed that given more  time, further progress can be made on the flexibility mechanisms in general. </p>
                               <p class="textstory"><strong>CHAPTER IV (basket of methodological issues) (AWG-KP): </strong>Parties heard a report from the informal  group considering new GHGs and common metrics to calculate GHG equivalence.  Parties exchanged views on the need for a SBSTA work programme on common  metrics and its purpose. Informal consultations will continue.</p>
                               <p class="textstory"><strong>COMPLIANCE (COP/MOP): </strong>Parties considered issues relating to Croatia&rsquo;s appeal  against a decision of the Compliance Committee&rsquo;s Enforcement Branch. Parties  considered what constitutes due process in the context of the appeal, whether  this is limited to issues of procedure or whether it also includes the fact  that the Enforcement Branch found that it did not have the competence to  address some aspects of Croatia&rsquo;s appeal. Parties also considered whether it  can address those aspects of Croatia&rsquo;s appeal that the Enforcement Branch  lacked the competence to consider, and whether conclusions or a decision could  be adopted, or whether to simply acknowledge that those aspects were discussed.  Informal consultations will continue.&nbsp; </p>
                               <p class="textstory"><strong>MITIGATION (sectoral approaches) (AWG-LCA): </strong>Parties were unable to reach agreement on  how to move forward with a proposed note prepared by the facilitator.  Commenting on the note, some parties expressed concern with references to trade  and many opposed the consideration of hydrofluorocarbons under sectoral  approaches. Others called for considering agriculture and bunker fuels  separately. Parties will continue to consult. </p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS </em></strong></p>
                               <p class="textstory">On Saturday afternoon, the corridors and the main plenary hall  were full of delegates carefully studying the &ldquo;eagerly awaited&rdquo; AWG-LCA Chair&rsquo;s  new paper. The reaction to the language was mixed. &ldquo;This is terribly weak,&rdquo;  lamented some developing country delegates. One observer, however, said that  important progress had been made. Many parties seemed to agree that there was  limited time to react to the range of issues raised, although as one  &ldquo;street-wise&rdquo; delegate put it, &ldquo;you can be sure we will have loads of comments  when we have fully digested the details.&rdquo;&nbsp;On the AWG-LCA paper, one  seasoned negotiator noted &ldquo;is it a good text? No, but it&rsquo;s really our only  option for moving forward.&rdquo;&nbsp;The AWG-KP text should be available coming  early Sunday morning. Getting ready for a transition in the process, some  delegates appeared anxious to move past the unofficial spin-off and  consultative groups of the first week and into formal negotiations within and  between the two tracks.</p>
                               <p class="textstory">The arrival of Ministers in Cancun was another hot topic. Some  participants noted that parties were already discussing what issues should be  taken before Ministers and how this should be done. An informal dinner on  Saturday night, hosted by COP President Patricia Espinosa, and an informal  plenary for Ministers on Sunday morning will map out the process for the week.</p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
