<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>COPENHAGEN HIGHLIGHTS - Wednesday, 9 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, Wednesday, 9 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12451e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12451f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/vol12/enb12451s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12451j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Japanese version" vspace="1" border="0" /></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 451 - Thursday, 10 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Wednesday, 9 December 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">On Wednesday, the  COP and COP/MOP held plenary sessions. In addition, various contact groups and  informal consultations convened on a range of issues, including a shared  vision, mitigation, adaptation, finance and technology under the AWG-LCA, Annex  I emission reductions and other issues under the AWG-KP, and various topics  under the SBSTA and SBI.</p>
                               <p class="textstory"><em><strong>COP</strong></em></p>
                               <p class="textstory"><strong>ORGANIZATIONAL  MATTERS: Date and venue of future sessions:</strong> COP  President Hedegaard said a decision on the date and venue of COP 16 and COP/MOP  6 would be taken at COP 15 and confirmed Mexico&rsquo;s offer to host them. </p>
                               <p class="textstory">CHINA and SAUDI ARABIA  noted that the logo in plenary refers only to &ldquo;COP 15&rdquo;  and said it should also refer to COP/MOP 5. SAUDI ARABIA highlighted sensitivity  over this because it was known that some Annex I parties want to dispense with  the Protocol. </p>
                               <p class="textstory">CHINA expressed frustration that his minister had been denied entry into  the Conference venue and subsequently had his badge confiscated. UNFCCC Executive  Secretary Yvo de Boer said he would investigate this and make sure it did not  happen again.</p>
                               <p class="textstory"><strong>MALTA&rsquo;S  PROPOSAL FOR AN AMENDMENT TO CONVENTION ANNEX I: </strong>Malta  outlined its proposal to join Annex I (FCCC/CP/2009/2), noting that by joining  the EU in 2004 it has taken on responsibilities in line with those of Annex I  parties. Stephen de Boer (Canada)  will facilitate informal consultations. </p>
                               <p class="textstory"><strong>PROPOSED  PROTOCOLS UNDER CONVENTION ARTICLE 17 (PROTOCOLS): </strong>COP President Hedegaard indicated that proposals relating to adoption of  new protocols under the Convention had been received from five countries: Australia, Costa   Rica, Japan,  Tuvalu and the US  (FCCC/CP/2009/3-7). </p>
                               <p class="textstory">TUVALU outlined its proposed protocol, which he said would complement but  not replace the Kyoto Protocol. He indicated that his draft protocol follows  the elements of the BAP closely, sets out a shared vision and the goals of  limiting temperature increase to well below 1.5&deg;C  and stabilizing greenhouse gas concentrations at 350 ppm at the most. He said  parties in Copenhagen  should adopt two legally-binding agreements: a Protocol amendment and a new  &ldquo;Copenhagen Protocol.&rdquo; He proposed a contact group to work on this agenda item. </p>
                               <p class="textstory">COSTA RICA described its proposal for a Copenhagen Protocol and supported a  legally-binding agreement. </p>
                               <p class="textstory">JAPAN outlined its proposal, which includes reducing global emissions by  at least 50% from current levels by 2050, provisions for developed country  commitments, developing country action and financial and technological  cooperation. He said it requires all major economies to participate in a single  new legally-binding protocol. AUSTRALIA  said a new treaty is the best way to achieve a collective outcome and the US  outlined its proposal for a legally-binding agreement under the Convention. </p>
                               <p class="textstory">INDIA, CHINA, SAUDI   ARABIA, SOUTH    AFRICA and others opposed a new protocol. CHINA  urged a focus on implementing the existing commitments under the Convention and  Protocol and adopting an ambitious outcome under the Bali Roadmap and BAP. </p>
                               <p class="textstory">Climate Action  Network (CAN), for ENGOs, urged a fair, ambitious and legally-binding deal in Copenhagen. She called for  agreement on Annex I targets for a second commitment period under the Kyoto  Protocol and said the US should commit to similar targets as other Annex I  parties in a legally-binding form. YOUTH expressed concerns that some of the  new proposals being tabled would be &ldquo;tantamount to carbon colonialism.&rdquo; She  urged respect for the UN process, recognition of historical responsibility, and  upholding and enhancing the Kyoto Protocol. </p>
                               <p class="textstory">COP President  Hedegaard proposed establishing a contact group on this item. This was  supported by Grenada, for  AOSIS, as well as BARBADOS, TUVALU, COSTA RICA,  BELIZE, BAHAMAS, SENEGAL,  KENYA, SOLOMON ISLANDS, COOK   ISLANDS, PALAU  and the DOMINICAN REPUBLIC. </p>
                               <p class="textstory">However, SAUDI ARABIA, with INDIA,  VENEZUELA, ALGERIA, KUWAIT,  OMAN, NIGERIA, ECUADOR  and CHINA,  opposed a contact group and preferred that the COP President or a  Vice-President hold informal consultations. </p>
                               <p class="textstory">COP President  Hedegaard indicated that in the absence of consensus on forming a contact  group, she had no option but to consult informally. TUVALU, supported by AOSIS, argued  that this agenda item required formal consideration, and proposed suspending  the COP until the issue is resolved. The COP was then suspended.</p>
                               <p class="textstory">Following  informal consultations, COP President Hedegaard reported back in the evening  that consultations on the issue would continue and that she would report back  to the COP plenary on Thursday morning.</p>
                               <p class="textstory"><em><strong>COP/MOP</strong></em></p>
                               <p class="textstory"><strong>JOINT  IMPLEMENTATION: </strong>Joint Implementation Supervisory  Committee (JISC) Chair Derrick Oderson presented the JISC&rsquo;s report  (<a href="http://unfccc.int/resource/docs/2009/cmp5/eng/18p02.pdf" target="_blank" class="linknegro">FCCC/KP/CMP/2009/18</a>).</p>
                               <p class="textstory">The EU welcomed  the JISC&rsquo;s work, encouraged it to promote transparency of its decision-making  and requested parties to pledge sufficient funding. CHINA,  supported by NIGERIA, SYRIAN ARAB REPUBLIC, OMAN  and BRAZIL,  stressed the need to mobilize funding for the Adaptation Fund. SOUTH AFRICA  stressed that adaptation funding currently only comes from developing countries  themselves through the CDM, and identified the need to address this.</p>
                               <p class="textstory">David Lesolle (Botswana) and Pedro Martins Barata (Portugal)  will co-chair a contact group.</p>
                               <p class="textstory">COP/MOP President  Hedegaard also invited party nominations for the JISC.</p>
                               <p class="textstory"><strong>CDM:</strong> CDM Executive  Board (EB) Chair Lex de Jonge reported on the Board&rsquo;s work in 2009  (FCCC/KP/CMP/2009/16). </p>
                               <p class="textstory">CHINA labeled the EB&rsquo;s recent decision to rejects its wind power projects  as &ldquo;unfair&rdquo; and &ldquo;non-transparent.&rdquo; He suggested that the decision was based on  the assumption that China  has reduced feed-in tariffs in order to promote CDM projects. He asserted the  host country&rsquo;s right to determine its policies to promote renewable energy and  said it was &ldquo;irresponsible&rdquo; for the EB to base decisions on &ldquo;wild guesses&rdquo;  about a country&rsquo;s domestic policies. Supporting China,  INDIA  stressed the need for fairness and transparency in the EB&rsquo;s work.</p>
                               <p class="textstory">Many African  countries stressed the need to continue improving regional distribution and Africa&rsquo;s participation in the CDM. DEMOCRATIC REPUBLIC OF THE CONGO proposed  possible solutions, such as: a gold standard; encouraging sectoral projects in Africa; and making temporary credits from sink projects  permanent. ZAMBIA  drew attention to the small number of African staff members in the  Secretariat&rsquo;s mechanisms support programme, in comparison to other regions. NIGER called  for measures to simplify project registration and promote African Designated  Operational Entities. SWAZILAND  proposed requesting the CDM EB to prioritize a review of methodologies that  could promote CDM projects in Africa. UGANDA called  for review and simplification of the additionality requirement, stating that  there are certain activities that do not require proving additionality. LEBANON noted  its inability to participate in the CDM because of a lack of capacity. MALI  noted that his country has prepared 30 CDM projects over the last 2 years, but  only one has been approved, and called for improvement of the approvals  procedure.</p>
                               <p class="textstory">INDIA underscored that the CDM market depends on deep emission reductions  by Annex I countries in the post-2012 period. Supported by BRAZIL, INDIA opposed sectoral approaches,  saying they could lead to benchmarking and adversely affect developing  countries&rsquo; economic growth. KYRGYZSTAN  said medium- and large-scale hydro projects could benefit countries like his. JAPAN and the REPUBLIC OF KOREA  highlighted benefits of renewable energy and encouraged efforts to facilitate  such projects under the CDM. </p>
                               <p class="textstory">JAPAN, SAUDI ARABIA, ALGERIA,  the UNITED ARAB EMIRATES, SYRIA,  NIGERIA, LIBYA and others, opposed by GRENADA and TUVALU, stressed the importance of  including CCS under the CDM. </p>
                               <p class="textstory">BRAZIL said CCS is important to combat climate change but opposed its  inclusion under the CDM, highlighting non-permanence and environmental  integrity. ECUADOR  questioned whether CCS would result in sustainable development benefits for the  host country. The REPUBLIC   OF KOREA called for a  cautious approach to the CCS.</p>
                               <p class="textstory">Many parties  encouraged the CDM EB to continue improving efficiency, transparency and  consistency of its decision-making. The EU called for specifying terms of  reference for EB members concerning conflicts of interest. The EU opposed the  inclusion of reforestation of lands with forests in exhaustion and said forest  management should be addressed under REDD-plus. </p>
                               <p class="textstory">The CARBON  CAPTURE AND STORAGE ASSOCIATION highlighted that low-cost CCS technologies  exist and CDM revenue would enable further development of such technologies. </p>
                               <p class="textstory">Christiana  Figueres (Costa Rica) and  Kunihiko Shimada (Japan)  will co-chair a contact group. COP/MOP President Hedegaard reminded delegates  of the need to elect CDM Executive Board members and alternate members. </p>
                               <p class="textstory"><strong>COMPLIANCE  COMMITTEE&rsquo;S REPORT: </strong>Compliance Committee Co-Chair  Sebastian Oberth&uuml;r presented the Committee&rsquo;s report (<a href="http://unfccc.int/resource/docs/2009/cmp5/eng/17.pdf" target="_blank" class="linknegro">FCCC/KP/CMP/2009/17</a>),  highlighting, <em>inter alia,</em> its consideration of two questions of  implementation with respect to Croatia.  CROATIA  expressed disappointment with the decision not to approve its request regarding  calculation of its Assigned Amount and commitment period reserve and noted its  intention to appeal the decision.</p>
                               <p class="textstory">Informal  consultations will be conducted by J&uuml;rgen Lefevere (European Union). COP/MOP  President Hedegaard reminded delegates of the need to elect Compliance  Committee members and alternate members.</p>
                               <p class="textstory"><strong>ADAPTATION  FUND: Report of the Adaptation Fund Board: </strong>Adaptation  Fund Board Chair Jan Cedergren presented the Board&rsquo;s report  (<a href="http://unfccc.int/resource/docs/2009/cmp5/eng/14.pdf" target="_blank" class="linknegro">FCCC/KP/CMP/2009/14</a>). He highlighted actions taken to operationalize the  Adaptation Fund, including: adoption of policies and guidelines for accessing  funds; commencement of the monetization of Certified Emission Reductions  (CERs); and the decision to accept Germany&rsquo;s offer to confer legal capacity on  and host the Board. He also noted the inadequacy of available funds from the  sale of CERs to achieve the objective of the Fund and functions of the Board. </p>
                               <p class="textstory">The EU supported  the decision accepting Germany&rsquo;s  offer. GHANA, supported by SENEGAL,  proposed amendments to the Board&rsquo;s rules of procedure to enable the Board to be  represented by its Chair and Vice-Chair. URUGUAY,  SENEGAL and JAMAICA called  on the international community to provide more financial support to the Fund. AFGHANISTAN  stressed that adaptation funding must be additional to, and separate from,  official development assistance (ODA). BANGLADESH  and NIGERIA  lamented the inadequacy of available funds. MAURITANIA urged simplification of  procedures to access funding in order to ensure eligible countries can benefit.  BURUNDI  underscored its vulnerability to climate change impacts and low adaptive  capacity, and highlighted the importance of the Fund. INDIA outlined  that deeper emission cuts by developed countries would positively impact on the  price of CERs, which would be beneficial to the Fund. He also highlighted the  need for additional contributions to the Fund though JI credits. </p>
                               <p class="textstory">INTERNATIONAL  FEDERATION OF AGRICULTURAL PRODUCERS stressed that farmers and the agriculture  sector need support to adapt and said farmers should have direct access to the  Adaptation Fund. INTERNATIONAL INDIGENOUS PEOPLES&rsquo; FORUM ON CLIMATE CHANGE  urged respect for indigenous peoples&rsquo; rights at all stages of activities  related to the Fund. GENDER CC&ndash;WOMEN FOR CLIMATE JUSTICE said adaptation  requires hundreds of billions of dollars per year and called for earmarking a  &ldquo;significant proportion&rdquo; of funding for gender sensitive spending. YOUTH NGOs  stressed that 25 cents a day per Annex I country citizen would be sufficient  and urged wealthy governments to give at least US$ 100 billion dollars per year  to an accessible, democratically-run adaptation fund that is accountable to the  UNFCCC.</p>
                               <p class="textstory">Agus Purnomo (Indonesia) and Vanesa Alvarez Franco (Spain)  will co-chair a contact group.</p>
                               <p class="textstory"><em><strong>CONTACT GROUPS AND INFORMAL CONSULTATIONS</strong></em></p>
                               <p class="textstory"><strong>REDD-PLUS  (AWG-LCA): </strong>In informal consultations on REDD-plus,  parties addressed scope and objectives. Parties discussed whether the scope  should include percentage goals and whether specific activities that comprise  REDD-plus should be listed. A drafting group on REDD-plus met in the evening. </p>
                               <p class="textstory"><strong>MITIGATION BY  DEVELOPING COUNTRIES (AWG-LCA):</strong> In the morning  informal consultations on mitigation by developing countries under  sub-paragraph 1(b)(ii) of the BAP, parties continued discussions on supported  NAMAs and focused on the MRV section in non-paper No. 51. Many  developing countries supported the first option for a title of the section that  states that support for NAMAs comes from developed countries, while some  developed countries preferred a more inclusive approach, reflected in the  second option. Several developed countries supported international verification of NAMAs. Many  developing countries stressed this should be conducted at the domestic level.  Some developed countries, opposed by many developing countries, also supported  importing text on MRV from non-paper No. 28.  </p>
                               <p class="textstory"><strong>OTHER ISSUES  (AWG-KP): </strong>During morning informal consultations  focusing on the flexibility mechanisms, parties discussed how to proceed with  the work of the group. Discussions focused in particular on either: continuing  discussion of the issues on which consensus was not envisaged; or forwarding  such issues to the COP/MOP to decide either to take no further action on the  issue or to request the SBSTA to develop procedures and modalities for relevant  action. Parties then considered the text (<a href="http://unfccc.int/resource/docs/2009/awg10/eng/10a03r03.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/10/Add.3/Rev.3</a>,  Annex I) and identified those issues in the text that could be further  considered by the group and those that could be referred to the COP/MOP. </p>
                               <p class="textstory">In the afternoon,  the group continued to meet in informal consultations to discuss the basket of  methodological issues. Parties finished working through the text and discussed  the inclusion of new greenhouse gases. Some advocated adding new gases or  species of gases, while others emphasized that amendment of the Protocol to  include new gases was beyond the scope of the group&rsquo;s mandate.</p>
                               <p class="textstory"><strong>PROTOCOL  ARTICLES 2.3 AND 3.14 (SBI/SBSTA):</strong> In the joint  SBI/SBSTA contact group on Protocol Articles 2.3 (adverse effects of policies  and measures) and 3.14 (adverse effects and impacts of responses), parties  worked through documents FCCC/SBSTA/2009/L.10 and FCCC/SBI/2009/L.11. The EU  expressed a preference for joint conclusions. On matters relating to Protocol  Article 2.3, parties discussed text on better understanding of the issues. AUSTRALIA  called for a focus on the poorest and most vulnerable parties. Parties also  consolidated options on the need to share information. On matters relating to  Protocol Article 3.14, parties discussed the meaning of a phased approach and  the paragraph on coordination across working groups.</p>
                               <p class="textstory"><strong>FINANCIAL MECHANISM (SBI):</strong> On the fourth review of the financial mechanism, the EU proposed  streamlining the draft conclusions (FCCC/SBI/2009/L.15/Rev.1) by deleting  several preambular paragraphs. AUSTRALIA  and NORWAY  called for a focus on core issues. The US said its Congress was  considering a request for US$ 50 million for the GEF for various climate change  activities, to be included in the 2010 budget. The contact group was then  suspended following a request from the Bahamas, for the G-77/CHINA, to  enable the Group to coordinate. </p>
                               <p class="textstory"><strong>DECISION  1/CP.10 (SBI):</strong> The contact group on decision  1/CP.10 (Buenos Aires  programme of work on adaptation and response measures) met in the morning to  discuss submissions by parties on possible further action  (FCCC/SBI/2009/MISC.11/Rev.1) and draft conclusions proposed by the Chair. </p>
                               <p class="textstory">SAUDI ARABIA emphasized that the Chair&rsquo;s text does not reflect the submissions  of the G-77/China and that the current text reflects &ldquo;starting from the  beginning.&rdquo; AUSTRALIA, NORWAY and the US supported using the draft text  as the basis for discussions. The EU suggested it would be helpful to look at  the submissions and outcomes of workshops, drawing out common elements and  inserting them in the text.</p>
                               <p class="textstory">The US  recommended focusing on the draft conclusions rather than on possible decision  text, since progress on the annexes was unlikely. SAUDI   ARABIA and LIBYA called for inclusion of the  G-77/China submissions. The COOK   ISLANDS, while supporting  inclusion of the G-77/China submission, stressed the importance of moving to  substantive discussions. The Secretariat noted that they would distribute  document FCCC/SBI/2008/MISC.10, containing the G-77/China submission, at the  next meeting of the group. </p>
                               <p class="textstory"><strong>COMMON METRICS  (SBSTA):</strong> In informal consultations on common  metrics parties discussed draft conclusions. Parties highlighted that  scientific work on the issue is ongoing and discussed how it should be taken up  in the future.</p>
                               <p class="textstory"><strong>ANNEX I EMISSION REDUCTIONS (AWG-KP): </strong>At the morning&rsquo;s contact group, Co-Chair Wollansky reported on  informal consultations held on Tuesday. She identified consensus on having one  single legally-binding base year instead of multiple binding base years.  However, she said the single base year would not necessarily be the same for  all parties. She identified &ldquo;a lot of support&rdquo; for including reference years in  the Protocol amendment and said there was consensus that 1990 should be one of  them. </p>
                               <p class="textstory">On the mention of  a Protocol amendment, JAPAN  and the RUSSIAN FEDERATION  also stressed their desire for a comprehensive and global legal framework, not  a mere Protocol extension. The RUSSIAN    FEDERATION stressed that their possible  reduction range was not intended for the Protocol and that it was contingent on  the outcome of the overall negotiations. JAPAN said their mid-term target  was also based on a comprehensive legal framework. The GAMBIA, with ALGERIA,  the SUDAN and ZAMBIA,  expressed concern over reiterating these positions and called for good faith  discussions under the Protocol. AUSTRALIA  identified support for two possible legal outcomes, including a possible  continuation of the Protocol, while stressing the need for a legally-binding  outcome under the AWG-LCA. </p>
                               <p class="textstory">CHINA, supported by ALGERIA, BOLIVIA  and VENEZUELA,  emphasized the need for ambitious commitments from Annex I parties, that  developed countries are supposed to lead and that they are obligated under the  Kyoto Protocol to commit to reductions in a second commitment period. </p>
                               <p class="textstory">AOSIS called for  increased ambition. The G/77-CHINA said that the focus of the group&rsquo;s mandate  is on Annex I party responsibilities. CROATIA noted that some Annex I  countries emit less <em>per capita</em> than some developing countries,  highlighting the inclusion of all countries in emission reduction efforts. The  EU stressed that Annex B parties represent only 30% of global emissions.</p>
                               <p class="textstory">The EU presented  on current Annex I pledges in relation to an aggregate 30% emission reduction  target. He noted that failing to address the issues of AAU surplus and using  either current rules or unconstrained gross-net accounting rules for LULUCF  would result in increased emissions from the 1990 baseline. He highlighted that  even before the AAU surplus and accounting rules, current pledges are  insufficient to achieve reductions necessary to meet the IPCC range of a 25-40%  reduction from 1990 levels by 2020. </p>
                               <p class="textstory">BRAZIL requested that AAU carryover issues be resolved separate from  discussions of level of ambition. AUSTRALIA asked to see  disaggregated data for the EU &ldquo;bubble.&rdquo; AOSIS noted that 30% falls short of the  level of ambition required. The EU clarified that they had used capability,  responsibility, early action and population as criteria to calculate assigned  amounts for individual countries. </p>
                               <p class="textstory">In the afternoon,  informal consultations continued on Annex I emission reductions to discuss  length and number of commitment periods.&nbsp; </p>
                               <p class="textstory">Parties exchanged  views on the pros and cons of a five-year versus an eight-year commitment  period. Considerations included: domestic constraints related to legislation  and ratification processes; and ability to respond to science, including a  possible mid-term review for an eight-year cycle.</p>
                               <p class="textstory"><strong>NAIROBI WORK PROGRAMME (NWP) (SBSTA):</strong> The group  on the NWP met for informal discussions in the afternoon. Parties discussed the  Co-Chairs' draft conclusions, including reporting burdens associated with  networking partnerships and reflecting the catalytic role of the NWP in the  text. </p>
                               <p class="textstory"><strong>TECHNOLOGY  TRANSFER (SBI/SBSTA): </strong>During the afternoon&rsquo;s  contact group, Co-Chair Liptow said the group&rsquo;s deliberations would be based on  documents FCCC/SB/2009/4, Summary and INF.6, and FCCC/SBI/2009/14. He also  clarified that the outcome of deliberations would be two sets of conclusions:  one for the SBI and another for the SBSTA. He urged parties to focus  discussions on procedural issues and defer substantive comments to future SB  sessions or to technology discussions under the AWG-LCA. The US urged increased engagement of  the private sector in technology transfer. </p>
                               <p class="textstory">India, for the G-77/CHINA, urged consideration of how to complete the  report on performance indicators. Noting that there may be substantive outcomes  on technology from Copenhagen,  he suggested tailoring the EGTT&rsquo;s work programme to consider such outcomes. CANADA noted  that the report on performance indicators is the final report. The G-77/CHINA  also called for further consideration of the GEF&rsquo;s report on implementation of  the Pozna&#324;  strategic programme on technology transfer, particularly regarding the  effectiveness of the implementation. The US noted the possibility of having  a further report at SB 32 on the implementation of the programme, including on  technology needs assessments and pilot projects. BANGLADESH said the report should  also consider the role of implementing agencies. The Co-Chairs will prepare  draft SBI and SBSTA conclusions for consideration on Thursday.&nbsp; </p>
                               <p class="textstory"><strong>CAPACITY BUILDING (AWG-LCA):</strong> During  the afternoon, the AWG-LCA drafting group on capacity building continued  informal discussions on proposed capacity building actions. </p>
                               <p class="textstory"><strong>FINANCING  (AWG-LCA):</strong> The informal drafting group on finance  met in the morning and afternoon, and parties continued consideration of  institutional arrangements in non-paper No. 54. In the afternoon,  parties discussed a diagram depicting a possible organizational structure for  institutional arrangements and governance for the proposed financial  architecture, aimed at helping move negotiations forward. Several parties  expressed concern that the administrative layers envisaged, comprising the COP,  a high-level body or executive body, the funds and funding windows, could prove  to be burdensome and bureaucratic. Others highlighted the importance of determining  the functions of the high-level board as well as the need for a monitoring  function for financial commitments. A non-paper reflecting the organizational  structure for institutional arrangements will be produced and informal  discussions will continue.</p>
                               <p class="textstory"><strong>REDD (SBSTA):</strong> In the informal consultations on REDD under SBSTA, parties  continued to work through draft decision text. Parties focused on identifying  activities and drivers of deforestation, the use of guidance and guidelines  from the IPCC and national forest monitoring systems.</p>
                               <p class="textstory"><strong>MITIGATION  (AWG-LCA):</strong> In the informal consultations on  sectoral approaches, parties worked through a draft text on agriculture and  will continue discussion on this text on Thursday. </p>
                               <p class="textstory"><strong>OTHER ISSUES &ndash;  LULUCF (AWG-KP):</strong> In the morning, informal  consultations on LULUCF addressed natural disturbances, and in the afternoon  parties considered harvested wood products and reference levels.&nbsp;&nbsp;&nbsp; </p>
                               <p class="textstory"><strong>SHARED VISION  (AWG-LCA):</strong> In informal  consultations, parties were presented with a new draft text on a shared vision.  Parties expressed initial views on the text, with many agreeing to use it as  the basis for further work. Several parties suggested shortening the text to  make it more operational. </p>
                               <p class="textstory">Several developing countries highlighted the importance of text  requiring developed countries to refrain from unilateral protectionist trade  measures.&nbsp;Many developing countries underlined that a shared visionshould, <em>inter alia</em>, be viewed in the context of sustainable development. Parties  then considered the text paragraph-by-paragraph. </p>
                               <p class="textstory"><strong>ADAPTATION  (AWG-LCA):</strong>&nbsp;In the informal consultations on  adaptation, parties focused on a new draft text. They considered merging  options and streamlining text in the preamble and introductory paragraph.  Informal consultations continued in the evening.&nbsp;</p>
                               <p class="textstory"><strong>TECHNOLOGY  (AWG-LCA): </strong>The informal drafting group on  technology met in the afternoon and considered new draft text on enhanced  action on technology development and transfer. While some delegates said that  the document was useable, others said it could be shortened and expressed  concern that it did not reflect the latest input from parties and the main  ideas from non-paper No. 47, with elements such as the technology mechanism  lacking clear articulation. The meeting was suspended to allow for informal  consultations on the way forward. Parties eventually agreed on a condensed  formulation regarding the technology mechanism consisting of an executive body  or committee and a consultative network for climate technology. A revised draft  text will be produced on Thursday.</p>
                               <p class="textstory"><em><strong>IN THE CORRIDORS</strong></em></p>
                               <p class="textstory">The corridors  were buzzing on Wednesday afternoon following an &ldquo;intense&rdquo; COP morning plenary.  Tuvalu&rsquo;s statement calling  for parties in Copenhagen  to sign a new legally-binding protocol under the Convention to complement an  amended Kyoto Protocol, and to discuss this in a contact group, was the cause  of the commotion. Many countries from AOSIS, Latin America and Africa were  backing Tuvalu&rsquo;s  call. However, several other developing countries, such as India and China,  opposed the idea, fearing it would divert attention away from negotiations on a  second commitment period for Annex I parties under the Kyoto Protocol. These  countries stressed the need to focus on the AWG-LCA&rsquo;s outcome on the  Convention&rsquo;s implementation, rather than adopting a new protocol.</p>
                               <p class="textstory">Tuvalu&rsquo;s call for a new legally-binding instrument also roused significant  civil society backing. When returning to the plenary in the afternoon,  delegates had to pass through a vocal crowd shouting their support for the  proposal. As the demonstration was unauthorized, security guards promptly  responded and kept the throng in the corridors and away from the meeting room.  &ldquo;We are afraid this is a sign of increasingly tight security to come,&rdquo;  commented one NGO participant. Other signs of the growing tension in Copenhagen included  reports of non-violent clashes between civil society and a group of climate  change skeptics. </p>
                               <p class="textstory">&ldquo;Things are  definitely starting to heat up,&rdquo; commented one delegate. This was evident also  from the fact that ministers and other high-level delegates have started to  arrive in Copenhagen,  including a Chinese minister and the US Special Climate Change Envoy. A list of  Heads of State intending to attend the high-level segment was in the process of  being finalized.</p>
                               <p class="textstory">There was also  further fallout from Tuesday&rsquo;s leaking of the Danish text, with some delegates  wondering who on the Danish side had been taking the lead, and several  delegates from the South taking exception to the process as much as the  substance. &ldquo;They should have engaged more with us,&rdquo; said one LDC  representative. &ldquo;The group that was privy to this document was too exclusive  and one-sided,&rdquo; said another developing country delegate. Many developed  countries, however, continued to play down the significance of the text, as  well as the leak.</p>
                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, the United Nations Environment Programme (UNEP), and the World Bank. Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at the Copenhagen Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
