<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>COPENHAGEN HIGHLIGHTS - Tuesday, 15 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, Tuesday, 15 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12456e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12456f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12456s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12456j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Japanese version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 456 - Wednesday, 16 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Tuesday, 15 December 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">On Tuesday evening, the welcoming ceremony of the high-level segment  took place. Late in the evening, the AWG-KP closing plenary convened. The  AWG-LCA held its closing meeting early on Wednesday morning. Throughout the day  on Tuesday, contact groups and informal consultations were held on a range of  issues, including potential consequences and other issues under the AWG-KP,  long-term cooperative action under the AWG-LCA and the Adaptation Fund Board  under the COP/MOP.</p>
                               <p class="textstory"><em><strong>HIGH-LEVEL SEGMENT WELCOMING CEREMONY</strong></em></p>
                               <p class="textstory">Lars L&oslash;kke Rasmussen, Prime Minister of Denmark, said the presence of so  many distinguished guests shows promise for an ambitious, fair and effective climate  deal. He noted that &ldquo;the world is literally holding its breath&rdquo; and called on  world leaders to translate the current political momentum into &ldquo;a decisive  moment of change.&rdquo; He invited all world leaders to adopt a deal that will  affect all aspects of society and includes decisions under both tracks.</p>
                               <p class="textstory">UN Secretary-General Ban Ki-moon noted the long road to this &ldquo;defining  moment&rdquo; and said that &ldquo;we are here today to write a different future.&rdquo; He  called for a fair, ambitious and comprehensive agreement, specifying that this  means: more ambitious mid-term mitigation targets from industrialized  countries; more action by developing countries to limit emissions growth below  &ldquo;business as usual;&rdquo; an adaptation framework for all countries; financing and  technology support; and transparent and equitable governance. He stressed  financing as a key, welcoming the emerging consensus among developed countries  to provide approximately US$10 billion annually for the next three years to the  Copenhagen Launch Fund. UN Secretary-General Ban Ki-moon underlined that the  goal is to lay the foundation for a legally-binding climate treaty as early as  possible in 2010, and said that until such an agreement is reached &ldquo;the Kyoto  Protocol remains the only legally-binding instrument that captures reduction  commitments&rdquo; and that &ldquo;as such it must be maintained.&rdquo;</p>
                               <p class="textstory">Highlighting the potential for failure if parties keep repeating  positions and slowing progress with formalities, COP President Hedegaard  identified &ldquo;compromise&rdquo; as the key word for the coming days. She called on  countries to take big steps and commit to delivering a deal, reminding  delegates that &ldquo;we are accountable for what we do, but also for what we fail to  do.&rdquo;</p>
                               <p class="textstory">UNFCCC Executive Secretary Yvo de Boer noted that Tuesday was the second  anniversary of the adoption of the Bali Roadmap and stressed that &ldquo;now it is  time to deliver.&rdquo; He said there had been some progress but &ldquo;not nearly enough  to celebrate success.&rdquo; He noted that groundwork has been laid for prompt  implementation of action on mitigation, adaptation, technology cooperation,  finance, REDD and capacity building. Highlighting that 115 world leaders are  not coming to Copenhagen  to leave &ldquo;empty handed,&rdquo; he called on parties to resolve outstanding issues.</p>
                               <p class="textstory">His Royal Highness Charles, the Prince of Wales, stressed that &ldquo;a  partial solution to climate change is no solution at all.&rdquo; He underscored the  benefit of partnerships between government, business, NGOs and civil society,  and said the quickest and most cost-effective way to address climate change is  to protect tropical forests.</p>
                               <p class="textstory">Wangari Maathai, Nobel Peace Laureate and UN Messenger of Peace, noted  that no conference ends with &ldquo;a perfect document&rdquo; and stressed the need to find  common ground based on fairness, honesty, transparency and responsibility. She  called on delegates to overcome &ldquo;a legacy of mistrust,&rdquo; highlighting the need  for a Copenhagen  agreement to provide a governance structure based on accountability between  donors and beneficiaries.</p>
                               <p class="textstory"><em><strong>AWG-LCA </strong></em></p>
                               <p class="textstory"><strong>LONG-TERM COOPERATIVE ACTION: </strong>The AWG-LCA closing plenary convened  at 4:45 am on Wednesday morning. </p>
                               <p class="textstory">Chair Zammit Cutajar explained that the AWG-LCA&rsquo;s work is envisaged as  &ldquo;package&rdquo; and was being presented as a &ldquo;core COP decision&rdquo; and series of  thematic decisions (FCCC/AWGLCA/2009/L.7&amp;Adds.1-9). He stressed that this  is without prejudice to the legal form of the outcome and that &ldquo;nothing is  agreed until everything is agreed.&rdquo; He highlighted that the objective is to  transmit the texts to the COP plenary. </p>
                               <p class="textstory">Chair Zammit Cutajar identified the &ldquo;core decision&rdquo;  (FCCC/AWGLCA/2009/L.7) as some of the &ldquo;less mature elements&rdquo; of the package. He  explained that a preambular paragraph had been added during the day on special  circumstances by countries with economies in transition. </p>
                               <p class="textstory">He said no input had been  provided from informal ministerial consultations to those parts of the &ldquo;core  COP decision&rdquo; where placeholders had been inserted and that paragraphs from the  earlier version had therefore been reinserted. Chair Zammit Cutajar said he had  attempted to indicate areas of disagreement by bracketing parts of the text but  that these indications of divergence were &ldquo;not sufficient&rdquo; and consultations  had therefore taken place in the past few hours on this issue. He then invited  the US  to indicate how their views might be better reflected.</p>
                               <p class="textstory">On developed country mitigation, the US requested bracketing numbers  referring to aggregate range of emission reductions, and for inserting a  bracketed option &ldquo;x&rdquo; and a footnote explaining that &ldquo;x is equal to the sum of the  reductions by parties.&rdquo; The US  stressed the need for a structure that is &ldquo;very different&rdquo; from the Kyoto  Protocol, based on a bottom-up structure and actions implemented domestically.  On developing country mitigation, the US proposed bracketing the entire  section and inserting words &ldquo;option 1.&rdquo; He called for inserting &ldquo;option 2&rdquo; consisting of &ldquo;alternatives suggested by  parties,&rdquo; and highlighted that this gives a &ldquo;clear sense of different ways to  think about this problem&rdquo; and the need for &ldquo;fundamental revisions.&rdquo;</p>
                               <p class="textstory">ALGERIA requested going through all the  decisions included in the package one-by-one. Many parties then expressed their  concern with the texts and provided detailed proposals for changes, focusing  first on document FCCC/AWGLCA/2009/L7. Sudan, for the G-77/CHINA,  suggested bracketing text in the section on finance, in particular with regard  to developed country pledges for short-term financing. Bangladesh, for LDCs, with the UNITED REPUBLIC  OF TANZANIA and the Cook Islands, for AOSIS,  proposed a reference to special concerns of LDCs, SIDS and African countries in  the text on adaptation. NORWAY  and MEXICO  noted that their proposals on financing arrangements should be reflected in  full. BOLIVIA  noted, <em>inter alia,</em> her country&rsquo;s textual proposals on a shared vision  and indigenous peoples. JAPAN noted &ldquo;strong concerns&rdquo; on, <em>inter alia</em>,  mitigation and legal outcome. The EU stressed the need to convey their concerns  to the COP President on issues including on a legally binding outcome and  mitigation.</p>
                               <p class="textstory">Chair Zammit Cutajar stressed that parties would have the opportunity to  continue discussions under the COP and pleaded them to agree to send the texts  forward. After parties continued providing detailed proposals for changing the  text, he indicated that so many changes had been suggested that it would not be  possible to reproduce the texts on time for the COP plenary. BRAZIL stressed the need for having text  forwarded to the COP and COSTA    RICA expressed willingness to start  negotiations at &ldquo;another level.&rdquo;</p>
                               <p class="textstory">At 6:30 am, Chair Zammit Cutajar  proposed, and parties agreed, to adopt the entire package as &ldquo;unfinished  business&rdquo; and then giving parties the opportunity to express their  reservations.</p>
                               <p class="textstory"><strong>REPORT OF THE SESSION: </strong>Parties adopted the report of the  session (FCCC/AWGLA/2009/L.6). Many parties thanked the Chair for his hard  work. Chair Zammit Cutajar closed the session at 6:50 am.</p>
                               <p class="textstory"><em><strong>AWG-KP </strong></em></p>
                               <p class="textstory"><strong>ANNEX I FURTHER COMMITMENTS: </strong>In the evening, the AWG-KP plenary  convened to take stock of progress achieved so far. Chair Ashe explained that  after the plenary, he would convene a contact group to consider the AWG-KP&rsquo;s  report to the COP/MOP. </p>
                               <p class="textstory">Co-Chair Wollansky reported on the work of the group on Annex I emission  reductions, noting that although the group had been unable to resolve many  issues, it had narrowed options on issues such as the length and number of  commitment periods, and also discussed issues relevant for environmental  integrity of Annex I parties&rsquo; pledges. </p>
                               <p class="textstory">Vice-Chair Dovland reported on the work of the &ldquo;other issues&rdquo; group. On  the basket of methodological issues, he noted agreement on the 2006 IPCC  Guidelines for National Greenhouse Gas Inventories, cleaner text on common  metrics, but lack of agreement on including new greenhouse gases. On the  flexibility mechanisms, he reported inability to clean up all the text. </p>
                               <p class="textstory">Co-Facilitator Smith reported on the work of the LULUCF spin-off group,  stating that the group had reached a point requiring key political decisions to  be made. </p>
                               <p class="textstory">On the contact group on potential consequences, Co-Chair Ure identified  three remaining areas of disagreement: defining countries for whom potential  consequences will be most severe; guidelines for reporting; and establishing a  permanent forum, using the Compliance Committee and/or national communications  to address potential consequences.</p>
                               <p class="textstory">INDIA drew attention to &ldquo;substantial  differences&rdquo; remaining and &ldquo;large quantities&rdquo; of bracketed text, saying this  shows that the AWG-KP track has fallen behind. He noted that the text is in &ldquo;no  shape&rdquo; to go before the Ministers. SWITZERLAND noted lack of clarity  on the way forward and emphasized the importance of clear management of the  process by its leaders. ALGERIA  questioned the transparency of the process. </p>
                               <p class="textstory">Chair Ashe noted that the drafting process was party-driven and that he  would report the concerns to the COP President. </p>
                               <p class="textstory"><strong>AWG-KP&rsquo;S REPORT TO THE COP/MOP:</strong> Late in the evening, a contact  group chaired by Chair Ashe convened to discuss the AWG-KP&rsquo;s report to the  COP/MOP. </p>
                               <p class="textstory">South Africa, for the G-77/CHINA, suggested that  parties continue to work on the text for an additional day, concurrent with  ministerial meetings. Several developed countries requested clarification on  what would be addressed and noted that the text as it stands could use  additional work. However, they expressed concern that such a request prejudged  the decision of the COP/MOP President on how to proceed and noted the  complexities entailed at this point in combining technical and political  processes. Parties suggested that Chair Ashe should report to the COP/MOP  plenary that the text could benefit from more technical work and that the  decision rests with the COP/MOP to either allow the AWG-KP more time to work on  the text or to outline another way forward.</p>
                               <p class="textstory">The issue was then considered in the AWG-KP closing plenary. Chair Ashe  briefly outlined his consultations on the issue. He noted agreement to annex  the draft texts, reflecting the latest discussions, to the report of the  session and forward them to the COP/MOP. Parties also agreed that the draft  text would benefit from additional work on the unresolved issues and decided to  recommend to the COP/MOP that consideration be given on how to proceed with  further consideration of the draft text. </p>
                               <p class="textstory"><strong>REPORT OF THE SESSION:</strong> Parties adopted the report of the  session (FCCC/KP/AWG/2009/L.14). South Africa, for the G-77/CHINA,  highlighted that the text would benefit from further technical work and that  some core issues in the AWG-KP will require consultations at the political  level.</p>
                               <p class="textstory">Chair Ashe closed the plenary at 12:07 am. </p>
                               <p class="textstory"><em><strong>CONTACT GROUPS AND INFORMAL CONSULTATIONS</strong></em></p>
                               <p class="textstory"><strong>LONG-TERM COOPERATIVE ACTION (AWG-LCA): </strong>During a stocktaking meeting of the  contact group on long-term cooperative action in the morning, Chair Zammit  Cutajar presented a set of texts, including a new version of the draft &ldquo;core  COP decision,&rdquo; as well as thematic draft decisions on adaptation, finance,  technology and capacity building. He also introduced several thematic draft  texts on mitigation, including: a mechanism for nationally appropriate  mitigation actions (NAMAs); REDD-plus; economic and social consequences of  response measures; various approaches to enhance the cost-effectiveness of  mitigation; and sectoral approaches and sector-specific actions in agriculture. </p>
                               <p class="textstory">Chair Zammit Cutajar explained that the draft core COP decision&rsquo;s  preamble and first paragraphs reflect a shared vision and that there is no  separate text on a shared vision. Chair Zammit Cutajar also outlined the areas  taken up through informal ministerial consultations, including: a long-term  global goal for emission reductions; mitigation by developed countries;  developing country NAMAs; trade issues and international aviation and maritime  bunker fuels; and several issues relating to finance, including sources and  scale of funding, MRV of support, and pledges from developed countries to  provide funds. Chair Zammit Cutajar then briefly explained the core decision  text and the thematic texts. </p>
                               <p class="textstory">Co-Facilitator Uosukainen&nbsp;  introduced the co-facilitators&rsquo; new text on finance. He said the text  attempts to capture the essence of the discussions on financial institutions,  noting text on a possible high-level finance committee to assist the COP and a  climate fund or facility. </p>
                               <p class="textstory">Chair Zammit Cutajar suggested postponing substantive discussion of the  texts to informal consultations in the afternoon. TURKEY stressed the need to reflect  interests of developed countries with special national circumstances. Sudan, for the  G-77/CHINA, inquired whether there would be an opportunity for the group to  consider guidance from the informal high-level ministerial consultations. Chair  Zammit Cutajar explained that any political guidance from the ministerial  consultations would be shared. </p>
                               <p class="textstory">BANGLADESH called for mention of special  treatment of LDCs and SIDS as set out under the Convention and BAP. He said  that a Copenhagen  outcome should also include an international adaptation center, regional  centers and an adaptation window under the Convention. SINGAPORE said that the text  contained proposals that were not acceptable to his delegation.</p>
                               <p class="textstory">The EU questioned why a timeframe for concluding a legally-binding  agreement had been omitted from the text, stressing that while immediate action  must be taken, the intention is not to establish &ldquo;piecemeal mechanisms here and  there&rdquo; but to frame the institutions and the post-2012 architecture in a  legally-binding instrument as soon as possible in 2010. Chair Zammit Cutajar  noted the importance of considering timelines for further work. The EU, with AUSTRALIA, also  stressed the need to have text on market approaches, identifying new market  mechanisms as a &ldquo;core issue.&rdquo; Chair Zammit Cutajar explained that such text had  been left out due to an intended informal ministerial consultation, but that it  would be included.</p>
                               <p class="textstory">BARBADOS lamented the &ldquo;unequal way&rdquo; of  dealing with controversial issues, noting that the text contained reference to  response measures while no references to LDCs and SIDS were included. He also  stressed the importance of a global long-term goal for emission reductions and  greenhouse gas concentration stabilization levels being discussed at the  ministerial level. He noted his intention to take up the question of legal form  of the outcome in plenary. </p>
                               <p class="textstory">BELARUS and the RUSSIAN   FEDERATION stressed the need to incorporate text  reflecting the special national circumstances of Annex I countries with  economies in transition, with the RUSSIAN FEDERATION adding that the  issue must be addressed before forwarding the texts to the COP.</p>
                               <p class="textstory">Highlighting sub-paragraphs 1(b)(i) and 1(b)(ii) of the BAP on  mitigation by developed and developing countries, BRAZIL,  supported by CHINA,  stressed the need for a balanced consideration of issues. He lamented that  ministerial meetings on mitigation by developing countries have been scheduled  while no progress has been made on mitigation by developed countries. CHINA  underscored that ministerial discussions must be transparent and balanced in  terms of the subjects discussed.</p>
                               <p class="textstory">VENEZUELA posed questions concerning the  relationship between the ministerial consultations on the &ldquo;most delicate  issues&rdquo; and the AWG-LCA&rsquo;s text, asking who will produce text on these issues  and stressing that, in her view, the COP President would need a mandate from  the parties to develop text. Chair Zammit Cutajar said the ministerial  informals would produce &ldquo;political guidance&rdquo; and not text.</p>
                               <p class="textstory">Chair Zammit Cutajar said he would consult parties informally in the  afternoon to identify issues where substantive progress could still be made,  such as adaptation and hydrofluorocarbons. He recognized that various parties  had concerns with the text but noted that &ldquo;we have had two years and must  finish today.&rdquo; He said he was &ldquo;disappointed&rdquo; at the state of the texts and  explained that due to the number of outstanding issues, it would not possible  for him to try to clean up the text with parties. Chair Zammit Cutajar said the  alternatives were to consult informally in the afternoon on issues where  progress could still be made or forward the texts to the COP as they stand. He  also reminded parties that they can take up their concerns at the COP plenary.</p>
                               <p class="textstory"><strong>ADAPTATION FUND BOARD (COP/MOP): </strong>In the contact group on the Adaptation  Fund Board, the Co-Chairs introduced draft decision text and proposed language  on encouraging Annex I countries to increase their contributions to the  Adaptation Fund. Parties agreed to forward the draft decision text to the  COP/MOP.&nbsp;&nbsp; </p>
                               <p class="textstory"><strong>POTENTIAL CONSEQUENCES (AWG-KP):</strong> In the morning, Co-Chair Ure opened  the contact group on potential consequences, noting that since the coordinators  of the G-77/China and the EU were unable to attend the meeting, no substantive  discussions would be undertaken. </p>
                               <p class="textstory">CANADA expressed concern that the &ldquo;text  had become more complicated&rdquo; and noted reservation at forwarding the text in  its current form. Co-Chair Ure said he would inform the AWG-KP Chair of these  concerns and forward the text to the AWG-KP stocktaking plenary.</p>
                               <p class="textstory"><strong>OTHER ISSUES (LULUCF)(AWG-KP): </strong>In the final meeting by the spin-off  group on LULUCF, parties discussed options concerning text on exploring more  complete coverage of land when accounting for anthropogenic sources and sinks.</p>
                               <p class="textstory"><strong>OTHER ISSUES (FLEXIBILITY MECHANISMS)(AWG-KP):</strong> Vice-Chair Dovland introduced a new  draft COP/MOP decision on the flexibility mechanisms. </p>
                               <p class="textstory">SAUDI ARABIA, supported by KUWAIT, objected to the omission of  their proposals on share of proceeds and regional distribution from the new  draft text. Vice-Chair Dovland noted that the omission was inadvertent and that  the proposals will be reflected in the revised text.</p>
                               <p class="textstory">AUSTRALIA, supported by CANADA, proposed moving the  preambular text on the mechanisms being supplementary to domestic action to the  operative part and then inserting an option maintaining the <em>status quo</em>. Grenada, for AOSIS,  JAMAICA, PERU and BRAZIL,  opposed by NORWAY and SAUDI ARABIA,  supported retaining the text in the preamble. NEW ZEALAND proposed inserting  alternative language in the preamble, recalling the definition of  supplementarity in decision 2/CMP.1 (principles, nature and scope of the  flexibility mechanisms). On the supplementarity section of the text, BRAZIL, supported by PERU  and opposed by JAPAN and SAUDI ARABIA,  proposed specifying a cap of 30% on the use of the flexibility mechanisms.</p>
                               <p class="textstory">On improving regional distribution, SAUDI ARABIA reiterated their  proposal that the provision exempting SIDS from payment of the registration fee  and share of proceeds, as well as that establishing a quota for projects hosted  in LDCs, SIDS and African countries, should be extended to all developing  countries with fewer than ten registered projects. GRENADA,  supported by PERU and the  EU, and opposed by UGANDA,  preferred deleting the paragraph exempting SIDS from payment of fees and  retaining the option permitting postponement of the payment of fees by parties  with fewer than ten registered projects, noting that exempting all countries  with fewer than ten projects could negatively impact functioning of the CDM  Executive Board. JAPAN and CANADA  noted the need to specify that the payment would be postponed until the first  issuance of Certified Emission Reductions (CERs). </p>
                               <p class="textstory">On the paragraph  on establishing a quota, CANADA,  supported by JAPAN,  opposed identifying a specific percentage of CERs to come from countries with  fewer than ten CDM projects, and JAPAN preferred language &ldquo;encouraging parties&rdquo;  rather than &ldquo;deciding&rdquo; to use CERs coming from these countries. ETHIOPIA, supported by MALI, noted  that the language already reflects compromise and preferred retaining the text  as it stands. ETHIOPIA,  opposed by many countries, but supported by UGANDA, proposed that this quota  should apply to countries that had fewer than ten projects in the first  commitment period. NEW    ZEALAND proposed having the paragraphs in  this section as a menu of options from which ministers could choose one or more  paragraphs. Vice-Chair Dovland noted that this was the last meeting of the  contact group and that discussions would continue within the context of the  report of the AWG-KP to the COP/MOP.</p>
                               <p class="textstory"><em><strong>IN THE CORRIDORS</strong></em></p>
                               <p class="textstory">&ldquo;The most hectic day so far,&rdquo; this was how many participants described  the second Tuesday of the Copenhagen Climate Conference. Many delegates arrived  in the Bella Center already tired from working until  the early hours of the morning. Several drafting groups had continued late into  the night on Monday, and some, such as the AWG-LCA finance group, pressed  through the night until Tuesday morning. Delegates were, however, again kept  busy until well after midnight, as the AWG-KP and AWG-LCA both attempted to  conclude their work, decide on what to forward to the COP and COP/MOP as the  outcome of their work, and hold their closing plenaries. </p>
                               <p class="textstory">During the day, some delegates, who were rushing between contact groups,  informal ministerial consultations and informal expert-level consultations,  complained that it was &ldquo;extremely hard&rdquo; to keep track of what was going on. The  COP President&rsquo;s open-ended informal consultations in the afternoon seemed to  provide some assistance, as parties heard reports on discussions during the  informal ministerial consultations. On finance, for instance, it was reported  that the issue of numbers for long-term financing, the scale of contributions  and the countries that should contribute continued to cause disagreement. On a  long-term emission reduction goal, consultations reportedly centered on issues  such as the level of limiting global average temperature increase, whether 1.5  or 2&deg;C. Under developing country  mitigation, differences persisted, <em>inter alia</em>, on the nature, definition  and scope of NAMAs. Ministerials on developed country emission reductions under  the AWG-KP reportedly attempted to discuss how to raise the level of ambition  of Annex I targets, but well-known differences persisted and not much progress  was made. </p>
                               <p class="textstory">Outside the Bella   Center, long lines  continued at the registration counter and observer organizations were trying to  get used to managing their numbers through the system of secondary badges.  Difficult decisions had to be taken about those whose presence was &ldquo;very  important. &ldquo;How do I tell the director of my organization that she won&rsquo;t be  able to get into the Bella   Center for her meetings,&rdquo;  asked an NGO representative. Observers were also &ldquo;extremely concerned&rdquo; about  what they described as lack of transparency at a crucial point in the  negotiations.</p>
                               <p class="textstory">During the day, the atmosphere in the negotiations was sometimes  described as tense and delegates appeared frustrated, not least due to the  amount of complex issues still on the table, persisting fundamental differences  among countries and the rapidly-approaching deadline. While the AWG-KP was able  to close its tenth session just after midnight, the AWG-LCA closing plenary was  postponed until early morning, as some parties had &ldquo;major problems&rdquo; with  forwarding the proposed texts to the COP. &ldquo;I cannot believe that we haven&rsquo;t  even opened the plenary yet,&rdquo; sighed one negotiator at around 4:00 am: &ldquo;This is  not looking good.&rdquo; Many of those fearing failure were, however, relying on  words by the UN Secretary-General at his press conference earlier in the  evening: &ldquo;We are here to succeed, not fail. The overwhelming response by world  leaders to attend this conference is unprecedented and shows that there is  political will and commitment to succeed.&rdquo;</p>
                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, the United Nations Environment Programme (UNEP), and the World Bank. Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at the Copenhagen Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
