<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>UNFCCC COP 15 and COP/MOP 5 - 7-18 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, 7-18 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12448e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12448f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/vol12/enb12448s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12448j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Japanese version" vspace="1" border="0" /></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 448 - Monday, 7 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN CLIMATE CHANGE CONFERENCE</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">7-18 DECEMBER 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">The United  Nations Climate Change Conference in Copenhagen,   Denmark, begins  today and is scheduled to conclude on 18 December 2009. The conference will  include the fifteenth Conference of the Parties (COP 15) to the United Nations  Framework Convention on Climate Change (UNFCCC) and the fifth Conference of the  Parties serving as the Meeting of the Parties to the Kyoto Protocol (COP/MOP  5). </p>
                               <p class="textstory">The conference  marks the culmination of a two-year negotiating process to enhance  international climate change cooperation under the Bali Roadmap, adopted by COP  13 in December 2007. At the UN  Secretary-General&rsquo;s Climate Change Summit in New York  in September 2009, over 100 world leaders called for a comprehensive, ambitious  and fair international climate change deal to be agreed in Copenhagen. More than one hundred world  leaders are also expected to attend the joint COP and COP/MOP high-level  segment from 16-18 December.</p>
                               <p class="textstory">COP 15 and  COP/MOP 5 will be held in conjunction with the thirty-first sessions of the  Subsidiary Body for Scientific and Technological Advice (SBSTA 31) and the  Subsidiary Body for Implementation (SBI 31), the tenth session of the <em>Ad Hoc</em> Working Group on Further Commitments for Annex I Parties under the Kyoto  Protocol (AWG-KP 10) and the eighth session of the <em>Ad Hoc</em> Working Group  on Long-term Cooperative Action under the UNFCCC (AWG-LCA 8). </p>
                               <p align="center" class="textstory"><strong>A BRIEF HISTORY OF THE UNFCCC AND THE KYOTO PROTOCOL </strong></p>
                               <p class="textstory">The international  political response to climate change began with the adoption of the UNFCCC in  1992, setting out a framework for action aimed at stabilizing atmospheric  concentrations of greenhouse gases to avoid &ldquo;dangerous anthropogenic  interference&rdquo; with the climate system. The UNFCCC entered into force on 21  March 1994 and now has 194 parties. </p>
                               <p class="textstory">In December 1997,  delegates at COP 3 in Kyoto, Japan,  agreed to a Protocol to the UNFCCC committing industrialized countries and  countries in transition to a market economy to achieve emission reduction targets.  These countries, known under the UNFCCC as Annex I parties, agreed to reduce  their overall emissions of six greenhouse gases by an average of 5.2% below  1990 levels between 2008-2012 (the first commitment period), with specific  targets varying from country to country. The Kyoto Protocol entered into force  on 16 February 2005 and currently has 190 parties.</p>
                               <p class="textstory">In 2005, at  COP/MOP 1 in  Montreal, Canada, parties established the AWG-KP on the basis of Protocol  Article 3.9, which mandates consideration of Annex I parties&rsquo; further  commitments at least seven years before the end of the first commitment period.  In addition, COP 11 agreed in Montreal  to consider long-term cooperation under the Convention through a series of four  workshops known as &ldquo;the Convention Dialogue,&rdquo; which continued until COP 13.</p>
                               <p class="textstory"><strong>BALI ROADMAP: </strong>COP 13 and COP/MOP 3 took place in December 2007, in Bali, Indonesia.  The focus was on long-term issues and the negotiations resulted in the adoption  of the Bali Action Plan (BAP), establishing the AWG-LCA with a mandate to focus  on key elements of long-term cooperation identified during the Convention  Dialogue, namely: mitigation; adaptation; finance; and technology and capacity  building. The BAP also called for articulating a &ldquo;shared vision for long-term  cooperative action, including a long-term global goal for emission reductions.&rdquo; </p>
                               <p class="textstory">Parties agreed on  a two-year negotiating process, the Bali Roadmap, which included &ldquo;tracks&rdquo; under  the Convention and the Protocol and set a deadline for concluding the  negotiations in Copenhagen.  The two key bodies under the Bali Roadmap are the AWG-LCA and the AWG-KP, which  held four negotiation sessions in 2008: April in Bangkok,  Thailand; June in Bonn, Germany;  August in Accra, Ghana;  and December in Pozna&#324;, Poland. </p>
                               <p class="textstory"><strong>AWG-LCA 5  &amp; AWG-KP 7: </strong>From 29 March to 8 April 2009,  AWG-LCA 5 and AWG-KP 7 convened in Bonn,   Germany. The  main objective of the session was to work towards negotiating text under both  AWGs. Based on a note (FCCC/AWGLCA/2009/4, Parts I and II), prepared by Chair  Michael Zammit Cutajar (Malta), discussions at AWG-LCA 5 focused on elaborating  elements for a draft negotiating text to be prepared by the Chair for AWG-LCA  6.</p>
                               <p class="textstory">AWG-KP 7 focused  on emission reductions by Annex I parties under the Kyoto Protocol beyond 2012  and on legal issues, including possible Protocol amendments. The AWG-KP also  considered potential consequences of response measures and the other issues in  its work programme (FCCC/KP/AWG/2008/8), namely: flexibility mechanisms; land  use, land-use change and forestry (LULUCF); and methodological issues. The  AWG-KP requested its Chair John Ashe (Antigua and Barbuda) to prepare two  documents for its next session: a proposal for Protocol amendments under  Article 3.9 (Annex I parties&rsquo; further commitments); and a text on other issues.</p>
                               <p class="textstory"><strong>AWG-LCA 6  &amp; AWG-KP 8: </strong>From 1-12 June 2009, AWG-LCA 6 and  AWG-KP 8 convened in Bonn, Germany, in conjunction with the  30th sessions of the SBI and SBSTA. AWG-LCA 6 concentrated on developing  negotiating text, using a Chair&rsquo;s draft (FCCC/AWGLCA/2009/8) as the starting  point. Parties clarified and developed their proposals and the main outcome was  a revised negotiating text (FCCC/AWGLCA/2009/INF.1), which was nearly 200 pages  long and covered all the main elements of the BAP. AWG-KP 8 focused on Annex I  parties&rsquo; aggregate and individual emission reduction targets. It agreed to  continue discussions on these as well as on the other issues based on  documentation prepared by the AWG-KP Chair. </p>
                               <p class="textstory">By the end of the  June session, the Secretariat had also received five proposals for a new  protocol under the Convention and twelve submissions concerning amendments to  the Kyoto Protocol, proposed for adoption in Copenhagen.</p>
                               <p class="textstory"><strong>INFORMAL AWGs: </strong>From 10-14 August 2009, the AWG-LCA and AWG-KP held  informal intersessional consultations in Bonn,   Germany. For  the AWG-LCA, the focus was on how to proceed with the revised negotiating text  (FCCC/AWGLCA/2009/INF.1). It began producing reading guides, tables, matrices  and non-papers (FCCC/AWGLCA/2009/INF.2) aimed at making the negotiating text  more manageable. Under the AWG-KP, discussions continued on Annex I parties&rsquo;  emission reductions, potential consequences and other issues. The results were  reflected in revised documentation prepared by the Chair for Bangkok. </p>
                               <p class="textstory"><strong>AWG-LCA 7 AND  AWG-KP 9: </strong>From 28 September to 9 October 2009, the  first part of AWG-LCA 7 and first part of AWG-KP 9 convened in Bangkok, Thailand.  Both AWGs resumed their sessions from 2-6 November 2009 in Barcelona,   Spain.</p>
                               <p class="textstory">AWG-LCA 7  continued streamlining and consolidating the negotiating text. The outcome was  a series of non-papers, forwarded to Copenhagen  as an annex to the meeting report (FCCC/AWGLCA/2009/14). While progress on  issues such as adaptation, technology and capacity building was commonly  described as satisfactory, many felt that &ldquo;deep divides&rdquo; persisted on  mitigation and certain aspects of finance. </p>
                               <p class="textstory">During AWG-KP 9,  discussions continued on all issues in the AWG-KP&rsquo;s work programme. Most felt,  however, that no significant progress was made on Annex I parties&rsquo; aggregate  and individual targets, and differences also surfaced between developed and  developing countries concerning whether the outcome from Copenhagen should be  an amendment to the Kyoto Protocol or a single new agreement. AWG-KP 9 did not  conclude the consideration of any of the issues in its work programme.</p>
                               <p class="textstory"><em><strong>INTERSESSIONAL HIGHLIGHTS </strong></em></p>
                               <p class="textstory"><strong>CLIMATE  VULNERABLE FORUM: </strong>The Maldives hosted a high-level forum  from 9-10 November 2009, with a view to drawing attention to the specific  challenges and needs of countries that are most vulnerable to climate change.  The meeting developed a declaration to be presented in Copenhagen,  signed by Bangladesh, Barbados, Bhutan,  Ethiopia, Ghana, Kenya,  Kiribati, Maldives, Nepal,  Rwanda, Tanzania and Viet Nam.</p>
                               <p class="textstory"><strong>ASIA-PACIFIC  ECONOMIC COOPERATION (APEC) LEADERS&rsquo; MEETING: </strong>Key  leaders met from 14-15 November 2009, in Singapore, at the 17th APEC  Economic Leaders&rsquo; Meeting. The leaders of the US,  China, Japan, the Russian   Federation, Canada,  Australia and Mexico  were among 19 member states&rsquo; leaders present. In their declaration, the  leaders, <em>inter alia</em>, reaffirmed their commitment to work towards an  ambitious outcome in Copenhagen,  within the objective, provisions and principles of the UNFCCC. </p>
                               <p class="textstory"><strong>ASSOCIATION OF  SOUTHEAST ASIAN NATIONS (ASEAN) AND THE US  LEADERS&rsquo; MEETING: </strong>ASEAN and the US held their first Leaders&rsquo; Meeting on 15  November 2009, in Singapore,  also addressing climate change and energy. In their joint declaration, the  leaders agreed to work closely to ensure that the outcome in Copenhagen incorporates long-term cooperative  actions to address climate change. Recognizing the critical importance of  adaptation, they also agreed to strengthen collaboration in research on climate  impacts and in the development and implementation of appropriate policies and  measures. </p>
                               <p class="textstory"><strong>PRE-COP 15:</strong> Forty ministers responsible for the environment and climate met in Copenhagen, Denmark,  from 16-17 November 2009, to prepare for COP 15. After the meeting Connie  Hedegaard, the incoming COP President from Denmark, highlighted the meeting as  &ldquo;very constructive.&rdquo; She said Copenhagen  must &ldquo;with credibility&rdquo; set the world on a path to limiting global average  temperature increase to no more than 2&deg;C;  deliver on all building blocks of the BAP; and develop a mandate and a  near-term deadline to turn the outcome into a legally-binding instrument.</p>
                               <p class="textstory"><strong>COMMONWEALTH HEADS  OF GOVERNMENT MEETING: </strong>Leaders of Commonwealth  countries convened from 27-29 November in Port of Spain, Trinidad and Tobago,  for the biannual Commonwealth Heads of Government Meeting. They were joined by  UN Secretary-General Ban Ki-moon, French President Nicolas Sarkozy and Danish  Prime Minister Lars Lokke Rasmussen. Focusing on climate change, they issued a  declaration stating that only a &ldquo;few short years&rdquo; remain to address the climate  threat and that an &ldquo;internationally legally-binding agreement is essential.&rdquo;  They also, <em>inter alia</em>, welcomed the initiative to establish a Copenhagen  Launch Fund for developing countries, to start in 2010 and build to US$10  billion per year by 2012. </p>
                               <p class="textstory"><em><strong>NEGOTIATIONS IN COPENHAGEN</strong></em></p>
                               <p class="textstory"><strong>AWG-LCA AND  AWG-KP: </strong>The focus in Copenhagen will be on the AWG-LCA and AWG-KP,  which are the main bodies under the Bali Roadmap. </p>
                               <p class="textstory">AWG-LCA 8 has agreed to work through one  contact group. It is expected to draft texts on all the elements of the BAP for  consideration by the COP. It is also expected to discuss the legal nature of  the &ldquo;agreed outcome&rdquo; on which parties have expressed differing views throughout  2009.</p>
                               <p class="textstory">AWG-KP 10 is  expected to continue working through four contact groups on Annex I emission  reductions, other matters, potential consequences and legal matters. The  emphasis of the AWG-KP&rsquo;s work is expected to be on Annex I emission reductions.  All groups are expected to focus on preparing draft COP/MOP decisions or  Protocol amendments. </p>
                               <p class="textstory">Both AWGs are  scheduled to conclude their work on 15 December and their Chairs will report  the results to COP 15 and COP/MOP 5 respectively on 16 December.</p>
                               <p class="textstory"><strong>COP AND  COP/MOP: </strong>One of the main issues before the COP is  the AWG-LCA&rsquo;s report. The COP&rsquo;s provisional agenda also includes items such as:  five proposals for new protocols submitted by parties under Convention Article  17 (protocols); a proposal by Malta to amend Annex I  of the Convention; financial mechanism; national communications; technology;  and capacity building. </p>
                               <p class="textstory">The COP/MOP  agenda includes the AWG-KP&rsquo;s report and consideration of proposals by parties  to amend the Kyoto Protocol. The COP/MOP will also consider issues such as the  Clean Development Mechanism (CDM), joint implementation (JI), the Adaptation  Fund and compliance. </p>
                               <p class="textstory"><strong>SBI AND SBSTA: </strong>The SBI and SBSTA are scheduled to work from 8-12  December. The SBI will take up such issues as capacity building, national  communications and the review of progress on the implementation of the Buenos Aires programme of  work on adaptation and response measures (decision 1/CP.10). The SBSTA will  consider, <em>inter alia</em>, reducing emissions from deforestation and forest  degradation in developing countries (REDD), the Nairobi work programme on  impacts, vulnerability and adaptation, and various methodological issues. Both  bodies will consider technology transfer.</p>                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
       <br />
       <br />
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at UNFCCC COP 15 and COP/MOP 5 can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
