<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Durban Highlights, Wednesday, 30 November 2011, Durban, South Africa</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Durban Climate Change Conference - November 2011, 28 November - 9 December 2011, Durban, South Africa" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Durban Highlights, Wednesday, 30 November 2011, Durban, South Africa" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365100;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365100;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}


-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
               <tr>
                 <td width="549" valign="top"><div align="center">
                   <table width="510" border="0">
                     <tr>
                       <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                     </tr>
                     <tr>
                       <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                     </tr>
                     <tr>
                       <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                     </tr>
                   </table>
                 </div></td>
               </tr>
             </table></td>
           </tr>
         </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td></td>
             </tr>
             <tr>
               <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                 <tr>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/download/pdf/enb12526e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12526f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12526s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/climate/cop17/japanese/enb12526j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                 </tr>
               </table></td>
             </tr>
             <tr>
               <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 526 - Thursday, 1 December 2011</font><br />
               </div></td>
             </tr>
           </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
             <tr>
               <td width="663" align="center"><div align="center"><STRONG class="meeting_title">DURBAN HIGHLIGHTS</STRONG></div></td>
             </tr>
             <tr>
               <td align="center"><div align="center"><strong class="light_green">WEDNESDAY, 30 NOVEMBER 2011</strong></div></td>
             </tr>
           </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                 <tr>
                   <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                   <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                 </tr>
                 <tr>
                   <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                   <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                       <td><p class="textstory">Delegates  met in plenary sessions of the COP and COP/MOP, as well as in contact groups  and informal consultations on a wide range of agenda items under the AWG-LCA,  AWG-KP, SBI and SBSTA. </p>
<p class="textstory"><em><strong>COP</strong></em></p>
                         <p class="textstory"><strong>TECHNOLOGY  EXECUTIVE COMMITTEE (TEC): </strong>TEC Chair  Gabriel Blanco (Argentina) reported on a meeting held in Bonn in September  2011, in which members had elaborated on modalities and procedures. India, for  the G-77/CHINA, suggested that the term of the TEC be extended by a year. He  urged adoption of modalities and procedure as soon as possible. TANZANIA  proposed that the TEC explore synergies with other MEAs, including the  Stockholm and Basel Conventions&rsquo; regional centers. Parties will take up the  issue in a contact group. </p>
                         <p class="textstory"><strong>DATES  AND VENUES OF FUTURE SESSIONS: </strong>QATAR,  which will host COP 18, said his government will spare no efforts to ensure its  success. The REPUBLIC OF KOREA said that, following lengthy discussions, his  country would host the pre-COP ministerial meeting. </p>
                         <p class="textstory"><strong>PROPOSALS  FOR AMENDMENTS TO THE CONVENTION UNDER ARTICLES 15 &amp; 16: </strong>MEXICO, supported by COLOMBIA, introduced a proposal to  allow a &ldquo;last resort&rdquo; vote in cases when every effort to reach consensus has  failed on issues that carry broad support. He explained that this was in order  to avoid &ldquo;paralysis.&rdquo; BOLIVIA, VENEZUELA and SAUDI ARABIA said they could only  support a consensus approach. Informal consultations will convene.</p>
                         <p class="textstory">Regarding  a proposal by the Russian Federation to amend Convention Article 4  (Commitments), paragraph 2(f), the RUSSIAN FEDERATION explained the need for  periodic review of the list of countries in Annexes I and II. BELARUS, UKRAINE  and KAZAKHSTAN supported this proposal, while SAUDI ARABIA opposed it. Informal  consultations will be held. </p>
                         <p class="textstory">Informal  consultations will also be held on a joint proposal from Cyprus and the EU to  amend Annex I to the Convention to include Cyprus. </p>
                         <p class="textstory"><strong>PROPOSALS  UNDER CONVENTION ARTICLE 17 (PROTOCOLS): </strong>Parties noted proposals by Japan, Tuvalu, US, Australia, Costa Rica and  Grenada. Parties agreed to leave the issue open pending an outcome from the  AWG-LCA legal options group.</p>
                         <p class="textstory"><strong>GREEN  CLIMATE FUND: REPORT OF THE TRANSITIONAL COMMITTEE: </strong>Transitional Committee Co-Chair Trevor Manuel  (South Africa) presented the Committee&rsquo;s report, which includes the GCF&rsquo;s draft  governing instrument. He explained that the report aims to present a middle  ground as the basis for launching the GCF in Durban. The EIG and AFRICAN GROUP  welcomed the report.&nbsp;The EU observed that the draft governing instrument  is a compromise but agreement should be reached on it as part of a balanced  package, and further discussions would be counterproductive. Zambia, for LDCs,  said the draft governing instrument provides sufficient basis for a financial institutional  arrangement. The Philippines, for the G-77/CHINA, said the GCF is a crucial  element of the solution.&nbsp;</p>
                         <p class="textstory">Barbados,  for AOSIS, stressed that operationalizing the GCF cannot be delayed in spite of  its shortcomings, which include lack of a dedicated SIDS and LDC funding  window, and the lack of provision for a replenishment process. He said the GCF  should not be an empty shell. &nbsp;</p>
                         <p class="textstory">Venezuela,  for ALBA, expressed &ldquo;alarm over certain elements of the report, which would  hinder democratic access to resources.&rdquo; She stressed that the GCF must possess  international legal personality, work under the guidance of the COP and have no  conflict of interest between the fiduciary and executive trustee functions. </p>
                         <p class="textstory">EGYPT  said the draft governing instrument lacks crucial elements, including  international legal personality, accountability to the COP and country  ownership of projects. </p>
                         <p class="textstory">Acknowledging  concerns with the draft governing instrument, JAPAN and COLOMBIA (on behalf of  Costa Rica, Chile, Honduras, Dominican Republic, Peru and Panama), opposed  reopening the document and requested the COP Presidency to conduct  consultations. AUSTRALIA expressed willingness to approve the document &ldquo;as is.&rdquo; </p>
                         <p class="textstory">The  COP Presidency will undertake informal consultations based on the draft recommendations  in the Transitional Committee report. </p>
                         <p class="textstory"><em><strong>COP/MOP</strong></em></p>
                         <p class="textstory"><strong>CDM:</strong> CDM Executive Board Chair Martin Hession (UK) reported  on efforts to improve the Board&rsquo;s work, including strengthening additionality  guidance and standardized baselines, as well as guidelines on &ldquo;suppressed  demand.&rdquo; He urged a clear signal on the CDM&rsquo;s future. </p>
                         <p class="textstory">The  WORLD BANK proposed continuing standardization in terms of baselines,  monitoring and verification. AUSTRALIA supported including &ldquo;materiality&rdquo; in the  CDM. NORWAY supported the CDM and said it must be in a position to scale up its  work. </p>
                         <p class="textstory">VENEZUELA,  supported by BRAZIL, BOLIVIA, CUBA, NICARAGUA, PERU, GHANA and others, said the  CDM&rsquo;s future was contingent on a second commitment period, and urged ambitious  QELROs from Annex I parties.</p>
                         <p class="textstory">The  AFRICAN GROUP and PARAGUAY urged steps to bring about a better regional  distribution of projects. YOUTH said some CDM projects have contributed towards  human rights abuses, including enforced evictions. The item was referred to a  contact group. </p>
                         <p class="textstory"><strong>JOINT  IMPLEMENTATION:</strong> Muhammed  Quamrul Chowdhury (Bangladesh), Chair of the Joint Implementation  Supervisory Committee (JISC), noted substantial progress since Cancun. He said  the JISC recommended: replacing the current two-track approach with a single,  unified verification process; establishing a new governing body to oversee this  verification process; and providing clarity on how JI should continue after  2012. </p>
                         <p class="textstory">The  RUSSIAN FEDERATION said market mechanisms must be considered comprehensively  without singling out any particular mechanism. The GAMBIA, for LDCs, said the  share of proceeds should be expanded to include JI and emissions trading to  provide additional financing for the Adaptation Fund.</p>
                         <p class="textstory"><strong>ADAPTATION  FUND BOARD:</strong> Board Chair Ana Fornells  de Frutos (Spain), said institutional progress has been overshadowed by falling  prices of CERs. Bahamas, for the G-77/CHINA, stressed the comparatively small  amount of money made available for adaptation. BANGLADESH, NAURU, the SUDAN and  ZAMBIA said the accreditation process should be simplified to facilitate  access. A contact group was established.</p>
                         <p class="textstory"><strong>ADAPTATION  FUND:</strong> After a brief discussion, a  contact group was established on this item. </p>
                         <p class="textstory"><strong>COMPLIANCE:</strong> Informal consultations will be held. </p>
                         <p class="textstory"><strong>PROPOSAL  FROM KAZAKHSTAN:</strong> This item was taken  up briefly in plenary and will be the subject of informal consultations.</p>
                         <p class="textstory"><strong>PROPOSALS  FOR AMENDMENTS TO THE KYOTO PROTOCOL:</strong> INDIA said it will not agree to changes to Annex B unless a second commitment  period is agreed. BELARUS, the EU and UKRAINE favored simplifying amendment  procedures. Parties agreed to keep this item open, pending the results of the  AWG-KP.</p>
                         <p class="textstory"><strong><em>CONTACT GROUPS AND INFORMAL CONSULTATIONS</em></strong><em></em></p>
                         <p class="textstory"><strong>SHARED  VISION (AWG-LCA): </strong>Co-facilitator  Margaret Mukahanana-Sangarwe (Zimbabwe) asked for input on translating her  non-paper into a text before Friday to give to the AWG-LCA Chair.</p>
                         <p class="textstory">Many  delegates favored the co-facilitator bringing her existing text into draft  decision language, while some preferred a country-driven process in &ldquo;informal  informals.&rdquo; Parties also shared their views on whether the text should stress a  peak emissions year and a global goal or if it should be more holistic. Parties  agreed to convene an informal informal session to work on the text in the  AWG-LCA amalgamation document.</p>
                         <p class="textstory"><strong>DEVELOPED  COUNTRY MITIGATION (AWG-LCA):</strong> During  informal consultations, many parties expressed willingness to begin drafting on  the basis of the non-papers from Panama.&nbsp; </p>
                         <p class="textstory">The  EU suggested that the decision focus on: recognizing and establishing a process  to narrow the ambition gap; an international, common rules-based accounting  system; and a process to understand the assumptions underlying current pledges. </p>
                         <p class="textstory">On  the level of ambition, Switzerland, for the EIG, suggested: a process to  increase ambition; technical workshops; and further consideration at COP 18.  The US said the Cancun Agreements do not establish a process for narrowing the  ambition gap and this should be considered in the 2013-2015 review. NEW  ZEALAND, supported by AUSTRALIA and NORWAY, proposed a template as a flexible  tool to capture information on pledges, including on sectors, metrics, gases  and timeframes covered<em>.</em></p>
                         <p class="textstory">On  accounting, AUSTRALIA supported a common accounting framework for all parties.  The EU said common accounting rules are key to increasing ambition and ensuring  transparency. The US said the development of such rules was not mandated by the  Cancun Agreements and suggested they be based on IPCC methodologies.</p>
                         <p class="textstory">On  IAR, BOLIVIA called for a compliance system and a set of penalties. Mali, for  the AFRICAN GROUP, suggested a robust compliance mechanism. CHINA said  discussions on developed and developing countries&rsquo; mitigation efforts should  remain separate. </p>
                         <p class="textstory"><strong>DEVELOPING  COUNTRY MITIGATION (AWG-LCA):</strong> During  informal consultations, many parties expressed support for the non-papers as a  basis for further discussions. BOLIVIA expressed concern that requirements  being imposed on developed and developing countries are too similar. The EU  reiterated that progress on these issues is a key part of the Durban package  and suggested that text for a decision focus on the same areas identified for  developed countries&rsquo; mitigation issues. Switzerland, for the EIG, highlighted  three key issues: ambition and the need for information on the ambition gap;  clarification of ambition; and common accounting rules.</p>
                         <p class="textstory">On  biennial update reports, the US said the Cancun Agreements set their frequency  at every two years and the information should be consistent with national  communications. INDIA said biennial update reports should be: less onerous than  biennial reports for developed countries; updates of the latest national  communications; and contingent on financing from Annex I parties. </p>
                         <p class="textstory">NEW  ZEALAND, supported by AUSTRALIA and CANADA, proposed including a template for  understanding underlying assumptions for NAMAs. On accounting, PAKISTAN said a  common reporting format is not applicable and expressed preference for a  graduated model.</p>
                         <p class="textstory">On  the registry, AUSTRALIA supported a simple and accessible web platform, but  stressed that it should not replace the need to clarify the pledges. SOUTH  AFRICA said the registry could help raise developing countries&rsquo; ambition. </p>
                         <p class="textstory">On  ICA, the US highlighted that, according to the Cancun agreements, a technical  analysis should be followed by consultations and suggested these be held in the  subsidiary bodies for the sake of transparency and in a non-intrusive and  non-punitive manner. INDIA stressed that ICA should be less onerous than IAR.  INDONESIA and BRAZIL said ICA should not be burdensome. </p>
                         <p class="textstory"><strong>ADAPTATION  (AWG-LCA): </strong>Facilitator Kishan  Kumarsingh (Trinidad and Tobago) asked delegates to consider the budget  implications in their work on the Adaptation Committee. The G-77/CHINA said the  Adaptation Committee should report directly to the COP, and highlighted  linkages with other institutional arrangements. Informal informals will convene  to streamline text and narrow options.</p>
                         <p class="textstory"><strong>MARKET APPROACHES (AWG-LCA): </strong>Delegates discussed options on what role the UNFCCC should play in  guiding development of various approaches. AUSTRALIA supported working together  on new market mechanisms and PAPUA NEW GUINEA said market mechanisms need to  have strong environmental integrity. Suggesting that &ldquo;the days of a purely top-down approach are gone,&rdquo;  NEW ZEALAND urged reassessing the role of the UNFCCC. The EU supported  establishing a new market-based mechanism in Durban. A drafting group will meet  on Thursday.</p>
                         <p class="textstory"><em><strong>IN THE CORRIDORS</strong></em></p>
                         <p class="textstory">&ldquo;Bridging  gaps&rdquo; seemed to be one of the main themes on Wednesday. Many observers and  delegates from AOSIS fretted that the &ldquo;gigaton gap&rdquo; identified in a UNEP report  would not be addressed without increasing the level of ambition from Annex I  parties before 2020. While one participant supported advancing the agreements  from Cancun, she suggested that &ldquo;we need to do more than this,&rdquo; particularly  for countries facing climate impacts now. </p>
                         <p class="textstory">Another  &ldquo;gap&rdquo; discussed by delegates was the one between the Kyoto Protocol and any  future agreement. As discussions on market mechanisms kicked off, some  participants seemed concerned that uncertainty will cause market instability  and anxiety. </p>
                         <span class="textstory"> Meanwhile,  many participants speculated about how a package deal might start to coalesce.  &ldquo;Ministers will be here next week and we really need to start connecting the  dots,&rdquo; said one harried-looking delegate. To help stimulate discussions on  cross-cutting issues, an informal consultation (or &ldquo;indaba&rdquo;) was hosted over  lunchtime by the COP/MOP Presidency. The meeting was welcomed by some as  helping create space to &ldquo;bounce ideas around&rdquo; and tackle tough issues. </span></td>
                     </tr>
                   </table></td>
                   <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                 </tr>
                 <tr>
                   <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                   <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                 </tr>
               </table></td>
             </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="304" class="textstory">This issue of the <em>Earth Negotiations Bulletin</em> &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Asheline Appleton, Joanna Dafoe, Aaron Leopold, Velma McColl, Eugenia Recio and Chris Spence. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the <em>Bulletin </em>are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), and the European Commission (DG-ENV). General Support for the<em> Bulletin</em> during 2011 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI), and the United Nations Environment Programme (UNEP). Funding for translation of the <em>Bulletin</em> into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the <em>Bulletin </em>into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the <em>Bulletin </em>are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the <em>Bulletin </em>may be used in non-commercial publications with appropriate academic citation. For information on the <em>Bulletin</em>, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, United States of America. The ENB Team at the Durban Climate Change Conference - November 2011 can be contacted by e-mail at &lt;<a href="mailto:chris@iisd.org" class="linknegro">chris@iisd.org</a>&gt;. &#20195;&#34920;&#22243;&#12398;&#21451;</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2011, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
