<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CANCUN HIGHLIGHTS, Monday, 6 December 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, CANCUN HIGHLIGHTS, Monday, 6 December 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12494e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12494f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12494s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12494j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 494 - Tuesday, 7 December 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">CANCUN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Monday, 6 December 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">Throughout Monday, a number of  contact groups and informal consultations convened under the COP, COP/MOP,  AWG-LCA and AWG-KP. In addition, the fourth Focal Point Forum of the Nairobi  work programme on impacts, vulnerability and adaptation (NWP) was held.</p>
                               <p class="textstory"><strong><em>CONTACT GROUPS AND INFORMAL CONSULTATIONS</em></strong></p>
                               <p class="textstory"><strong>ADAPTATION FUND</strong> <strong>(COP/MOP): </strong>During morning informal consultations, parties considered revised draft  text on the report of the Adaptation Fund Board, paragraph-by-paragraph. On  terms and conditions of services for the World Bank, parties agreed to refer to  the &ldquo;interim&rdquo; services of the Bank. Parties also considered, at length,  proposed workshops on accreditation of national implementing entities, with a  divergence of views expressed. Many developing countries supported these  workshops to familiarize parties with the accreditation process, making use of  the accreditation toolkit being devised by the Adaptation Fund Board. However,  some developed countries questioned the purpose of the regional workshops,  pointing out that the toolkit has not yet been completed. Parties were also not  able to agree on the number of workshops, their content and participation. Some  parties enquired about the cost implications of convening the proposed  workshops. </p>
                               <p class="textstory"><strong>FINANCE, TECHNOLOGY AND  CAPACITY BUILDING (AWG-LCA): </strong>Parties considered capacity building in the morning, focusing on  revised draft preambular text. Parties agreed to remove brackets on the scope  of capacity-building and related needs as expressed in an annex to decision  2/CP.7 (capacity building in developing countries). However, parties were not  able to agree on whether capacity building should be supported and enabled as a  stand-alone activity or delivered as an integrated component of mitigation and  adaptation efforts. Consensus was also not reached on scaling up capacity  building with, and sustained by, successful experiences gained through actions  undertaken in partnership with developed and developing countries, as proposed  by some developed countries. In addition, parties could not agree on a  formulation guiding various multilateral and bilateral agencies in their  activities related to capacity building, as proposed by developing countries. </p>
                               <p class="textstory"><strong>ADAPTATION (AWG-LCA):</strong> During the morning&rsquo;s AWG-LCA drafting group, parties considered how to address  loss and damage. Many parties supported a proposal to establish an  international mechanism to address loss and damage associated with climate  change impacts in vulnerable developing countries. Many parties requested  clarification on the proposal&rsquo;s elements, including on: the nature of  contributions; whether the mechanism should be under the guidance of the SBI or  the SBSTA; the process to further define the mechanism&rsquo;s elements; the role of  the private sector; linkages with existing risk management systems; and  ensuring inclusiveness. Many parties stressed that the mechanism should be  under the COP&rsquo;s authority. Noting that many elements required further  definition, some parties described the proposal as &ldquo;immature,&rdquo; while others  explained that once the main decision on the establishment of the mechanism is  made, further details on key elements should be established through a  country-driven process. One party stressed the usefulness of a work programme to  define outstanding elements. Many parties proposed that the mechanism should be  one of the components of a range of adaptation tools. One party proposed, and  many supported, adding language to address vulnerable parties&rsquo; concerns. With  many noting the need to have a concrete outcome in Cancun, parties considered  whether to reflect the common understanding in the text.</p>
                               <p class="textstory"><strong>MITIGATION (various approaches,  including opportunities for using markets, to enhance the cost-effectiveness  of, and to promote, mitigation actions)</strong> <strong>(AWG-LCA):</strong> In a drafting  group held in the morning on sub-paragraph 1(b)(v) of the Bali Action Plan,  many parties expressed satisfaction with the AWG-LCA Chair&rsquo;s revised text. Some  parties highlighted, however, that the text does not fully reflect their  options, and expressed preference for the Tianjin text. Some parties called for  a clear process for moving forward. Informal consultations will continue.</p>
                               <p class="textstory"><strong>MITIGATION (developed  countries) (AWG-LCA):</strong> In the drafting group on sub-paragraph 1(b)(i) of the  Bali Action Plan, many parties articulated the need to move from ideas in the  AWG-LCA Chair&rsquo;s text to an elaborated text for negotiation. Differing opinions  were also voiced on reference to &ldquo;targets&rdquo; or &ldquo;commitments.&rdquo; Some parties  preferred information on targets in an annex to the decision, while others  suggested that without a legally-binding agreement, an annex provides  insufficient certainty. Some parties called for clarity on the legal form of  the outcome. </p>
                               <p class="textstory">Parties expressed divergent views  on launching a process to clarify individual mitigation pledges and/or defining  an overall level of ambition of Annex I parties&rsquo; mitigation efforts. Some  parties suggested merging options on processes for clarifying pledges and/or  overall ambition with a process for clarifying assumptions associated with  pledges. A number of parties stressed the need to establish a second commitment  period under the Kyoto Protocol while another questioned references to the  Kyoto Protocol in the AWG-LCA Chair&rsquo;s text. </p>
                               <p class="textstory">Parties also discussed whether to  establish a process to address mitigation by developed countries and mitigation  by developing countries, possibly through a work programme or workshops. Some  parties expressed concern about launching &ldquo;new processes.&rdquo; </p>
                               <p class="textstory"><strong>MITIGATION (sectoral approaches  and sector-specific actions) (AWG-LCA):</strong> During informal consultations,  parties were invited to identify the key elements to include in a consolidated  text from the facilitator&rsquo;s note, the work undertaken in Copenhagen  (FCCC/CP/2010/2), the Tianjin negotiating text (FCCC/AWGLCA/2010/14), and the  AWG-LCA Chair&rsquo;s text (FCCC/AWGLCA/2010/CRP.1). Many parties opposed this  approach, noting that the Tianjin text already reflects varied parties&rsquo; views,  highlighted the lack of time to provide a concrete outcome in Cancun and the  danger of engaging in an exercise of &ldquo;cherry picking&rdquo; paragraphs, especially  for specific sector issues such as agriculture.</p>
                               <p class="textstory">On key elements, many parties  identified: a general framework; agriculture; and international aviation and  maritime transport. Many parties also opposed proposals to include  hydrofluorocarbons as a key element, saying this issue is not within the  mandate of the group and does not constitute a specific sector previously  addressed. Many countries highlighted that discussions should focus on a  general framework to enhance the implementation of Convention Article 4.1(c)  (technology transfer), bunker fuels and agriculture in depth and then move  forward to address specific sectors. Some parties made proposals on text that  should be included in the general framework. One party questioned whether the  general framework should be addressed by the shared vision group.</p>
                               <p class="textstory"><strong>CHAPTER IV (basket of  methodological issues) (AWG-KP):</strong> In the spin-off group on the basket of  methodological issues, parties discussed new GHGs, use of best science,  consistency with the AWG-LCA, recognition of the need for further work on  common metrics and the treatment of short-lifetime gases. On common metrics,  parties discussed whether to use the IPCC Fourth Assessment Report for global  warming potentials. On new GHGs, parties agreed on the need to expand the list  of GHGs and considered legal concerns regarding the relationship between  discussions on new GHGs and amendments to Annex A of the Protocol. </p>
                               <p class="textstory"><strong>CDM (COP/MOP):</strong> During  informal consultations in the afternoon, parties continued consideration of a  draft COP/MOP decision on further guidance relating to the CDM. Parties  considered the text paragraph-by-paragraph with the aim of agreeing on the text  for adoption by the COP/MOP. However, they were unable to agree on all  paragraphs and consultations will continue. </p>
                               <p class="textstory"><strong>MITIGATION (developing country  mitigation) (AWG-LCA):</strong> In the afternoon, the drafting group on developing  country mitigation focused on the relevant section of the possible elements of  the AWG-LCA&rsquo;s outcome prepared by the AWG-LCA Chair (FCCC/AWGLCA/2010/CRP.2).  The aim of the meeting was to collect parties&rsquo; views and comments on the text.  Many parties expressed willingness to move into full negotiation mode and  called for revised text containing decision language. Parties also made various  proposals, including on: the purpose, functions and scope of the proposed  registry; the frequency of reporting; differentiation among developing  countries; meaning, purpose and scope of international consultation and  analysis (ICA); mode of reporting on supported and unsupported NAMAs; and the  scope of MRV. New text will be prepared based on parties&rsquo; comments.</p>
                               <p class="textstory"><strong>JI (COP/MOP):</strong> The afternoon  informal consultations focused on a draft COP/MOP decision on issues relating  to JI. Parties considered the draft decision paragraph-by-paragraph, with the  aim of agreeing on decision text for adoption by the COP/MOP. Consultations  will continue.</p>
                               <p class="textstory"><strong>ANNEX I EMISSION REDUCTIONS  (AWG-KP): </strong>In the spin-off group on &ldquo;numbers,&rdquo; parties discussed options for  the carryover of surplus Assigned Amount Units (AAUs). The Secretariat and  several parties presented on further work quantifying the implications of  various options. </p>
                               <p class="textstory"><strong>SHARED VISION (AWG-LCA):</strong> In  the afternoon drafting group on a shared vision, parties reacted to the Chair&rsquo;s  new note on possible elements of the outcome. Many developed countries  supported using the Chair&rsquo;s note as the basis for further negotiations, while  developing countries called for continuing work based on the Tianjin text,  which &ldquo;reflects the views of all parties.&rdquo; </p>
                               <p class="textstory">Some developing countries, with  some developed countries, noted elements missing from the note, including:  short- and long-term goals; sustainable development; inclusion of a review; and  language on a legally-binding outcome. Other developing countries emphasized  missing concepts, such as: human and indigenous rights; the rights of Mother  Earth; creation of a climate court of justice; and financial obligations. A  number of developing countries expressed concern with the 2&deg;C goal, preferring  to keep the temperature increase as far below 1.5&deg;C as possible. One country  opposed including new concepts such as &ldquo;equitable access to global atmospheric  space&rdquo; and another called for referring to water and water management. </p>
                               <p class="textstory">A number of developed countries  objected to reference to historical responsibility and equitable access to  atmospheric space, stating that these concepts are not part of the Convention.  Many developing countries supported including a long-term global goal for  emission reductions and frequency of reviews, and preferred a temperature  rather than a concentration goal.</p>
                               <p class="textstory"><strong>MITIGATION (response measures)  (AWG-LCA):</strong> In the afternoon drafting group on impacts of response measures,  parties discussed the Chair&rsquo;s new note and previous versions of the text.  Parties continued streamlining the text, focusing in particular on information  sharing. Developed countries, opposed by developing countries, supported  removing the reference to assistance, noting that assistance is not a concept  in the UNFCCC in relation to impacts of response measures. Developing countries  highlighted that the UNFCCC includes actions related to funding and transfer of  technology to meet the needs and concerns of developing country parties, so as  to avoid adverse impacts. </p>
                               <p class="textstory">Parties resumed discussions from  Saturday on the issue of trade. One developed country opposed reference to  trade in the text, while several developing countries emphasized the &ldquo;critical  importance&rdquo; of ensuring that no unilateral trade measures or trade  protectionism are adopted on the grounds of climate change. </p>
                               <p class="textstory">The facilitator asked groups to  come up with internally-consistent language on trade and possible institutional  arrangements to streamline the text. Parties then moved paragraph-by-paragraph  through the text to see if any areas could be further refined.</p>
                               <p class="textstory"><strong>PARTIES&rsquo; PROPOSALS UNDER  CONVENTION ARTICLE 17 (protocols) (COP):</strong> During the evening contact group,  Chair Michael Zammit Cutajar (Malta) reiterated that the six proposals  submitted by parties under Convention Article 17 (protocols) remain on the  table until the next COP and that new proposals are also possible. He noted  parties&rsquo; divergent views on the legal form of the AWG-LCA&rsquo;s outcome. </p>
                               <p class="textstory">Grenada, for AOSIS, submitted a  proposal for a draft COP decision, containing, <em>inter alia</em>, a request for  the AWG-LCA to &ldquo;continue its work, with a renewed sense of urgency&rdquo; in order to  present to COP 17 &ldquo;a legally-binding instrument under the Convention as its  final agreed outcome.&rdquo; COSTA RICA and a number of AOSIS members urged the  AWG-LCA to continue working with a clear mandate to adopt a legally-binding  instrument at COP 17 in Durban. The EU suggested adding language on a  legally-binding outcome under the two tracks. VENEZUELA urged adding text on  reinforcing the current legal regime, as well as a reference to the Kyoto  Protocol.</p>
                               <p class="textstory">SOUTH AFRICA acknowledged the need  for an agreement, while highlighting that the matter is broader than just the AWG-LCA&rsquo;s  outcome. She urged a balanced outcome that also establishes a second commitment  period under the Kyoto Protocol. </p>
                               <p class="textstory">BOLIVIA stressed that the  credibility of any new legally-binding instrument depends on the adoption of a  second commitment period under the Kyoto Protocol. SAUDI ARABIA, with CHINA and  others, reiterated that &ldquo;the form should follow function.&rdquo; He also stressed  that the &ldquo;function&rdquo; cannot be clarified before a second commitment period under  the Kyoto Protocol has been agreed. The MALDIVES lamented that reliance on the  phrase &ldquo;form should follow function&rdquo; is slowing down the negotiations. NORWAY  stated that it is possible for parties to discuss the form and substance in  parallel.</p>
                               <p class="textstory">INDIA underscored the need to  focus on the deliverables in Cancun. He also explained that legally-binding  statusdoes not only come from a protocol, and said the substance  of the proposed protocols is already being discussed under the AWG-LCA. INDIA,  CHINA and others urged parties to focus on the AWG-KP and AWG-LCA, while TUVALU  urged continuing the contact group&rsquo;s discussions.</p>
                               <p class="textstory">The PHILIPPINES identified the  need to avoid prejudging the AWG-LCA&rsquo;s outcome, specifying that both options, a  COP decision or a protocol, should remain on the table. He also emphasized the  need to consider the nature of the compliance regime associated with the  AWG-LCA&rsquo;s outcome. </p>
                               <p class="textstory">AUSTRALIA reiterated her country&rsquo;s  support for a legally-binding outcome, and flexibility concerning a single new  protocol or a combination that involves the continuation of the Kyoto Protocol.  She stated that clarity on the legal form can help move negotiations forward. </p>
                               <p class="textstory">The US highlighted flexibility of  the existing mandate based on the Bali Action Plan and&nbsp;stated that his  country is not in a position to accept a new mandate that focuses only on the  legal form without stating clearly that major economies take on mitigation  efforts with the same legal force as those by developed countries.</p>
                               <p class="textstory">Chair Zammit Cutajar noted that  the discussion had repeated issues that have been discussed before, such as the  idea that &ldquo;the form follows function.&rdquo; He noted, however, that some  interventions, such as the statement by the US, seemed to &ldquo;link the form and  function.&rdquo; He also emphasized that parties continue to express diverging views  on what is &ldquo;legally-binding,&rdquo; and said all these differences &ldquo;make summing up  difficult.&rdquo; He noted that both Venezuela and the EU had &ldquo;in their different  ways&rdquo; proposed to link the outcomes of the two negotiating tracks, and  encouraged parties to speak to each other. </p>
                               <p class="textstory">AOSIS urged a process to discuss  their proposed draft decision. Chair Zammit Cutajar indicated that he would  announce a further meeting time later. VENEZUELA suggested a roundtable  discussion to separate political issues from the legal discussions. </p>
                               <p class="textstory"><strong>CHAPTER II (LULUCF) (AWG-KP):</strong> The LULUCF spin-off group met in the afternoon. The meeting focused on matters  related to process and the way forward and no substance was discussed. Parties  expressed diverging views on which version of the co-facilitators&rsquo; non-paper  should be used: one that integrates all parties&rsquo; proposals, or another one that  keeps two distinct options. The AWG-KP Chair addressed the group. Discussions  will continue.</p>
                               
                               <p class="textstory"><strong><em>FOCAL POINT FORUM OF THE NWP</em></strong></p>
                               <p class="textstory">On Monday evening, the fourth  Focal Point Forum of the Nairobi work programme on impacts, vulnerability and  adaptation (NWP) took place. SBSTA Chair Mama Konat&eacute; (Mali) welcomed parties  and NWP partner organizations to the event, which was intended to provide an  informal platform for discussion on knowledge management and learning in  support of enhanced action on adaptation and a stocktaking of activities  undertaken or planned by NWP partners. </p>
                               <p class="textstory">The Secretariat provided an update  on adaptation negotiations and on the implementation of the NWP, noting that  there are now 203 partner organizations and that they have received 136 action  pledges.</p>
                               <p class="textstory">Partner organizations commented on  successes, issues that need to be addressed as the NWP moves forward and ideas  for future directions. The WORLD FEDERATION OF ENGINEERING ORGANIZATIONS  recommended that the UNFCCC formally acknowledge the successes of various  action pledges and noted the Secretariat&rsquo;s excellent support for the NWP. The  MUNICH CLIMATE INSURANCE INITIATIVE underscored the NWP&rsquo;s value, noting the  catalytic nature of NWP workshops in bringing together parties and partner  organizations. The WMO highlighted its fifteen new action pledges, noted that  the NWP has successfully combined science and policy, and hoped that in future  the compendium of climate tools would be updated regularly. </p>
                               <p class="textstory">IUCN recommended sector- and  region-specific products and linking organizations&rsquo; actions under the NWP to  parties&rsquo; needs, noting possible options such as a matching mechanism. The  INSTITUTE OF DEVELOPMENT STUDIES suggested a more iterative discussion between  the NWP, partner organizations and parties on needs and calls for assistance.  The INTERNATIONAL CENTRE FOR INTEGRATED MOUNTAIN DEVELOPMENT suggested further  promoting regional collaboration. TAJIKISTAN highlighted the need to tailor  information to specific regions, sectors and groups of stakeholders. UN-ISDR  highlighted the diversity of stakeholders at workshops, which enables new  partnerships, as well as the importance of further promoting collaboration. </p>
                               <p class="textstory">UNDP noted that NWP products are  only useful if they are being used &quot;on the ground.&quot; Highlighting the  need to improve the interface between what is being accomplished at the global  level and what is taking place at the national level, she recommended  establishing a NWP help desk to connect parties and organizations with  appropriate partners. The GLOBAL WATER PARTNERSHIP noted the importance of  tailoring information to the real needs of parties.</p>
                               <p class="textstory">The STOCKHOLM ENVIRONMENT  INSTITUTE highlighted the <em>Tiempo</em> bulletin as a means of bridging climate  and development issues. Noting that core funding for <em>Tiempo</em> has been  eliminated, he asked for partnerships to ensure it continues. The JAPAN AGENCY  FOR MARINE-EARTH SCIENCE AND TECHNOLOGY highlighted several of their modeling  initiatives in the Caribbean and training of developing country adaptation  experts. PRACTICAL ACTION noted the need to work on the conceptual framing of  adaptation and the need for a knowledge intermediary to disseminate knowledge  products. </p>
                               <p class="textstory">The NATIONAL AUTONOMOUS UNIVERSITY  OF MEXICO and UN OFFICE OF OUTER SPACE  AFFAIRS highlighted the need to help indigenous communities identify how  weather patterns are changing. The IBERO-AMERICAN NETWORK OF CLIMATE CHANGE  OFFICES suggested establishing a network of NWP supporters. Discussions  continued with partner organizations highlighting progress on specific actions.</p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS</em></strong></p>
                               <p class="textstory">As the second week of the UN  Climate Change Conference in Cancun began, many delegates commented that they  had not had much of a break on Sunday. On Sunday morning and early afternoon,  they and the recently-arrived ministers had participated in the informal  plenary called by COP President Patricia Espinosa in an attempt to search for  further political guidance on the way forward. One delegate reported that  during the plenary, COP President Espinosa announced a new working method to  help move discussions forward that involved pairing ministers from developed  and developing countries to work on specific issues. She announced five such  pairs to work on: shared vision; adaptation; finance, technology and capacity  building; mitigation and MRV; and issues under the AWG-KP. Other ministers  could then provide support on other specific issues as they arise. Many parties  seemed happy with the COP Presidency&rsquo;s efforts to ensure transparency: &ldquo;We&rsquo;re  starting to trust that what you see regarding the process is what you get,&rdquo;  commented one. Another remarked on the integrity of a single process that &ldquo;lays  to rest the ghost of Copenhagen.&rdquo; </p>
                               <p class="textstory">While many complimented this open  process, some wondered how this would lead to decisions. &ldquo;I&rsquo;ve been involved in  dozens of international negotiations and in every case the work has ultimately  moved to small rooms. It&rsquo;s still not clear to me how this process can result in  the complex trade-offs that will have to be made with countries not facing a  facilitator, but facing each other,&rdquo; said a veteran negotiator. Others began  wondering about contingency plans. &ldquo;President Calderon of Mexico stressed his  determination to get a decision on REDD+ during his speech at Forest Day on  Sunday. Will the international community be willing to let a REDD+ decision  proceed even if the crucial issues of the future of the Kyoto Protocol and MRV  under the AWG-LCA are not addressed?&rdquo; asked a conservation NGO representative,  who was optimistic on these prospects.</p>
                               <p class="textstory">Meanwhile, the WikiLeaks stories about Copenhagen and its  aftermath continued to raise eyebrows among delegates. The most controversial  call into question the motivations of both developed and developing countries  on financing. Some developing countries were unhappy about the rumors and will  seek to dispel the &ldquo;misinformation.&rdquo;</p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
