<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>COPENHAGEN HIGHLIGHTS - Saturday, 12 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, Saturday, 12 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12454e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12454f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12454s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12454j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Japanese version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 454 - Monday, 14 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Saturday, 12 December 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">On Saturday  morning, the COP and COP/MOP plenaries convened. In the afternoon and evening,  the closing plenaries of the SBI and SBSTA took place. Throughout the day,  contact groups and informal consultations convened on a range of issues,  including mitigation, finance and technology under the AWG-LCA, Annex I  emission reductions and other issues under the AWG-KP, and various topics under  the COP/MOP, SBSTA and SBI.</p>
                               <p class="textstory"><strong><em>COP PLENARY </em></strong></p>
                               <p class="textstory"><strong>PROPOSALS BY  PARTIES UNDER CONVENTION ARTICLE 17 (PROTOCOLS): </strong>COP President  Hedegaard said consultations had been held on how to proceed on the agenda item  on proposals for new protocols under Convention Article 17. </p>
                               <p class="textstory">TUVALU underscored that  his motives for insisting on proper consideration of this issue are sincere  rather than to &ldquo;seek media attention.&rdquo; He also commended COP President  Hedegaard for her personal commitment to success in Copenhagen. He said it is an &ldquo;irony of the  modern world that we are waiting for some senators in the US Congress to  conclude their discussions before we can proceed&rdquo; and urged President Obama to  honor the Nobel Peace Prize and address the &ldquo;great threat&rdquo; to security posed by  climate change. </p>
                               <p class="textstory">TUVALU  reiterated the &ldquo;strong plea&rdquo; for two legally-binding protocols as the outcome  from Copenhagen and insisted that an option to  sign a legally-binding agreement in Copenhagen  be put to the ministers. COP President Hedegaard said that &ldquo;no option will be  taken off the table.&rdquo; </p>
                               <p class="textstory"><strong>ORGANIZATIONAL  MATTERS: </strong>AWG-LCA Chair Zammit Cutajar provided an update on the  AWG-LCA&rsquo;s work, saying &ldquo;tremendous amounts of work&rdquo; had been done towards a  &ldquo;full and rich&rdquo; package, and highlighting progress in areas such as technology  and REDD-plus. He said he had tabled a text on Friday on the AWG-LCA&rsquo;s outcome  and noted parties' divergent views on the legal form, including whether to have  two legal instruments or one. He said this &ldquo;highly important&rdquo; subject goes  beyond the scope of one negotiating group and suggested that the COP President  &ldquo;keep an eye on the issue.&rdquo;</p>
                               <p class="textstory">The US  commended the Chair&rsquo;s &ldquo;heroic work&rdquo; in incorporating core issues into a concise  document and noted progress in many areas, such as technology, forestry and  adaptation. He identified, however, the need to clarify how to move forward  with &ldquo;the difficult and core questions&rdquo; in a way that will have an immediate  operational effect, saying ministerial negotiations could bring the necessary  sense of urgency to these discussions.</p>
                               <p class="textstory">The EU raised  concerns over the Chairs&rsquo; proposals, including that they: do not bring  certainty that temperature increase will be limited to below 2&deg;C; only provide a loose framework for  actions by developing countries; and envisage the continuation of the Kyoto  Protocol but do not contain legal commitments or a timeframe to conclude a  legally-binding agreement under the Convention track. He reiterated that the  outcome should build on the Kyoto Protocol, taking forward its key elements. He  called for a political agreement that is &ldquo;precise and comprehensive enough&rdquo; to  be transformed into a legally-binding agreement. </p>
                               <p class="textstory">Brazil, for the  G-77/CHINA, said the Group was willing to continue working based on the Chair&rsquo;s  text while identifying the need to address certain issues, including enhancing  the treatment of adaptation. He said a structure reflecting the continuation of  the Kyoto Protocol is of &ldquo;critical importance&rdquo; to the G-77/China and  &ldquo;essential&rdquo; for the outcome in Copenhagen.</p>
                               <p class="textstory">Many countries,  including SOUTH AFRICA, KUWAIT, NIGERIA,  SENEGAL, NAMIBIA, PERU,  Mexico,  for the ENVIRONMENTAL INTEGRITY GROUP, and others, expressed willingness to use  the Chair&rsquo;s text as the basis of work. SAUDI ARABIA described the text as  a &ldquo;very good&rdquo; starting point, which has adhered to the UNFCCC and the BAP. </p>
                               <p class="textstory">INDIA, SAUDI ARABIA, NIGERIA,  VENEZUELA, TAJIKISTAN, ZIMBABWE and others highlighted the  need for a transparent and inclusive negotiating process. </p>
                               <p class="textstory">INDIA stressed that the  Protocol, as one of the &ldquo;most important&rdquo; treaties, must be strengthened for the  second commitment period. OMAN  emphasized that work should continue under two tracks. SOUTH AFRICA  supported a two-track legally-binding outcome. VENEZUELA stressed that work on  continuing the Protocol should not be &ldquo;sabotaged.&rdquo; </p>
                               <p class="textstory">AUSTRALIA said they were  encouraged by areas of convergence, such as REDD-plus, adaptation and  technology and noted &ldquo;good movement&rdquo; on finance. She expressed concern over:  mitigation; the question of legal architecture; a transparent system to keep  track of progress on implementation; and long-term finance. She suggested  continuing with the first set of issues in drafting groups while considering  the second set of issues in plenary and at the ministerial level.</p>
                               <p class="textstory">NORWAY welcomed the  Chair's text, but described the mitigation part as &ldquo;too loose&rdquo; in relation to  developing country actions and said that there should be a &ldquo;clear message&rdquo; on  how to reach a legally-binding agreement. NIGERIA noted that issues such as  adaptation, finance, technology and capacity building need to be elaborated. JAPAN supported  the concept of a &ldquo;package deal&rdquo; but expressed concern with prejudging a legal  form for the post-2012 framework and lack of balance in the mitigation section.  He proposed informal consultations at the ministerial level. The ENVIRONMENTAL  INTEGRITY GROUP also suggested starting a process with participation by  ministers.</p>
                               <p class="textstory">The MARSHALL ISLANDS and SOLOMON ISLANDS drew attention to  the AOSIS proposal, emphasizing that its aim is to secure the survival of the  Kyoto Protocol and a protocol to enhance the Convention&rsquo;s implementation.</p>
                               <p class="textstory">SENEGAL underlined the  need to address provision of resources to vulnerable countries and to establish  a financial mechanism on adaptation under the Convention. The UNITED ARAB  EMIRATES noted that the Chair&rsquo;s text needs further refinement and amendments to  become a strong outcome, based on the principle of common but differentiated  responsibilities. TAJIKISTAN  highlighted the need to develop a comprehensive framework on adaptation and  technology transfer.</p>
                               <p class="textstory">EGYPT noted  its concern with an uneven distribution of work between the two negotiating  tracks which &ldquo;may lead to uneven progress,&rdquo; and BURUNDI urged the AWG-KP to match  its progress with the AWG-LCA. BAHRAIN  and others highlighted time constraints in reaching an agreement. CANADA said  that the document represents a step forward but considerable work remains on  mitigation. He stressed that mitigation commitments and actions must be  inscribed and be subject to a transparent international review.</p>
                               <p class="textstory">Lesotho, for LDCs,  reiterated its support for two-track negotiations. PAPUA NEW GUINEA noted that  a legally-binding agreement needs to be adopted as soon as practically possible  and clarified that they did not support the AOSIS proposal. The GAMBIA  urged the continuation of the Protocol beyond 2012.</p>
                               <p class="textstory">PALESTINE noted that  financial resources from developed countries for adaptation should also be  provided to non-parties.</p>
                               <p class="textstory">On continuing to  apply the draft rules of procedure, with the exception of rule 42 on voting,  opposed by PAPUA NEW GUINEA during the opening plenary, COP President Hedegaard  said she would continue informal consultations and report back at a later  meeting.</p>
                               <p class="textstory"><strong><em>COP/MOP PLENARY </em></strong></p>
                               <p class="textstory"><strong>ORGANIZATIONAL  MATTERS: </strong>AWG-KP Chair Ashe reported on progress under the  AWG-KP and explained that he had introduced his draft text on the AWG-KP  outcome to the parties on Friday. </p>
                               <p class="textstory">TUVALU intervened on a  point of order, saying discussions should continue based on the suspended  agenda on proposed Protocol amendments. </p>
                               <p class="textstory">Sudan, for the  G-77/CHINA, identified the Chair&rsquo;s text as a good basis for further work under  the AWG-KP but expressed concern over slow progress. He reiterated that  dismantling or making redundant the Kyoto Protocol was unacceptable and that  both negotiating tracks should be maintained, resulting in a strengthened  Protocol and an agreed outcome under the Convention. SOUTH AFRICA, supported by several  developing countries, clarified that, although there are a number of  substantive issues that must still be resolved, the text can be used as the  basis of work. </p>
                               <p class="textstory">Grenada, for AOSIS,  supported open and transparent negotiations on the Chair&rsquo;s draft text. The Gambia, for the  AFRICAN GROUP, expressed concern with the lack of time in which to reach an  outcome. PAPUA NEW GUINEA noted that the Chair&rsquo;s LULUCF text introduces &ldquo;hot  air&rdquo; into the agreement. The FEDERATED    STATES OF MICRONESIA stressed the need for  binding outcomes under both the AWG-KP and the AWG-LCA.</p>
                               <p class="textstory">The EU, with JAPAN, CANADA  and SWITZERLAND,  stressed that a global, ambitious and comprehensive agreement is required to  preserve the environmental integrity of the Convention. The EU highlighted the  importance of further progress on, <em>inter alia</em>, LULUCF, surplus AAUs and  the flexibility mechanisms. JAPAN  underscored action by all major emitters. NORWAY called for either a new  commitment period under the Kyoto Protocol or a single binding agreement and  stressed that work on LULUCF and the flexibility mechanisms should go forward.</p>
                               <p class="textstory">COP/MOP President  Hedegaard identified different views on how to move forward and said she would  consult ministers and heads of delegation. </p>
                               <p class="textstory"><strong>PROPOSED PROTOCOL  AMENDMENTS: </strong>COP/MOP President Hedegaard noted ongoing  consultations on how to proceed with the proposed Protocol amendments. </p>
                               <p class="textstory">TUVALU urged that  the issue must not be &ldquo;swept under the carpet&rdquo; and stressed that the legal  context under this agenda item is based on Protocol Article 20 (amendments) and  is therefore different from the work by the AWG-KP under Protocol Article 3.9  (Annex I further commitments). TUVALU  stressed that their aim was not to merge the Kyoto Protocol with a new  instrument but to preserve the legal architecture including the Protocol.  Calling for substantive discussions, he said it would be &ldquo;grave injustice&rdquo; to  forward the issue to another COP/MOP. Highlighting focus on the adoption of &ldquo;deep  emission reductions&rdquo; by Annex I parties and that many aspects of the amendment  proposal are inconsistent with the Convention, INDIA called for proceeding with  work &ldquo;without sidestepping.&rdquo; COP/MOP President Hedegaard noted India&rsquo;s  concerns but said that informal consultations on the proposals will continue.</p>
                               <p class="textstory"><strong><em>SBSTA CLOSING PLENARY </em></strong></p>
                               <p class="textstory"><strong>ORGANIZATIONAL  MATTERS:</strong> The SBSTA agreed to elect Mihir Kanti Majumder (Bangladesh) as Vice-Chair and Purushottam  Ghimire (Nepal)  as Rapporteur.</p>
                               <p class="textstory"><strong>NAIROBI WORK PROGRAMME ON  IMPACTS, VULNERABILITY AND ADAPTATION TO CLIMATE CHANGE:</strong> The  SBSTA adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbsta/eng/l17.pdf" target="_blank" class="linknegro">FCCC/SBSTA/2009/L.17</a>). </p>
                               <p class="textstory"><strong>REDD:</strong> The  SBSTA adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbsta/eng/l19.pdf" target="_blank" class="linknegro">FCCC/SBSTA/2009/L.19</a> and Add.1). Parties also agreed  to note in the meeting&rsquo;s report that &ldquo;national circumstances include countries  with specific circumstances, such as high forest cover and low rates of  deforestation.&rdquo; </p>
                               <p class="textstory"><strong>RESEARCH AND  SYSTEMATIC OBSERVATION:</strong> The SBSTA adopted conclusions  (<a href="http://unfccc.int/resource/docs/2009/sbsta/eng/l16.pdf" target="_blank" class="linknegro">FCCC/SBSTA/2009/L.16</a> and Add.1).</p>
                               <p class="textstory"><strong>METHODOLOGICAL  ISSUES UNDER THE CONVENTION:</strong> <strong>Review of Annex I</strong> <strong>greenhouse  gas inventories: </strong>SBSTA Chair Plume proposed, and parties agreed, to reflect  in the meeting&rsquo;s report that the SBSTA took note of the annual report on the  technical review of Annex I greenhouse gas inventories (<a href="http://unfccc.int/resource/docs/2009/sbsta/eng/04.pdf" target="_blank" class="linknegro">FCCC/SBSTA/2009/INF.4</a>). </p>
                               <p class="textstory"><strong>Emissions from  international aviation and maritime transport: </strong>The SBSTA adopted  conclusions (<a href="http://unfccc.int/resource/docs/2009/sbsta/eng/l15.pdf" target="_blank" class="linknegro">FCCC/SBSTA/2009/L.15</a>).</p>
                               <p class="textstory"><strong>METHODOLOGICAL  ISSUES UNDER THE PROTOCOL: HCFC-22/HFC-23:</strong> Facilitator  Adejuwon reported that parties were not able to reach conclusions. The  consideration of the issue will continue at SBSTA 32.</p>
                               <p class="textstory"><strong>CCS under the CDM:</strong> SBSTA  Chair Plume reported that no agreement had been reached on this issue and SBSTA  adopted conclusions (FCCC/SBSTA/2009/L.20). SAUDI   ARABIA and AUSTRALIA expressed disappointment  that agreement was not reached. GHANA  proposed requesting that SBSTA establish a programme for CCS as a mitigation  technology and activity.</p>
                               <p class="textstory"><strong>Common metrics:</strong> Co-Chair Gytarsky reported that no agreement had been reached. The  consideration of the issue will continue at SBSTA 32. </p>
                               <p class="textstory"><strong>TECHNOLOGY  TRANSFER:</strong> Co-Chair Fuller reported on the joint SBSTA/SBI  contact group, highlighting the report on performance indicators and the  group&rsquo;s endorsement of the Expert Group on Technology Transfer&rsquo;s rolling  programme of work. The SBSTA adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbsta/eng/l14.pdf" target="_blank" class="linknegro">FCCC/SBSTA/2009/L.14</a>). </p>
                               <p class="textstory"><strong>MATTERS RELATING  TO PROTOCOL ARTICLE 2.3 (adverse effects of policies and measures): </strong>The  SBSTA adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbsta/eng/l18.pdf" target="_blank" class="linknegro">FCCC/SBSTA/2009/L.18</a>). </p>
                               <p class="textstory"><strong>REPORT OF THE  SESSION:</strong> The SBSTA adopted the report of the session  (<a href="http://unfccc.int/resource/docs/2009/sbsta/eng/l13.pdf" target="_blank" class="linknegro">FCCC/SBSTA/2009/L.13</a>). </p>
                               <p class="textstory">Climate Justice  Now, for ENGOs, highlighted concerns regarding &ldquo;unproven mitigation  technologies&rdquo; citing nuclear power, genetically modified crops, ocean  fertilization and biochar. The Women&rsquo;s Environmental and Development  Organization, for WOMEN &amp; GENDER, called for participation of women and  local communities in the implementation of REDD. Sustainable Markets  Foundation, for YOUTH, called for an agreement on REDD to include: distinctions  between plantations and natural forests; safeguards for local communities; and  drivers of deforestation.</p>
                               <p class="textstory">The EU, Sudan, for the G-77/CHINA, and Australia, for the UMBRELLA GROUP,  expressed satisfaction with progress on various issues but noted limited time  available at this session due to the work of the AWG-LCA and AWG-KP. </p>
                               <p class="textstory">SBSTA Chair Plume  highlighted progress, including a draft COP decision on REDD, thanked parties  for their work and closed SBSTA 31 at 5:19 pm. </p>
                               <p class="textstory"><strong><em>SBI CLOSING PLENARY </em></strong></p>
                               <p class="textstory"><strong>ORGANIZATIONAL  MATTERS</strong>: <strong>Election of officers:</strong> The SBI elected Samuel  Ortiz Basualdo (Argentina)  as Vice-Chair and Kadio Ahossane (Cote d&rsquo;Ivoire) as Rapporteur of the  SBI. </p>
                               <p class="textstory"><strong>PROTOCOL ARTICLE  3.14 (adverse effects and impacts of response measures):</strong> The  SBI adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l25.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.25</a>).</p>
                               <p class="textstory"><strong>ANNEX I NATIONAL  COMMUNICATIONS AND GREENHOUSE GAS INVENTORY DATA:</strong></p>
                               <p class="textstory">The SBI adopted  conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l24.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.26</a>).</p>
                               <p class="textstory"><strong>CAPACITY BUILDING (CONVENTION):</strong> The  SBI adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l19.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.19</a>).</p>
                               <p class="textstory"><strong>CAPACITY BUILDING (PROTOCOL):</strong> The  SBI adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l20.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.20</a>).</p>
                               <p class="textstory"><strong>REPORTING AND  REVIEW OF INFORMATION FROM ANNEX I PARTIES UNDER THE PROTOCOL</strong>: The  SBI adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l23.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.23</a>).</p>
                               <p class="textstory"><strong>ANNUAL COMPILATION  AND ACCOUNTING REPORT FOR PROTOCOL ANNEX B PARTIES:</strong> The SBI adopted  conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l24.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.24</a>).</p>
                               <p class="textstory"><strong>ADMINISTRATIVE,  FINANCIAL AND INSTITUTIONAL MATTERS: Budget performance for the biennium  2008-2009:</strong> The SBI adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l21.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.21</a> and <a href="http://unfccc.int/resource/docs/2006/sbi/eng/l21a01.pdf" target="_blank" class="linknegro">Adds.1</a> and <a href="http://unfccc.int/resource/docs/2006/sbi/eng/l21a02.pdf" target="_blank" class="linknegro">2</a>).</p>
                               <p class="textstory"><strong>Continuing review  of the Secretariat&rsquo;s functions and operation:</strong> The SBI adopted  conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l21.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.21</a> and <a href="http://unfccc.int/resource/docs/2006/sbi/eng/l21a01.pdf" target="_blank" class="linknegro">Adds.1</a> and <a href="http://unfccc.int/resource/docs/2006/sbi/eng/l21a02.pdf" target="_blank" class="linknegro">2</a>).</p>
                               <p class="textstory"><strong>Privileges and  immunities:</strong> The SBI adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l22.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.22</a>).</p>
                               <p class="textstory"><strong>CONVENTION  ARTICLES 4.8 AND 4.9 (ADVERSE EFFECTS): Progress on the implementation of  decision 1/CP.10 (Buenos Aires Programme of Work):</strong> The SBI adopted  conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l28.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.28</a>).</p>
                               <p class="textstory"><strong>Matters related to  LDCs:</strong> The SBI adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l27.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.27</a>). </p>
                               <p class="textstory"><strong>TECHNOLOGY  TRANSFER:</strong> The SBI adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l18.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.18</a>). </p>
                               <p class="textstory"><strong>FINANCIAL  MECHANISM:</strong> <strong>Fourth review of the financial mechanism</strong>:  Co-Chair Lei noted progress made under this agenda item but said that the  contact group needs more time to finish its work. The SBI adopted conclusions  (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l29.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.29</a>), which will serve as the basis for negotiations at SBI 32. </p>
                               <p class="textstory"><strong>Report of the GEF:</strong> The  SBI adopted conclusions (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l30.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.30</a>). </p>
                               <p class="textstory"><strong>Assessment of the  Special Climate Change Fund:</strong> The SBI adopted conclusions  (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l31.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/L.31</a>). </p>
                               <p class="textstory"><strong>REPORT OF THE  SESSION</strong>: The SBI adopted the report of the session  (<a href="FCCC/SBI/2009/L.17" target="_blank" class="linknegro">FCCC/SBI/2009/L.17</a>). </p>
                               <p class="textstory">Sudan, for  the G-77/CHINA, Australia,  for the UMBRELLA GROUP, Lesotho,  for the LDCs, Sweden, for  the EU, Switzerland, for the  ENVIRONMENTAL INTEGRITY GROUP, and Uganda, for the LDC Expert Group,  welcomed progress at SBI 31, but noted the importance of issues postponed to later  sessions. The LDCs called for full support of the LDC work programme, including  contribution by developed countries of US$ 2 billion to the LDC Fund. </p>
                               <p class="textstory">Global Wind Energy  Council, for BINGOs, called for, <em>inter alia</em>, improving and expanding  market mechanisms and acknowledging the central role of private investment. </p>
                               <p class="textstory">Friends of the  Earth International, for ENGOs, called for paying &ldquo;the climate debt to the  people of the South&rdquo; and stressed the need for public financing rather than  carbon markets. International Federation of Agricultural Producers, for FARMERS  NGOs, supported establishing a SBSTA work programme on agriculture. </p>
                               <p class="textstory">British Council,  for YOUTH, supported Tuvalu&rsquo;s  proposal for a legally-binding outcome and underlined that parties must agree  to a concrete and transparent financial mechanism. </p>
                               <p class="textstory">SBI Chair  Bratasida closed the session at 9:15 pm.</p>
                               <p class="textstory"><strong><em>CONTACT GROUPS AND INFORMAL CONSULTATIONS </em></strong></p>
                               <p class="textstory"><strong>FINANCE (AWG-LCA): </strong>In informal consulations, parties were presented with a non-paper  reflecting work by a smaller drafting group. The non-paper contains bracketed  elements on, <em>inter alia</em>: commitment to operationalize the financial  mechanism; the concept of a body with various functions; a facilitative and  verification function for the body; governance; and the establishment of a fund  or funds. Parties then considered a non-paper addressing the generation and  provision of financial resources.</p>
                               <p class="textstory"><strong>TECHNOLOGY  (AWG-LCA):</strong> The drafting group on technology met in informal  consultations and considered revised draft text. In the morning, parties  discussed paragraphs on: the objective of technology transfer and development;  the functions of a technology mechanism; and the operation of the technology  mechanism. Informal consultations continued in the afternoon.</p>
                               <p class="textstory"><strong>JOINT  IMPLEMENTATION (COP/MOP): </strong>Co-Chair Lesolle introduced a new draft  decision and parties considered the text paragraph-by-paragraph. Parties agreed  on all paragraphs with the exception of a paragraph on extending the share of  proceeds to JI. The RUSSIAN FEDERATION  and UKRAINE,  opposed by the G-77/CHINA, proposed deleting this paragraph. AUSTRALIA, supported by several others,  highlighted ongoing discussions on financing under other bodies, and UKRAINE noted  that this issue is also being discussed under the AWG-KP. JAPAN noted that  a decision extending the share of proceeds would require a Protocol amendment.  Informal consultations will continue.</p>
                               <p class="textstory"><strong>&nbsp;AWG-KP INFORMAL CONSULTATIONS: </strong>In the  morning, parties convened in informal consultations on the AWG-KP Chair&rsquo;s new  text. </p>
                               <p class="textstory">Many parties welcomed  the text. Some developed countries said the legal form of the overall outcome  needs to be resolved before addressing the text. On the flexibility mechanisms  and LULUCF, many parties highlighted a desire to resolve outstanding issues in  their respective subgroups. </p>
                               <p class="textstory"><strong>POTENTIAL  CONSEQUENCES (AWG-KP): </strong>During an afternoon contact group,  Co-Chair Ure invited parties to provide general comments on the potential  consequences section in the AWG-KP Chair&rsquo;s draft text. </p>
                               <p class="textstory">NEW ZEALAND, supported by the  EU, expressed preference for adopting conclusions rather than a decision. The  G-77/CHINA preferred adopting a decision. </p>
                               <p class="textstory">Parties then  commenced a paragraph-by-paragraph consideration of the text, beginning with  the preambular section. On countries that would be most severely impacted by  potential negative consequences, SAUDI ARABIA, COLOMBIA, KUWAIT, NIGERIA and  others preferred referring to countries identified in Convention Articles 4.8,  4.9 and 4.10, while the EU, JAPAN and AOSIS preferred referring to the poorest  and most vulnerable developing country parties. </p>
                               <p class="textstory"><strong>MITIGATION  (AWG-LCA): </strong>Informal consultations were held in the afternoon on  the mitigation section of the Chair&rsquo;s draft text. </p>
                               <p class="textstory">On mitigation by  developed countries, many countries proposed that the text should apply to  Annex I countries that are not parties to the Kyoto Protocol and identified the  need for such countries to take mid- and long-term commitments. Several other  countries suggested this section applies to both Annex I parties and other  countries wishing to take binding QELROs. </p>
                               <p class="textstory">A proposal was  also made to bracket the entire section based on concerns over the general  approach taken in the text. It was also argued that the text prejudges the  legal form of the outcome and that it should follow language contained in the  BAP. A proposal was also made to address common mitigation elements for both  developed and developing countries. On developing country NAMAs, some countries  characterized the text as &ldquo;weak&rdquo; and proposed international review of NAMAs, which  was opposed by many other countries.</p>
                               <p class="textstory"><strong>MITIGATION -  sub-paragraph 1(b)(iii) of the BAP (AWG-LCA): </strong>Informal  consultations on REDD-plus continued to meet throughout the day, focusing on  MRV and finance. </p>
                               <p class="textstory"><strong>MITIGATION -  sub-paragraph 1(b)(iv) of the BAP (AWG-LCA):</strong> A drafting group  on sectoral approaches met in the morning to further consider draft text on  agriculture. Parties restructured preambular text and discussed trade and the  role of offsets. In the afternoon, parties discussed general sectoral  approaches and bunker fuels.</p>
                               <p class="textstory"><strong>MITIGATION -  sub-paragraph 1(b)(vi) of the BAP (AWG-LCA): </strong>Parties exchanged  views on draft text on response measures and reduced options on topics  including trade and whether a forum is needed. Informal consultations continued  in the evening. </p>
                               <p class="textstory"><strong>OTHER ISSUES  (LULUCF)(AWG-KP): </strong>In the afternoon, the sub-group on LULUCF  convened in a contact group to exchange views on the AWG-KP Chair&rsquo;s draft text.  BRAZIL,  with many others, supported the text as the basis for discussion. </p>
                               <p class="textstory">PAPUA NEW GUINEA,  supported by COSTA RICA, MALAYSIA and THAILAND, expressed concern that  the option on land-based accounting was omitted from the text. CHINA and many  others noted an interest in a land-based approach, but not for the second  commitment period. CANADA  and AUSTRALIA  highlighted decision text that establishes a SBSTA work programme on a  land-based approach. SENEGAL,  NIGERIA and COLOMBIA  expressed reservations on the completeness of the activities list. PAPUA NEW  GUINEA said they could not move forward with the text.</p>
                               <p class="textstory"><strong>OTHER ISSUES  (FLEXIBILITY MECHANISMS)(AWG-KP):</strong> In the afternoon contact group on  other issues, Vice-Chair Dovland introduced streamlined text on the flexibility  mechanisms.</p>
                               <p class="textstory">Several parties  proposed changes to the text on developing standardized baselines for specific  project types. Vice-Chair Dovland warned against inserting too many square  brackets and, after discussion, said he was not going to suggest that the  AWG-KP Chair make any changes to the text.</p>
                               <p class="textstory">The UNITED ARAB  EMIRATES and others proposed adopting modalities and procedures for including  CCS under the CDM at COP/MOP 6 instead of COP/MOP 7.</p>
                               <p class="textstory">On regional  distribution, SENEGAL  requested specific reference to project activities in SIDS and African  countries. SAUDI ARABIA, ARGENTINA and PERU preferred reference to all  developing countries. NEW ZEALAND,  the RUSSIAN FEDERATION, AUSTRALIA, JAPAN  and CANADA said they could  not support the encouragement of introducing quotas for Certified Emission  Reductions originating from LDCs, SIDS and Africa  during the second commitment period. CANADA and the EU proposed the  removal of specific percentages, as a compromise. BRAZIL,  with CHINA,  supported a return to Chair&rsquo;s original text on regional distribution. The REPUBLIC OF KOREA  and AUSTRALIA  called for discussion of credits from new market mechanisms.</p>
                               <p class="textstory"><strong>ANNEX I EMISSION  REDUCTIONS (AWG-KP):</strong> Co-Chair Wollansky asked parties to focus  on a proposed table to replace Protocol Annex B, as well as on proposed changes  to Protocol Article 3 (Annex I further commitments), in the AWG-KP Chair&rsquo;s new  draft text.</p>
                               <p class="textstory">JAPAN  highlighted the need for clarity on how to define parties&rsquo; absolute emission  reduction targets, and with AUSTRALIA  and NEW ZEALAND,  called for coherence with the AWG-LCA. He said the whole text relating to  numbers should be bracketed. </p>
                               <p class="textstory">Parties then  identified problematic issues, provided textual proposals and highlighted  elements that required further discussions or explanations. </p>
                               <p class="textstory">Co-Chair Wollansky  said the co-chairs might prepare a non-paper, based on the text and discussions  so far, ahead of the next meeting of the group.</p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS </em></strong></p>
                               <p class="textstory">As the first week  of the Copenhagen Climate Change Conference drew to a close, things were  heating up both inside and outside the Bella Center.  In the city of Copenhagen, an estimated  30,000-100,000 demonstrators marched from the city center to the Bella Center.  A few hundred protesters were reportedly arrested by the police. However, the  gathering was mostly peaceful with addresses and performances by a number of  famous people. Climate change marches also took place in other parts of the  world, including Australia  and the Philippines. </p>
                               <p class="textstory">Inside the  conference center, groups of delegates gathered to watch live images of the  demonstrators. Many were heard commenting on the incredibly large numbers of  people urging Copenhagen  to provide a meaningful outcome and set the world on a path to avoiding  dangerous climate change. &ldquo;It feels good to know that many people out there are  as invested in this as I am,&rdquo; enthused one veteran negotiator. </p>
                               <p class="textstory">Meanwhile, many  parties found themselves exceptionally busy in the negotiations, as they  attempted to finalize outstanding issues under the Subsidiary Bodies, attend  their closing plenaries, which in the case of the SBI, lasted until after 9 pm,  and still make their way to the myriad of informal consultations and contact  group meetings going on elsewhere.</p>
                               <p class="textstory">The emphasis  remained on the long-term issues, which were considered throughout the day  under various work streams. The AWG-KP Chair held an informal meeting in the  morning, giving parties an opportunity to provide general feedback on his text  introduced on Friday. In the afternoon, most AWG-KP groups began discussing the  text, albeit with several parties expressing serious reservations to specific  parts of it. </p>
                               <p class="textstory">Various drafting  groups under the AWG-LCA also continued working throughout the day on  non-papers covering detailed issues under the Bali Action Plan. The AWG-LCA  Chair convened informal consultations on the mitigation part of his new text.  Few delegates emerging from the meeting seemed surprised that parties had  mainly repeated their &ldquo;well-known positions.&rdquo; Some key developed countries  continued to express serious concern with the mitigation part of the text and  opposed using it as a basis for further work. </p>
                               <p class="textstory">In the afternoon,  the COP President convened an informal meeting, also attended by some  ministers. Parties emerging from the meeting explained that they had been  presented a diagram illustrating possible outcomes under the Protocol and  Convention tracks. &ldquo;The proposal was to either complete negotiations here in Copenhagen and adopt a  legally-binding outcome under both tracks, or agree on a deadline for adopting  a legally-binding outcome under both tracks at a later stage,&rdquo; explained one  negotiator after the meeting. In their reactions, most parties reportedly  reiterated their entrenched positions, with no noticeable shift.</p>
                               <p class="textstory">With little  movement during the first week on some of the key issues, many delegates were  thinking about the way forward:&nbsp; &ldquo;We must  work hard so that by this time next week, we can celebrate a fair and ambitious  agreement: the momentum generated for this conference is simply unprecedented  and far too valuable to lose,&rdquo; commented one slightly concerned but determined  party.</p>
                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, the United Nations Environment Programme (UNEP), and the World Bank. Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at the Copenhagen Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
