<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CANCUN HIGHLIGHTS, Tuesday, 7 December 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, CANCUN HIGHLIGHTS, Tuesday, 7 December 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12495e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12495f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12495s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12495j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 495 - Wednesday, 8 December 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">CANCUN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Tuesday, 7 December 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">On Tuesday afternoon, the opening  ceremony of the high-level segment was held. In addition, a number of contact  groups and informal consultations met throughout the day under the COP/MOP,  AWG-LCA and AWG-KP. </p>
                               <p class="textstory"><strong><em>HIGH-LEVEL SEGMENT</em></strong></p>
                               <p class="textstory">The high-level segment opened on  Tuesday afternoon with dancing and music welcoming participants to Mexico. </p>
                               <p class="textstory">UNFCCC Executive Secretary  Christiana Figueres stressed that parties were at a &ldquo;crucial stage&rdquo; and urged  them to put short-term national interests aside in order to &ldquo;get the process  back on track.&rdquo; She urged &ldquo;conciliation&rdquo; on key issues and said failure to  reach consensus in Cancun will endanger all countries&rsquo; long-term wellbeing.</p>
                               <p class="textstory">UN Secretary-General Ban Ki-moon  expressed concern at lack of adequate progress after many years of  negotiations. He stated that while a final resolution on all issues is not  essential in Cancun, there should be progress at all fronts. </p>
                               <p class="textstory">President Felipe Calder&oacute;n, Mexico,noted that billions of humans  expect a &ldquo;clear response to climate change that we cannot fail to give&rdquo; and  emphasized important progress over the last week in rebuilding confidence in  the multilateral system. He underscored, however, the progress that must be  made on a formula to prevent climate change, and to catalyze green economies  and development paradigm shifts. </p>
                               <p class="textstory">The high-level segment continued throughout the afternoon with  statements by heads of state and government, and speakers on behalf of groups. National  statements will continue on Wednesday and Thursday. A webcast of all statements  is available online at: <a href="http://webcast.cc2010.mx" target="_blank" class="linknegro">http://webcast.cc2010.mx</a></p>
                               <p class="textstory"><strong>CONTACT GROUPS AND INFORMAL CONSULTATIONS</strong></p>
                               <p class="textstory"><strong>ADAPTATION  FUND (COP/MOP): </strong>During the morning  informal consultations and contact group, parties considered revised draft text  on the report of the Adaptation Fund Board and review of the Adaptation Fund. </p>
                               <p class="textstory">During the informal consultations, many parties supported  the revised text with minor amendments. On the report of the Adaptation Fund  Board, differences remained on proposed workshops on accreditation of national  implementing entities. Some parties opposed reference to workshops. Others  noted, however, that, according to the text, the workshops must be subject to  the availability of funds and prior consultation with the Board, thereby  ensuring that the workshops would only be held at the appropriate moment. </p>
                               <p class="textstory">Subsequently in the contact group, the PHILIPPINES  regretted that after a year of negotiations on the issue, agreement had not  been reached, while the EU noted that the proposal on holding workshops was  recently introduced. Discussions will continue. </p>
                               <p class="textstory"><strong>COMPLIANCE  (COP/MOP): </strong>During informal consultations  in the morning, parties continued considering Croatia&rsquo;s appeal against a decision  by the Enforcement Branch of the Compliance Committee. Discussions focused on a  draft COP/MOP decision proposed by the co-chairs. Parties also addressed a new  suggestion by a party on the amendment of the Kyoto Protocol relating to  compliance. Consultations will continue. </p>
                               <p class="textstory"><strong>CHAPTER 1 (Annex I emission  reductions) (AWG-KP): </strong>In the morning spin-off group on &ldquo;numbers,&rdquo; parties  attempted to reduce the number of options in the text. Parties agreed to insert  a &ldquo;no change option&rdquo; to reflect discussions on carryover of surplus Assigned  Amount Units (AAUs). Parties also agreed that options on amendment of Protocol  Article 3.1 (GHG reduction and limitation commitments), Article 3.7  (calculating assigned amounts in the first commitment period), Article 3.9  (Annex I parties&rsquo; further commitments), and Articles 4.2 and 4.3 (joint  fulfillment of commitments) be collapsed into single bracketed texts to  facilitate political decision-making at the ministerial level. </p>
                               <p class="textstory"><strong>CHAPTER IV (basket of methodological issues) (AWG-KP): </strong>In  the informal spin-off group, parties considered text on global warming  potentials. They discussed implications of using either the IPCC Second  Assessment Report or Fourth Assessment Report on overall and parties&rsquo;  individual emissions. Some parties highlighted the importance of using  methodologies that are consistent with the AWG-LCA. Parties also stressed their  interest in considering the addition of new GHGs but divergent views remain on  the specific gases. The AWG-KP Vice-Chair will report back to the AWG-KP Chair.</p>
                               <p class="textstory"><strong>CHAPTER II  (LULUCF) (AWG-KP): </strong>In the afternoon informal consultations, parties  agreed to move forward based on the facilitators&rsquo; non-paper from Saturday.  Parties then discussed harvested wood products, underscoring that bioenergy  will be accounted for by the energy sector. Parties also addressed <em>force  majeure</em> and the challenges posed by accounting for fires. On reference  levels, discussions considered the need to reflect both complexity and  flexibility in addressing different national circumstances.</p>
                               <p class="textstory"><strong>SHARED VISION (AWG-LCA): </strong>In  the morning, the drafting group considered a revised text based on Monday&rsquo;s  discussions. The text includes new language on, <em>inter alia</em>: historical  and current global emissions; stabilizing GHG concentrations at well below 350  parts per million; collectively reducing emissions by at least 50% from 1990  levels by 2050; reducing GHG emissions of developed countries by 85-95%, or  more than 95%, from 1990 levels by 2050; and respecting human rights.</p>
                               <p class="textstory">A  number of developing countries opposed &ldquo;picking and choosing&rdquo; between parties&rsquo;  submissions. Several developed countries said the text is &ldquo;not perfect&rdquo; and  omits many options that they support, but that it is &ldquo;the only way forward&rdquo; if  parties want to forward something to the high-level segment.</p>
                               <p class="textstory">Parties  also discussed text proposed by a number of developing countries on historical  responsibility and implementation gaps. Several countries supported affirming  that &ldquo;climate change is one of the greatest challenges facing mankind&rdquo; and that  parties share a vision that enhances the Convention&rsquo;s implementation, sets an  emissions goal rather than a &ldquo;hard cap,&rdquo; and guides the actions and policies of  parties taking into consideration their &ldquo;different and evolving&rdquo; circumstances.  A number of developing countries emphasized historical responsibility and urged  Annex I countries to show leadership, including on finance and technology  transfer. Many developed countries stressed that the Convention refers to  historic and current emissions. </p>
                               <p class="textstory">A  request was also made to insert text on requiring Annex I parties to contribute  6% of their Gross National Product (GNP) to finance mitigation and adaptation  in developing countries and 1% of their GNP to support forest-related  activities as &ldquo;repayment of their climate debt.&rdquo; Several developed countries  suggested using the facilitator&rsquo;s text as a middle ground, while some  developing countries said there was no agreement on whether to proceed, because  of the absence of a party-driven text. The facilitators will consult the  AWG-LCA Chair.</p>
                               <p class="textstory"><strong>FINANCE, TECHNOLOGY AND CAPACITY BUILDING (AWG-LCA): Finance: </strong>In a morning drafting group, parties were presented with a revised non-paper containing elements for a draft  decision on finance. The document included sections and options on fast-start  finance, long-term finance, the proposed new fund and a proposed new body under  the COP to assist with the financial mechanism and delivery of climate  financing. The non-paper also included an annex containing terms of reference  for designing the fund.</p>
                               <p class="textstory">After  a short break to review the text, parties offered their initial reactions. One  developed country observed that the text has become increasingly ambitious in  scope and detail, and expressed concern that high expectations of an agreement  this week may not be met. </p>
                               <p class="textstory">On  fast-start finance, developing countries said text should provide more details  on transparency, including whether the funding is genuinely new and additional,  whether it is evenly allocated between adaptation and mitigation, and how much  has been disbursed in 2010. One developing country suggested adding another  developing country group to those identified as priority recipients of  fast-start financing. In addition to LDCs, SIDS and Africa, she added  &ldquo;developing countries with areas prone to droughts, floods and desertification  with fragile ecosystems, and facing increased frequency of extreme and  catastrophic events and trends linked to climate change.&rdquo; </p>
                               <p class="textstory">On  long-term finance, developing countries supported the option that developed  countries should commit 1.5% of their GDP to support developing countries,  rather than text referring to a US$100 billion commitment annually by 2020.  Many developed countries expressed reservations on text indicating that the  main or major source of funding will be assessed or indicative contributions  from Annex II parties to the Convention. Some developed countries supported  reference to the UN Secretary-General&rsquo;s High-Level Advisory Group on Climate  Financing. </p>
                               <p class="textstory">On  the board of the new fund, a number of developing countries insisted that it  refer to representation for SIDS and LDCs.</p>
                               <p class="textstory"><strong>Technology:</strong> The drafting  group considered technology in a late morning session. Developing countries  outlined two possible decisions, one containing the main elements of an agreement,  the other setting out a programme of work. Several delegates welcomed progress  in this group and in bilateral consultations held earlier in the day. However,  some developed countries regretted that the &ldquo;balance&rdquo; they seek in the wider  negotiations does not yet exist, and said they could not yet agree to a technology  mechanism. Several speakers supported identifying what can be agreed in Cancun  and what needs further discussion in 2011. </p>
                               <p class="textstory"><strong>Capacity building: </strong>In the  afternoon, the informal drafting group turned its attention to  capacity-building. Parties  considered a revised draft text paragraph-by-paragraph. Many developing country  parties supported retaining the option to establish a technical panel on  capacity building in a legally-binding instrument, while many developed  countries supported an option affirming that existing institutional  arrangements or the proposed ones include capacity-building in their mandate.  On references to operating entities of the financial mechanism and reference to  the proposed new fund, one party said these could prejudge other parallel  negotiations. Different views also remained on text concerning developed  country reporting of support provided for capacity building in developing  countries, and developing country reporting of progress in enhancing capacity  to address climate change, including on the use of the support received.  Consultations continued.</p>
                               <p class="textstory"><strong>MITIGATION (various approaches,  including opportunities for using markets, to enhance the cost-effectiveness  of, and to promote, mitigation actions)</strong> <strong>(AWG-LCA):</strong> The morning  drafting group continued consideration of revised text, prepared on the basis  of the AWG-LCA Chair&rsquo;s note. Parties continued streamlining the options. </p>
                               <p class="textstory">&nbsp;Reacting to the nature of the textual  proposals from some parties, several parties objected to textual insertions  into options that appeared to &ldquo;negate&rdquo; the substance of the options. A number  of parties also suggested that parties should only make textual proposals  concerning their own options. However, others disagreed, asserting that all  parties retain the right to make insertions into any option. In response, a  number of parties acknowledged that right, but urged others to refrain from  proposing text that is contrary to the essence of the options. Parties then  continued making textual proposals to the text. Consultations will continue.</p>
                               <p class="textstory"><strong>MITIGATION (developed countries  and developing countries) (AWG-LCA): </strong>In the morning drafting group, parties  focused on new draft texts on developed country mitigation and developing  country mitigation prepared by the facilitators, based on the AWG-LCA Chair&rsquo;s  note and parties&rsquo; views. General comments were invited on both texts. </p>
                               <p class="textstory">Many parties expressed  satisfaction with the fact that the texts contain decision language, while  highlighting various omissions. Many parties perceived a lack of balance  between the texts and also between the texts and other work by the AWG-LCA.  Several parties lamented the lack of operational language with regard to, <em>inter  alia</em>, mitigation actions, reporting commitments and the development of  guidelines for accounting and other rules. Parties continued to express  diverging views on the purpose and scope of the proposed registry, with some  stating that it should contain all NAMAs by developing countries, while others  said all NAMAs should be inscribed in an annex to a decision and the proposed  registry should be restricted to NAMAs seeking support. Parties also differed  on the frequency and nature of reporting, as well as the body that should  decide these matters (whether it should be the AWG-LCA or the SBI). </p>
                               <p class="textstory">A number of parties also commented  on whether developed countries should take on mitigation &ldquo;actions&rdquo; or  &ldquo;commitments,&rdquo; the level and legal nature or framework of such actions or  commitments, and their relationship with the Kyoto Protocol. Some parties  highlighted the need to address the issue of comparability of actions or  commitments, both among developed countries and between developed and  developing countries. A number of parties also suggested that all countries&rsquo;  pledges be anchored in an annex to a decision in Cancun. However, others  opposed this suggestion. &ldquo;Informal informal&rdquo; consultations will continue.</p>
                               <p class="textstory"><strong>MITIGATION (sectoral approaches  and sector-specific actions) (AWG-LCA):</strong>During informal consultations in the morning, parties  reported on discussions held on the general framework and on agriculture. </p>
                               <p class="textstory">On  agriculture, discussions addressed both expectations regarding a work programme  and the identification of key elements for the sector, including trade,  adaptation, food security and indigenous peoples&rsquo; involvement. Many parties  expressed flexibility to work based on different existing texts provided that  key elements are included. </p>
                               <p class="textstory">On the  way forward, disagreement persisted, with many parties preferring to address  the general framework and then specific sectors, while others supported  discussing bunker fuels and agriculture. Finally, agreement was reached on  addressing an overarching general framework paragraph and then discussing  possible provisions for &ldquo;framing&rdquo; each sector, with many noting that the  agriculture text is complete enough as it is. </p>
                               <p class="textstory">Parties  also discussed the key elements to be considered within the general framework,  such as: reference to Convention Article 4.1(c) (technology transfer); the  usefulness of taking a sectoral approach; a reference to the principles of the  Convention; and the voluntary nature of sectoral approaches. Divergent views  remained on the two last elements, with many countries supporting the need for  consistency with the provisions and principles of the Convention and the  inclusion of a reference to the principle of common but differentiated  responsibilities. Some parties disagreed with the consideration of this  principle in the context of bunker fuels, but one party noted that the  International Civil Aviation Organization has already recognized differences  among countries. Different opinions were expressed on whether the principle of  common but differentiated responsibilities should apply to technical and  operational matters under the International Maritime Organization. </p>
                               <p class="textstory">In the  afternoon drafting group, divergent views were expressed on using the  Copenhagen or Tianjin text, or combination of the two texts. Parties also  discussed whether to give the facilitator the mandate to make changes to be  reflected in the upcoming AWG-LCA Chair&rsquo;s text. Discussions then focused on the  consideration of trade in the agriculture text with parties making proposals  for compromise text. Discussions continued into the evening on a framing  paragraph, bunker fuels and what can be reflected in a revised text.</p>
                               <p class="textstory"><strong>ITEM  3 (Annex I further commitments) (AWG-KP):</strong> In an evening contact group, AWG-KP Chair John Ashe (Antigua and Barbuda)  highlighted a revised version of the Chair&rsquo;s text (FCCC/KP/CRP.4/Rev.1) and  subsequent meetings by the spin-off groups. AWG-KP Chair Ashe described the  appointment of ministers from the UK and Brazil to conduct ministerial  consultations on &ldquo;key political questions.&rdquo; BRAZIL then provided an overview of  these consultations with negotiating groups and countries. He identified  challenges in relation to establishing a second commitment period under the  Kyoto Protocol and interlinkages with the AWG-LCA&rsquo;s mitigation discussions.  Luis Alfonso de Alba (Mexico) reported that COP/MOP President Espinosa would  meet with ministers to consider the way forward and that a COP/MOP stocktaking  plenary would convene early on Wednesday morning. </p>
                               <p class="textstory">On  LULUCF, Co-facilitator Iversen (Denmark) reported that that the spin-off group  had been unable to reduce options on forest management but that text on  harvested wood products had been clarified. </p>
                               <p class="textstory">On the  flexibility mechanisms, AWG-KP Vice-Chair Adrian Macey (New Zealand) noted a  proposal to continue the Kyoto mechanisms beyond the first commitment period,  as well as discussions on regional distribution of CDM project activities and  co-benefits. </p>
                               <p class="textstory">On the  basket of methodological issues, AWG-KP Vice-Chair Macey noted clear options on  new gases and global warming potentials and said that these issues could be  resolved in Cancun. </p>
                               <p class="textstory">Co-facilitator  Leon Charles (Grenada) reported that the &ldquo;numbers&rdquo; group had continued consideration  of carryover and surplus of AAUs, and that it had also considered how to  streamline the textual proposals. He explained that, despite a lack of  consensus, there was a desire to address surplus and carryover of AAUs. He  added that the group could benefit from more time to address this issue. </p>
                               <p class="textstory">On  potential consequences, AWG-KP Chair Ashe said he was conducting bilateral  consultations and would report to parties at a later stage. He then informed  parties that a revised version of his text would be made available on Wednesday  morning. </p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS</em></strong></p>
                               <p class="textstory">On  Tuesday afternoon, the high-level segment began in Cancun, with a vibrant  presentation of Mexico&rsquo;s beauty aimed at reminding delegates of what is at  stake in efforts to address climate change. At the same time, various informal  negotiations took place at the Moon Palace throughout the day, with experts and  ministers attempting to refine texts in preparation for the next phase of  negotiations.</p>
                               <p class="textstory">The  mood remained constructive in some informals groups, while in others, some  parties reported &ldquo;a complete lack of progress.&rdquo; Many participants having  attended the AWG-LCA drafting group addressing texts on developed and  developing country mitigation seemed satisfied that they now had decision text  and appeared to be set to move to &ldquo;full negotiating mode.&rdquo; &ldquo;Finally!&rdquo; exclaimed  one delegate. Others cautioned, however, that the existence of decision  language does not necessarily indicate progress, with one stating, &ldquo;Let&rsquo;s just  wait and see. My impression from the meeting is that parties will simply add  their options back into the text, which they have already started to do!&rdquo;  Delegates attending the &ldquo;various approaches to mitigation, including market  mechanisms&rdquo; drafting group noted &ldquo;a near-stalemate,&rdquo; and a couple of delegates  emerging from the technology discussions said they were &ldquo;frustrated.&rdquo;</p>
                               <p class="textstory">Given  slow progress on many issues expected to be among the key Cancun outcomes,  concerns were beginning to surface about whether and how all the necessary  elements&nbsp;of the overall package will fall into place. One negotiator  worried that the process might get&nbsp;bogged down in &ldquo;an attitude of&nbsp;no  progress on anything until we have progress on  everything.&rdquo;&nbsp;Many&nbsp;seasoned negotiators acknowledged&nbsp;that it will  be&nbsp;difficult&nbsp;&ldquo;to close the gaps,&rdquo;&nbsp;although there were some  indications that negotiators were starting to identify where trade-offs could  work between the different negotiating blocks, and some also began to  contemplate &ldquo;Plan B&rdquo; scenarios.</p>
                               <p class="textstory">For  example, some REDD+ negotiators were seen working on strategies to ensure that  if a comprehensive decision cannot be reached, a simpler agreement to move  forward on REDD+ could be ensured as a basis for the ongoing initiatives in  many developing countries. One veteran delegate noted: &ldquo;Eager parties are  redoubling efforts in an attempt to ensure agreement on REDD+ is not held  hostage to other issues and they are simultaneously attempting to accommodate  different philosophical views on markets and safeguards.&rdquo;</p>
                               <p class="textstory">While  most delegates began the journey back to their hotels after the AWG-KP&rsquo;s  evening contact group ended at around 9 pm, some others, including the  Secretariat, were preparing for a long night. &ldquo;Revised AWG-LCA and AWG-KP texts  will be released tomorrow and I have to be here for the early morning COP/MOP  stocktaking plenary,&rdquo; explained one delegate rushing back to her computer. </p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
