<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CANCUN HIGHLIGHTS, Wednesday, 1 December 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, CANCUN HIGHLIGHTS, Wednesday, 1 December 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12490e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12490f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12490s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12490j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 490 - Thursday,2 December 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">CANCUN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Wednesday, 1 December 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">The COP/MOP plenary convened on  Wednesday morning and afternoon. In the afternoon, the COP plenary also took  place. Numerous informal groups under the SBI, SBSTA, AWG-KP and AWG-LCA were  also held throughout the day.</p>
                               <p class="textstory"><em>Editor&rsquo;s Note: </em>The Earth Negotiations  Bulletin&rsquo;s<em> coverage of informal and contact groups is more limited than  usual due to logistical/transport complications.</em></p>
                               <p class="textstory"><strong><em>COP </em></strong></p>
                               <p class="textstory"><strong>PARTIES&rsquo; PROPOSALS UNDER  CONVENTION ARTICLE 17 (protocols):&nbsp; </strong>On this issue (FCCC/CP/2010/3,  FCCC/CP/2009/4-7), the Secretariat explained that proposals for new protocols  and an implementation agreement were received under Convention Article 17 from  five parties in 2009, and that their consideration was not completed at COP 15.  He also explained that a new proposal for a protocol had been received from  Grenada in 2010 that was communicated to the parties in accordance with the  Convention&rsquo;s provisions.</p>
                               <p class="textstory">Grenada, for AOSIS, underscored the importance of discussing the  legal form, stressing that this is relevant for both governments and the  private sector. She called for an open-ended contact group to address, in a transparent and participative  manner, the following issues: legal form of the outcome; interlinkages with  existing instruments; and an appropriate strategy to adopt a legally-binding  outcome at COP 17 in Durban. </p>
                               <p class="textstory">Several developing countries  expressed support for the proposal. Outlining his country&rsquo;s proposal for a new  protocol that supplements the Kyoto Protocol, TUVALU highlighted the contact group as a step  toward the adoption of a legally-binding instrument in Durban. COSTA RICA  emphasized that the group should have the mandate to clarify the legal form. </p>
                               <p class="textstory">The Democratic Republic of the Congo, for the AFRICAN GROUP, supported  the establishment of the contact group but said it should not draw attention  away from the AWG-KP negotiations. The EU said the contact group should ensure  that there will be no duplication of work and take into consideration informal  consultations being held on this issue. VENEZUELA said the group should not  contradict other proposals under Convention Article 17 and consider progress  under the AWG-LCA. </p>
                               <p class="textstory">Identifying the need for a legal outcome from both the AWG-LCA and  AWG-KP tracks, BRAZIL supported providing a space for discussing this issue.  INDIA preferred focusing on deliverables from Cancun and the future of the  Kyoto Protocol&nbsp; which is &ldquo;highly  threatened,&rdquo; stating that the AWG-KP progress is well behind the AWG-LCA. He  also said that once the substance has been decided, the form &ldquo;will follow.&rdquo; </p>
                               <p class="textstory">CHINA acknowledged the importance  of discussing legal issues, saying that an amendment to Protocol Annex B  constitutes a legally-binding outcome under the Protocol track, and that a  legally-binding outcome to strengthen the Convention&rsquo;s implementation is  acceptable for his country. Supported by SAUDI ARABIA, CHINA stressed parties&rsquo;  considerable workload and urged focusing on the two AWGs and on a &ldquo;constructive  and balanced&rdquo; outcome in Cancun. SAUDI ARABIA underlined the &ldquo;threat to the  continuity of the Kyoto Protocol&rdquo; given that some parties have stated that  &ldquo;under no circumstances&rdquo; will they accept a new commitment period. </p>
                               <p class="textstory">SOUTH AFRICA identified uncertainty  over legal form as a &ldquo;major obstacle&rdquo; to the negotiations and said decision on  this issue &ldquo;will unblock many issues.&rdquo; She called for a &ldquo;pragmatic approach,&rdquo;  noting that the work by the COP, COP/MOP and the two AWGs must be complementary  and mutually supportive. SOUTH AFRICA identified the need to advance work under  the Convention and the Protocol in a &ldquo;balanced and comprehensive&rdquo; manner to  achieve outcomes with the same legal status. </p>
                               <p class="textstory">AUSTRALIA welcomed parties&rsquo;  interest in a legally-binding outcome and, noting her country&rsquo;s efforts to  advance such discussions, supported a &ldquo;robust discussion&rdquo; bringing together all  related proposals. NORWAY  expressed &ldquo;strong support&rdquo; for a legally-binding outcome, called for sufficient  time to discuss it and supported Grenada&rsquo;s proposal. </p>
                               <p class="textstory">COP President Espinosa noted that  the proposed protocols relate to issues that are being discussed under the  AWG-KP and AWG-LCA, and stressed the importance of working in Cancun towards a  consolidated package of decisions &ldquo;that is within our reach.&rdquo; She proposed, and  parties agreed, to establish a contact group chaired by Michael Zammit Cutajar  (Malta) to focus on protocol proposals by Grenada, for AOSIS, Costa Rica and  Tuvalu, being the three proposals for which such discussion space has been  requested. COP President Espinosa noted that the delegations in question have  &ldquo;clearly expressed&rdquo; that the protocol is not something that can be achieved at  COP 16 but in the future, and stressed that the discussions on legal form must  not slow down the two AWGs. COP President Espinosa also said Chair Zammit  Cutajar would provide an update on progress at the stocktaking plenary on  Saturday. </p>
                               <p class="textstory">The YOUNGOs reminded parties&rsquo; of  the deadlock over this agenda item in Copenhagen. He acknowledged that a lot of  work has been done since COP 15 and that a new protocol proposal has also been  subsequently submitted by Grenada. He urged parties to rebuild trust,  demonstrate leadership and adopt a legally-binding framework to safeguard the  most vulnerable countries that are least responsible for the climate problem.  The CLIMATE ACTION NETWORK stressed that parties have the opportunity today to  establish a process to make a &ldquo;substantial contribution&rdquo; towards a  legally-binding outcome. CLIMATE JUSTICE NOW requested parties to work towards  a just outcome on two tracks, bearing in mind historical responsibility, and  for developed countries to reduce emissions by 40% without the use of markets  or other assistance. INDIGENOUS PEOPLES&rsquo; ORGANIZATIONS stressed the &ldquo;dire and  urgent&rdquo; situation of indigenous peoples facing climate impacts. </p>
                               <p class="textstory"><strong><em>COP/MOP </em></strong></p>
                               <p class="textstory"><strong>CLEAN DEVELOPMENT MECHANISM  (CDM):</strong> CDM Executive Board Chair Clifford Mahlung reported on the Board&rsquo;s  work in 2010 (FCCC/KP/CMP/2010/10), highlighting achievements such as: the  development and adoption of new procedures for registration, issuance and  review, including timelines for each stage; elaboration of a loan scheme to  assist countries with fewer than ten registered project activities; and  elaboration of an appeals procedure against decisions of the Board.</p>
                               <p class="textstory">The EU suggested that the Board  should: publish the time taken by the Board to undergo key stages of the  project cycle; prioritize top-down development of methodologies using default  values whenever possible; and enable the use of standardized baselines and  additionality benchmarks. Australia, for the UMBRELLA GROUP, encouraged the  Board to facilitate greater participation in the CDM by underrepresented  countries, including by operationalizing the loan scheme. Regarding the appeals  procedure, she highlighted that there are aspects that still require more work,  said it would be premature to adopt a decision on it at this session and  suggested establishing a work programme for this purpose. </p>
                               <p class="textstory">Grenada, for AOSIS, supported the  quick operationalization of the loan scheme and encouraged the Board to  continue its work to improve the efficiency of, and participation in, the CDM.  INDIA, ZAMBIA and others urged the COP/MOP to provide a signal to the CDM  market regarding the continuation of the CDM by establishing a second  commitment period under the Kyoto Protocol. Several countries supported the  consideration of the inclusion of CCS under the CDM. </p>
                               <p class="textstory">The WORLD BANK noted that although  its CDM activities have been mainly in middle-income countries, it is  increasing its activities in the lowest-income countries, and that 20% of its  CDM portfolio is now in Africa. Expressing concerns regarding eroding  confidence in the CDM, he proposed: enhancing regulatory reliability through  more predictable rules and guidelines; reducing timelines and streamlining CDM  procedures in order to reduce transaction costs; encouraging innovation, and  scaling up and extending the CDM&rsquo;s reach; providing new opportunities for the  poorest countries to benefit from the CDM, such as by encouraging expansion of  the CDM to agriculture and forestry; and ensuring that the CDM governance  structure strengthens trust and enhances transparency. </p>
                               <p class="textstory">The International Emissions Trading  Association, for BUSINESS NGOs, urged greater incorporation of standardized  methods for baseline and additionality determination. The Global Forest  Coalition, for ENVIRONMENTAL NGOs, called for monitoring of all baseline and  additionality tools, and highlighted the need for emission cuts at sources,  repayment of the climate and ecological debt and sufficient adaptation  financing. ICLEI-Local Governments for Sustainability, for LOCAL GOVERNMENTS  AND MUNICIPAL AUTHORITIES, called for the creation of frameworks for local  governments to better support the implementation of CDM projects. Women in  Europe for a Common Future, for GENDER NGOs, opposed the inclusion of nuclear  power activities under the CDM, stressing these would act as a barrier to the  development of safe energy sources, such as renewable energy sources. </p>
                               <p class="textstory">Eduardo Calvo Buend&iacute;a (Peru) and  Kunihiko Shimada (Japan) will co-chair a contact group. COP/MOP President  Espinosa also suggested holding informal consultations on CCS under the CDM and  said she would appoint a facilitator for these consultations.</p>
                               <p class="textstory"><strong>JOINT IMPLEMENTATION:</strong> Joint  Implementation Supervisory Committee (JISC) Chair Beno&icirc;t Leguet presented the  JISC&rsquo;s annual report (FCCC/KP/CMP/2010/9), underlining achievements such as  adoption of a standard for considering materiality and rules for accounting for  changes in an existing project. He also identified the need for fundamental  changes in Joint Implementation, as well as increased financial support, in  order for the mechanism to continue its operation. </p>
                               <p class="textstory">The EU supported continuation of  Joint Implementation and expressed willingness to discuss further improvements  and changes to its operation beyond 2012. UKRAINE highlighted that more work is  needed before a decision can be finalized. </p>
                               <p class="textstory">Washington Zhakata (Zimbabwe) and  Helmut Hojesky (Austria) will co-chair a contact group.</p>
                               <p class="textstory"><strong>COMPLIANCE:</strong> <strong>The  Compliance Committee&rsquo;s report</strong>: Compliance Committee Co-Chair Kunihiko  Shimada presented the Committee&rsquo;s report (FCCC/KP/CMP/2010/6), outlining the  Committee&rsquo;s consideration of various issues including: compliance issues  relating to Bulgaria, the result of which was suspension of Bulgaria from  participation in the flexibility mechanisms; matters relating to Croatia,  highlighting that Croatia has not submitted a plan to address its  non-compliance although the deadline for doing this has passed; and issues  regarding what should be done in the event of Annex I parties failing to comply  with their reporting requirements, highlighting that Monaco has not submitted  its fifth national communication. </p>
                               <p class="textstory">Pornchai Danvivathana (Thailand)  and Richard Tarasofsky (Canada) will co-chair a contact group.</p>
                               <p class="textstory"><strong>Appeal by Croatia against a  decision of the Enforcement Branch of the Compliance Committee</strong>: The  Secretariat introduced the issue of Croatia&rsquo;s appeal against the enforcement  branch of the Compliance Committee&rsquo;s decision regarding calculation of its  Assigned Amount and commitment period reserve (FCCC/KP/CMP/2010/2). </p>
                               <p class="textstory">CROATIA requested the establishment  of a contact group for consideration of this issue. He explained that the main  reason for submitting the appeal was that the Enforcement Branch of the  Compliance Committee had noted that it was not competent to address all matters  relating to this and had proposed that the issue be referred to the  COP/MOP.&nbsp;</p>
                               <p class="textstory">Pornchai Danvivathana (Thailand)  and Richard Tarasofsky (Canada) will co-chair a contact group.</p>
                               <p class="textstory"><strong>ADAPTATION FUND:</strong> <strong>Report  of the Adaptation Fund Board:</strong> Adaptation Fund Board Chair Farrukh Khan  presented the Board&rsquo;s report (FCCC/KP/CMP/2010/7). Noting that the Fund is now  fully operational, he said the main task had been to operationalize direct  access and highlighted that national implementing entities (NIEs) in Senegal,  Jamaica and Uruguay had now been accredited. He said 14 project concepts have  been considered and two have been approved for funding. Regarding legal  capacity, he noted that the German Parliament had approved legislation  conferring legal capacity on the Board but that the final steps have yet to be  concluded. </p>
                               <p class="textstory">GERMANY reported that legal  capacity would be conferred by the end of the year to enable the Board to  operationalize direct access and that a Memorandum of Understanding between  Germany and the Board would be signed in Cancun.</p>
                               <p class="textstory">Many countries expressed satisfaction  with progress made, noting, however, the need to strengthen the Fund through  voluntary contributions by developed countries. JAMAICA, SIERRA LEONE and  others proposed regional training workshops to help build&nbsp;capacity of  prospective NIEs. NIGERIA welcomed joint efforts by UN Environment Programme  and UN Development Programme to assist in the establishment of NIEs. Grenada,  for AOSIS, and MAURITIUS emphasized the need for capacity building for LDCs. </p>
                               <p class="textstory">A contact group will be co-chaired  by Ruleta Camacho (Antigua and Barbuda) and Jukka Uosukainen (Finland). </p>
                               <p class="textstory"><strong>Review of the Adaptation Fund:</strong> On this item (FCCC/SBI/2010/10 and MISC.2), the EU said it looked forward to  the completion of the terms of reference to enable the review of the Adaptation  Fund. The Assembly of First Nations, speaking on behalf of the INDIGENOUS  PEOPLES&rsquo; FORUM ON CLIMATE CHANGE, called for an effective, well-funded  adaptation safety net, together with an indigenous-based adaptation funding  mechanism. </p>
                               <p class="textstory">A contact group will be co-chaired  by Ruleta Camacho (Antigua and Barbuda) and Jukka Uosukainen (Finland). </p>
                               <p class="textstory"><strong>PROPOSAL FROM KAZAKHSTAN TO  AMEND ANNEX B OF THE KYOTO PROTOCOL:</strong> The Secretariat introduced the item  (FCCC/KP/CMP/2010/4), which relates to a proposal by Kazakhstan to amend the Kyoto  Protocol to include Kazakhstan in Annex B. KAZAKHSTAN highlighted national  efforts for transition to a low-carbon economy and development of a legal  framework for a domestic cap-and-trade mechanism. The RUSSIAN FEDERATION,  opposed by the Seychelles, for AOSIS, supported Kazakhstan&rsquo;s proposal.</p>
                               <p class="textstory">Informal consultations will be  facilitated by Mark Berman (Canada).</p>
                               <p class="textstory"><strong>PARTIES&rsquo; PROPOSALS FOR PROTOCOL AMENDMENTS: </strong>On this issue (FCCC/KP/CMP/2010/3,  FCCC/KP/CMP/2009/2-13), the Secretariat explained that proposals for amendments  to the Kyoto Protocol were received under Protocol Articles 20 and 21  (amendments to the protocol and its annexes) from parties in 2009 and that  their consideration was not completed at COP/MOP 5. He also explained that a  new proposal had been received from Grenada in 2010 that was communicated to  the parties in accordance with the Protocol&rsquo;s provisions. </p>
                               <p class="textstory">Grenada, for AOSIS, called for &ldquo;breaking the deadlocks in time&rdquo; for a  second commitment period under the Kyoto Protocol, including ambitious emission  reduction targets. Supported by TUVALU, SAINT LUCIA and others, she suggested  keeping this agenda item open so that it could be revisited based on the  AWG-KP&nbsp;Chair&rsquo;s report. TUVALU said it would also be useful for the SBI  Chair to report to the COP/MOP in order to guide the work on the proposed  amendments concerning immunities and privileges. </p>
                               <p class="textstory">CLIMATE ACTION NETWORK INTERNATIONAL stressed that the carryover of  surplus AAUs must not undermine the second commitment period emission reduction  targets. </p>
                               <p class="textstory">Parties agreed to keep the agenda item open for further consideration of  the Protocol amendment proposals submitted by parties based upon the AWG-KP  Chair&rsquo;s report.</p>
                               <p class="textstory"><strong><em>INFORMAL GROUPS </em></strong></p>
                               <p class="textstory"><strong>LULUCF (AWG-KP):</strong> In informal  consultations, parties continued working on the basis of the Chair&rsquo;s text  (FCCC/KP/AWG/2010/CRP.4). Parties considered text proposed by a party on, <em>inter  alia</em>, harvested wood products (HWPs), reference levels and&nbsp;<em>force  majeur</em>. Several parties suggested that the new proposal may slow down  agreement on LULUCF at this meeting. Some countries noted that reference in the  proposal to capping forest management would be problematic.</p>
                               <p class="textstory">Some parties presented discussions  undertaken in two &ldquo;informal informal&rdquo; groups on HWPs and <em>force majeur</em>.  Parties discussed three options for accounting for HWPs, as follows: instant  oxidation; the application of a single decay rate; and more detailed product  specific decay rates. On <em>force majeur</em>, parties noted discussion on  clarifying anthropogenic and non-anthropogenic disturbances, as well as the  need for clarity on links between causes and impacts of disturbances. Parties  also considered the need for clarification of wetland accounting.</p>
                               <p class="textstory"><strong>BASKET OF METHODOLOGICAL ISSUES  (AWG-KP):</strong> During informal consultations by the spin-off group on the basket  of methodological issues, parties considered the need to divide discussions  into those with linkages to major political issues and those of a technical or  practical nature. On the addition of new GHGs where the source of emissions is  poorly understood, parties discussed options for reporting on, but not  accounting for these gases due to the challenge of attribution. Some parties  underscored the need for more technical work on these issues. Parties also  considered whether there is a need for both a COP/MOP decision and a Protocol  amendment to include new gases. Parties also considered options on common  metrics, focusing on options on global warming potential for short-lived gases,  particularly methane. Parties agreed to delete Article D on sectors and source  categories listed in Annex A. Informal consultations will continue.&nbsp;</p>
                               <p class="textstory"><strong>ADAPTATION (AWG-LCA):</strong>&nbsp;During  the morning&rsquo;s AWG-LCA drafting group on adaptation, parties addressed the  organization of work. They agreed to meet informally to attempt to narrow down  options on institutional arrangements and loss and damage, basing their work on  progress made in Tianjin.</p>
                               <p class="textstory"><strong>FINANCE, TECHNOLOGY AND CAPACITY  BUILDING (AWG-LCA):</strong>&nbsp;During the AWG-LCA drafting group on finance,  technology and capacity building, parties considered the way forward. On  finance, the proposed plan of work entailed: the consideration of long-term  sources and scale of finance; fast-start financing; and the cluster of issues  around the new fund, including governance, institutional arrangements and the  design process.</p>
                               <p class="textstory">&nbsp;Regarding technology, it was proposed that  discussions pick up from where parties left off in Tianjin and consider pending  issues on: the linkage between the technology mechanism and finance; the  relationship between the technology executive committee (TEC) and the climate  technology center and network (CTCN); guidance from the COP and the process for  elaborating the TEC and CTCN; and intellectual property rights. Parties agreed  to undertake informal consultations on specific issues. For capacity building,  bilateral consultations will be held on how to proceed with work in Cancun.</p>
                               <p class="textstory"><strong>MITIGATION (AWG-LCA):</strong> During  the AWG-LCA drafting group on mitigation in the evening, parties considered new  notes containing possible elements of part of the outcomes in relation to  sub-paragraph 1(b)(i) of the Bali Acton Plan (mitigation by developed  countries) and sub-paragraph 1(b)(ii) of the Bali Action Plan (mitigation by  developing countries). They focused on monitoring reporting and verification (MRV)  of developed country commitments, actions and support, and the MRV of  nationally appropriate mitigation actions (NAMAs) by developing countries, and  related support. </p>
                               <p class="textstory">Parties discussed application of  the Kyoto Protocol rules on reporting and review, the relationship of MRV and  financial support, in particular for developing country NAMAs, and a registry.  Several parties highlighted that the registry should be a vehicle for actions  seeking support rather than a list of those already taking place. </p>
                               <p class="textstory">Several parties noted concern with  the number of processes that might be launched to revise guidelines related to  national communications and asked whether these would be rolled into existing  processes given that they &ldquo;seem to replicate these processes&rdquo; or whether these  would be new. </p>
                               <p class="textstory"><strong>POTENTIAL CONSEQUENCES (AWG-KP): </strong>In the informal AWG-KP spin-off group on potential consequences in the  afternoon, parties discussed the two remaining options in the draft decision  text on whether to establish a permanent forum or use existing channels,  including national communications, to address potential consequences of  response measures. A divergence of views on the issue remained and the issue  was referred back to the AWG-KP contact group on Annex I further commitments. </p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS </em></strong></p>
                               <p class="textstory">&ldquo;Things are starting to get  interesting,&rdquo; was how one delegate described the negotiations at the Moon  Palace on Wednesday, following the afternoon COP and COP/MOP plenaries. </p>
                               <p class="textstory">During the plenaries, dedicated to  the proposed new protocols under the Convention and various proposals to amend  the Kyoto Protocol, delegates&rsquo; intense interest was &ldquo;hardly surprising&rdquo; given  that uncertainty over the legal form of the AWG-LCA&rsquo;s outcome has cast its  shadow over the negotiations since COP 13 in Bali, and that the Kyoto  Protocol&rsquo;s future seems to be &ldquo;hanging in balance.&rdquo; Many of those having  witnessed the COP&rsquo;s &ldquo;acrimonious&rdquo; discussions on the proposed new protocols in  Copenhagen last year were positively surprised by the session. Parties agreed  to the AOSIS proposal to establish a contact group on the legal outcome without  any debate or dissent. Some also observed that positions of &ldquo;key G-77/China  countries&rdquo; had shifted towards openly supporting a legally-binding outcome  under the AWG-LCA. &ldquo;This is definitely a positive step towards the right  direction &ndash; but we may still have different views on what a legally binding  outcome means,&rdquo; analyzed one seasoned negotiator after the session. &ldquo;I&rsquo;m  surprised &ndash; positively! What just happened?&rdquo; exclaimed one observer. </p>
                               <p class="textstory">At the same time, some delegates,  still &ldquo;traumatized by Copenhagen,&rdquo; expressed concerns over transparency and  speculated that many discussions were taking place behind closed doors. Those  in the know confirmed that the &ldquo;green room&rdquo; discussions, convened by the Mexicans,  were becoming a regular thing with mitigation being one of the key issues  discussed. Some of the  parties&rsquo; concerns crystallized during the evening&rsquo;s AWG-LCA meeting on  mitigation with one delegate expressing alarm that &ldquo;this process will be undermined  if core issues related to mitigation are the subject of consultations in which  all parties can&rsquo;t participate.&rdquo; Others, however, were encouraged by the  consultation process: &ldquo;Someone has to focus on the broad mitigation issues that  are common to both tracks and the COP Presidency has reaffirmed that these  complementary consultations will support the work of the AWGs.&rdquo; Rumors were  also circulating concerning texts that were being prepared or supposedly  scheduled for release: &ldquo;Someone said the COP Presidency might present some  concrete ideas in the coming days, it will be interesting to see what form they  take,&rdquo; said one seasoned delegate. &nbsp;</p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
