<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>COPENHAGEN HIGHLIGHTS - Tuesday, 8 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, Tuesday, 8 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12450e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12450f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/vol12/enb12450s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12450j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Japanese version" vspace="1" border="0" /></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 450 - Wednesday, 9 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Tuesday, 8 December 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">On Tuesday,  opening plenaries of the SBI and SBSTA took place. Contact groups and informal  consultations also convened to consider various issues, including long-term  cooperative action, a shared vision, finance, mitigation and technology under  the AWG-LCA, Annex I emission reductions, other issues and potential  consequences under the AWG-KP and REDD under the SBSTA.</p>
                               <p class="textstory"><em><strong>SBI </strong></em></p>
                               <p class="textstory"><strong>ORGANIZATIONAL  MATTERS:</strong> SBI Chair Liana Bratasida (Indonesia)  opened SBI 31 and suggested leaving the sub-item on information contained in  non-Annex I national communications in abeyance. Parties agreed and adopted the  agenda and organization of work (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/09.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/9</a>).</p>
                               <p class="textstory"><strong>OPENING  STATEMENTS:</strong> Australia,  for the UMBRELLA GROUP, supported streamlining discussions under the SBI and  stressed the &ldquo;critical importance&rdquo; to the Copenhagen  outcome of high quality and timely reporting of inventories, policies and  measures. </p>
                               <p class="textstory">Sweden, for the EU,  identified the need to focus on items that could move parties towards a global,  ambitious and comprehensive outcome in Copenhagen  and suggested giving priority to the fourth review of the financial mechanism  under the SBI. </p>
                               <p class="textstory">Switzerland, for the  ENVIRONMENTAL INTEGRITY GROUP, emphasized that the Copenhagen outcome will be negotiated under  the AWG-LCA and the AWG-KP. He said the Subsidiary Bodies will play an  important role when methodological and technical details will be considered in  a second step next year. </p>
                               <p class="textstory">Lesotho, for the LDCs, stressed the need to fully implement the LDC work  programme, in particular, national adaptation programmes of action (NAPAs). </p>
                               <p class="textstory">Sudan, for the G-77/CHINA, expressed concern over lack of progress on  capacity building under the Convention and the Protocol, and drew attention to  financial and technical constraints related to non-Annex I communications. He  lamented the failure by developed countries to meet their commitments.</p>
                               <p class="textstory">Grenada, for AOSIS, called for progress on agenda items facilitating the  adaptation of SIDS to climate change. Algeria, for the AFRICAN GROUP,  underscored the central importance of funding from public sources that is  additional, adequate, predictable and sustainable. TIMOR LESTE said that  financing should be transparent and easy to access through a short process.</p>
                               <p class="textstory"><strong>FINANCIAL MECHANISM: Fourth review of the  financial mechanism:</strong> The Secretariat introduced the  issue (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/misc10.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/Misc.10</a>).&nbsp; </p>
                               <p class="textstory">The G-77/CHINA  said the fourth review provides an opportunity to look at gaps in  implementation of obligations in a comprehensive manner. The LDCs emphasized  dissatisfaction with implementation of the LDC work programme, stressing that  funding should not be restricted to NAPAs. CHINA said developed countries must  significantly increase their contributions to the fifth replenishment and  reform the Global Environment Facility (GEF) to improve its capacity to  facilitate implementation post-2012. </p>
                               <p class="textstory">The EU welcomed  review and guidance ahead of the conclusion of the fifth replenishment, noting  the review should provide the basis for progressively defining the role of the  GEF in the architecture being defined under the AWG-LCA.</p>
                               <p class="textstory"><strong>Report of the  GEF:</strong> The Secretariat introduced this item  (<a href="http://unfccc.int/resource/docs/2009/cop15/eng/09.pdf" target="_blank" class="linknegro">FCCC/CP/2009/9</a>) and the GEF presented on its report. Highlighting the US$ 2.7  billion already invested in mitigation, GEF Chair Monique Barbut emphasized GEF  reform around four focal points: response to Convention guidance; country  ownership; effectiveness and efficiency; and the fifth replenishment. </p>
                               <p class="textstory">SWITZERLAND supported the GEF&rsquo;s role as the operating entity of the financial  mechanism and as a catalyst for leveraging finance, noting that it was crucial  to improve performance. Algeria,  for the AFRICAN GROUP, said GEF reforms are encouraging but inadequate, noting  the need to strengthen urgent priorities for beneficiaries. BARBADOS acknowledged ongoing work  to improve the GEF resource allocation framework and called for a strong fifth  replenishment.</p>
                               <p class="textstory">BENIN highlighted the need for closer linkages between the GEF focal  points and the UNFCCC. Noting positive GEF reforms resulting in increased  access to funds for LDCs, the GAMBIA  expressed hope that the fifth replenishment would enhance funding under the LDC  Fund. SYRIA  called for a reconsideration of financial resource allocation, particularly for  adaptation projects. </p>
                               <p class="textstory">Sudan, for the G-77/CHINA, highlighted concerns relating to  predictability and adequacy of funding. With MALI,  RWANDA, ANTIGUA AND BARBUDA, and TIMOR-LESTE, she  opposed the co-financing requirement, which she said is particularly burdensome  for LDCs. UGANDA  supported monitoring and evaluation of implementing agencies. </p>
                               <p class="textstory"><strong>Assessment of  the Special Climate Change Fund (SCCF):</strong> Zaheer  Fakir (South Africa) and  Cecilia Lei (Canada)  will co-chair a contact group on this issue. </p>
                               <p class="textstory"><strong>ANNEX I  NATIONAL COMMUNICATIONS: National greenhouse gas inventory data for 1990-2007:</strong> The Secretariat introduced the issue (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/12.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/12</a>).</p>
                               <p class="textstory"><strong>Review of  fourth national communications and preparation of fifth national  communications:</strong> The Secretariat introduced the  issue (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/l09.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/INF.9</a>). Anke Herald (Germany)  and Quamrul Islam Chowdhury (Bangladesh)  will co-chair a contact group on both items.</p>
                               <p class="textstory"><strong>REPORTING AND  REVIEW OF INFORMATION FROM ANNEX I PARTIES UNDER THE PROTOCOL:</strong> The Secretariat introduced the issue (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/inf08.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/INF.8</a>). Anke  Herald (Germany) and Quamrul  Islam Chowdhury (Bangladesh)  will co-chair a contact group.</p>
                               <p class="textstory"><strong>ANNUAL  COMPILATION AND ACCOUNTING REPORT FOR PROTOCOL ANNEX B PARTIES:</strong> The Secretariat introduced the item (<a href="http://unfccc.int/resource/docs/2009/cmp5/eng/15.pdf" target="_blank" class="linknegro">FCCC/KP/CMP/2009/15</a> and  <a href="http://unfccc.int/resource/docs/2009/cmp5/eng/15a01.pdf" target="_blank" class="linknegro">Add.1</a>). Anke Herald (Germany)  and Quamrul Islam Chowdhury (Bangladesh)  will co-chair a contact group.</p>
                               <p class="textstory"><strong>NON-ANNEX I  NATIONAL COMMUNICATIONS:</strong> Chair Bratasida reported  on agreement by the main negotiation groups to defer sub-agenda items on  provision of financial and technical support and further implementation of  Convention Article 12.5 (initial and subsequent national communications) to SBI  32. She said additional guidance to the GEF relating to financial and technical  support for non-Annex I national communications would be discussed by the  contact group on the financial mechanism. </p>
                               <p class="textstory">Brazil, for the G-77/CHINA, highlighted problems faced by non-Annex I  parties in preparing their national communications, particularly with regard to  access to funding through the GEF. He said the GEF replenishment should be  driven by all parties, not just by the GEF Governing Council, and involve  active participation of recipient countries. MAURITANIA identified some needs to  be addressed, such as support for assessing levels of emissions.</p>
                               <p class="textstory"><strong>&nbsp;CONVENTION ARTICLE 4.8 AND 4.9 (ADVERSE EFFECTS):  Matters related to LDCs:</strong> The LDC Expert Group (LEG)  reported on its work (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/13.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/13</a>). MALI stressed the importance of  building capacity to implement NAPA-related activities in different countries. Lesotho,  for the LDCs, lamented that the level of funding available under the LDC Fund  is insufficient to meet the costs of implementing submitted NAPAs. Rence Sore (Solomon Islands)  will consult informally.</p>
                               <p class="textstory"><strong>Progress on  the implementation of decision 1/CP.10 (Buenos    Aires Programme of Work):&nbsp; </strong>The Secretariat  introduced the item (FCCC/SBI/2009/MISC.11/Rev.1). Chair Bratasida reported  that she had developed draft decision text as mandated by SBI 30, but noted  that time constraints would not allow in-depth consideration of the text. She  said that at this session parties would be invited to take note of the draft  text. Thinley Namgyel (Bhutan)  will chair a contact group.</p>
                               <p class="textstory"><strong>CAPACITY BUILDING (CONVENTION):</strong> Chair Bratasida reported  on agreement to defer consideration of this agenda item to SBI 32 and said she would  prepare a draft COP decision. </p>
                               <p class="textstory"><strong>CAPACITY BUILDING (PROTOCOL):</strong> Chair Bratasida reported on  agreement to defer consideration of this agenda item to SBI 32 and said she  would prepare a draft COP/MOP decision.</p>
                               <p class="textstory"><strong>PROTOCOL  ARTICLE 3.14 (ADVERSE EFFECTS):</strong> Chair Bratasida  noted constructive discussions at SBI 30 and said discussions will continue  based on annex IV of the Report of SBI 30 (FCCC/SBI/2009/8, annex IV). A joint  SBI/SBSTA contact group on Protocol Articles 3.14 and 2.3 will be co-chaired by  Kristin Tilley (Australia)  and Eduardo Calvo Buendia (Peru). </p>
                               <p class="textstory"><strong>INTERNATIONAL  TRANSACTION LOG (ITL):</strong> The SBI took note of the  information (<a href="http://unfccc.int/resource/docs/2009/cmp5/fre/19f.pdf" target="_blank" class="linknegro">FCCC/KP/CMP/2009/19</a>). </p>
                               <p class="textstory"><strong>ADMINISTRATIVE, FINANCIAL AND INSTITUTIONAL MATTERS: Budget  performance in the biennium 2008-2009: </strong>UNFCCC  Executive Secretary de Boer reported on budget performance in 2008-2009  (FCCC/SBI/2009/11, INF.10 and Corr.1). The SBI Chair will draft SBI conclusions  and draft COP 15 and COP/MOP 5 decisions.&nbsp; </p>
                               <p class="textstory"><strong>Continuing review of the Secretariat&rsquo;s functions and operation: </strong>The SBI took note of the information presented by UNFCCC Executive  Secretary de Boer.</p>
                               <p class="textstory"><strong>Privileges and Immunities: </strong>On this issue  (FCCC/SBI/2009/8), the Secretariat explained that the SBI would be invited to  refer the draft treaty arrangements to COP/MOP 5. Dessima Williams (Grenada)  will consult informally.</p>
                               <p class="textstory"><strong>TECHNOLOGY  TRANSFER:</strong> The Secretariat introduced the item  (<a href="http://unfccc.int/resource/docs/2009/sb/eng/04sum.pdf" target="_blank" class="linknegro">FCCC/SB/2009/4 and Summary</a>, INF.6, and <a href="http://unfccc.int/resource/docs/2009/sbi/eng/14.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/14</a>). The Expert Group on  Technology Transfer (EGTT) presented its 2009 report (<a href="http://unfccc.int/resource/docs/2009/sb/eng/inf06.pdf" target="_blank" class="linknegro">FCCC/SB/2009/INF.6</a>), as  well as its report on performance indicators (<a href="http://unfccc.int/resource/docs/2009/sb/eng/04sum.pdf" target="_blank" class="linknegro">FCCC/SB/2009/4  and Summary</a>). The GEF reported on progress made in  implementing the Pozna&#324;  strategic programme on technology transfer (<a href="http://unfccc.int/resource/docs/2009/sbi/eng/14.pdf" target="_blank" class="linknegro">FCCC/SBI/2009/14</a>). </p>
                               <p class="textstory">Carlos Fuller (Belize) and Holger Liptow (Germany) will co-chair a joint  SBI/SBSTA contact group to consider issues of common interest.&nbsp; </p>
                               <p class="textstory"><em><strong>SBSTA </strong></em></p>
                               <p class="textstory">SBSTA Chair Helen  Plume (New Zealand)  opened SBSTA 31 and parties adopted the agenda (FCCC/SBSTA/2009/4) and agreed  to the proposed organization of work. </p>
                               <p class="textstory"><strong>OPENING  STATEMENTS: </strong>Sudan,  for the G-77/CHINA, noted the report on progress in implementing the Nairobi  Work Programme on Impacts, Vulnerability and Adaptation (NWP). She supported  the Third World Climate Conference statement calling for strengthening the  Global Climate Observing System.</p>
                               <p class="textstory">Grenada, for AOSIS, urged SBSTA to prepare a draft COP decision on REDD and  REDD-plus. Australia,  for the UMBRELLA GROUP, highlighted REDD and carbon capture and storage (CCS)  under the CDM. Sweden, for  the EU, as well as INDONESIA,  SIERRA LEONE, the PHILIPPINES  and ZAMBIA  called for SBSTA 31 to prioritize REDD. </p>
                               <p class="textstory"><strong>TECHNOLOGY  TRANSFER: </strong>The Secretariat introduced the item  (FCCC/SB/2009/4, Summary and INF.6). EGTT Chair Arthur Rolle reported on the  EGTT&rsquo;s work, highlighting documents on implementation of work in 2009 and  performance indicators. Holger Liptow (Germany)  and Carlos Fuller (Belize)  will co-chair a joint SBI/SBSTA contact group.</p>
                               <p class="textstory"><strong>PROTOCOL  ARTICLE 2.3 (ADVERSE EFFECTS):</strong> Parties agreed to  base discussions on Annex III of the SBSTA 30 report (FCCC/SBSTA/2009/3, Annex  III) and focus on options that are likely to be agreed. Kristin Tilley (Australia) and Eduardo Calvo Buendia (Peru)  will co-chair a joint SBI/SBSTA contact group on Protocol Articles 2.3 and  3.14.</p>
                               <p class="textstory"><strong>NAIROBI WORK PROGRAMME: </strong>The Secretariat  introduced this item (FCCC/SBSTA/2009/5, 6, 7, INF.5, MISC.9/Rev.1, MISC.10,  and FCCC/TP/2009/2). The CONVENTION ON BIOLOGICAL DIVERSITY (CBD) reported on  the Expert Group on Biodiversity and Climate Change. The IPCC reported on the  contribution of the Task Group on Data and Scenario Support for Impact and  Climate Analysis. The International Federation of Agricultural Producers, for  FARMERS NGOs, proposed a programme of work on agriculture. </p>
                               <p class="textstory">Kishan Kumarsingh  (Trinidad and Tobago) and  Don Lemmen (Canada)  will co-chair a contact group.</p>
                               <p class="textstory"><strong>REDD:</strong> Chair Plume urged parties not to mix technical discussions under  the SBSTA with policy-related discussions under the AWG-LCA. The COLLABORATIVE  PARTNERSHIP ON FORESTS outlined recommendations from the World Forestry  Congress. The CBD said REDD methodologies based only on net deforestation rates  could fail to reflect actual change in carbon stocks and to deliver  biodiversity co-benefits. BANGLADESH  and others called for consideration of participation of indigenous peoples.  PAPUA NEW GUINEA supported creation of an instrument that works for countries  reducing their deforestation rates, protecting existing forest and increasing  forest area. Switzerland,  for the ENVIRONMENTAL INTEGRITY GROUP, recommended a decision allowing SBSTA to  continue methodological work after the COP. The PHILIPPINES and others recommended  that the SBSTA consider drivers of deforestation. TANZANIA  and MALI  called for REDD methodologies to consider benefits for local communities. BURKINA FASO and SENEGAL emphasized consideration of  all types of forest for REDD. </p>
                               <p class="textstory">Lilian Portillo (Paraguay) and Audun Rosland (Norway) will co-chair a contact  group to develop draft conclusions and a draft decision.</p>
                               <p class="textstory"><strong>RESEARCH AND  SYSTEMATIC OBSERVATION:</strong> The Secretariat introduced  the item (FCCC/SBSTA/2009/MISC.12). The WORLD METEOROLOGICAL ORGANIZATION  outlined the results of the Third World Climate Conference to develop a Global  Framework for Climate Services and the GLOBAL CLIMATE OBSERVING SYSTEM (GCOS)  reported on its updated Implementation Plan, noting that the additional annual  cost of a fully effective GCOS will be US$ 2.1 billion. </p>
                               <p class="textstory">The COMMITTEE ON  EARTH OBSERVATION SATELLITES outlined its priorities and identified earth  observation satellite data as a public good. </p>
                               <p class="textstory">CHINA, TAJIKISTAN, EGYPT  and SUDAN supported a  greater focus on the needs of developing countries in terms of observing  systems, and BURUNDI, KUWAIT and SAUDI ARABIA highlighted the  importance of early warning systems. Chair Plume will prepare draft  conclusions. </p>
                               <p class="textstory"><strong>METHODOLOGICAL  ISSUES (CONVENTION): Review of Annex I greenhouse gas inventories: </strong>The Secretariat introduced the item (FCCC/SBSTA/2009/INF.4). The  SBSTA took note of the annual report and Chair Plume will prepare procedural draft  conclusions for consideration at SBSTA&rsquo;s closing plenary on 12 December. </p>
                               <p class="textstory"><strong>Emissions from  international aviation and maritime transport:</strong> The  INTERNATIONAL CIVIL AVIATION ORGANIZATION (ICAO) and the INTERNATIONAL MARITIME  ORGANIZATION (IMO) reported on their work. CHINA and others stressed that  actions in these sectors should be in line with the principle of common but  differentiated responsibilities. The BAHAMAS supported IMO and ICAO  remaining the only bodies regulating emissions from international aviation and  maritime transport. Chair Plume will prepare draft conclusions.</p>
                               <p class="textstory"><strong>METHODOLOGICAL  ISSUES (PROTOCOL):</strong> <strong>Implications of new HCFC-22  facilities seeking to obtain certified emission reductions for the destruction  of HFC-23:</strong> Chair Plume noted lack of consensus on this issue since SBSTA  26. Samuel Adejuwon (Nigeria)  will consult informally. </p>
                               <p class="textstory"><strong>CCS under the  CDM: </strong>BRAZIL, PARAGUAY and Grenada, for AOSIS, opposed CCS under the CDM at  this time, while AUSTRALIA, SAUDI ARABIA, JAPAN,  KUWAIT  and the EU supported its inclusion. QATAR  and others said CCS should be approved in Copenhagen.  Chair Plume proposed holding informal consultations. SAUDI ARABIA preferred a contact  group. Chair Plume will consult informally on how to proceed.</p>
                               <p class="textstory"><strong>Common  metrics:</strong> Mikhail Gytarsky (Russian Federation) will conduct  informal consultations to prepare draft conclusions.</p>
                               <p class="textstory"><em><strong>CONTACT GROUPS AND INFORMAL CONSULTATIONS</strong></em></p>
                               <p class="textstory"><strong>ANNEX I EMISSION REDUCTIONS (AWG-KP): </strong>Co-Chair  Leon Charles (Grenada)  opened the morning&rsquo;s contact group on &ldquo;numbers.&rdquo; The contact group agreed on  their work programme in Copenhagen  and created a smaller group to address the length and number of commitment  periods and base year. Co-Chair Charles emphasized that five issues need to be  resolved: a reasonable level of ambition for aggregate and individual Annex I  emission reductions; clarity on use of the flexibility mechanisms and LULUCF in  the pledges on the table; the length and number of commitment periods (whether  five or eight years); a legally-binding base year and other reference years;  and starting points for translating pledges into quantified emission limitation  and reduction objectives (QELROs).</p>
                               <p class="textstory">The  Secretariat presented the updated informal note compiling information relating  to possible QELROs as submitted by parties, highlighting improved clarity on  the impact of use of mechanisms and LULUCF on pledges, as well as on the pledge  by Kazakhstan  to reduce emissions by 15% by 2020 from 1992 levels. </p>
                               <p class="textstory">The  EU requested information on whether carrying over Assigned Amount Units (AAUs)  from the first to the second commitment period was included as an assumption in  the emission reduction range in the IPCC&rsquo;s Fourth Assessment Report of 25-40%  from 1990 levels, in order to further clarify the relation between level of  ambition and what is required by science. The RUSSIAN FEDERATION highlighted its  recent pledge to reduce emissions by 20-25% from 1990 levels by 2020. The Federated States of Micronesia,  for AOSIS, emphasized the gap between what is required by science and the  13-19% aggregate reduction reflected by the current pledges. She stressed that  this level of ambition is far from the pathway desired by vulnerable countries.</p>
                               <p class="textstory"><strong>&nbsp;OTHER ISSUES (AWG-KP): </strong>During the first contact group meeting, discussions focused on how  to organize the group&rsquo;s work. AWG-KP Vice-Chair Harald Dovland (Norway)  reminded parties that the focus is on preparing draft COP/MOP decisions or  Protocol amendments. He outlined the division of the group&rsquo;s work into the  basket of methodological issues, the flexibility mechanisms and LULUCF. He said  discussions on the basket of methodological issues (comprising possible new  greenhouse gases, common metrics to calculate carbon dioxide equivalence of  emissions by sources and removals by sinks, and the 2006 IPCC Guidelines for National  Greenhouse Gas Inventories), would be based on Annex III of document  <a href="http://unfccc.int/resource/docs/2009/awg10/eng/10a03r03.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/10/Add.3/Rev.3</a> (elements of draft COP/MOP decisions on other  issues). On common metrics, Vice-Chair Dovland noted a potential overlap with  the SBSTA&rsquo;s work. </p>
                               <p class="textstory">Vice-Chair  Dovland then highlighted paragraph 49(c)(xii) of the report of AWG-KP 6  (analysis of efforts and achievements to date, including during the first  commitment period), and indicated that following consultations delegates had  agreed to deal with the issue in the &ldquo;numbers&rdquo; group rather than by the other  issues group.</p>
                               <p class="textstory">&nbsp;On the flexibility mechanisms, he said the aim  would be to clean up the text of the draft decisions (Annex III of document  <a href="http://unfccc.int/resource/docs/2009/awg10/eng/10a03r03.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/10/Add.3/Rev.3</a>). Parties also agreed to continue work on  LULUCF through a spin-off group co-facilitated by Bryan Smith (New Zealand) and Marcelo Rocha (Brazil).</p>
                               <p class="textstory"><strong>&nbsp;LONG-TERM COOPERATIVE ACTION  (AWG-LCA): </strong>Parties established drafting groups on:</p>
                               <ul>
                                 <li class="textstory">shared  vision, facilitated by Sandea de Wet (South Africa); </li>
                                 <li class="textstory">finance,  co-facilitated by Farrukh Khan (Pakistan)  and Jukka Uosukainen (Finland); </li>
                                 <li class="textstory">technology,  co-facilitated by Kishan Kumarsingh (Trinidad and   Tobago) and Kunihiko Shimada (Japan);</li>
                                 <li class="textstory">capacity  building, co-facilitated by Lilian Portillo (Paraguay)  and Georg B&oslash;rsting (Norway);  and</li>
                                 <li class="textstory">adaptation, co-facilitated by William Kojo Agyemang-Bonsu (Ghana) and Thomas Kolly (Switzerland).</li>
                                 <li class="textstory">&nbsp;On mitigation, Chair Zammit Cutajar suggested  that drafting groups will meet on: </li>
                                 <li class="textstory">nationally  appropriate mitigation actions (NAMAs), supported by public finance,  facilitated by Margaret Mukahanana-Sangarwe (Zimbabwe); </li>
                                 <li class="textstory">REDD-plus,  facilitated by Tony La Vi&ntilde;a  (the Philippines); </li>
                                 <li class="textstory">general  aspects of sectoral approaches and the agricultural sector, facilitated by  Magdalena Preve (Uruguay);  and </li>
                                 <li class="textstory">response measures, facilitated by Richard Muyungi (Tanzania). </li>
                               </ul>
                               <p class="textstory">Chair Zammit  Cutajar further explained that mitigation issues not considered by drafting  groups will first be addressed in closed informal consultations under his  chairmanship. </p>
                               <p class="textstory">Chair Zammit Cutajar also proposed that consultations be conducted  on non-market approaches to cost-effectiveness, facilitated by Maria del Socorro Flores (Mexico), and the crosscutting  issues such as sources and scales of adaptation funding, and matching NAMAs  with support. Chair Zammit Cutajar will also consult parties bilaterally on the  legal form of the outcome. </p>
                               <p class="textstory">AUSTRALIA suggested considering institutional  arrangements and MRV as crosscutting issues, while BARBADOS expressed concern with the  latter suggestion. SAUDI ARABIA  underlined the importance of negotiating &ldquo;the full package&rdquo; and several  countries, including the EU, JAPAN  and CUBA,  called for ensuring coherence. </p>
                               <p class="textstory">The G-77/CHINA, with BOLIVIA  and ALGERIA,  expressed concern with the proliferation of groups. EGYPT  noted that substance should be discussed before interlinkages and, with VENEZUELA,  stressed that there should be &ldquo;one outcome in one process&rdquo; and not &ldquo;different  outcomes in different processes.&quot;</p>
                               <p class="textstory">The EU noted the importance of discussing HFCs and bunker fuels, and  AUSTRALIA, with MALAWI,  proposed establishing a drafting group on bunker fuels. BARBADOS highlighted the need to  consider a mechanism to address loss and damage.</p>
                               <p class="textstory"><strong>POTENTIAL  CONSEQUENCES (AWG-KP):</strong> In the afternoon contact  group, parties moved forward with a second reading of the text  (<a href="http://unfccc.int/resource/docs/2009/awg10/eng/12r02.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/12/Rev.2</a>). </p>
                               <p class="textstory">The EU stressed  that it is premature to decide whether the text will become a COP/MOP decision  or conclusions, while South    Africa, for the G-77/CHINA, hoped that they  would achieve more than a conclusion. </p>
                               <p class="textstory">Parties then  moved bracket-by-bracket through the text, discussing paragraphs under framing  of the work, vulnerability and ability to respond to the impacts of potential  consequences, and deepening understanding. </p>
                               <p class="textstory"><strong>SHARED VISION  (AWG-LCA):</strong> During morning informal consultations,  parties discussed whether to use non-paper No. 33, resulting  from the discussions in Bangkok, or No. 43 from Barcelona, as the basis  for negotiations. Several parties said their earlier  proposals were not reflected in the non-papers. Informal consultations  continued in the afternoon.</p>
                               <p class="textstory"><strong>MITIGATION  (AWG-LCA): </strong>In the afternoon informal consultations  on mitigation, parties commented on issues not addressed by drafting groups  such as: mitigation by developed countries, market-based mechanisms, autonomous  measures by developing countries, and maritime and aviation emissions. </p>
                               <p class="textstory">Developing  countries said drafting work should begin on sub-paragraph 1(b)(i) of the BAP  as soon as possible, suggesting comparability of efforts as a starting point.  Some countries proposed focusing on targets. A party underlined the importance  of developed country mitigation in line with science and in a legally-binding  form. Several developing countries stressed that bunker fuels should be addressed  under the Protocol. Some developed countries proposed also discussing common  mitigation frameworks contained in non-paper No. 28. </p>
                               <p class="textstory">A drafting group  on mitigation by developed countries will be launched and bilateral  consultations will be conducted on bunker fuels and on market-based  approaches.&nbsp; </p>
                               <p class="textstory"><strong>Mitigation by  developing countries (AWG-LCA):</strong> Afternoon informal consultations on  mitigation by developing countries under sub-paragraph 1(b)(ii) of the BAP  focused on NAMAs supported by public finance. Parties conducted the first  reading of the sections on support and enabling activities for NAMAs, and a  NAMA mechanism in non-paper No. 51. Discussions focused, <em>inter alia</em>, on  the role of low-carbon emission strategies in relation to NAMAs, with several  developed countries supporting the strategies and several developing countries  opposing them. On a NAMA mechanism, a group of  developing countries supported the option that proposes establishing a registry  for actions and support.&nbsp;</p>
                               <p class="textstory"><strong>FINANCE  (AWG-LCA):</strong> During informal consultations parties  discussed institutional arrangements reflected in non-paper No.54. Debate  centered on whether to &ldquo;operationalize&rdquo; or &ldquo;strengthen&rdquo; the financial mechanism  of the Convention, with delegates unable to agree on this. A proposal was made  for several parties to meet informally to reach agreement. </p>
                               <p class="textstory"><strong>TECHNOLOGY  (AWG-LCA):</strong> The informal drafting group on  technology met in the morning and afternoon. Parties discussed common elements  to be captured in a new text, including: a technology mechanism or platform;  centers and networks; a country-driven approach and; financial support for  eligible activities. A revised, concise non-paper will be produced for  Wednesday. </p>
                               <p class="textstory"><strong>REDD (SBSTA):</strong> In the contact group on REDD, parties discussed the draft COP  decision text in Annex I of document FCCC/SBSTA/2009/3. INDONESIA and the EU called for  clarification on the division of work on REDD under the SBSTA and AWG-LCA.  PAPUA NEW GUINEA, CHILE, Switzerland,  for the ENVIRONMENTAL INTEGRITY GROUP, and others said discussion on reference  levels should be a priority. GUYANA  and COLOMBIA  stressed the need to create opportunities for countries with low deforestation  rates to participate. BRAZIL  and the EU called for national forest monitoring systems. BRAZIL expressed concern with  language on independent review. NEW ZEALAND,  the US, INDIA, the ENVIRONMENTAL INTEGRITY GROUP, PERU and others said language on independent  review is needed, while CHINA  suggested that discussion of review occur under the AWG-LCA. PARAGUAY, COLOMBIA and others supported text  on engagement of indigenous peoples.</p>
                               <p class="textstory">Informal  consultations will begin on Wednesday.</p>
                               <p class="textstory"><em><strong>IN THE CORRIDORS</strong></em></p>
                               <p class="textstory">Much of the buzz  in the corridors on Tuesday afternoon and evening was focused on the Danish  text for a political &ldquo;Copenhagen Agreement under the UNFCCC,&rdquo; which was leaked  publicly by the UK&rsquo;s <em>Guardian</em> newspaper. The initial reaction by many parties and observers  was excitement as rumors about the &ldquo;secret&rdquo; Danish text were finally confirmed.  Many therefore rushed to download or print out the document and study it. Some  developing country delegates seemed angry at what they characterized as a  &ldquo;secretive&rdquo; and &ldquo;non-transparent&rdquo; initiative. &ldquo;This would amount to hijacking  the high-level segment and giving our leaders the impression that we have done  nothing the whole year,&rdquo; alleged one developing country delegate. </p>
                               <p class="textstory">However, most  veterans and observers close to the process were more interested in knowing  &ldquo;which version&rdquo; of the text was leaked, and whether it was in fact the document  they had already seen in November. &ldquo;Some changes, but nothing  earth-shattering,&rdquo; commented a veteran developing country negotiator when shown  the so-called &ldquo;new&rdquo; leaked version. </p>
                               <p class="textstory">Reactions to the  implications of the leak and the substance varied. &ldquo;Now it is all out in the  open - all the sensitive issues, everything. Maybe it will end up having a  positive impact now that everyone has seen the text early on,&rdquo; was a comment  that summed up some participants&rsquo; views. However, others expressed &ldquo;outrage&rdquo;  about what they saw as weakness in terms of substance and legal form: &ldquo;A  political agreement with little substance, for instance, no range for developed  countries&rsquo; emission reductions in the text on a global long-term goal, is not  strong enough,&rdquo; commented one observer. </p>
                               <p class="textstory">Others began  speculating about how many more texts would be tabled during the Conference as  rumors spread that several negotiating groups and <em>ad hoc</em> coalitions were  in the process of drafting their own texts. &ldquo;I&rsquo;m aware of four different  initiatives,&rdquo; confessed an insider, &ldquo;And the last thing we want is a beauty  contest over competing texts.&rdquo; &ldquo;I wonder if we&rsquo;ll end up with the COP  Presidency tabling a &lsquo;take it or leave it&rsquo; text at some point?&rdquo; asked one  participant. </p>
                               <p class="textstory">Meanwhile, some  delegates were also discussing news that the US Environmental Protection Agency  would be able to regulate greenhouse gas emissions under the Clean Air Act  since they were now considered a threat to health. Some were speculating  whether this might affect the US  level of ambition. &ldquo;At a minimum it provides needed momentum and might provide  flexibility in the US  negotiating position,&rdquo; opined one civil society participant. However, others  suggested that increased ambition is unlikely without concrete action by the US  Congress.&nbsp;&nbsp;</p>                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
       <br />
       <br />
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, the United Nations Environment Programme (UNEP), and the World Bank. Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at the Copenhagen Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
