<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CANCUN HIGHLIGHTS, Friday, 3 December 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, CANCUN HIGHLIGHTS, Friday, 3 December 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12492e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12492f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12492s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12492j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 492 - Saturday, 4 December 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">CANCUN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Friday, 3 December 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">Throughout Friday, a number of  contact groups and informal consultations convened under the COP/MOP, SBI,  SBSTA, AWG-LCA and AWG-KP.</p>
                               <p class="textstory"><strong><em>CONTACT GROUPS AND INFORMAL CONSULTATIONS </em></strong></p>
                               <p class="textstory"><strong>PARTIES&rsquo; PROPOSALS UNDER  CONVENTION ARTICLE 17 (protocols) (COP): </strong>Chair Michael Zammit Cutajar  (Malta) opened the first contact group meeting. He explained that five  proposals were submitted under Convention Article 17 before COP 15 by  Australia, Costa Rica, Japan, the US and Tuvalu, and a sixth proposal was made  by Grenada for AOSIS in 2010. </p>
                               <p class="textstory">GRENADA stressed the importance of:  having a process for considering the legal form; working under the AWG-LCA; and  establishing a second commitment period under the Kyoto Protocol. He said the  AOSIS proposal for a new protocol: covers all elements of the Bali Action Plan  as well as other critical elements; represents a compromise among AOSIS  members; and also reflects many other parties&rsquo; views. </p>
                               <p class="textstory">JAPAN said the contact group&rsquo;s work  should not duplicate parties&rsquo; efforts and noted that his country&rsquo;s proposal for  a new protocol is for a single legally-binding instrument. </p>
                               <p class="textstory">AUSTRALIA said achieving the 2&deg;C  target necessitates broader participation than the Kyoto Protocol. She stressed  the need for legally-binding commitments by all major economies with  differentiation between developed and developing countries. She highlighted  Australia&rsquo;s proposal for national schedules, saying these could take into  account different national circumstances, as well as the full range of parties&rsquo;  mitigation efforts. AUSTRALIA stressed the AWG-LCA&rsquo;s central role and called  for COP decisions from Cancun outlining a way forward towards a legally-binding  outcome.</p>
                               <p class="textstory">TUVALU and COSTA RICA stressed that  their countries&rsquo; proposals are not intended to replace the Kyoto Protocol.  TUVALU explained that his country&rsquo;s proposal contains provisions on: mitigation  by developed and developing countries; adaptation; risk-management and  risk-reduction; technology; a fund with different funding windows; and  immunities for persons serving under various bodies to be established. On the  way forward, he stressed the contact group as the way to consider how to  achieve a legally-binding outcome.</p>
                               <p class="textstory">COSTA RICA underscored that his  country&rsquo;s proposal reflects the full spectrum of parties&rsquo; views and includes a  global approach under which all countries mitigate their greenhouse gas (GHG)  emissions and adequate support will be provided for adaptation. He called for a  mandate to work towards the adoption of a legally-binding instrument at COP  17.&nbsp; </p>
                               <p class="textstory">The US indicated that his country  &ldquo;continues to like&rdquo; many of the elements in the proposal submitted in 2009,  including its provisions on mitigation. He explained that the context of the  proposal was to ensure that the legal basis was available for parties to adopt  a new protocol reflecting the AWG-LCA&rsquo;s work in Copenhagen. He underscored  overlap between proposals under this agenda item and the AWG-LCA&rsquo;s work. With  INDIA, he urged giving priority to the AWG-LCA.</p>
                               <p class="textstory">INDIA stated that legal  &ldquo;bindingness does not only come from a protocol,&rdquo; explaining that the Berlin  Mandate, Marrakesh Accords and the Bali Action Plan have all been decisions and  parties have felt bound by them. Saying that consideration of this issue is  premature, INDIA reminded delegates that during negotiations for the Kyoto  Protocol, &ldquo;the form came last after the substance had been clarified.&rdquo;</p>
                               <p class="textstory">The EU called for clarifying, in  Cancun, that the intention is to work towards a legally-binding outcome under  the AWG-LCA. He elaborated that this means the outcome should not be in the  form of decisions, but in the form of protocols and amendments. The EU  reiterated willingness to commit to a second commitment period under the Kyoto  Protocol in the context of a comprehensive global outcome.</p>
                               <p class="textstory">CHINA underlined that proposals by  AOSIS, Costa Rica and Tuvalu are being fully considered under the AWG-LCA and  questioned how the legal outcome can be addressed without clear understanding  of the substance. </p>
                               <p class="textstory">SINGAPORE and several other AOSIS  members stated that the AWG-LCA&rsquo;s outcome must be a global and comprehensive  legally-binding agreement that is complementary to the Kyoto Protocol. Several  parties also identified the need for a channel for constructive dialogue on  legal issues. SAINT LUCIA called for a decision setting out the process towards  a legally-binding outcome, indicated that the agenda item should remain open  and suggested that the COP Presidency consider an inter-sessional process. The  MARSHALL ISLANDS presented detailed suggestions, including extending the  AWG-LCA&rsquo;s mandate to take into account elements from proposals under Convention  Article 17.</p>
                               <p class="textstory">SOUTH AFRICA identified lack of  clarity on the legal form of the AWG-LCA&rsquo;s outcome as the &ldquo;elephant in the  room&rdquo; and COLOMBIA identified it as one of the problems preventing success in  Copenhagen. SOUTH AFRICA supported an outcome consisting of a legally-binding  instrument from both the AWG-KP and the AWG-LCA tracks, and stressed that the  &ldquo;bigger blueprint&rdquo; would be best addressed by the COP Presidency. NORWAY  identified broad agreement on the need for a legally-binding instrument, while  saying work towards this goal should not duplicate efforts.&nbsp; </p>
                               <p class="textstory">BOLIVIA stressed the mandate to  finalize work under the two negotiating tracks, indicated that the  consideration of a new instrument is premature and suggested focusing on  substance. The PHILIPPINES said his country remains &ldquo;agnostic&rdquo; and that  decision on the legal form of the outcome depends on various issues. He expressed  preference for an immediately-operational instrument and emphasized the need  for continuation of the Kyoto Protocol.</p>
                               <p class="textstory">Chair Zammit Cutajar noted that  many views were familiar from previous discussions on the legal form, saying  that parties continue to hold different views on the two-track process, as well  as on what constitutes a &ldquo;legally-binding outcome.&rdquo; He also indicated that  contact groups, such as this, are sessional bodies and their &ldquo;life&rdquo; ends at the  end of the COP, while the Presidency continues during the inter-sessional  period. He underscored, however, that the agenda item will remain open beyond  COP 16, and stressed that the most important thing is that the issue is not  &ldquo;lost&rdquo; and that there is a space to discuss it.</p>
                               <p class="textstory">Chair Zammit Cutajar concluded that  the morning&rsquo;s discussions are part of the &ldquo;big picture&rdquo; and the COP President  is in the best position to address the issue. He said that given parties&rsquo;  divergent views and the COP President&rsquo;s instructions to avoid duplication of  work, he will seek the COP Presidency&rsquo;s advice on how to continue. GRENADA  expressed disappointment at the Chair&rsquo;s decision not to convene informal  discussions in the afternoon. </p>
                               <p class="textstory"><strong>AGENDA ITEM 3 (Annex I further  commitments) (AWG-KP): </strong>AWG-KP Chair John Ashe (Antigua and Barbuda) opened  the contact group meeting, saying the purpose is to take stock of progress  made, particularly by the spin-off groups, as well as to consider the way  forward. The spin-off group facilitators then reported on progress.</p>
                               <p class="textstory">Spin-off group Co-Facilitator  Peter&nbsp;Iversen (Denmark) reported that the Chapter II spin-off group  (LULUCF) has focused on harvested wood products, wetlands and <em>force majeure</em>.  He explained that some progress has been made but that the group would benefit  from more time to continue its considerations. </p>
                               <p class="textstory">AWG-KP Vice-Chair Adrian&nbsp;Macey  (New Zealand) reported on work done on Chapters III (flexibility mechanisms)  and IV (basket of methodological issues). On the flexibility mechanisms, he  said the group had sought to identify areas where the current text could be  further refined and where possibilities existed to move towards consensus  text.&nbsp;AWG-KP Vice-Chair Macey said the group had refined options on the  possible inclusion of carbon capture and storage (CCS) under the CDM and that  parties are also consulting on the use of Certified Emission Reductions (CERs)  generated from projects in certain countries. Regarding the basket of  methodological issues,&nbsp;AWG-KP Vice-Chair Macey reported &ldquo;good engagement&rdquo;  on new GHGs and common metrics to calculate GHG equivalence, highlighting areas  in which the text has been streamlined. Regarding new GHGs, he reported growing  convergence on the inclusion of nitrogen trifluoride.</p>
                               <p class="textstory">Co-Facilitator&nbsp;Eduardo Calvo  Buend&iacute;a (Peru) reported on the spin-off group on Chapter V (potential  consequences), saying discussions have focused on resolving the remaining  differences regarding either establishing a permanent forum to address  potential consequences or using existing means, such as national  communications. He reported that as the proponents of the two options have not  agreed to retract either option, the current text remains unchanged and will be  forwarded to the AWG-KP Chair for further consideration.</p>
                               <p class="textstory">Co-Facilitator J&uuml;rgen&nbsp;Lefevere  (European Commission) reported on the spin-off group on Chapter I (numbers) and  highlighted that the group had focused on the following unresolved issues:  length of commitment period; base year and reference year; and carryover of  surplus AAUs. On the commitment period, he reported convergence on a single  commitment period but divergent views on whether this should be five or eight  years long. On base and reference years, he said parties had come close to a  possible compromise on having a single base year to calculate parties&rsquo; Assigned  Amounts and reference years for domestic purposes. He said a text had been  prepared on this issue, which enjoys broad support. On the carryover of surplus  AAUs, he said the co-facilitators have streamlined the current proposals into  three options: maintaining the current provisions or removing existing  provisions on carryover; limiting carryover such as through capping; or not  allowing carryover. </p>
                               <p class="textstory">Yemen, for the G-77/CHINA, stressed  that the continuation of the Kyoto Protocol is essential for addressing climate  change. He said the progress made so far in the consultations should be  captured in new text to help facilitate negotiations and move closer to a  &ldquo;success story&rdquo; in Cancun. The EU urged more progress on the discussions on  LULUCF and the carryover of surplus AAUs.</p>
                               <p class="textstory">AWG-KP Chair Ashe said the spin-off  groups would be given more time to enable them to complete their work,  reporting that additional meetings have been scheduled for the spin-off groups.  He also said he would report on progress made to the informal COP/MOP plenary  holding on Saturday. AWG-KP Chair Ashe further highlighted the need to address  the political elements which are key to reaching a balanced outcome and said he  would bring these elements to the attention of the COP/MOP President so that she  can determine how to take them forward. </p>
                               <p class="textstory"><strong>LULUCF (AWG-KP): </strong>In  afternoon informal consultations, parties considered a co-facilitators&rsquo;  non-paper, which provides two options for a LULUCF decision. Some parties  lamented that their proposals were not adequately reflected in the text. On a  definition of wetland management, some parties preferred a narrower definition,  focusing on anthropogenic rewetting and draining. </p>
                               <p class="textstory">Parties also discussed whether, in  the event of <em>force majeure</em>, all emissions from the disturbance would be  excluded, or only emissions above a threshold. Parties raised concerns about  lack of clarity on whether <em>force majeure</em> refers only to a single event  or an accumulation of events. Consultations will continue and a new text will  be released on Saturday.</p>
                               <p class="textstory"><strong>ADAPTATION FUND (COP/MOP):</strong> During morning informal  consultations, parties considered the draft terms of reference for the initial  review of the Adaptation Fund. </p>
                               <p class="textstory"><strong>MITIGATION (developed and  developing countries) (AWG-LCA): </strong>In the drafting group on mitigation,  parties considered text on co-facilitators' views on options for elements of  the outcome on mitigation by developed countries and mitigation by developing  countries. It was noted that text on MRV would be forthcoming. </p>
                               <p class="textstory">On mitigation by developed  countries, some parties preferred reference to commitments, while others  preferred targets. Some parties expressed concern about launching a process to  negotiate individual pledges and/or the assumptions and conditions underlying  them. </p>
                               <p class="textstory">On mitigation by developing  countries, some parties expressed concern about invitations for developing  countries to submit information on their mitigation actions, while others noted  that this information is needed to assess what the total mitigation actions add  up to. Some parties objected to reference to low emissions development  strategies.</p>
                               <p class="textstory"><strong>ADAPTATION (AWG-LCA): </strong>In  the afternoon informal consultations, a new text was introduced. Parties could  not reach agreement on whether to continue on the basis of the new text or the  Tianjin text. Discussions on this issue continued late into the evening.</p>
                               <p class="textstory"><strong>FINANCE,  TECHNOLOGY AND CAPACITY-BUILDING (AWG-LCA): </strong>During  the afternoon drafting group on finance, a new text was introduced prepared  based on the Tianjin text but described as &ldquo;more concise and clean.&rdquo; Many  parties recalled the possibility of incorporating relevant paragraphs from the  Tianjin negotiating text. Informal discussions continued.</p>
                               <p class="textstory"><strong>ENHANCED ACTION ON MITIGATION  (REDD+) (AWG-LCA): </strong>In the drafting group on REDD+, many parties expressed  support for using the AWG-LCA Chair&rsquo;s text (FCCC/AWGLCA/2010/CRP.1) as the  basis for further negotiations, with a number of parties calling for only minor  changes. Many parties called for a decision on REDD+ in Cancun, with some  noting that this will be contingent on progress on MRV negotiations. </p>
                               <p class="textstory">Parties also considered the  linkage between REDD+ and NAMAs. Most parties agreed on a phased approach to  REDD+. Parties had divergent views on national and sub-national implementation,  though some suggested that sub-national approaches could be used as an interim  measure. Many parties highlighted the need for national reference levels.  Parties discussed whether MRV of safeguards should occur. Some parties objected to reference to markets. Some  parties highlighted the need to address drivers of deforestation and a number  of parties objected to reference to low carbon strategies.</p>
                               <p class="textstory"><strong>CONVENTION ARTICLE 6 (education,  training and public awareness) (SBI): </strong>The morning meeting of the contact  group on Convention Article 6 focused on the intermediate review of progress in  the implementation of the amended New Delhi work programme on Article 6 of the  Convention. Chair Pa&nbsp;Ousman&nbsp;Jarju (the Gambia) introduced a draft COP  decision prepared by him on the basis of the outcomes of the thematic regional  and sub-regional workshops organized to share lessons learned and best  practices, as well as on parties&rsquo; interventions in the SBI plenary. Parties  considered the text paragraph-by-paragraph and the contact group was able to  agree on a draft COP decision and conclude its work<strong>.</strong></p>
                               <p class="textstory"><strong>MATTERS RELATED TO LDCs (SBI): </strong>During  the afternoon contact group, Co-Chair Katherine Vaughn (Australia) introduced  draft SBI conclusions and a draft COP decision. She said parties had agreed to  extend the LDC Expert Group&rsquo;s (LEG) mandate for five years. Parties agreed to  include an additional LDC member in the LEG. Delegates discussed the proposed  text paragraph-by-paragraph and decided to forward it for adoption by the SBI  plenary.</p>
                               <p class="textstory"><strong>LDC FUND (SBI): </strong>During the  afternoon contact group, Co-Chair Vaughn introduced draft SBI conclusions and a  draft COP decision. Delegates discussed the proposed text  paragraph-by-paragraph. The EU suggested inviting all parties in a position to  do so, to contribute to the LDC Fund. On text dealing with requesting the  Secretariat to prepare a synthesis report on the progress made in updating  NAPAs, the EU supported referring, instead, to progress in implementation of  NAPAs. Bangladesh, for the G-77/CHINA, proposed including reference to both the  updating and implementation of NAPAs. Parties agreed to forward the draft  conclusions and decision text to the SBI plenary.</p>
                               <p class="textstory"><strong>ARRANGEMENTS FOR  INTERGOVERNMENTAL MEETINGS (SBI): </strong>In the  afternoon contact group, SBI Chair Robert Owen-Jones (Australia)  introduced a text developed during informal consultations, where observers were allowed to participate.</p>
                               <p class="textstory">On recognizing the important role  of parliamentarians and legislators, and the value of their participation as  observers in the UNFCCC process, the US opposed the  reference to these individuals as observers. SAUDI ARABIA, supported by  EGYPT, opposed referring to parliamentarians and  legislators, saying that their participation and role should be considered by  each party according to its national circumstances and legal framework. MEXICO  supported retaining the text and reference to parties&rsquo; submissions. </p>
                               <p class="textstory">MEXICO  and many others, opposed by SAUDI ARABIA, supported draft text on having an  in-session workshop in 2011 on ways to enhance the engagement of observers and  their means of participation. Noting difficulties reaching agreement, the SBI  Chair proposed referring consideration of this issue to the next session.  Finally, SOUTH AFRICA proposed, and many parties supported, text taking note of  discussions held during SBI 33. SAUDI ARABIA supported deletion of text noting  that the creation of a limited number of consultative fora comprised of  observers should be a way to enhance engagement.</p>
                               <p class="textstory">SBI  Chair Owen-Jones said he will reflect all parties views in the draft text to be  presented to the SBI plenary.</p>
                               <p class="textstory"><strong>CAPACITY BUILDING (CONVENTION)  (SBI): </strong>During the  afternoon contact group, Co-Chair Marie Jaudet (France) introduced draft SBI  conclusions and a draft COP decision. On a request to the GEF to increase its  support to capacity-building activities in developing countries, the EU,  supported by the US, JAPAN and others, suggested bracketing &ldquo;increase&rdquo; and  proposed, instead, reference to &ldquo;continue to provide financial support.&rdquo; Noting  the increasing need for support for capacity building activities, the  G-77/CHINA opposed. Parties did not reach agreement and decided to continue  consideration of this issue and the agenda item on capacity building under the  Kyoto Protocol at the next SBI session.&nbsp;</p>
                               <p class="textstory"><strong>NAIROBI WORK PROGRAMME (SBSTA): </strong>In the evening, the group on the NWP met informally to continue  negotiations on draft SBSTA conclusions. Unresolved issues addressed included  the clarification of language on enhancing capacity &ldquo;including of women and indigenous  peoples&rdquo; and a proposed workshop on ecosystem-based adaptation. Many developed  countries supported the workshop, while many developing countries supported  waiting until SB 34 to define further work. Parties supported language agreeing  to continue activities under the NWP while the programme is under review.  Options related to indigenous communities or peoples remained bracketed.</p>
                               <p class="textstory">Parties reconvened in a brief  contact group. Co-Chair Kishan Kumarsingh (Trinidad and Tobago) introduced the  draft conclusions and parties agreed to forward the text, with remaining  brackets, to the plenary.</p>
                               <p class="textstory"><strong>REVISION OF THE UNFCCC  REPORTING GUIDELINES ON ANNUAL INVENTORIES FOR ANNEX I PARTIES (SBSTA): </strong>In  the afternoon contact group, parties discussed draft conclusions. Parties  discussed requesting the IPCC to use scientific developments on wetlands to  fill gaps in the 2006 IPCC Guidelines and parties ultimately agreed to forward  the draft conclusions for adoption by the SBSTA.</p>
                               <p class="textstory"><strong>PROTOCOL ARTICLES 2.3 AND 3.14  (SBI/SBSTA): </strong>In the afternoon joint SBI/SBSTA contact group, Co-Chair  Andrew Ure (Australia) introduced draft conclusions based on the G-77/China&rsquo;s  proposal for a joint workshop relevant to Protocol Articles 2.3 (adverse  impacts of policies and measures) and 3.14 (adverse effects). AUSTRALIA noted  they could support the draft conclusions if the workshop was combined with one  on implementation of Decision 1/CP.10 (Buenos Aires programme of work on  adaptation and response measures). Parties agreed to forward the draft conclusions  to the SBSTA and SBI plenaries for adoption. </p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS</em></strong></p>
                               <p class="textstory">With the end of the first week  rapidly approaching and ministers starting to arrive at the UN Climate Change  Conference in Cancun, many delegates found themselves thinking about the way  forward. The textual basis for work during the second week featured among the  hottest topics in this respect. At her press conference, UNFCCC Executive  Secretary Christiana Figueres confirmed that the AWG-KP Chair would release a  new text on Saturday and that the AWG-LCA Chair would also provide a new  version of her non-paper. In response to rumors concerning a possible Mexican  text, the UNFCCC Executive Secretary took a firm stand: &ldquo;There will be no such  text.&rdquo; </p>
                               <p class="textstory">Many identified &ldquo;balance&rdquo; as the  magical ingredient for a successful outcome next Friday: &ldquo;We need balance  between the elements of the Bali Action Plan under the AWG-LCA, balance between  the two negotiating tracks, and balance between developed and developing  countries&rsquo; interests,&rdquo; noted one expert. &ldquo;Countries need to be equally  comfortable and equally uncomfortable with the outcome,&rdquo; was how Executive  Secretary Figueres defined a balanced outcome.</p>
                               <p class="textstory">&nbsp;The word &ldquo;balance&rdquo; was also an answer to some  delegates wondering why certain issues that many predict will be among the key  Cancun outcomes have received &ldquo;so little&rdquo; attention during the first week. &ldquo;I  can&rsquo;t believe that today was the first time that REDD+ was taken up,&rdquo; stated  one delegate. One delegate offered an explanation: &ldquo;Coming here, some of the AWG-LCA  texts were much more advanced than others. Negotiators are trying to bring them  all to a comparable level.&rdquo; Another cautioned: &ldquo;Some of us are afraid that if  we open up advanced text for discussion, we may end up moving backwards.&rdquo; The  AWG-LCA&rsquo;s work on MRV/ICA was described by many as one of the &ldquo;critically  important&rdquo; but more &ldquo;immature&rdquo; elements of the AWG-LCA&rsquo;s work. &ldquo;The first  version of Margaret&rsquo;s non-paper did not address MRV, but I&rsquo;m trusting that the  new non-paper will contain something interesting,&rdquo;&nbsp; indicated one party.</p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
