<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Durban Climate Change Conference - Thursday, 08 December 2011, Durban, South Africa</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Durban Climate Change Conference - November 2011, 28 November - 9 December 2011, Durban, South Africa" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, DURBAN HIGHLIGHTS - Thursday, 08 December 2011, Durban, South Africa" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365100;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365100;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green1 {font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.light_green1 {font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style31 {font-size: 9pt}
.style31 {font-size: 9pt}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
     </tr>
   </table>
     <table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
               <tr>
                 <td width="549" valign="top"><div align="center">
                   <table width="510" border="0">
                     <tr>
                       <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                     </tr>
                     <tr>
                       <td><div align="center"><span class="style31">&middot;</span> <span class="style31">&middot; &middot; </span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span></div></td>
                     </tr>
                     <tr>
                       <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                     </tr>
                   </table>
                 </div></td>
               </tr>
             </table></td>
           </tr>
         </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td></td>
             </tr>
             <tr>
               <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                 <tr>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/download/pdf/enb12533e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12533f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12533s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/climate/cop17/japanese/enb12533j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                 </tr>
               </table></td>
             </tr>
             <tr>
               <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 533 - Friday, 09 December 2011</font><br />
               </div></td>
             </tr>
           </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
             <tr>
               <td width="663" align="center"><div align="center"><STRONG class="meeting_title1">DURBAN HIGHLIGHTS</STRONG></div></td>
             </tr>
             <tr>
               <td align="center"><div align="center"><strong class="light_green1">Thursday, 08 December 2011</strong></div></td>
             </tr>
           </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                 <tr>
                   <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                   <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                 </tr>
                 <tr>
                   <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                   <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                       <td><p class="textstory">On Thursday, ministers and their  representatives addressed delegates in a joint high-level segment held  throughout the day. In the morning, a President&rsquo;s informal stocktaking plenary  was held. Contact groups and informal consultations met throughout the day and  into the night on several issues, including Annex I emissions reductions,  mitigation, Kyoto Protocol amendments, the CDM, the Adaptation Fund, finance,  response measures, sectoral approaches, market and non-market approaches,  national adaptation plans, technology transfer and capacity building. South  Africa also held ministerial and technical Indaba sessions to try to bring  positions closer among parties.</p>
                         <p class="textstory"><strong><em>COP 17  &amp; CMP 7 JOINT HIGH-LEVEL SEGMENT </em></strong></p>
                         <p class="textstory">The high-level segment continued throughout  the afternoon with statements by ministers and their representatives. A webcast  of all statements is available online at: <a href="http://unfccc4.meta-fusion.com/kongresse/cop17/templ/ovw_live.php?id_kongressmain=201" class="linknegro">http://unfccc4.meta-fusion.com/kongresse/cop17/templ/ovw_live.php?id_kongressmain=201</a></p>
                         <p class="textstory"><strong><em>INFORMAL  STOCKTAKING PLENARY </em></strong></p>
                         <p class="textstory">SBSTA Chair Muyungi said compromise had been  reached on CCS in the CDM, while project-specific reserve and transboundary  issues were referred to SBSTA 36. He also said consultations will continue on  revisions of reporting guidelines for Annex I countries. SBI Chair Owen-Jones  explained that he expected a strong, clean text would be forwarded to the COP  on response measures.</p>
                         <p class="textstory">AWG-KP Chair Macey said that while political  guidance will be needed to reach conclusions, further technical progress can be  made. He said the AWG-KP is continuing work on finding a consensus on a second  commitment period, while AWG-LCA Chair Reifsnyder urged parties to finish  discussions and provide a clear picture by Friday morning.</p>
                         <p class="textstory">COP President Nkoana-Mashabane announced  ministerial appointments on key issues to further narrow the list of options.  These assignments are: Minister Onkokame Mokaila of Botswana for shared vision;  Minister Tim Groser of New Zealand for developed and developing country  mitigation; Minister Mar&iacute;a Fernanda Espinosa of Ecuador for the  Adaptation Committee; Special Envoy Claudia Salerno of Venezuela for response  measures; Minister Nathalie Kosciusko-Morizet of France on sectoral approaches;  and Minister Chris Huhne of the UK for Review. </p>
                         <p class="textstory"><strong><em>CONTACT  GROUPS AND INFORMAL CONSULTATIONS </em></strong></p>
                         <p class="textstory">Contact groups and informal consultations  met throughout the day, with most continuing into the night to finalize draft  decisions for consideration by plenary.</p>
                         <p class="textstory"><strong>CAPACITY BUILDING (AWG-LCA): </strong>JAPAN reported on informal informals, noting the group worked late  into the night on Wednesday. He said the discussions were not contentious and  that remaining outstanding issues relate to whether to call an in-session body  a &ldquo;forum&rdquo; or an &ldquo;in-depth discussion&rdquo; and whether it should meet annually or  biennially. However, the G-77/CHINA expressed concern with lack of clarity on  institutional arrangements and absence of reference to performance indicators.  Facilitator Goote noted time had run out for further discussions, and said he  would forward the text to the AWG-LCA Chair with the recommendation that a  &ldquo;forum for in-depth discussion&rdquo; meet annually, at least initially.</p>
                         <p class="textstory"><strong>SPIN-OFF GROUP ON AMENDMENTS/NUMBERS  (AWG-KP):</strong> Parties reviewed three options envisaged  to replace the table in Annex B of the Protocol (FCCC/KP/AWG/2011/CRP.2/Rev.1),  as well as two proposed by parties, and debated how to reflect the &ldquo;numbers&rdquo; of  developed country parties that do not wish to adhere to a second commitment  period. Countries requested clarification on how a revised Annex B will relate  to the flexibility mechanisms, and in particular whether all countries under  Annex B will have access to flexibility mechanisms for the second commitment  period. Regarding carryover of AAUs, one developed country party indicated she  could accept the proposal of a developing country party, except for wording on  how to distribute benefits and share of proceeds. The proponent responded that  they were flexible on the percentage of proceeds and on the use of units for  domestic compliance. Another proposal by a small island state was also  discussed, with one developed country saying taxation for carryover AAUs was  still too high, and noting her country counted on keeping saved AAUs for a  second commitment period. She warned that a decision largely reducing expected  carryover may become a reason to not adhere to a second commitment period.</p>
                         <p class="textstory"><strong>ADAPTATION FUND (CMP)</strong>: Parties finalized discussions on the review of the Adaptation Fund  Board and review of the Adaptation Fund. One party welcomed the organization of  two regional workshops for Asia and the Pacific planned for the first half of  2012. Draft decisions were forwarded to the CMP.</p>
                         <p class="textstory"><strong>REDD+ (AWG-LCA):</strong> Delegates discussed options on REDD+ finance sources. One option  considers, <em>inter alia</em>: that appropriate market-based approaches be developed  and that the SBSTA could develop modalities and procedures. Another states that  results-based finance provided to developing countries may come from a wide  variety of sources, including alternative sources, considering appropriate  market and non-market based approaches created under the Convention. Some  developing countries supported a footnote explaining that &ldquo;appropriate&rdquo; means  exclusion of offsetting mechanisms and/or carbon markets. Another country  strongly supported developing non-market based approaches and multiple  functions of forests. Parties also addressed outstanding text in the preamble  and on the way forward.</p>
                         <p class="textstory"><strong>DEVELOPED COUNTRY MITIGATION (AWG-LCA):</strong> Parties discussed whether options have been adequately reflected.  On possible elements of a draft decision for adopting IAR, they considered  options for, <em>inter alia</em>: comparability; the timeframe for the adoption  of modalities and procedures; frequency of IAR; and compliance. Parties also  discussed the objectives of IAR, technical review and multilateral  assessment.&nbsp; On IAR, one developed  country said that emerging developing countries should be subject to a similar  regime, and that IAR is for emission reduction targets and not for reporting on  the provision of support to developing countries. </p>
                         <p class="textstory"><strong>DEVELOPING COUNTRY MITIGATION (AWG-LCA):</strong> Parties discussed revised draft text on possible elements for  adoption of modalities and guidelines for the ICA. Options were considered for:  objectives; scope and process; and outcome of the ICA. </p>
                         <p class="textstory"><strong>GREEN CLIMATE FUND (COP): </strong>Parties were able to agree on paragraphs regarding the host country  selection process and a process for conferring legal personality on the fund.  On the interim secretariat, parties agreed that it shall be fully accountable  to the Board and shall function under its guidance and authority. Parties also  agreed that the head of the secretariat should have experience working with  developing countries. On the host of the interim secretariat, three options  were presented: the UNFCCC Secretariat; the GEF Secretariat; and the UN Office  in Geneva. </p>
                         <p class="textstory"><strong>NATIONAL ADAPTATION PLANS (COP)</strong>: Many countries stressed that GEF guidance should be clear, simple  and operationally feasible to ensure the support that LDCs require will be  provided. COLOMBIA said the GEF would need to work through agencies with  on-the-ground experience and through one or two core programmes to ensure funds  can be accessed quickly. Many developing countries supported inviting UNDP and  UNEP to consider establishing support programmes, with the US opposed to  singling out the two organizations. The G-77/CHINA stressed the need to ensure  the provision of long-term support for the process. </p>
                         <p class="textstory"><strong>TECHNOLOGY TRANSFER (AWG-LCA)</strong>: Parties identified outstanding work remaining on, <em>inter alia</em>:  the selection process and call for proposals; agreement on the role of IPR;  potential linkages between the Technology Mechanism and the financial  mechanism, and other institutions under the Convention. </p>
                         <p class="textstory"><strong>CDM (CMP):</strong> Parties continued reviewing the draft decision paragraph by paragraph, with  many clauses remaining in brackets, including on: the CDM beyond the first  commitment period, the first review of the CDM modalities and procedures,  guidelines on stakeholder consultation and improvements on the assessment of  additionality. Parties agreed, <em>inter alia</em>, on: the launch of a CDM  policy dialogue by the CDM Executive Board, operational entities carrying out  sector-specific validation, voluntary measures and programmes of action. </p>
                         <p class="textstory"><strong>RESPONSE MEASURES (COP)</strong>: Parties convened to share views on a draft decision distributed by  the SB Chairs. NEW ZEALAND stressed the need to define the boundaries of a work  plan and possible forum and, with CANADA and the US, said the current text is  unbalanced. Argentina, for the G77/CHINA, said her group has made compromises  and urged others to follow suit. On future revisions to the text, SAUDI ARABIA  requested retaining the current text as a separate option, with NEW ZEALAND  saying that it reserves the right to have a third option if parties &ldquo;go down  the option route.&rdquo; </p>
                         <p class="textstory"><strong><em>IN THE  CORRIDORS </em></strong></p>
                         <p class="textstory">Amid cautions that &ldquo;Durban cannot send a  message to do nothing,&rdquo; delegates were pushed to agree on final details of a  possible Durban package. At an Indaba meeting to discuss technical issues,  delegates reiterated their preferences in terms of legal options for an outcome  and one delegate lamented the lack of compromise from key parties citing a  reggae song &ldquo;everybody wants to go to heaven but nobody wants to die.&rdquo; Another  delegate said discussions regarding the launch of another negotiating process  seemed like a &ldquo;replay of Bali.&rdquo;&nbsp;&nbsp;&nbsp; </p>
                         <p class="textstory">&nbsp;With  the final day of negotiations approaching, ministers had a flurry of bilateral  meetings, followed by a political Indaba that went into the twilight hours.  Perhaps learning a lesson from the &ldquo;leaked texts&rdquo; of Copenhagen, the COP  President posted iterations of the &ldquo;big picture&rdquo; papers for all to see. While  in the corridors, some observers scanned updates of the Indaba papers,  including options for the future of the Kyoto Protocol; some delegates  despaired that complexity was taking over and an ambitious outcome would be  impossible in the time remaining, with one invoking dark memories of the final  hours of Copenhagen and another simply stating &ldquo;we won&rsquo;t be sleeping tonight.&rdquo; </p>
                         <p class="textstory">On a brighter note, one visibly relieved  delegate said &ldquo;we are finally making progress on the GCF,&rdquo; while an observer  mustered that unless sources of funding are clearly identified, it will be  &ldquo;more of the same.&rdquo; Yet, another reflected that commitments on mitigation, and  not the GCF, remain the core test for the &ldquo;political will of parties.&rdquo;</p>
                         <p class="textstory"><strong>ENB SUMMARY AND ANALYSIS</strong>: The Earth Negotiations Bulletin summary and analysis of the Durban  Climate Change Conference will be available on Monday, 12 December 2011 online  at: <a href="/climate/cop17/" class="linknegro">http://www.iisd.ca/climate/cop17/</a></p></td>
                     </tr>
                   </table></td>
                   <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                 </tr>
                 <tr>
                   <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                   <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                 </tr>
               </table></td>
             </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="304" class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Soledad Aguilar, Asheline Appleton, Joanna Dafoe, Peter Doran, Ph.D., Elena Kosolapova, Velma McColl, Leila Mead and Eugenia Recio. The Digital Editors are Leila Mead and Brad Vincelette. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), and the European Commission (DG-ENV). General Support for the Bulletin during 2011 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI) and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, United States of America. The ENB Team at the Durban Climate Change Conference - November 2011 can be contacted by e-mail at &lt;<a href="mailto:soledad@iisd.org" class="linknegro">soledad@iisd.org</a>&gt;. &#20195;&#34920;&#22243;&#12398;&#21451;</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2011, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
