<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>COPENHAGEN HIGHLIGHTS - Thursday, 10 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, Thursday, 10 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12452e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12452f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/vol12/enb12452s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12452j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Japanese version" vspace="1" border="0" /></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 452 - Friday, 11 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Thursday, 10 December 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">On Thursday, the COP/MOP considered compliance, Kazakhstan&rsquo;s proposal to amend  Protocol Annex B and proposals by parties to amend the Protocol. In addition,  contact groups and informal consultations convened on a range of issues,  including a shared vision, mitigation, adaptation, finance and technology under  the AWG-LCA, Annex I emission reductions and other issues under the AWG-KP, and  various topics under the SBSTA and SBI.</p>
                               <p class="textstory"><em><strong>COP/MOP</strong></em></p>
                               <p class="textstory"><strong>PROTOCOL AMENDMENT IN RESPECT TO COMPLIANCE  PROCEDURES</strong>: Parties  agreed to defer the consideration of the item to COP/MOP 6.</p>
                               <p class="textstory"><strong>KAZAKHSTAN&rsquo;S PROPOSAL TO AMEND PROTOCOL ANNEX  B:</strong> The Secretariat  explained that Kazakhstan  will be considered an Annex I party under the Protocol while remaining a  non-Annex I party under the Convention (<a href="http://unfccc.int/resource/docs/chinese/cop7/cp713a01c.pdf" target="_blank" class="linknegro">FCCC/CP/2001/13/Add.4</a>). He specified  that Kazakhstan  has ratified the Protocol and submitted an amendment proposal to be included in  Annex B in September 2009.</p>
                               <p class="textstory">KAZAKHSTAN highlighted its proposed level of  commitment as &ldquo;unprecedented&rdquo; and said her country&rsquo;s transition to a  low-emission economy requires using the carbon market and private investment.  The RUSSIAN FEDERATION and KYRGYZSTAN  supported the proposal. </p>
                               <p class="textstory">AUSTRALIA welcomed mitigation commitments  from new countries and supported discussing the item. The EU recognized Kazakhstan&rsquo;s  aspiration to join Annex B, while highlighting the need to comply with legal  requirements relating to Annex B amendments. She supported deferring the issue  to COP/MOP 6. KAZAKHSTAN  stressed that her country has been communicating relevant information to  parties since June. Stephan Michel (Switzerland) will consult  informally.</p>
                               <p class="textstory"><strong>PROPOSALS BY PARTIES FOR PROTOCOL AMENDMENTS:</strong> The Secretariat introduced twelve  proposed Protocol amendments (FCCC/KP/CMP/2009/2-13), which had been received  from: Australia; Belarus; Bolivia for several countries; Colombia; Japan; the  EU; New Zealand; Papua New Guinea; the Philippines; China for several non-Annex  I countries; and two from Tuvalu.</p>
                               <p class="textstory">TUVALU, supported by Grenada, for AOSIS, stressed the  Protocol&rsquo;s importance now and in the future and elaborated on its two proposals  to amend the Protocol. He highlighted, <em>inter alia,</em> proposals on: the  second commitment period and new commitments in Annex B; extending the share of  proceeds; giving legal authority to the Compliance Committee; and including new  greenhouse gases, as well as international aviation and maritime emissions.</p>
                               <p class="textstory">AUSTRALIA emphasized that her country needs  more than a Protocol amendment from Copenhagen.  She said a unified protocol would have certain advantages but that an outcome  with two protocols is possible if they are linked as a package. </p>
                               <p class="textstory">The EU stressed its commitment to safeguarding the Kyoto Protocol&rsquo;s key  elements. He said the AWG-KP process allows for comprehensive consideration of  issues raised by the amendment proposals and underlined that a decision on  Protocol amendments must be taken in the context of an overall agreement.</p>
                               <p class="textstory">JAPAN outlined its proposed draft  protocol, saying it relates to the Protocol&rsquo;s deficiencies, including that the  Kyoto Protocol only covers 30% of global emissions. He stressed that a &ldquo;simple&rdquo;  Protocol amendment would not be an effective post-2012 legal framework,  expressing preference for a single new Protocol. JAPAN  emphasized that the intention is not to ignore and bury the Kyoto Protocol, but  &ldquo;expand the scope of responsibility and construct on the Kyoto foundation an expanded and more durable  vehicle.&rdquo;</p>
                               <p class="textstory">Ethiopia, for LDCs, said the issue is a  controversial one as it is being discussed under both the AWG-KP and the  COP/MOP. He expressed willingness to consider the issue in a contact group to  see if the proposals contain ambitious targets and promote LDCs&rsquo; interests.</p>
                               <p class="textstory">BRAZIL, supported by many developing  countries, noted a proposal by 35 countries to amend Protocol Annex B based on  the mandate in Protocol Article 3.9 (Annex I parties&rsquo; further commitments). He  said the proposal reflects the high end of the 25-40% range in the IPCC AR4 as  well as Annex I countries&rsquo; historical responsibility. Many developing countries  stressed that the most important task of COP/MOP 5 is to adopt a Protocol  amendment to inscribe new commitments for developed countries in Annex B based  on the mandate in Protocol Article 3.9. Many developing countries also  highlighted the Kyoto Protocol as the only legally-binding instrument to  mitigate climate change, urged continuing it in the second commitment period  and opposed attempts to &ldquo;kill&rdquo; or supersede it, or make it redundant. Many also  underscored continuation of the Protocol as a condition for an outcome in Copenhagen.</p>
                               <p class="textstory">EGYPT, supported by several developing countries, said elements of the  proposed Protocol amendments have also been submitted under the Convention and  the AWG-LCA, lamenting this &ldquo;triplication&rdquo; of efforts and urging focusing on  &ldquo;the real thing.&rdquo; </p>
                               <p class="textstory">NEW ZEALAND said her country&rsquo;s preference would  be a single and unified post-2012 legal outcome avoiding duplication of efforts  and institutions. Without prejudice to this, she said her country has proposed  Protocol amendments, envisaging the Kyoto Protocol as part of a fully  integrated package with a legally-binding outcome under the Convention. </p>
                               <p class="textstory">BOLIVIA outlined a proposed Protocol  amendment, emphasizing that developed countries have &ldquo;expropriated more than  their fair share of the earth&rsquo;s environmental space.&rdquo; She said repayment of  this &ldquo;climate debt&rdquo; is simple: those who became wealthy while causing climate  change are responsible for compensating those who are poor. She called for  strong efforts by developed countries to reduce their over-pollution and  over-consumption.&nbsp; </p>
                               <p class="textstory">PAPUA NEW GUINEA agreed with the focus on Protocol Article 3.9 but,  supported by others, called for also considering forest issues and REDD. COLOMBIA  also noted her country&rsquo;s proposals to amend other aspects of the Protocol and  expressed interest in discussing other countries&rsquo; proposals. </p>
                               <p class="textstory">TUVALU emphasized that unlike the AWG-KP&rsquo;s  mandate, this agenda item relates to Protocol Article 20 under which any party  may propose amendments. He stressed that if unable to reach consensus, the  COP/MOP may take a decision by a three- quarters majority of parties present  and voting. </p>
                               <p class="textstory">PALESTINE highlighted their unique situation  and said he is looking forward to becoming an official Protocol party.  PAN-AFRICAN CLIMATE JUSTICE ALLIANCE stated that warming of 2&deg;C is a &ldquo;death sentence&rdquo; for Africa. She accused rich countries of stealing the shared  atmospheric space, which amounts to &ldquo;climate colonialism&rdquo; and said the proposed  adaptation funding would not be sufficient even for &ldquo;buying their  coffins.&quot;</p>
                               <p class="textstory">On the way forward, COP/MOP President Hedegaard noted that many  countries had supported a contact group while many others preferred focusing on  the AWG-KP. She proposed that John Ashe (Antigua and Barbuda) consult on the  way forward and report back to the COP/MOP on Saturday.&nbsp; </p>
                               <p class="textstory">TUVALU, supported by GRENADA, KIRIBATI,  EL SALVADOR, COSTA RICA, the COOK  ISLANDS, the MARSHALL ISLANDS, PALAU  and BELIZE,  stressed the importance of the issue, urged its proper substantive  consideration through a contact group and said delaying the issue until  Saturday will not allow this. </p>
                               <p class="textstory">CHINA, supported by VENEZUELA, PAPUA NEW GUINEA, UNITED ARAB  EMIRATES, BRAZIL, NIGERIA and BAHRAIN,  expressed sympathy for Tuvalu&rsquo;s  proposal, but opposed discussing such proposed Protocol amendments that &ldquo;do not  enhance the Protocol.&rdquo; He said issues such as share of proceeds and compliance  could be discussed further, and suggested that: proposals related to Protocol  Article 3.9 be referred to the AWG-KP; and a &ldquo;limited number&rdquo; of other  proposals be selected for discussion under this agenda item. The EU opposed  limiting issues for further consideration, identifying the need to reflect all  proposals. </p>
                               <p class="textstory">The COP/MOP was then suspended for informal discussions in the plenary  hall. COP/MOP President Hedegaard reported that no solution had been found and  adjourned the meeting. </p>
                               <p class="textstory"><em><strong>CONTACT GROUPS AND INFORMAL CONSULTATIONS</strong></em></p>
                               <p class="textstory"><strong>CDM (COP/MOP):</strong> During the contact group, Co-Chair Figueres  informed parties that the Co-Chairs had prepared draft decision text, based on  the CDM Executive Board (EB) report to the COP/MOP and parties&rsquo; statements  during the COP/MOP Plenary. </p>
                               <p class="textstory">Parties discussed the CDM EB&rsquo;s study on the implications of including  CCS under the CDM. The Secretariat provided clarification on the process by  which the CDM EB conducted the study, as requested by the COP/MOP President  during the COP/MOP plenary. </p>
                               <p class="textstory">GRENADA and SAUDI   ARABIA asked how the second report from the consultants  tasked with conducting the study had been dealt with, with GRENADA noting that the CDM EB did  not endorse this second report. The Secretariat clarified that consultants had  been requested to conduct the study, that their first report did not adequately  fulfill the mandate given to them and they had been asked to prepare a second  report, but the CDM EB had been unable to make a decision on this report. He  further explained that: the consultants&rsquo; first report was part of the annotated  agenda of the 49th meeting of the Board; the consultants&rsquo; second  report was part of the annotated agenda of the 50th meeting and  considered during the meeting; and the main outcome of the CDM EB&rsquo;s study is  contained in Annex II of its report (<a href="http://unfccc.int/resource/docs/2009/cmp5/eng/16.pdf" target="_blank" class="linknegro">FCCC/KP/CMP/2009/16</a>). Co-Chair Figures  noted that because the CDM EB had been unable to conclude on the study and  mandate given to it by the COP/MOP, the matter was now back before the COP/MOP. </p>
                               <p class="textstory">Co-Chair Figueres then asked parties to identify issues which should be  discussed by the group. The EU highlighted: the issue of unmet need,  particularly in order to improve regional distribution of CDM projects;  standardized baselines; understaffing of the Secretariat; terms of reference  for CDM EB members; and the possibility of a full-time CDB EB chair. CHINA  identified the need to improve transparency, fairness and efficiency in  decision-making. Ethiopia,  for the LDCs, underscored regional distribution, and proposed exempting  small-scale projects in LDCs from the additionality requirement. He also noted  that many LDCs have unmet energy needs and requested that this be considered  for the establishment of baselines. GRENADA  and BRAZIL  opposed the proposal for a full-time chair, noting the existence of a full-time  Secretariat and highlighting that the proposal would only favor those countries  that can afford to support a full-time chair. GRENADA also objected to adopting  terms of reference for CDM EB members, highlighting that it may bias countries  with limited CDM knowledge and expertise. SAUDI ARABIA supported  consideration of terms of reference. </p>
                               <p class="textstory">Co-Chair Figueres then introduced the Co-Chairs&rsquo; draft text, provided an  overview of its content and asked parties if it was an acceptable starting  point. GRENADA and JAPAN  expressed support for using the text as a starting point. </p>
                               <p class="textstory">The INTERNATIONAL EMISSIONS TRADING ASSOCIATION (IETA) supported  establishment of standardized baselines, stating this would improve regional  distribution. She also highlighted, <em>inter alia</em>: lack of due process and  transparency in the CDM EB&rsquo;s decision-making process and the need to establish  an independent appeal body; and the prerogative of the host country to set the  level of incentives to promote CDM projects. CDM Watch, for CAN, expressed  concern about the code of conduct for CDM EB members, particularly regarding  declaration of conflicts of interest, and called for strengthening of the code  of conduct and establishing procedures for declaring such conflicts. She also  opposed the definition of forests in exhaustion and the inclusion of CCS under  CDM projects. </p>
                               <p class="textstory"><strong>JOINT IMPLEMENTATION (JI) (COP/MOP): </strong>Co-Chair Lesolle identified the  following issues as requiring consideration: resources for the JI Supervisory  Committee (JISC), including the JI management and budget plans for 2010-2011  and the need for predictable and adequate funding; further guidance to the JISC  as appropriate; and guidance to the Secretariat regarding the JI track 1  procedure, including information from parties and input by the Secretariat. </p>
                               <p class="textstory">The Secretariat presented a summary of the JISC report, including an  overview of the operation and status of JI. CHINA noted that the Chair had not  mentioned the issue of extending the share of proceeds levy to JI, as raised by  parties in plenary. Co-Chair Lesolle noted that this could be included under  further guidance on JI. </p>
                               <p class="textstory">IETA lamented the lack of sufficient funding for JISC. He noted that  lack of progress on aspects of JI lies in inadequacy of host country mechanisms  to facilitate JI tracks 1 and 2 procedures. The Co-Chairs will prepare a draft  decision for consideration on Friday. </p>
                               <p class="textstory"><strong>SHARED VISION (AWG-LCA): </strong>In the afternoon informal  consultations, parties focused on draft text. Many developing countries  proposed new language to condense several introductory paragraphs. Some  developed countries opposed a reference to addressing implementation gaps in  the Convention. Parties also deliberated on the role of the Protocol. Informal  consultations continued into the night aimed at completing the first reading of  the draft text.&nbsp;</p>
                               <p class="textstory"><strong>FINANCE (AWG-LCA): </strong>In the morning drafting group on finance,  delegates considered the co-facilitators&rsquo; text on institutional arrangements,  proposing changes to the text. Several parties expressed difficulty with,  amongst other things, listing commitments contained in Convention Article 4 (commitments)  and language on a governing body allocating funds among thematic areas. Revised  text will be produced.</p>
                               <p class="textstory"><strong>TECHNOLOGY (AWG-LCA):</strong> In informal consultations on  technology, parties worked line-by-line through new draft text. Some developing  countries expressed interest in inserting preambular language and principles.  Parties exchanged views on what a technology mechanism would consist of. </p>
                               <p class="textstory"><strong>ADAPTATION (AWG-LCA):</strong>&nbsp;In the morning informal  consultations on adaptation, parties continued paragraph-by-paragraph  discussions of draft text with a view to streamlining and shortening it. </p>
                               <p class="textstory"><strong>MITIGATION - sub-paragraph 1(b)(i) of the BAP  (AWG-LCA): </strong>In  informal consultations on mitigation by developed countries, parties focused on  the introductory paragraph of non-paper No. 50 forwarded from the Barcelona session. Some  parties suggested that sub-paragraph 1(b)(i) of the BAP applies to developed  countries, while a group of developing countries underlined that it covers  Annex I countries that are not Protocol parties. Differences also persisted on  specific quantifications of mitigation commitments or actions by developed  countries.&nbsp;</p>
                               <p class="textstory"><strong>MITIGATION &ndash; sub-paragraph 1(b)(iii) of the BAP  (AWG-LCA):</strong> In the  morning, the informal group on REDD-plus met to continue working through draft  text. Parties considered text on safeguards and began discussing reference  levels. Informal consultations continued in the evening. </p>
                               <p class="textstory"><strong>MITIGATION &ndash; sub-paragraph 1(b)(iv) of the BAP  (AWG-LCA): </strong>In the  morning informal consultations, the drafting group on sectoral approaches had a  general exchange of views on bunker fuels. The Co-Chairs will develop a draft  text.</p>
                               <p class="textstory">In the afternoon informal consultations, parties discussed draft text on  agriculture. </p>
                               <p class="textstory"><strong>MITIGATION &ndash;</strong> <strong>sub-paragraph 1(b)(v) of the BAP (AWG-LCA): </strong>&nbsp;Informal consultations on various  approaches to enhance the cost-effectiveness of, and to promote, mitigation  actions, including markets, focused on how to organize the group&rsquo;s work. </p>
                               <p class="textstory">Many parties supported discussing both market- and non-market-based  approaches, while some preferred discussing only non-market-based approaches.  Some parties also questioned the appropriateness of discussing the issue of  hydrofluorocarbons (HFCs). Most parties urged continuing discussions in a  smaller drafting group in order to facilitate the work. </p>
                               <p class="textstory">A new draft text will be prepared for discussions on Friday. </p>
                               <p class="textstory"><strong>FINANCE AND MITIGATION (AWG-LCA): </strong>Joint informal consultations were  held between the drafting group on finance and the group on sub-paragraph 1(b)  (ii) of the BAP on mitigation by developing countries. The aim of the joint  consultations was to discuss placement of issues being considered under both  groups with a view to avoiding duplication.&nbsp; </p>
                               <p class="textstory">Delegates began by addressing a section on support for NAMAs reflected  in non-paper No. 51 on sub-paragraph 1(b)(ii) of the BAP. Several parties  advocated moving all paragraphs containing financial provisions to the finance  group. Others maintained that text on new and additional support should remain  under consideration by the mitigation drafting group. The need to consider the  &ldquo;what&rdquo; and &ldquo;how&rdquo; of support and reach agreement on principles regarding what is  specific to NAMAs and their implementation were also raised. Parties agreed to  place markers on text to be considered by the finance group. </p>
                               <p class="textstory">Delegates then addressed modalities for matching action and support  through a mechanism to register or record and facilitate implementation of  NAMAs. Some parties preferred to house a matching function or registry within a  financial mechanism, while others said that matching functions should remain  within the purview of the drafting group on sub-paragraph 1(b)(ii) of the BAP.  Informal discussions among several parties will continue on the matching  function. </p>
                               <p class="textstory"><strong>POTENTIAL CONSEQUENCES (AWG-KP):</strong> The contact group on potential  consequences met to continue working line-by-line through the text, discussing  &ldquo;deepening understanding&rdquo; and designing policies and measures. Co-Chair Ure  informed delegates of the absence of the G-77/China coordinator and noted that  members of the G-77/China would not be speaking as a group.</p>
                               <p class="textstory">On deepening understanding, NEW ZEALAND preferred removing  reference to the AWG-LCA, noting it was captured under other UNFCCC bodies and  would not be in existence much longer. </p>
                               <p class="textstory">On policies and measures, the EU and ARGENTINA worked on crafting a  compromise based on the second option on the careful design of policies and  measures. ARGENTINA expressed concern with the word &ldquo;careful&rdquo; and the EU noted  that reference to &ldquo;careful&rdquo; aimed to convey that action should be consistent  with Protocol article 2.3 (adverse effects of policies and measures). </p>
                               <p class="textstory">ARGENTINA, supported by SAUDI ARABIA,  also preferred reference to Convention Article 3.5, which addresses trade. The  EU opposed reference to a specific article, noting that there is no hierarchy  of Convention principles. While no options were removed from the text, a  footnote was added to indicate that parties had focused discussions on  modifying the second option. Parties also discussed combining options on text  on designing policies and measures. </p>
                               <p class="textstory"><strong>OTHER ISSUES &ndash; LULUCF (AWG-KP): </strong>In informal consultations on LULUCF,  parties attempted to reduce options on forest management, with discussions on  caps and discount factors. Informal consultations will continue.</p>
                               <p class="textstory"><strong>OTHER ISSUES - FLEXIBILITY MECHANISMS (AWG-KP):</strong> During the informal consultations,  parties continued discussion of Annex I of document FCCC/AWG/KP/Add.3/Rev.3.  Discussions focused on streamlining and removing brackets from the various  options on the elements in the text. On crediting on the basis of NAMAs,  several developing countries, opposed by some countries, proposed deletion of  the text. </p>
                               <p class="textstory"><strong>ANNEX I EMISSION REDUCTIONS (AWG-KP): </strong>In the evening, the contact group on  AWG-KP Annex I emission reductions convened. Co-Chair Leon Charles reported on  the informal consultations, noting that on length and number of commitment  periods, parties had identified domestic policy processes as a constraint as  well as the importance of taking science into account. </p>
                               <p class="textstory">The FEDERATED STATES    OF MICRONESIA gave a presentation  highlighting the need to cap the use of LULUCF and address the issue of surplus  Assigned Amount Units (AAUs). She noted that there are many ways to address  AAUs, including requesting parties not to use them in the second commitment  period, capping carryovers, and discounting. NEW ZEALAND suggested using actual  emissions as a starting point for calculating quantified emission limitation  and reduction objectives (QELROs) as a means of eliminating surplus AAUs. The  EU and AUSTRALIA  expressed concern that this rewards countries that overshoot first commitment  period targets. BRAZIL  said this would create more &ldquo;hot air.&rdquo; BANGLADESH,  the FEDERATED STATES OF MICRONESIA  and EGYPT  stressed a single starting point. NEW ZEALAND emphasized that the  starting point with the greatest environmental benefit is from actual  emissions.</p>
                               <p class="textstory">The Secretariat will prepare a paper to capture the various options and  clarify terms such as &ldquo;base year&rdquo; and &ldquo;starting point.&rdquo;</p>
                               <p class="textstory"><strong>TECHNOLOGY (SBI/SBSTA):</strong> The joint SBI/SBSTA group on  technology transfer met briefly in informal consultations before reconvening in  a contact group and agreeing on draft conclusions. </p>
                               <p class="textstory"><strong>REDD (SBSTA):</strong> The informal consultations on REDD continued  to work through draft decision text. Parties considered topics including  guidance from the IPCC and reference levels, with discussions on language on  national circumstances. Informal consultations will continue. </p>
                               <p class="textstory"><strong>ANNEX I NATIONAL  COMMUNICATIONS AND GHG INVENTORIES, REPORTING AND REVIEW, AND COMPILATION AND  ACCOUNTING FOR ANNEX B PARTIES (SBI): </strong>Parties met in a contact group and  informal consultations to address SBI agenda items on Annex I national  communications and greenhouse gas (GHG) inventory data, reporting and review of  information submitted by Annex I parties to the Protocol, and the annual  compilation and accounting report for Annex B parties under the Protocol. </p>
                               <p class="textstory">Regarding the report on GHG inventory data for 1990&ndash;2007, China, for the G-77/CHINA, with BRAZIL,  expressed concern at the trend of increase of GHG emissions in Annex I parties  and suggested reflecting this concern in SBI conclusions. The EU noted that its  member states are undertaking significant reductions and proposed that SBI  conclusions take note of the report (FCCC/SBI/2009/12). The US suggested  using language from previous SBI conclusions, and the Secretariat explained  that relevant language on emission trends is contained in decision&nbsp;&nbsp;&nbsp; 1/CP.9. </p>
                               <p class="textstory">Regarding the report on the review of fourth national communications and  preparations for the fifth national communications, Co-Chair Herold reminded  parties that according to decision 10/CP.13, Annex I parties are expected to  submit a fifth national communication on 1 January 2010 &ldquo;with a view to  submitting the sixth national communication four years after this date,&rdquo; that  is on 1 January 2014. The US, EU, AUSTRALIA and RUSSIAN FEDERATION suggested  deciding on the exact date for submitting the sixth national communication at a  later stage, pending the outcome of AWG-LCA discussions. The G-77/CHINA, with BRAZIL,  proposed fixing the date at this session. </p>
                               <p class="textstory">On reporting and review of information from Annex I parties under the  Protocol, Co-Chair Herold proposed the SBI conclusions take note of the report  (FCCC/SBI/2009/INF.8), and parties agreed.</p>
                               <p class="textstory">Regarding the annual compilation and accounting report for Annex B  parties under the Protocol, Co-Chair Herold noted two documents under this  agenda item (FCCC/KP/CMP/2009/15 and Add.1), and parties requested more time to  study them.&nbsp; </p>
                               <p class="textstory">In informal consultation held in the afternoon, the Co-Chairs presented  draft conclusions relating to these agenda items. One developing country said  the text could reflect the fact that emissions from Annex I parties actually  increased if countries with economies in transition are excluded. </p>
                               <p class="textstory">Some developed countries said text on commitments was outside the  group&rsquo;s mandate, and asked that it be deleted and the document simplified.</p>
                               <p class="textstory">Regarding text on the timing of Annex I parties&rsquo; submission of their  sixth national communications, several developed countries preferred to defer  further consideration to SBSTA 32. Citing the heavy workload in Copenhagen, one party  proposed deferring consideration of the broader agenda item to SBSTA 32.&nbsp; </p>
                               <p class="textstory">The contact group will resume on Friday morning to discuss these items,  with the exception of the item on reporting and review of information from  Annex I parties under the Protocol.</p>
                               <p class="textstory"><em><strong>IN THE CORRIDORS</strong></em></p>
                               <p class="textstory">Much of the talk  in the corridors on Thursday afternoon and evening was focused on the suspension  of both the COP and COP/MOP, pending consultations on whether to establish  contact groups to consider proposed new protocols under the Convention and  proposed amendments to the Kyoto Protocol. As on Wednesday when the COP was  suspended, Tuvalu led a group of African, Latin American and AOSIS parties in  urging a formal contact group to consider the proposed Protocol amendments, and  resisted proposals to move the procedural question to an informal setting with  a review of progress in plenary on Saturday. </p>
                               <p class="textstory">Many noted that  these disputes were closely related to the question concerning the legal form  of the outcome: &ldquo;We have still not resolved the critical question of the legal  outcome of these negotiations,&rdquo; noted one old hand in the process. &ldquo;Developing  countries want to preserve and strengthen Kyoto,  while most Annex I countries are seeking a comprehensive legal framework that  also engages the US  and developing countries in mitigation efforts.&rdquo; Differences were also detected  among developing countries as to whether the outcome from the AWG-LCA should be  legally-binding.</p>
                               <p class="textstory">The wisdom of  suspending work under COP and COP/MOP and its implications were also being  discussed around the Bella   Center. Some viewed the  request to also suspend the COP/MOP as a good strategic move, while others  feared it could delay work on other issues. &ldquo;It hasn&rsquo;t slowed the informals  under the AWG-LCA,&rdquo; said one NGO who was supportive of AOSIS&rsquo; stand. &ldquo;I&rsquo;m just  not sure how they&rsquo;ll break the deadlock,&rdquo; she added.</p>
                               <p class="textstory">Meanwhile,  delegates were also reacting to the leak of a proposed outcome document &ndash; the  &ldquo;Copenhagen Accord&rdquo; &ndash; by French newspaper <em>Le Monde</em>. The text, which was  said to have been developed by China,  India, Brazil, and South Africa, had apparently been  distributed among G-77/China parties earlier in the week before the leak on  Thursday. While the initial response to the text was cautious, some developed  country delegates seemed positively surprised by what they characterized as a  relatively &ldquo;realistic&rdquo; text. For their part, some of those connected with the  text were playing down its significance at this stage, with delegates noting  that it has &ldquo;limited status&rdquo; and is &ldquo;just a working draft.&rdquo; </p>
                               <p class="textstory">People were also  commenting on the increasing number of people at the Bella Center  on Thursday, as more ministers arrived and delegations continued to grow. Lines  to get into the building were noticeably longer than in previous days, and  there was talk of limits on observer numbers next week. &ldquo;The place is already  packed and there&rsquo;ll be thousands more next week,&rdquo; noted one insider. Rumors  were also circulating about large-scale protests planned for Saturday. </p>
                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, the United Nations Environment Programme (UNEP), and the World Bank. Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at the Copenhagen Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
