<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Durban Climate Change Conference - Saturday, 03 December 2011, Durban, South Africa</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Durban Climate Change Conference - November 2011, 28 November - 9 December 2011, Durban, South Africa" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, DURBAN HIGHLIGHTS - Saturday, 03 December 2011, Durban, South Africa" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365100;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365100;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}


-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
     </tr>
   </table>
     <table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
               <tr>
                 <td width="549" valign="top"><div align="center">
                   <table width="510" border="0">
                     <tr>
                       <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                     </tr>
                     <tr>
                       <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                     </tr>
                     <tr>
                       <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                     </tr>
                   </table>
                 </div></td>
               </tr>
             </table></td>
           </tr>
         </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td></td>
             </tr>
             <tr>
               <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                 <tr>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/download/pdf/enb12529e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12529f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12529s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/climate/cop17/japanese/enb12529j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                 </tr>
               </table></td>
             </tr>
             <tr>
               <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 529 - Monday, 05 December 2011</font><br />
               </div></td>
             </tr>
           </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
             <tr>
               <td width="663" align="center"><div align="center"><STRONG class="meeting_title">DURBAN HIGHLIGHTS</STRONG></div></td>
             </tr>
             <tr>
               <td align="center"><div align="center"><strong class="light_green">Saturday, 03 December 2011</strong></div></td>
             </tr>
           </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                 <tr>
                   <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                   <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                 </tr>
                 <tr>
                   <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                   <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                       <td><p class="textstory">The SBI and SBSTA closing plenaries began on  Saturday afternoon and concluded late Saturday night. Contact groups and  informal consultations were also held on a wide range of agenda items under the  COP, COP/MOP, AWG-LCA and AWG-KP, with negotiations continuing throughout the  day.</p>
                         <p class="textstory"><strong><em>SBSTA </em></strong></p>
                         <p class="textstory"><strong>PROTOCOL ARTICLES 2.3 AND 3.14 (ADVERSE  IMPACTS):</strong> Parties adopted joint draft SBI/SBSTA  conclusions (FCCC/SBSTA/2011/L.21). </p>
                         <p class="textstory"><strong>REPORTING GUIDELINES ON ANNEX I PARTIES&rsquo;  ANNUAL INVENTORIES:</strong> Riitta Pipatti (Finland)  reported that work had not been completed on this item. The SBSTA adopted draft  conclusions (FCCC/SBSTA/2011/L.23) and invited COP 17 to provide further  guidance on this issue. </p>
                         <p class="textstory"><strong>RESPONSE MEASURES:</strong> This joint SBI/SBSTA item was taken up under both bodies. Noting  that discussions on this item had not yet yielded an agreement, the SBSTA  agreed that the matter would be brought to the attention of the COP President  for further work in Durban. </p>
                         <p class="textstory"><strong>OTHER SBSTA AGENDA ITEMS:</strong> The SBSTA adopted draft conclusions on the following agenda items,  with little or no further discussion:</p>
                         <ul>
                           <li class="textstory">technology transfer  (FCCC/SBSTA/2011/L.22);</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">fuel used for international  aviation and maritime transport (FCCC/SBSTA/2011/L.19);</li>
                         </ul>
                         <ul>
                           <li class="textstory">carbon capture and storage as  CDM project activities (FCCC/SBSTA/2011/L.24);</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">afforestation/reforestation  issues under the CDM (FCCC/SBSTA/2011/L.19); and</li>
                         </ul>
                         <ul>
                           <li class="textstory">materiality standard under the  CDM (FCCC/SBSTA/2011/L.18).</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">The SBSTA also adopted draft  conclusions and a draft COP decision on the following items: </li>
                         </ul>
                         <ul>
                           <li class="textstory">the Nairobi work programme  (FCCC/SBSTA/2011/L.26 &amp; Add.1); </li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">research and systematic  observation (FCCC/SBSTA/2011/L.27 &amp; Add.1); and</li>
                         </ul>
                         <ul>
                           <li class="textstory">methodological issues relating  to REDD+ (FCCC/SBSTA/2011/L.25 &amp; Add.1).</li>
                         </ul>
                         
                         <p class="textstory">On REDD+, the AFRICAN GROUP, AUSTRALIA and  others welcomed progress on this issue.&nbsp;&nbsp; </p>
                         <p class="textstory">Regarding the agenda item on methodological  issues relating to HCFC-22 and HFC-23, parties agreed to resume their  discussions at SBSTA 36.</p>
                         <p class="textstory"><strong>CLOSE OF THE SESSION:</strong> SBSTA 36 adopted its report (FCCC/SBSTA/2011/L.17). </p>
                         <p class="textstory">Argentina, for the G-77/CHINA, welcomed  outcomes on several agenda items, including on the Nairobi work programme and on research and  systematic observation. She expressed disappointment at lack of agreement on a  draft decision on response measures. </p>
                         <p class="textstory">The EU welcomed progress on the Nairobi work programme  and technology transfer, and indicated research dialogue and CCS in the CDM as  areas for further work. </p>
                         <p class="textstory">The Democratic Republic of Congo, for the  AFRICAN GROUP, highlighted adaptation and response measures as key issues. </p>
                         <p class="textstory">Grenada, for AOSIS, said efforts to mitigate  climate change must meet the highest standards of environmental integrity and  that Annex I parties should report on all gases with high global warming  potential. </p>
                         <p class="textstory">SBSTA Chair Richard Muyungi thanked  participants and closed SBSTA 35 at 11:23pm.</p>
                         <p class="textstory"><strong><em>SBI </em></strong></p>
                         <p class="textstory"><strong>COMPLIANCE:</strong> On amendment of the Protocol in respect of procedures and mechanisms relating  to compliance, parties agreed to resume discussions at SBI 36. </p>
                         <p class="textstory"><strong>PROTOCOL ARTICLES 2.3 AND 3.14 (ADVERSE  IMPACTS):</strong> Parties adopted joint draft SBI/SBSTA  conclusions (FCCC/SBI/2011/L.29). Noting that agenda items on these issues have  been taken up by SBI and SBSTA over several years, SAUDI ARABIA expressed  disappointment that discussions remain procedural and have not yet become more  substantive. He hoped for progress at the next session. </p>
                         <p class="textstory"><strong>APPEALS AGAINST CDM EXECUTIVE BOARD  DECISIONS:</strong> Kunihiko Shimada (Japan), who had  co-chaired discussions on this issue, noted progress on the form and some  features of the possible appeals body. However, he reported that parties had  not found agreement on the mandate to establish the appeals process. The SBI  adopted conclusions (FCCC/SBI/2011/L.30), taking note of the revised draft  co-chairs&rsquo; text and agreeing to resume discussions at SBI 36. </p>
                         <p class="textstory"><strong>PROGRESS ON DECISION 1/CP.10 (BUENOS  AIRES PROGRAMME OF WORK ON ADAPTATION AND RESPONSE MEASURES)</strong>: On draft conclusions (FCCC/SBI/2011/L.25), the Gambia, for LDCs,  sought to add reference to LDCs in one section. SAUDI ARABIA and VENEZUELA both  raised concerns about the text. Parties agreed to hold further informal  discussions on Saturday evening. However, these did not result in an agreement  and parties agreed to take up the issue again at SBI 36.</p>
                         <p class="textstory"><strong>NATIONAL ADAPTATION PLANS:</strong> Chair Owen-Jones detected progress towards an agreement and asked  parties to consider draft conclusions (FCCC/SBI/2011/L.36). Noting that the  entire text would remain bracketed, he suggested bringing the issue to the  attention of the COP President. Parties agreed to this approach. </p>
                         <p class="textstory"><strong>LOSS AND DAMAGE:</strong> The SBI adopted draft conclusions and a draft COP decision  (FCCC/SBI/2011/L.35 &amp; Add.1). Chair Owen-Jones congratulated parties on the  positive outcome. </p>
                         <p class="textstory"><strong>NON-ANNEX I COMMUNICATIONS:</strong> Parties adopted conclusions (FCCC/SBI/2011/L.31) and a draft COP  decision (FCCC/SBI/2011/L.31, Add.1) on the work of the Consultative Group of  Experts. They also adopted SBI conclusions on further implementation of  Convention Article 12.5 (FCCC/SBI/2011/L.32) and the provision of financial and  technical support (FCCC/SBI/2011/L.33).&nbsp; </p>
                         <p class="textstory"><strong>CAPACITY BUILDING:</strong> On capacity building under the Convention, the SBI adopted  conclusions and a draft COP decision (FCCC/SBI/2011/L.37 &amp; Add.1). </p>
                         <p class="textstory">On capacity building under the Protocol, the  SBI adopted conclusions and a draft COP/MOP decision (FCCC/SBI/2011/L.38 &amp;  Add.1).</p>
                         <p class="textstory"><strong>RESPONSE MEASURES:</strong> Noting that discussions on this item had not yet yielded an  agreement, the SBI agreed to Chair Owen-Jones&rsquo; suggestion that he bring this  matter to the attention of the COP President for further work in Durban. </p>
                         <p class="textstory"><strong>OTHER SBI AGENDA ITEMS:</strong> The SBI adopted draft conclusions on the following agenda items,  with little or no further discussion:</p>
                         <ul>
                           <li class="textstory">technology transfer  (FCCC/SBI/2011/L.34);</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">implementation of the headquarters  agreement (FCCC/SBI/2011/L.28);</li>
                         </ul>
                         <ul>
                           <li class="textstory">international transaction log  (FCCC/SBI/2011/L.23);</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">LDCs (FCCC/SBI/2011/L.23); and</li>
                         </ul>
                         <ul>
                           <li class="textstory">annual compilation and  accounting report for Annex B parties under the Protocol for 2011  (FCCC/SBI/2011/L.26).</li>
                         </ul>
                         
                         <p class="textstory">On budget performance for 2010 and the  continuing review of the Secretariat, the SBI adopted draft conclusions and  draft COP and COP/MOP decisions (FCCC/SBI/2011/L.27, Adds.1 &amp; 2). </p>
                         <p class="textstory">On the financial mechanism, the SBI adopted  draft conclusions and a draft COP decision on the report of the GEF  (FCCC/SBI/2011/L.41 &amp; Add.1). On support for the LDC Fund, the SBI adopted  draft conclusions and a draft COP decision (FCCC/SBI/2001/L.40 and Add.1). </p>
                         <p class="textstory">Consideration was not completed on the  agenda item on Annex I communications, including sub-items on the fifth  national communications, as well as on further implementation of Convention  Article 12.5. As a result, the item will be included on the agenda for SBI 36.</p>
                         <p class="textstory"><strong>OBSERVER STATEMENTS: </strong>BINGOs proposed developing new channels for input from observer  organizations. CLIMATE ACTION NETWORK said COP 18 should explore a range of  approaches on loss and damage, including a mechanism. The INSTITUTE FOR  AGRICULTURE AND TRADE POLICY said the work programme on loss and damage should  actively consider agriculture and food security. YOUTH urged the GEF to provide  more funding for adaptation, and said the technology mechanism must be fully  operational by 2012. </p>
                         <p class="textstory"><strong>CLOSE OF THE SESSION: </strong>The SBI adopted its report (FCCC/SBI/2011/L.24). In their  closing remarks, delegates applauded the decision on loss and damage.  Argentina, for the G-77/CHINA, expressed concern over the lack of voluntary  contributions to the Adaptation Fund, and stressed that national adaptation  plans must be a viable and implementation-driven process. The EU noted a  positive outcome on the budget. She said discussions on response measures must  be streamlined and address not only economic and social impacts, but also  opportunities and benefits of climate policies. Burkina Faso, for the AFRICAN  GROUP, urged conclusions on national adaptation plans to ensure the process can  be launched as soon as possible. El Salvador, for SICA, called for direct  contributions to the Adaptation Fund from all the flexibility mechanisms</p>
                         <p class="textstory">The Gambia, for LDCs, expressed  disappointment that work on national adaptation plans has not moved forward as  much as hoped. The PHILIPPINES said national adaptation plans should be  expanded to other vulnerable developing countries.</p>
                         <p class="textstory">Delegates also thanked Robert Owen-Jones for  his successful tenure as SBI Chair.</p>
                         <p class="textstory">SBI Chair Owen-Jones thanked participants  and closed SBI 35 at 12:22 am.</p>
                         <p class="textstory"><strong><em>CONTACT  GROUPS AND INFORMAL CONSULTATIONS </em></strong></p>
                         <p class="textstory"><strong>GREEN CLIMATE FUND (COP):</strong> COP President Nkoana-Mashabane presided over open-ended informal  consultations, asking parties to present not just concerns but solutions. </p>
                         <p class="textstory">JAPAN acknowledged concerns over the Fund&rsquo;s  legal personality and ambiguity in the relationship between the Fund and the  Convention, but said the newly-established Board could address these concerns. </p>
                         <p class="textstory">EGYPT, INDIA, NAMIBIA and the LDCs said the  Fund should have full juridical personality to ensure direct access. Along with  KENYA, SAUDI ARABIA and the SUDAN, they also stressed the importance of  ensuring the GCF&rsquo;s accountability to the COP. </p>
                         <p class="textstory">FIJI said the GCF is needed immediately and  called for complementarity with other funding instruments and institutions.  NIGERIA, TANZANIA and ZAMBIA warned against overreliance on the private sector. </p>
                         <p class="textstory">The EU recognized concerns, but said he was  confident the COP would be able to agree on the draft instrument and that  parties should focus on interim arrangements to get things off the ground. He  stressed that the Board should begin its work as soon as possible. </p>
                         <p class="textstory">NIGERIA identified a &ldquo;strategic imbalance&rdquo;  in the negotiations, with mitigation discussions far ahead of those on  adaptation. SWITZERLAND said EITs should have access to the Fund. </p>
                         <p class="textstory"><strong>ADAPTATION FUND BOARD (COP/MOP):</strong> Parties considered draft decision text on the report of the  Adaptation Fund Board and agreed to provide final written comments by Monday.  On the review, Parties agreed to forward the performance analysis and relevant  comments to the Adaptation Fund Board for its consideration. These compiled  comments will be forwarded to SBI 36 for the development of conclusions, with a  view for adoption at COP/MOP 8.</p>
                         <p class="textstory"><strong>AWG-LCA STOCKTAKING:</strong> On Saturday morning, AWG-LCA Chair Daniel Reifsnyder introduced an  amalgamation document of draft texts in preparation of a comprehensive and  balanced outcome to be presented to COP 17 (FCCC/AWGLCA/2011/CRP.37 and Add.1).  He said it contained draft text resulting from the work of the informal groups  and was intended to provide a &ldquo;snapshot&rdquo; for parties to identify gaps, and  opportunities for streamlining. He explained that information on technical  aspects, including on biennial reports, biennial update reports, IAR and ICA,  were also incorporated in an annex.</p>
                         <p class="textstory">On shared vision, Chair Reifsnyder noted the  lack of significant progress. On developed country mitigation, he said the text  reflects progress made on the biennial reports and ICA, and that the  amalgamation text contains draft decisions that reflect &ldquo;a fairly mature stage  of issues.&rdquo; On developing country mitigation, he said the text reflects  progress made on biennial update reports and ICA. On REDD+ finance, he  described a &ldquo;significant and very helpful advance.&rdquo; </p>
                         <p class="textstory">On sectoral approaches, Chair Reifsnyder  said parties are expected to keep working towards streamlining text on  international aviation and shipping. </p>
                         <p class="textstory">On response measures, he said no common text  has been reached and six proposals from parties have been submitted. On legal  options, he said that the options discussed by parties were included in a text  developed under the facilitator&rsquo;s responsibility, and therefore it is not  considered a negotiating text. </p>
                         <p class="textstory">BOLIVIA expressed concerns with the  continuation of markets for parties not subscribing to targets under a second  commitment period. He stressed the need for discussing intellectual property  rights in the context of the Technology Committee. </p>
                         <p class="textstory">The US said that text on Chapter 2a and 2b  (nationally appropriate mitigation commitments or actions by developed and  developing countries) needs to reflect parties&rsquo; views. Suggesting that the text  is a good start, SAUDI ARABIA called for further work to be conducted in a  party-driven process and for progress on response measures, as one of the main  elements of the Bali Action Plan and as part of a complete package. ECUADOR  proposed splitting the text into several different COP decisions addressing  each of the BAP pillars. </p>
                         <p class="textstory"><strong>ANNEX I EMISSION REDUCTIONS (AWG-KP): </strong>In the spin-off group on numbers, one developing country submitted a  draft text on surplus and carryover of AAUs, which was discussed by delegates.  The co-facilitators then distributed an overview chart of options on the table,  which delegates also discussed.</p>
                         <p class="textstory"><strong>LULUCF (AWG-KP): </strong>In afternoon informal consultations, delegates discussed a revised  non-paper by the co-facilitators. On definitions, a party discussed his proposal  on a definition on forests, noting that this would introduce a comprehensive  vision of forests as systems of life that have multiple functions. One party  noted that changing the definition of forests for a second commitment period  could bring difficulties in terms of implementation and accounting. A group of  countries presented their revised baseline proposal to account for forest  management. Parties will continue working on the text until Monday and any  additions will be integrated in a new revised version of the non-paper.</p>
                         <p class="textstory"><strong><em>IN THE  CORRIDORS </em></strong></p>
                         <p class="textstory">Reflecting on the first week in Durban, some  delegates pointed to a less frenzied atmosphere than the highly-charged  Copenhagen COP or the more positive but &ldquo;logistically-challenged&rdquo; Cancun  COP.&nbsp; That said, there was some  excitement in Durban on Saturday, with thousands of protesters marching  outside, while inside delegates worked feverishly on a multitude of texts. SBI  and SBSTA plenaries met and concluded their work, although they forwarded  several issues to the COP. </p>
                         <p class="textstory">With more than 130 pages of AWG-LCA text to  review and revise, negotiators left the conference center late Saturday night  with plenty of homework for Sunday and early Monday. Large sections of the text  have been under discussion since Panama. However, parties will need to do more  work on level of ambition, market mechanisms and long-term financing, among  others, if they are to get to a &ldquo;party-driven, balanced and equitable outcome.&rdquo;  Under the AWG-KP, three options on the form and limit of a second Kyoto  commitment period were emerging, though participants noted that no consensus  had yet emerged. </p>
                         <p class="textstory">As expected, the COP Presidency quietly  moved the &ldquo;indaba&rdquo; sessions among the parties behind closed doors to encourage  frank conversations. Some delegations were suggesting that &ldquo;subtle changes&rdquo;  could be detected and that, rather than simply making demands, parties were  starting to seek &ldquo;mutual reassurances&rdquo; that divides could be bridged. The  dynamics within the BASIC group were still unclear to some, as was the broader  response to the EU&rsquo;s proposal for how a package deal might emerge and its  desire for a timetable towards a broader agreement.&nbsp; </p>
                         <p class="textstory">As participants discussed how a package  might take shape, many noted that the future of the Kyoto Protocol and its mechanisms  are at the heart of the matter, along with operationalizing the Green Climate  Fund and the other elements of the Cancun Agreements. Another major question  being asked in Durban is whether the AWG-LCA will finish its work four years  after it was created. Many felt it may need more time. </p>
                         <p class="textstory">The complexity of knitting these elements  into a coherent and acceptable Durban outcome with just one week remaining has  many participants worried. &ldquo;We see good progress on some technical issues, but  the geopolitics are difficult and it is just not clear that all the trade-offs  can be reconciled,&rdquo; said one delegate.</p>
                         <p class="textstory">As negotiations resume on Monday, there  will be a push to complete agreement on a further round of issues and to  sharpen options for ministers when they step in on Tuesday.</p></td>
                     </tr>
                   </table></td>
                   <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                 </tr>
                 <tr>
                   <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                   <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                 </tr>
               </table></td>
             </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="304" class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Asheline Appleton, Joanna Dafoe, Elena Kosolapova, Aaron Leopold, Velma McColl, Leila Mead, Eugenia Recio and Chris Spence. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), and the European Commission (DG-ENV). General Support for the Bulletin during 2011 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI) and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, United States of America. The ENB Team at the Durban Climate Change Conference - November 2011 can be contacted by e-mail at &lt;<a href="mailto:chris@iisd.org" class="linknegro">chris@iisd.org</a>&gt;. &#20195;&#34920;&#22243;&#12398;&#21451;</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2011, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
