<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CANCUN HIGHLIGHTS, Thursday,2 December 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, CANCUN HIGHLIGHTS, Thursday,2 December 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12491e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12491f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12491s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12491j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 491 - Friday, 3 December 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">CANCUN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Thursday,2 December 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">Throughout Thursday, a number of  contact groups and informal consultations convened under the COP/MOP, SBI,  SBSTA, AWG-LCA and AWG-KP.</p>
                               <p class="textstory"><strong><em>CONTACT GROUPS AND INFORMAL CONSULTATIONS </em></strong></p>
                               <p class="textstory"><strong>ADAPTATION FUND (COP/MOP):</strong> During the morning COP/MOP contact  group, parties considered a draft decision text on the report by the Adaptation  Fund Board (AFB). </p>
                               <p class="textstory">Regarding amendments to the terms and conditions of services to be  provided by the World Bank, the Philippines, for the G-77/CHINA, expressed  concern with the timeline for reviewing the Fund at COP/MOP 7 and the AFB&rsquo;s  proposal to extend the mandate of the World Bank as a trustee on an interim  basis until COP/MOP 9. She said this could prejudice the review of the Fund. </p>
                               <p class="textstory">AFB Chair Khan explained that even if a decision to terminate the  services of the World Bank was taken after the review in 2011, the selection of  a new trustee would take some time. He indicated that, in the interests of  continuity, it would be necessary to extend the World Bank&rsquo;s mandate until  March 2014 to facilitate the operation of the Fund. He also noted that the  proposed extension would not impact the review of the Fund. </p>
                               <p class="textstory">The G-77/CHINA enquired about the  World Bank&rsquo;s performance reviews and whether it would be possible to request  information from entities, which had conducted these reviews. The WORLD BANK  responded that its internal audit report could be disseminated.</p>
                               <p class="textstory">Responding to a call by Bahamas,  for AOSIS, to hold workshops to improve direct access capacity, AFB Chair Khan  explained that the mandate of the Fund is to finance in-country adaptation  projects rather than capacity building. However, he noted that capacity  building could be facilitated and a toolkit had been developed relating to  accreditation and accessing funding.</p>
                               <p class="textstory"><strong>ARRANGEMENTS FOR  INTERGOVERNMENTAL MEETINGS (SBI): </strong>During the contact group meeting, parties  considered draft conclusions on enhancing the engagement of observer  organizations, paragraph-by-paragraph. Discussions centered on issues including:  the classification of NGO constituencies; the inclusion of national parliaments  and legislators in the UNFCCC process; and the creation of consultative panels  and matters relating to modalities, objectives and functioning of these panels.  Revised text will be prepared.</p>
                               <p class="textstory"><strong>ANNEX I NATIONAL COMMUNICATIONS  (SBI): </strong>In the morning contact group, delegates discussed: a proposal for  draft SBI conclusions; a draft COP decision; and a draft COP/MOP decision on  Annex I national communications.</p>
                               <p class="textstory">On reports on national greenhouse  gas (GHG) inventory data from Annex I parties for the period 1990-2007 and  1990-2008, delegates debated two options: taking note of both reports; and  taking note of the reports and of Annex I parties' total aggregate GHG  emissions over the period 1990-2008. CHINA supported the second option, with  BRAZIL suggesting some amendments to it. The US also supported the second  option but highlighted that the text should remain as it is. BOLIVIA said the  SBI should go beyond taking note of the reports and drew attention to  increasing GHG emissions from Annex I parties.</p>
                               <p class="textstory">On the sixth national  communications, delegates discussed the proposed requirement to submit sixth  national communications by 1 January 2014, which was supported by many parties.  BOLIVIA suggested submission by 2012. BRAZIL supported text urging timely  submission of reports. BRAZIL and CHINA proposed, and the US agreed, to  indicate that the seventh national communication should be submitted &ldquo;no later  than four years&rdquo; after 2014.</p>
                               <p class="textstory">On the frequency of reporting for  Annex I parties, BOLIVIA suggested submissions every two years. BRAZIL said  this agenda item should be further discussed during SBI 34. Discussions on  these issues will continue and revised text will be prepared.</p>
                               <p class="textstory"><strong>MITIGATION (various approaches  to enhance the cost-effectiveness of, and to promote, mitigation actions)  (AWG-LCA): </strong>In the AWG-LCA drafting group in the morning, discussions  focused on whether to proceed on the basis of a new text or on the text  forwarded from Tianjin. A number of developed country parties supported using  the new text while many developing countries preferred the Tianjin text.  Parties agreed to give the facilitator the mandate to streamline the Tianjin  text, with the understanding that it be based on discussions on what elements  have to be included in the text and be brought back to the group before being  forwarded to the Ministerial level for political decision.</p>
                               <p class="textstory">Several parties highlighted  essential elements to be included in the text, <em>inter alia</em>: a mandate to  establish a work programme or programmes on new market mechanisms, as well as  on non-market mechanisms and other approaches; that discussion of market  mechanisms should not start prior to ratification of a second commitment period  under the Kyoto Protocol; recognition that parties may use market mechanisms to  meet mitigation commitments; voluntary participation in mechanisms; and  safeguarding environmental integrity.</p>
                               <p class="textstory"><strong>CHAPTER III (flexibility  mechanisms) (AWG-KP): </strong>In morning AWG-KP spin-off group on the flexibility  mechanisms, parties agreed to move issue-by-issue through the draft decision  text in the Chair&rsquo;s proposal.</p>
                               <p class="textstory">On carbon capture and storage (CCS)  under the CDM, many parties expressed concern that the options in the text are  &ldquo;too black and white&rdquo; and proposed a third option in which CCS could be  eligible under the CDM in a second and subsequent commitment periods provided  that certain issues, such as permanence, are resolved. Parties noted that this  would link the issue to ongoing work under the SBSTA agenda item on CCS under  the CDM. Many parties supported establishing a work programme to resolve these  issues, but debated which body should address it. Parties agreed to continue  discussions on CCS under the CDM in informal consultations facilitated by the  Chair.</p>
                               <p class="textstory">Parties also discussed whether  progress could be made on various issues including: nuclear power under the  CDM; use of standardized baselines; co-benefits; use of Certified Emission  Reductions (CERs) from project activities in certain host countries; discount  factors; share of proceeds; emissions trading; and supplementarity. </p>
                               <p class="textstory">Parties also addressed the draft  decision text proposed by Papua New Guinea during the COP/MOP plenary on the  continuity of the Kyoto mechanisms post-2012. Discussion on the draft decision  text will continue.</p>
                               <p class="textstory"><strong>STANDARDIZED BASELINES UNDER THE  CDM (SBSTA): </strong>In afternoon informal consultations on standardized baselines  under the CDM, parties were not able to agree on text. The co-facilitators will  consult parties and draft new text for consideration during informal  consultations on Saturday. </p>
                               <p class="textstory"><strong>CDM (COP/MOP): </strong>Co-Chair  Calvo&nbsp;Buend&iacute;a introduced a list of issues prepared by the co-chairs based  on parties&rsquo; interventions in the COP/MOP plenary and the CDM Executive Board&rsquo;s  report. He invited parties to consider the list and suggest additions if  necessary. </p>
                               <p class="textstory">Parties proposed additional issues  for consideration, including: forests in exhaustion; priority to countries  underrepresented in the CDM; financial and institutional mechanisms to sustain  specific technologies under the CDM; treatment of new methodologies and  guidelines; enhanced role of designated national authorities and performance of  designated operational entities; timing of the generation of CERs; inclusion of  city-wide programmes under the CDM; and other approaches for assessing  additionality. SAUDI ARABIA, supported by JORDAN, said consideration of  including CCS under the CDM should be added to the list. Co-Chair Buend&iacute;a,  noting that informal consultations are being conducted on the issue, proposed  inserting a placeholder, pending the outcome of the informal consultations.</p>
                               <p class="textstory">Parties then commenced  consideration of the first issue on the list, relating to the provision of a  signal of commitment to the continuation of the CDM. Co-Chair&nbsp;Buend&iacute;a  noted general support for the CDM&rsquo;s continuation and asked if there were any  objections to the reference. BRAZIL, supported by CHINA, highlighted that the  CDM cannot continue unless the Kyoto Protocol continues and said a signal  regarding the continuation of the CDM requires the establishment of a Kyoto  Protocol second commitment period. Co-Chair&nbsp;Buend&iacute;a noted that the issue  of the continuation of the Kyoto Protocol is beyond the mandate of the contact  group, which is required to consider guidance to the CDM Executive Board  regarding the governance of the CDM. </p>
                               <p class="textstory">PAPUA NEW GUINEA drew attention to  their proposal for a COP/MOP decision supporting the continuation of the Kyoto  Protocol. JAPAN, SAUDI ARABIA and others also opposed discussions by the contact  group of issues relating to the continuation of the Kyoto Protocol. Co-Chair  Buend&iacute;a, noting that no party had objected to the continuation of the CDM,  proposed deleting the paragraph and allowing the commitment to the CDM&rsquo;s  continuation to be implicit. PAPUA NEW GUINEA opposed deleting the reference  but said it could be bracketed for now. BOLIVIA reserved their right to return  to the issue.</p>
                               <p class="textstory">Parties then discussed improvements  to the CDM programme of activities and related regulations. GRENADA supported  improvements to the programme of activities and highlighted that there are  outstanding issues to be discussed, such as how micro-scale criteria apply to  programmes of activities, particularly whether they apply to the entire  programme or to each CDM programme activity. </p>
                               <p class="textstory">The co-chairs will prepare draft  text ahead of the next contact group meeting, based on this list and parties&rsquo;  suggestions and discussions.</p>
                               <p class="textstory"><strong>JOINT IMPLEMENTATION (COP/MOP): </strong>During  the contact group&rsquo;s first meeting on Thursday afternoon, Co-Chair Hojesky  outlined six issues for the group to address: the financial situation;  continuation of joint implementation (JI) in the post-2012 period;  participation by countries in the process of becoming Protocol Annex B parties;  JI&rsquo;s future and possible merger of the two JI tracks; review and revision of JI  guidelines; and further guidance to the JI Supervisory Committee (JISC). </p>
                               <p class="textstory">Co-Chair Hojesky then presented on  each of the six issues, highlighting the JISC&rsquo;s unpredictable funding situation  and identifying a fee on Track 1 projects as a possible funding option. He also  explained that the Kyoto Protocol has no end date but there is uncertainty over  the post-2012 period. Co-Chair Hojesky outlined a proposal relating to a  possible gap between the first and subsequent commitment periods, according to  which emission reductions generated by existing JI projects could be  transformed to Emission Reductions Units (ERUs) using first commitment period  Assigned Amount Units (AAUs) during the gap period. </p>
                               <p class="textstory">On the proposed fee, the EU  expressed a willingness to discuss ways to ensure the JISC&rsquo;s financial  sustainability and highlighted the need for transparency concerning the JISC&rsquo;s  needs. UKRAINE identified the need to consult on the level of the proposed fee.  JAPAN preferred focusing on other means, saying the proposed fee could  discourage JI activities.</p>
                               <p class="textstory">On the post-2012 JI, UKRAINE  identified the need for further explanations concerning the proposal to issue  credits during the possible gap period. The EU identified the need to ensure  the Protocol&rsquo;s environmental integrity and also consider the issue in a broader  context. The JOINT IMPLEMENTATION ACTION GROUP supported the JI&rsquo;s continuation  in the gap period, saying that it would: be a first step in providing the necessary  long-term perspective; not weaken the targets or involve borrowing from future  commitment periods; and not require changes to the Marrakesh Accords.</p>
                               <p class="textstory">Parties then discussed whether  credits can be issued from projects in countries such as Belarus&nbsp;that are  in the process of becoming Protocol Annex B parties. BELARUS highlighted that  his country is ready to implement a number of JI projects using the Track 2  procedure, indicating that they are only waiting to achieve Annex B status. The  EU said a decision on the issue cannot be taken now. </p>
                               <p class="textstory">Parties also discussed the two  options for a new JI operational model, which are to formulate a new single JI  track or maintain but strengthen the separate tracks. The EU asked if it was  necessary to select just one option. The Secretariat explained that the aim of  discussions is not to select an option but to flag the issues for further  discussion. The EU stressed that any discussion on the JI operational model  must not prejudge the design of the post-2012 climate change framework.</p>
                               <p class="textstory">Regarding a review of the JI  guidelines, the EU supported such a review, but stressed that any action in  this regard must not pre-empt a decision regarding AAUs in the post-2012  period. The co-chairs will prepare draft decision text for consideration by  parties at the next meeting.</p>
                               <p class="textstory"><strong>COMPLIANCE (COP/MOP): </strong>During  the first meeting of the COP/MOP contact group, Co-Chair Danvivathana explained  that the group&rsquo;s mandate covers two agenda items: the Compliance Committee&rsquo;s  annual report; and Croatia&rsquo;s appeal against a decision by the Committee&rsquo;s  Enforcement Branch.</p>
                               <p class="textstory">On the Committee&rsquo;s annual report  and its request to the COP/MOP concerning the legal status of Committee  members, AUSTRALIA, CANADA and the EU identified the discussions under the SBI  on privileges and immunities as the best way to address this issue and proposed  reflecting this in the COP/MOP decision.</p>
                               <p class="textstory">On general issues raised by  Croatia&rsquo;s appeal against the Enforcement Branch&rsquo;s decision, Co-Chair Tarasofsky  noted that this is the first appeal to the COP/MOP by a party concerning the  Compliance Committee&rsquo;s decision. He therefore identified the need for a  principled discussion on how such appeals should be addressed, including  parties&rsquo; views on due process and remedies. </p>
                               <p class="textstory">On the substance of Croatia&rsquo;s  appeal, CROATIA explained that the Compliance Committee referred the case to  the COP/MOP, as the Enforcement Branch&rsquo;s mandate does not cover all aspects of  it. He stressed Croatia&rsquo;s understanding that decision 7/CP.12 (level of  emissions for the base year of Croatia) applies fully to Croatia&rsquo;s Kyoto  target. He noted that the Enforcement Branch took a different view but that it  is constrained by its mandate. CROATIA expressed preference for addressing the  issue not through the Enforcement Branch but through a COP/MOP decision  indicating that decision 7/CP.12 applies fully to Croatia&rsquo;s Kyoto target. </p>
                               <p class="textstory">The EU acknowledged Croatia&rsquo;s right  to appeal and identified the need to be clear concerning procedural issues so  that the same approach can be used in future appeals. The EU stressed, however,  that the COP/MOP&rsquo;s decision must be limited to the basis on which Croatia&rsquo;s  appeal has been launched. He clarified that the contact group may address  Croatia&rsquo;s case on due process grounds, and that if the COP/MOP decides to  overturn the underlying decision, it can refer the case back to the Enforcement  Branch. CROATIA underscored that such a restrictive approach is the reason  Croatia finds itself in the difficult situation and that referring the case  back to the Enforcement Branch would not lead to a fair and just outcome. </p>
                               <p class="textstory">Co-Chair Tarasofsky identified the  possibility of adopting two COP/MOP decisions, one on the appeal and the other  one on the broader issues related to Croatia&rsquo;s situation. The EU highlighted  the contact group&rsquo;s &ldquo;very specific mandate&rdquo; to address Croatia&rsquo;s appeal, while  CANADA stated that the COP/MOP can take a comprehensive approach and also  address the level of base year emissions. AUSTRALIA indicated that while the  appeal must comply with the existing rules, it is also possible to address the  broader issues.</p>
                               <p class="textstory">ZAMBIA highlighted that the  decisions will set a precedent on how to deal with appeals and suggested  requesting legal guidance on ways to proceed. Co-Chair Tarasofsky identified  &ldquo;clear divergence&rdquo; of views and said the co-chairs will consult with the  Secretariat on the legal issues. Informal consultations will continue.</p>
                               <p class="textstory"><strong>SHARED VISION (AWG-LCA): </strong>During the AWG-LCA&rsquo;s informal  consultations on a shared vision for long-term cooperative action in the evening,  parties considered whether to base negotiations on the Tianjin negotiating text  (FCCC/AWGLCA/2010/14) or on the Chair&rsquo;s text (FCCC/AWGLCA/2010/CRP.1).  Divergent views remained.</p>
                               <p class="textstory">Parties presented three textual  proposals, and began to identify areas of convergence and divergence in the  proposals. Some parties highlighted the challenges of deciding on elements  without knowing whether the text will be part of a legally-binding agreement.  Many parties underscored the importance of including a long-term global goal  for emission reductions and a review. Some called for consideration of a peak  year. Many parties stressed the need for a concise text. Some parties objected  to references to &ldquo;historical responsibility&rdquo; and &ldquo;atmospheric space.&rdquo; Parties  also discussed the extent to which the text should include what will be  achieved and how it will be achieved. </p>
                               <p class="textstory"><strong>CHAPTER I (numbers)(AWG-KP):</strong> In the AWG-KP&rsquo;s afternoon informal  consultations on Chapter I (numbers), parties considered a non-paper on base  years and reference years that reflects emerging consensus on the need for a  single year to express commitments, but allows parties the option to also  express their commitments using a different reference year for domestic  purposes.</p>
                               <p class="textstory">On the length of commitment period, parties discussed five and eight  year commitment periods and described justifications for each related to: the  relationship between the length of the commitment period and need to respond to  science; market certainty; coherence with the AWG-LCA; and the relationship  with domestic legislation. </p>
                               <p class="textstory">On carryover of surplus AAUs, parties considered three options: leaving  provisions unchanged; eliminating carryover; and allowing limited carryover  through either a cap or domestic use of carry-over AAUs for the second period  shortfall. Some parties questioned the implications of proposals on national  and regional trading systems. </p>
                               <p class="textstory"><strong>CAPACITY BUILDING UNDER THE  CONVENTION (SBI): </strong>Parties met in informal consultations throughout the day  to continue consideration of the second comprehensive review of the capacity  building framework. Discussions were based on a draft COP decision forwarded  from SBI 32. Parties considered the text paragraph-by-paragraph. Informal  consultations will continue. </p>
                               <p class="textstory"><strong>CHAPTER II (LULUCF) (AWG-KP): </strong>In informal consultations on LULUCF,  parties addressed <em>force majeur, </em>harvested wood products and reference  levels. Some parties called for a decision so that LULUCF does not become a  reason for a gap between commitment periods. Parties heard a new proposal on  reference levels. Parties were invited to submit textual proposals so that new  text could be prepared for Friday morning.<strong>&nbsp;</strong></p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS </em></strong></p>
                               <p class="textstory">Thursday&rsquo;s cloudy and windy weather  seemed to support delegates&rsquo; efforts to work efficiently in the various  negotiating groups convening at the Moon Palace throughout the day. Some  delegates were seen wearing uncharacteristically casual attire, as a few  t-shirts were distributed in one of the finance groups, some with the phrase,  &ldquo;I am under the authority of the COP,&rdquo; and some with the words &ldquo;I am under  guidance of the COP.&quot; One seasoned expert noted: &ldquo;I think we&rsquo;re making  progress and I&rsquo;m feeling cautiously optimistic that finance will not be the  most difficult hurdle we encounter.&rdquo;</p>
                               <p class="textstory">Carbon markets featured among the  most prominent topics of the day as related issues were taken up by several  groups under the COP/MOP, AWG-KP, AWG-LCA and SBSTA. &ldquo;Markets are an important  tool for setting a price for carbon and reducing emissions, but the private  sector is increasingly anxious about&nbsp; the  future of international carbon trading. Copenhagen failed to provide the  necessary clarity and now time is running out,&rdquo; explained one carbon market  expert. Negotiators also seemed to be aware of the rapidly-approaching 2012  deadline: topics discussed on Thursday included ways to send a signal on the  CDM&rsquo;s continuation and possible crediting under JI during the increasingly  likely &ldquo;gap period&rdquo; after the Kyoto Protocol&rsquo;s first commitment period.  Familiar and highly-politicized debates also continued on issues such as CCS  and nuclear energy under the CDM, creation of new market mechanisms and the  merits and desirability of market approaches: &ldquo;Markets are not the solution,&rdquo;  explained one observer. &ldquo;I have heard that the AWG-LCA plans to send the question  of market mechanisms for resolution during the high-level segment, including  the option that there will be no decision on the use of markets,&rdquo; commented one  delegate on the way forward with this topic.</p>
                               <p class="textstory">Meanwhile, fears that side events over at the Cancunmesse would be  poorly attended were in many cases relieved: &ldquo;We were speaking to an absolutely  packed crowd,&rdquo; enthused one NGO side event organizer. One veteran observer  suggested this could be explained by the large number of informal negotiations  underway, leaving observers a lot of time.</p>
                               <p class="textstory">At the Moon Palace, several  delegates concluded their day with a meeting convened by AWG-LCA Chair  Mukahanana-Sangarwe to take stock of progress made by the AWG-LCA during the  first four days. Those attending heard reports from the various facilitators.  &ldquo;It seems that not too much progress has been made,&rdquo; commented one party  emerging from the meeting, &ldquo;But it looks like a new text will be released on  Saturday,&rdquo; he continued.</p>
                               <p class="textstory">One observer queuing for the  shuttle bus home had more general but important concerns: &ldquo;This is one of those  days when attention is focused on technical details and legal and procedural  complexities &ndash; I hope that the negotiators still manage to keep in mind the  real reason why we are here: In eight days, we need to have a solid and  effective package of decisions that will guide us toward a low-carbon future.&rdquo;</p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
