<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12487e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12487f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12487s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12487j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 487 - Monday, 29 November 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">UN CLIMATE CHANGE CONFERENCE IN CANCUN</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">29 NOVEMBER - 10 DECEMBER 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">The UN Climate Change Conference in  Cancun begins today and is scheduled to conclude on 10 December 2010. The  conference will include the sixteenth session of the Conference of the Parties  (COP 16) to the United Nations Framework Convention on Climate Change (UNFCCC)  and the sixth session of the Conference of the Parties serving as the meeting  of the Parties to the Kyoto Protocol (COP/MOP 6). </p>
                               <p class="textstory">The conference also comprises the  33rd sessions of the Subsidiary Bodies, the fifteenth session of the <em>Ad Hoc</em> Working Group on Further Commitments for Annex I Parties under the Kyoto  Protocol (AWG-KP 15) and the thirteenth session of the <em>Ad Hoc</em> Working  Group on Long-term Cooperative Action under the UNFCCC (AWG-LCA 13).</p>
                               <p class="textstory">The focus of the conference is on a  two-track negotiating process aiming to enhance long-term international climate  change cooperation under the Convention and the Protocol. The original deadline  for completing these negotiations was the UN Climate Change Conference in  Copenhagen, held in December 2009, but as many issues remained outstanding, the  mandates of the two AWGs were extended until Cancun where they are expected to  report their respective outcomes to COP 16 and COP/MOP 6.</p>
                               <p align="center" class="textstory"><strong>A BRIEF HISTORY OF THE UNFCCC AND THE KYOTO PROTOCOL </strong></p>
                               <p class="textstory">The international political  response to climate change began with the adoption of the UNFCCC in 1992, which  sets out a framework for action aimed at stabilizing atmospheric concentrations  of greenhouse gases to avoid &ldquo;dangerous anthropogenic interference&rdquo; with the  climate system. The UNFCCC entered into force on 21 March 1994 and now has 194  parties.</p>
                               <p class="textstory">In December 1997, delegates to COP  3 in Kyoto, Japan, agreed to a Protocol to the UNFCCC that commits  industrialized countries and countries in transition to a market economy to  achieve emission reduction targets. These countries, known as Annex I parties  under the UNFCCC, agreed to reduce their overall emissions of six greenhouse  gases by an average of 5.2% below 1990 levels between 2008-2012 (the first  commitment period), with specific targets varying from country to country. The  Kyoto Protocol entered into force on 16 February 2005 and now has 192 parties. </p>
                               <p class="textstory">In 2005, COP/MOP 1, held in  Montreal, Canada, established the <em>Ad Hoc </em>Working Group on Further  Commitments for Annex I Parties under the Kyoto Protocol on the basis of  Protocol Article 3.9, which mandates consideration of Annex I parties&rsquo; further  commitments at least seven years before the end of the first commitment period.  In addition, COP 11 agreed in Montreal to consider long-term cooperation under  the Convention through a series of four workshops known as &ldquo;the Convention  Dialogue,&rdquo; which continued until COP 13.</p>
                               <p class="textstory"><strong>BALI ROADMAP: </strong>COP 13 and  COP/MOP 3 took place in December 2007 in Bali, Indonesia. Negotiations resulted  in the adoption of the Bali Action Plan (BAP), which established the <em>Ad Hoc </em>Working  Group on Long-term Cooperative Action under the Convention with a mandate to  focus on key elements of long-term cooperation identified during the Convention  Dialogue: mitigation, adaptation, finance and technology transfer. The Bali  conference also resulted in agreement on a two-year process, the Bali Roadmap,  which established two negotiating &ldquo;tracks&rdquo; under the Convention and the  Protocol, and set a deadline for concluding the negotiations at COP 15 and  COP/MOP 5 in Copenhagen in December 2009.</p>
                               <p class="textstory"><strong>FROM BALI TO COPENHAGEN: </strong>In  2008, the two AWGs held four parallel negotiating sessions in: April in  Bangkok, Thailand; June in Bonn, Germany; August in Accra, Ghana; and December  in Poznan&#769;, Poland. In 2009, the AWGs met in: April, June and August in Bonn,  Germany; October in Bangkok, Thailand; November in Barcelona, Spain; and  December in Copenhagen, Denmark.</p>
                               <p class="textstory"><strong>AWG-LCA: </strong>For the AWG-LCA,  the first part of 2009 focused on developing draft negotiating text. This  process resulted in a text that was nearly 200 pages long and covered all the  main elements of the BAP. Because of the length of the text, delegates began  producing non-papers, reading guides, tables and matrices aimed at making the negotiating  text more manageable. The outcome was a series of non-papers, forwarded to  Copenhagen as an annex to the meeting report. Heading into Copenhagen, many  felt the AWG-LCA had made satisfactory progress on adaptation, technology and  capacity building, but that &ldquo;deep divides&rdquo; remained on mitigation and certain  aspects of finance.</p>
                               <p class="textstory"><strong>AWG-KP: </strong>For the AWG-KP, the  focus in 2009 was on the &ldquo;numbers,&rdquo; namely Annex I parties&rsquo; aggregate and  individual emission reductions beyond 2012, when the Protocol&rsquo;s first commitment  period expires. Parties also discussed other issues in the AWG-KP&rsquo;s work  programme, including the flexibility mechanisms, land use, land-use change and  forestry (LULUCF) and potential consequences of response measures. The  discussions were based on documentation divided into proposals for amendments  to the Protocol under Article 3.9 and text on other issues, such as LULUCF and  the flexibility mechanisms. Ahead of Copenhagen, many felt that insufficient  progress had been made on Annex I parties&rsquo; aggregate and individual emission  reductions, and differences also surfaced between developed and developing  countries concerning whether the outcome from Copenhagen should be an amendment  to the Kyoto Protocol or a single new agreement bringing together the work done  by the two AWGs.</p>
                               <p class="textstory"><strong>COPENHAGEN CLIMATE CHANGE  CONFERENCE: </strong>The UN Climate Change Conference in Copenhagen, Denmark, took  place from 7-19 December 2009, and included COP 15 and COP/MOP 5, the 31st  sessions of the Subsidiary Body for Implementation (SBI) and the Subsidiary  Body for Scientific and Technological Advice (SBSTA), as well as AWG-KP 10 and  AWG-LCA 8. Over 110 world leaders attended the joint COP and COP/MOP high-level  segment from 16-18 December.</p>
                               <p class="textstory">The conference was marked by  disputes over transparency and process. During the high-level segment, informal  negotiations took place in a group consisting of major economies and  representatives of regional and other negotiating groups. Late in the evening  of 18 December, these talks resulted in a political agreement: the &ldquo;Copenhagen  Accord,&rdquo; which was then brought to the COP plenary. Over the next 13 hours,  delegates debated the Accord. Many supported adopting it in the form of a COP  decision as a step towards securing a &ldquo;better&rdquo; future agreement. However, some  developing countries opposed the Accord, which they felt had been reached  through an &ldquo;untransparent&rdquo; and &ldquo;undemocratic&rdquo; process. Ultimately, the COP  agreed to &ldquo;take note&rdquo; of the Copenhagen Accord. They also established a process  for parties to indicate their support for the Accord and, to date, 140  countries have indicated their support. More than 80 countries have also  provided information on their emission reduction targets and other mitigation  actions.</p>
                               <p class="textstory">On the last day of the Copenhagen  Climate Change Conference, the COP and COP/MOP also agreed to extend the  mandates of the AWG-LCA and AWG-KP, requesting them to present their respective  outcomes to COP 16 and COP/MOP 6 in Cancun, Mexico.</p>
                               <p class="textstory"><strong>BONN CLIMATE CHANGE TALKS  (APRIL AND JUNE 2010): </strong>Negotiations resumed in 2010 with AWG-LCA 9 and  AWG-KP 11, which took place from 9-11 April. Their focus was on the  organization and methods of work in 2010. In the AWG-LCA, delegates mandated  the Chair to prepare text for the June session. The AWG-KP agreed to continue  considering Annex I parties&rsquo; aggregate and individual emission reductions, as  well as the other issues.</p>
                               <p class="textstory">Discussions continued in Bonn from  31 May to 11 June. AWG-LCA 10 focused on the Chair&rsquo;s new draft text. Towards  the end of the meeting, AWG-LCA Chair Margaret Mukahanana-Sangarwe (Zimbabwe)  circulated the advance draft of a revised text. Some developing countries felt  that the advance draft was &ldquo;unbalanced&rdquo; and should not be used as the basis for  negotiations in August unless their views were reflected more fully. A revised  version of the Chair&rsquo;s draft text was circulated in July.</p>
                               <p class="textstory">AWG-KP 12 focused on Annex I  emission reductions and other issues, including the flexibility mechanisms and  LULUCF. It also addressed ways to avoid a gap between the first and subsequent  commitment periods, and requested the Secretariat to prepare a paper on legal  options for achieving this.</p>
                               <p class="textstory"><strong>BONN CLIMATE CHANGE TALKS  (AUGUST 2010): </strong>AWG-LCA 11 considered the Chair&rsquo;s draft text circulated in  July 2010 (FCCC/AWGLCA/2010/8). The AWG-KP continued consideration of the scale  of Annex I emission reductions under the Protocol and other issues. It also  discussed legal matters, including a possible gap between the Protocol&rsquo;s first  commitment period (2008-2012) and subsequent commitment periods. The AWG-KP  agreed to forward a Chair&rsquo;s draft proposal (FCCC/KP/AWG/2010/ CRP.2) for  further discussion in Tianjin.</p>
                               <p class="textstory"><strong>TIANJIN CLIMATE CHANGE TALKS: </strong>The  last round of negotiations before Cancun took place from 4-9 October 2010 in  Tianjin, China. The AWG-LCA discussed a negotiating text (FCCC/AWGLCA/2010/14),  which encompasses the main elements of the BAP. The meeting sought to focus on  issues that lend themselves to resolution in the time available before COP 16,  bearing in mind the need to achieve balance. Parties agreed to reflect their  work in an information document prepared by the Secretariat and that the  AWG-LCA negotiating text would remain the basis for negotiations in Cancun. </p>
                               <p class="textstory">The AWG-KP considered the Chair&rsquo;s  draft proposal presented at AWG-KP 13. The document contains several draft  decisions on, <em>inter alia</em>, Protocol amendments under Article 3.9,  flexibility mechanisms and LULUCF. Parties focused on narrowing down options  and attempted to make progress on substantial issues. A revised Chair&rsquo;s proposal  (FCCC/KP/AWG/2010/CRP.3) will be considered in Cancun.</p>
                               <p class="textstory"><strong><em>INTERSESSIONAL HIGHLIGHTS</em></strong></p>
                               <p class="textstory"><strong>THIRD CARTAGENA DIALOGUE FOR  PROGRESSIVE ACTION: </strong>The third Cartagena Dialogue, an informal space open to  countries working towards an ambitious, comprehensive and legally-binding  regime under the UNFCCC, took place from 31 October &ndash; 2 November 2010 in San  Jose, Costa Rica. It was attended by 29 parties from the Alliance of Small  Island States, Latin America, Europe, Oceania, South East Asia and Africa.  Participants reaffirmed their desire for an integrated and ratifiable post-2012  legal regime. They identified the need for substantial progress at COP 16, in  the form of balanced decisions, to provide a foundation for this overarching  objective. Participants also exchanged views on textual proposals. </p>
                               <p class="textstory"><strong>DELHI MINISTERIAL DIALOGUE ON  CLIMATE CHANGE: TECHNOLOGY MECHANISM: </strong>From 9-10 November 2010, ministers  and representatives from 35 countries met in New Delhi, India, for a dialogue  &ldquo;Climate Change: Technology Mechanism.&rdquo; The meeting was hosted jointly by India  and Mexico. According to the Chair&rsquo;s summary, participants called for agreement  in Cancun on a technology mechanism that would consist of a technology  executive committee and climate technology centers and networks.</p>
                               <p class="textstory"><strong>GROUP OF 20 (G-20): </strong>The  G-20 Summit took place from 11-12 November 2010 in Seoul, Republic of Korea.  The Summit Document stresses commitment  by G-20 countries to achieving a successful, balanced result in Cancun that  includes the core issues of mitigation, transparency, finance, technology,  adaptation, and forest preservation.</p>
                               <p class="textstory"><strong>MAJOR ECONOMIES FORUM ON ENERGY  AND CLIMATE CHANGE (MEF): </strong>The MEF took place at the leaders&rsquo; representatives&rsquo; level in  Crystal City, Virginia, US, from 17-18 November 2010. It was attended by  ministers and officials from seventeen major economies as well as the UN,  Barbados, Colombia, Democratic Republic of the Congo, Denmark, New Zealand,  Singapore and Spain. Participants expressed support for concluding a package of  decisions in Cancun, including on adaptation, mitigation, transparency, finance  and technology. Many participants also identified the need for agreement on  future commitments under the Kyoto Protocol. </p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p></td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
