<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DOHA HIGHLIGHTS - November 2012, Tuesday, 27 November 2012, Doha, Qatar</title>
<link rel="image_src" href="/_img/_logos/iisd/logo_iisdrs_2012__200px.png" />
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), ENB, Climate Change, UNFCCC, Doha Climate Change Conference - November 2012, 26 November - 7 December 2012, Doha, Qatar" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, UN Framework Convention on Climate Change (UNFCCC), Curtain Raiser of the Doha Climate Change Conference - November 2012, Tuesday, 27 November 2012, Doha, Qatar" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365110;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365110;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><div style="width:165px; height:190px; position:absolute; margin-left:850px;"><a href="http://enb.iisd.mobi/unfccc-cop18/todays-report/" target="_blank"><img src="/dailies_images/images/generic/qrcode_cif.png" alt="Mobile access to this event's ENB reports and more!" width="165" height="190" border="0"></a></div><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
               <tr>
                 <td width="549" valign="top"><div align="center">
                   <table width="511" border="0">
                     <tr>
                       <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                     </tr>
                     <tr>
                       <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                     </tr>
                     <tr>
                       <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                     </tr>
                   </table>
                 </div></td>
               </tr>
             </table></td>
           </tr>
         </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td></td>
             </tr>
             <tr>
               <td height="58" align="center" valign="top"><table width="425" border="0" align="center" cellpadding="2" cellspacing="0">
                 <tr>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/download/pdf/enb12558e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                           </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12558f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                   </table></td>
                   <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/arabic_e.png" alt="" width="100" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12558a.html"><img src="/images/arabia.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12558j.html"><img src="/images/japanese.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                 </tr>
               </table></td>
             </tr>
             <tr>
               <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 558 - Wednesday, 28 November 2012</font><br />
               </div></td>
             </tr>
           </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
             <tr>
               <td width="663" align="center"><div align="center"><STRONG class="meeting_title">DOHA HIGHLIGHTS</STRONG></div></td>
             </tr>
             <tr>
               <td align="center"><div align="center"><font color="#666666" class="greyheading1">Tuesday, 27 November 2012</font></div></td>
             </tr>
           </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                 <tr>
                   <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                   <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                 </tr>
                 <tr>
                   <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                   <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                       <td><p class="textstory">On Tuesday, delegates  met for the opening sessions of the AWG-KP, AWG-LCA and the ADP. The SBI  plenary was also resumed. Participants heard opening statements from  negotiating groups and gave preliminary consideration to the various agenda  items under these bodies. In addition, contact groups and informal  consultations began on a range of issues across the various bodies.</p>
                         <p class="textstory"><strong><em>AWG-LCA </em></strong></p>
                         <p class="textstory">AWG-LCA Chair Aysar Tayeb (Saudi Arabia)  opened the meeting asking parties to work toward solutions where agreement is  possible and to identify appropriate &ldquo;homes&rdquo; for issues where agreement is not  possible in Doha. He introduced the informal overview text  (FCCC/AWGLCA/2012/CRP.3) explaining that it is based on intersessional consultations  with parties and is intended to reflect the views and options discussed in  Bangkok on the elements of the Bali Action Plan. </p>
                         <p class="textstory"><strong>OPENING STATEMENTS:</strong> Many developing countries highlighted the need to provide clarity  on mid-term finance. </p>
                         <p class="textstory">The UMBRELLA GROUP urged transition to a  full implementation phase of post-2012 undertakings. He emphasized that the  fast-start finance commitment has been collectively surpassed<em>.</em> Cyprus,  for the EU, on climate finance, said the EU will continue to provide support  after 2012 and will work to scale up finance towards 2020. PERU, for Colombia,  Chile, Costa Rica and Panama, said parties in Durban decided to bring the  AWG-LCA to its operative end, which implies the need to define next steps for  implementation and closure of the negotiation track. He supported: providing  the institutions and processes with a specific mandate for implementation and;  resolving pending issues at COP 18 and, if necessary, delegating specific tasks  to the SBs and other processes. Swaziland, for the AFRICAN GROUP, said the Doha  meeting must result in agreement on: a comparability and compliance framework  for developed countries&rsquo; mitigation efforts; and clear mid-term targets for  finance. Nauru, for AOSIS, suggested focusing on the work mandated in Durban,  including on a science-based Review narrow in scope. The Gambia, for the LDCs,  said parties in Doha must decide to establish a separate expert body for the  Review to feed into the ADP and establish a platform for developing common  accounting rules. China, for BASIC, emphasized that a successful completion of  AWG-LCA must address all elements of the Bali Action Plan and must not leave  key issues off the table, including equitable access to sustainable development  and technology related to IPRs. Egypt, for the ARAB GROUP, suggested working  towards agreement on outstanding issues and, where there is no agreement, to  consider transferring issues to other Convention bodies. </p>
                         <p class="textstory">Parties&rsquo; views diverged on the AWG-LCA  Chair&rsquo;s text. CHINA, the PHILIPPINES, the ARAB GROUP and others, supported  using the text as a basis for further work, with some noting that it reflected  a wide range of views. The UMBRELLA GROUP, EIG, the EU, CANADA and others,  opposed this. Some suggested starting work under the contact group and spin-off  groups to look for commonalities. Responding to comments, Chair Tayeb noted  that the overview text reflected the views of parties.</p>
                         <p class="textstory"><strong><em>AWG-KP </em></strong></p>
                         <p class="textstory">AWG-KP Chair Madeleine Diouf (Senegal)  opened the resumed 17th session of the AWG-KP and proposed that the AWG-KP  continues with the same organization of work adopted at the first part of the  17th session in Bonn. She introduced her proposal to facilitate negotiations  (FCCC/KP/AWG/2012/CRP.1), explaining that this document will be revised as  discussions progress.</p>
                         <p class="textstory">Chair Diouf provided parties with an update  on discussions undertaken outside of the AWG-KP, including discussions at the  pre-COP meeting in Seoul, Republic of Korea, from 23-24 October 2012, and  informal meetings convened by the Chair on eligibility issues relating to the  Kyoto Protocol second commitment period.</p>
                         <p class="textstory">Chair Diouf also informed parties that the  Secretariat had received two further submissions on QELROs, and that these are  contained in document FCCC/KP/AWG/2012/MISC.1/Add.2 (Information by Annex I  Parties on their Second Commitment Period QELROs).</p>
                         <p class="textstory"><strong>OPENING STATEMENTS: </strong>Algeria, for the G-77/CHINA, suggested the following benchmarks for  a successful outcome in Doha: an ambitious second commitment period under the  Kyoto Protocol effective as of 1 January 2013; ambitious QELROs by Annex I  parties; limited access to flexibility mechanisms by Annex I parties that have  not adopted commitments for the second commitment period; and addressing  carry-over of surplus AAUs.</p>
                         <p class="textstory">Cyprus, for the EU, highlighted: the EU&rsquo;s  immediate implementation of their second commitment period commitments  regardless of other parties&rsquo; ratification timing; the need for broad  participation and flexibility based on environmental integrity; and the need to  resolve the issue of carry-over of surplus AAUs.</p>
                         <p class="textstory">Australia, for the UMBRELLA GROUP,  emphasized that the second commitment period under the Kyoto Protocol needs to  be implementable on 1 January 2013, for an eight-year period. He expressed  concern that &ldquo;the benefits of the Kyoto Protocol flexibility mechanisms are  threatened here in Doha&rdquo; and called for ensuring &ldquo;broad access to these.&rdquo;</p>
                         <p class="textstory">Liechtenstein, on behalf of the EIG,  emphasized that the objective in Doha is to finalize work on the Kyoto Protocol  second commitment period and outlined three outstanding issues: length of the  second commitment period; level of ambition; and the smooth transition to the  second commitment period. </p>
                         <p class="textstory">Nauru, for AOSIS, underscored that the  overarching issue for consideration in Doha is the level of ambition of Annex I  parties&rsquo; commitments, observing that the proposed QELROs derive from previous  pledges that are &ldquo;plainly inadequate&rdquo; for the scale of the challenge.</p>
                         <p class="textstory">Swaziland, for the AFRICAN GROUP, stressed  that the meeting should focus only on rules that will apply during the second  commitment period and necessary amendments, and refer consequential amendments  to the SBS for future consideration. </p>
                         <p class="textstory">Saudi Arabia, for the ARAB GROUP, urged  Annex I parties to commit themselves to scaled-up emission reduction objectives  in line with science and the reports of the IPCC.</p>
                         <p class="textstory">Papua New Guinea, for the COALITION FOR  RAINFOREST NATIONS, stated the Group&rsquo;s preference for a five-year second  commitment period but expressed willingness to consider an eight-year term  provided it includes: a mid-term review mechanism requiring deeper targets  consistent with the upcoming fifth IPCC Report; REDD+ actions under a national  reference level; and national MRV systems to safeguard environmental integrity  in another four-year commitment period.</p>
                         <p class="textstory">The PHILIPPINES, on behalf of Algeria,  Argentina, Bolivia, China, Cuba, The Democratic Republic of the Congo,  Dominica, Ecuador, Egypt, El Salvador, India, Iran, Iraq, Kuwait, Mali,  Mauritania, Nicaragua, Pakistan, Paraguay, Saudi Arabia, Sri Lanka, Sudan and  Venezuela, called on developed country parties to commit to QELROs to reduce  emissions by at least 40-50% below 1990 levels by 2020 and at least 25-40% by  2017. He further urged developed country parties not participating in the  second commitment period to undertake quantifiable emission reductions and  reiterated that these parties should not have access to the flexibility  mechanisms.</p>
                         <p class="textstory">China, for BASIC, urged developed countries  to raise their level of ambition in line with science and their historical responsibility,  and suggested further discussions on ambition under the COP or CMP.</p>
                         <p class="textstory">The International Emissions Trading  Association, for BINGOs, said it was &ldquo;absolutely critical&rdquo; to improve  accounting rules and encouraged parties to widen access to carbon market  mechanisms to allow for broader demand.</p>
                         <p class="textstory">Climate Action Now, on behalf of ENGOS,  commended countries that are committing to the second commitment period, but  denounced the level of commitments as &ldquo;dangerously inadequate.&rdquo;&nbsp; She  called for increased ambition, more environmentally robust flexibility  mechanisms, and a ban on the carry-over of surplus AAUs.</p>
                         <p class="textstory">Friends of the Earth, speaking for CLIMATE  JUSTICE NOW, said the Group would not collude in a &ldquo;lie&rdquo; that Doha has secured  a second commitment period, if that agreement locks in an eight-year commitment  period that will lead the world to disaster.</p>
                         <p class="textstory">The INDIGENOUS PEOPLES&rsquo; CONCLAVE called for  the human rights, land rights, customary rights and traditional knowledge of  indigenous peoples to be recognized, respected and incorporated into any new  agreement.&nbsp;</p>
                         <p class="textstory"><strong>OTHER MATTERS:</strong> The Gambia, for the AFRICAN GROUP, supported by Nauru, for AOSIS,  proposed a session to discuss ambition, noting that the numbers on the table  are &ldquo;very low.&rdquo; Chair Diouf stated that this proposal could be discussed in the  contact group on item 3 (consideration of further commitments of Annex I  parties under the AWG-KP).</p>
                         <p class="textstory"><strong>AWG-KP CONTACT GROUP ON ITEM 3: </strong>AWG-KP Chair Diouf opened the session and explained that work will  continue in contact group and spinoff group settings. She outlined outstanding  issues that need to be resolved in Doha as follows: length of the second  commitment period; mitigation ambition; legal and operational continuity of the  second commitment period from 1 January 2013; eligibility to participate in the  flexibility mechanisms; and carry-over of surplus AAUs.</p>
                         <p class="textstory">AWG-KP Vice-Chair Jukka  Uosukainen&nbsp;(Finland) explained that discussions will be based on the  Chair&rsquo;s proposal to facilitate negotiations (FCCC/KP/AWG/2012/CRP.1) and that  the ultimate goal is to present streamlined text to the Chair on Saturday.</p>
                         <p class="textstory">Parties then  commented on the interlinkages between the ambition and the issue of  carry-over&nbsp;of surplus AAUs, as well as the duration of the second  commitment period under the Kyoto Protocol.  Consultations will continue.</p>
                         <p class="textstory"><strong>AWG-KP SPINOFF GROUP (NUMBERS/TEXT): </strong>The AWG-KP spin-off group on numbers/text convened on Tuesday  afternoon. Delegates listened to presentations from Australia, Kazakhstan and  Monaco on their proposed QELROs for the second commitment period, including the  figures and the basis for them. A question-and-answer session followed each presentation,  during which delegates sought clarification on the numbers and data presented.</p>
                         <p class="textstory">Norway made a short presentation clarifying  their submitted QELROs. Consultations  will continue. </p>
                         <p class="textstory"><strong><em>ADP </em></strong></p>
                         <p class="textstory">ADP Co-Chair Jayant Moreshwar Mauskar  (India), recognizing progress in Bangkok and underlining the importance of  delivering an agreement by 2015, urged parties to work cooperatively in the  spirit of Bangkok to achieve this goal. </p>
                         <p class="textstory"><strong>OPENING STATEMENTS: </strong>Algeria, for the G-77/CHINA, stressed that discussions under the ADP  must be party-driven, fully inclusive and transparent, and that the outcome  should be in accordance with equity and the CBDR principle.</p>
                         <p class="textstory">Egypt, for the ARAB GROUP, called for:  agreement on results-based objectives; conformity with Convention principles;  and consideration of mitigation, adaptation and means of implementation.  Australia, for the UMBRELLA GROUP, called for the ADP to outline a clear plan  for taking forward the work required to deliver its mandate. </p>
                         <p class="textstory">The EU stressed that for Doha to deliver a  balanced outcome, work in the ADP must result in a decision that captures  agreed next steps and provides political momentum for adopting an agreement in  2015. Switzerland, on behalf of the EIG, said a future agreement must be  legally-binding, have global application, recognize differentiation and contain  comparable and transparent targets.</p>
                         <p class="textstory">Nauru, for AOSIS, said the process launched  under the Durban platform should result in a new protocol under the Convention  that strengthens the rules-based and legally-binding regime. The Gambia, for  the LDCs, said their priorities in Doha include the adoption of a  legally-binding, ratifiable second commitment period under the Kyoto Protocol  and strong financial commitments. </p>
                         <p class="textstory">Papua New Guinea, for the COALITION FOR  RAINFOREST NATIONS, urged parties to adopt a clear and ambitious action plan  and work programme that incorporates REDD+ implementation as a key component.  THE DEMOCRATIC REPUBLIC OF THE CONGO, for India, China, the Philippines, El  Salvador, Dominica, Egypt, Saudi Arabia, Bolivia, Argentina, Pakistan, Sri  Lanka, Sudan, Venezuela, Malaysia, Ecuador, Nicaragua, Algeria and Iran, and  China, for BASIC, underscored that the ADP is not a venue to &ldquo;renegotiate,  rewrite, or reinterpret&rdquo; the Convention principles. </p>
                         <p class="textstory">CHILE, for Colombia, Costa Rica, Panama and  Peru, noted changing national circumstances and the need for incentives for  developing countries to move to a low-carbon growth model. Ecuador, for ALBA,  highlighted that the future of the Durban Platform is intertwined with the  adoption in Doha of ambitious legally-binding commitments under the Kyoto  Protocol. </p>
                         <p class="textstory">Swaziland, for the AFRICAN GROUP, underlined  that work on pre-2020 mitigation provides additional opportunities to close the  ambition gap but is not an alternative to commitments under the Kyoto Protocol  and the AWG-LCA.</p>
                         <p class="textstory">CAN, for ENGOs, cited recent severe weather  events as a warning of the dangerous path the world is on, and called on  developed countries to increase their emission reduction targets to at least  40% below 1990 levels. CLIMATE JUSTICE NOW expressed concern that Doha could  mark a milestone where developed countries seek to escape from their  commitments despite much talk about ambition.</p>
                         <p class="textstory">INDIGENOUS PEOPLES called for an overarching  human rights-based approach that includes recognition of indigenous governance  structures, traditional knowledge and technology. TUNGOs said all trade unions  are hoping for a transition that will deliver sustainability and social justice  in a safe climate. YOUTH suggested that equity is not only the most fair, but  also the most effective pathway under the Convention.</p>
                         <p class="textstory">BINGOs called for protection of IPRs in a  future agreement, noting that this would encourage investment and enhance  business participation.</p>
                         <p class="textstory"><strong><em>SBI </em></strong></p>
                         <p class="textstory"><strong>OPENING STATEMENTS: </strong>Many developing countries drew attention to  the need to: operationalize international consultation and analysis (ICA) in a  non-intrusive and non-punitive manner through the provision of adequate  financial resources, and to provide support for the national adaptation plans  of developing countries other than LDCs. Algeria, for the G-77/CHINA, called for  enhancing the means of implementation to meet the additional reporting  requirements established in Cancun.  </p>
                         <p class="textstory"> The EU observed that the fifth review of the  financial mechanism is an opportunity to have a comprehensive overview of how  the division of labor among the different operating entities could be enhanced.  The EU and the UMBRELLA GROUP called for agreement on modalities and procedures  for the technical experts for ICA. Many parties highlighted issues requiring  agreement in Doha, including: loss and damage; a workplan for the Adaptation  Committee; recommending to the COP for approval of the host of the Climate  Technology Centre and Network (CTCN) and continuing consideration of the  constitution of the Advisory Board. </p>
                         <p class="textstory">The Gambia, for the LDCs, also highlighted  issues related to the LDC Fund and continued support for NAPAs. Nauru, for  AOSIS, called for, <em>inter alia</em>: a compilation of non-Annex I parties&rsquo;  national communications; enhanced capacity building support; and continuation  of the Consultative Group of Experts on non-Annex I national communications (CGE) with  an expanded mandate. ALBA called for an urgent decision on financial resources  noting that the financial mechanism cannot be an &ldquo;empty shell.&rdquo; COALITION FOR  RAINFOREST NATIONS expressed concern over the lack of funding for the  implementation of REDD+ activities, and failure to provide new and additional  fast-start financial support. INDIA emphasized the need to address the issue of  IPRs &ldquo;in all its dimensions.&rdquo; </p>
                         <p class="textstory">TUNGOs and GENDER emphasized that climate  change responses should target vulnerable groups within countries. </p>
                         <p class="textstory">BINGOs said new channels for input from  business and other observers have to be warranted as the Convention moves into  implementation. INDIGENOUS PEOPLES called for a consultative technical body to  assist UNFCCC negotiations. YOUTH called for moving beyond adaptation and also  addressing compensation for loss and damage. </p>
                         <p class="textstory"><strong>MATTERS RELATING TO THE LDCs</strong>: Pepetua Latasi (Tuvalu) presented the report of the LDC Expert  Group (LEG). Several parties welcomed the guidelines for national adaptation  plans. The Gambia, for the LDCs, expressed concerns about the implementation of  national adaptation plans, and stressed transparency and additionality of  financial resources. Nicaragua, for SICA, proposed adopting a programme on  education and training under Convention Article 6 and said priority should be  given to the consideration of loss and damage over risk assessment. Informal  consultations will be held.</p>
                         <p class="textstory">The following agenda items were also briefly  considered and forwarded for further consideration to contact groups or  informal consultations:</p>
                         <ul>
                           <li class="textstory">report of the Adaptation  Committee;</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">national adaptation plans;</li>
                         </ul>
                         <ul>
                           <li class="textstory">report of the Technology  Executive Committee (joint consultations with SBSTA);</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">matters relating to the CTCN:  selection of the host and constitution of the advisory board;</li>
                         </ul>
                         <ul>
                           <li class="textstory">Poznan strategic programme on  technology transfer;</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">capacity building (Convention);</li>
                         </ul>
                         <ul>
                           <li class="textstory">amendment of the Kyoto Protocol  in respect of procedures and mechanisms relating to compliance procedures;</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">mechanisms and institutional  arrangements for appeals against the decisions of the Executive Board of the  CDM;</li>
                         </ul>
                         <ul>
                           <li class="textstory">review of the design of the  commitment period reserve;</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">report of the administrator of  the international transaction log; and</li>
                         </ul>
                         <ul>
                           <li class="textstory">administrative, financial and  institutional matters.</li>
                         </ul>
                         
                         <p class="textstory"><strong>OTHER MATTERS: </strong>The EU, supported by ICELAND, SWITZERLAND and CHILE, indicated its  intention to table a draft decision on enhancing the role of women in climate  change decision-making under the UNFCCC. </p>
                         <p class="textstory"><strong><em>IN  THE CORRIDORS </em></strong></p>
                         <p class="textstory">As delegates got down to work under  the AWG-KP, the number one issue on most minds was the Kyoto Protocol&rsquo;s second  commitment period. Many delegates were heard discussing which of the two  opposing sides would concede on the issue of eligibility to participate in the  flexibility mechanisms for those countries not participating in the second  commitment period. &ldquo;Someone has to back down,&rdquo; opined one NGO participant, &ldquo;and  since participation in the mechanisms is one of the main incentives for  countries signing on to a second commitment period, I&rsquo;m sure you can guess  which side I support.&rdquo; </p>
                         <p class="textstory">On a more encouraging note, Brazil  announced that his country had reduced the deforestation rate in the Brazilian  Amazon by a further 27% compared to last year, noting that this is its lowest  deforestation rate on record. This news was received with applause by  delegates, many of whom, since the beginning of the conference, had been  commenting on the IEA report showing that 2011 was the year with the highest  greenhouse gas emissions on record. One developing country delegate noted,  &ldquo;this shows that developing countries, even without binding commitments, are  making greater efforts than many developed countries.&rdquo;</p></td>
                     </tr>
                   </table></td>
                   <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                 </tr>
                 <tr>
                   <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                   <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                 </tr>
               </table></td>
             </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
         <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="272" class="textstory1">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola Akanle Eni-ibukun, Ph.D., Jennifer Allan, Beate Antonich, Asheline Appleton, Elena Kosolapova and Eugenia Recio. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the European Commission (DG-ENV), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), and the Government of Australia. General Support for the Bulletin during 2012 is provided by the Norwegian Ministry of Foreign Affairs, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, the Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI), and the United Nations Environment Programme (UNEP). Specific funding for coverage of this meeting has been provided by the State of Qatar. Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, USA. The ENB Team at the Doha Climate Change Conference - November 2012 can be contacted by e-mail at &lt;<a href="mailto:asheline@iisd.org" class="linknegro">asheline@iisd.org</a>&gt;.</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2012, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
