<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Durban Climate Change Conference - Wednesday, 07 December 2011, Durban, South Africa</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Durban Climate Change Conference - November 2011, 28 November - 9 December 2011, Durban, South Africa" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, DURBAN HIGHLIGHTS - Wednesday, 07 December 2011, Durban, South Africa" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365100;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365100;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green1 {font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.light_green1 {font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style31 {font-size: 9pt}
.style31 {font-size: 9pt}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
     </tr>
   </table>
     <table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
               <tr>
                 <td width="549" valign="top"><div align="center">
                   <table width="510" border="0">
                     <tr>
                       <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                     </tr>
                     <tr>
                       <td><div align="center"><span class="style31">&middot;</span> <span class="style31">&middot; &middot; </span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span></div></td>
                     </tr>
                     <tr>
                       <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                     </tr>
                   </table>
                 </div></td>
               </tr>
             </table></td>
           </tr>
         </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td></td>
             </tr>
             <tr>
               <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                 <tr>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/download/pdf/enb12532e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12532f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12532s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/climate/cop17/japanese/enb12532j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                 </tr>
               </table></td>
             </tr>
             <tr>
               <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 532 - Thursday, 08 December 2011</font><br />
               </div></td>
             </tr>
           </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
             <tr>
               <td width="663" align="center"><div align="center"><STRONG class="meeting_title1">DURBAN HIGHLIGHTS</STRONG></div></td>
             </tr>
             <tr>
               <td align="center"><div align="center"><strong class="light_green1">Wednesday, 07 December 2011</strong></div></td>
             </tr>
           </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                 <tr>
                   <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                   <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                 </tr>
                 <tr>
                   <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                   <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                       <td><p class="textstory1">On Wednesday, ministers and their  representatives addressed delegates in a joint high-level segment held  throughout the day. In the morning a new amalgamation text was presented to the  AWG-LCA contact group. Contact groups and informal consultations met throughout  the day and into the night on several issues, including: Annex I emissions  reductions, Kyoto Protocol amendments, the CDM, the Adaptation Fund, finance,  response measures, sectoral approaches, market and non-market approaches,  adaptation, technology transfer and the Review.</p>
                         <p class="textstory1"><strong><em>COP- 17  &amp; CMP-7 JOINT HIGH-LEVEL SEGMENT </em></strong></p>
                         <p class="textstory1">The high-level segment continued throughout  the afternoon with statements by ministers and their representatives. A webcast  of all statements is available online at: <a href="http://unfccc4.meta-fusion.com/kongresse/cop17/templ/ovw_live.php?id_kongressmain=201" class="linknegro">http://unfccc4.meta-fusion.com/kongresse/cop17/templ/ovw_live.php?id_kongressmain=201</a></p>
                         <p class="textstory1"><strong><em>CONTACT  GROUPS AND INFORMAL CONSULTATIONS </em></strong></p>
                         <p class="textstory1"><strong>AWG-LCA CONTACT GROUP:</strong> On Wednesday morning, AWG-LCA Chair Reifsnyder presented a revised  amalgamation document (FCCC/AWGLCA/2011/CRP.38) to the plenary, together with a  note on areas for further consideration in ministerial-led consultations. These  areas include: within shared vision, global goal and timeframe for global peaking;  within developed country mitigation, pledges, accounting, ambition and  compliance; within developing country mitigation, the level of ambition; within  cooperative sectoral approaches, a possible work programme on agriculture and  general framework; within the Adaptation Committee, its composition and  reporting line; and outstanding Review issues, including the scope and the body  to conduct the Review. </p>
                         <p class="textstory1">On CRP.38, Reifsnyder suggested that  ministerial input may be required to take forward discussions on a shared  vision after little progress in the contact group. He explained that on  mitigation for developed countries, guidance from ministers is needed on the  clarification of pledges and whether these may be accounted for in aggregate  form. He also suggested a work programme on common accounting rules, drawing  from the ongoing work on clarifying the pledges. </p>
                         <p class="textstory1">On biennial reports he said remaining issues  relate to whether guidelines on these reports may be adopted at this, or  deferred to the next meeting, highlighting the informal group may resolve this  issue. </p>
                         <p class="textstory1">On mitigation by developing countries, he  said the amalgamation document addresses four areas: level of ambition;  biennial update reports; ICA; and the Registry, noting more work is needed on  all areas. On the level of ambition he said disagreement remains on steps and  inputs, and how to enhance efforts by developing countries. On biennial update  reports, he said guidelines could be adopted at this, or forwarded to the next,  meeting. </p>
                         <p class="textstory1">He also said finance, technology transfer,  REDD+ finance, response measures, as well as various approaches need continued  work in informal groups, and that progress has been made on sectoral  approaches, but ministers may need to finalize issues, including consideration  of approaches to international aviation and shipping.</p>
                         <p class="textstory1">He also pointed out advances on the  Adaptation Committee, and capacity-building, with a small number of outstanding  issues to be decided by ministers.</p>
                         <p class="textstory1">On legal options, he said the issue will be  taken up by the Indaba process. </p>
                         <p class="textstory1">Responding to delegations with concerns  regarding the list of areas going forward for ministerial consideration, and  lack of balance in the treatment of issues, Reifsnyder assured parties that  ministerial-led consultations will be inclusive, the list of areas identified  for ministers is indicative, there is a great deal of work to be done on  mitigation, and that he has noted their concerns about response measures.</p>
                         <p class="textstory1"><strong>CONTACT GROUP ON ANNEX I FURTHER  COMMITMENTS (AWG-KP)</strong>: On numbers, facilitator  Lefevere (EU) reported that work has focused on two issues: the transformation  of pledges into QELROs; and options for addressing surplus and carry-over of  AAUs. On the transformation of pledges into QELROs, he said parties have  identified options for transformation and that political signals are needed to  advance technical work in the group as &ldquo;the limits of our technical work have  been reached.&rdquo; </p>
                         <p class="textstory1">On LULUCF, Co-facilitator Rocha (Brazil)  reported that parties have worked hard to resolve many technical questions with  discussions focused on HWP, flexible land-use, and natural disturbances, among  other issues. On accounting for forest management, he indicated that text on  reference levels is clearer and that an option on baselines proposed by the African  Group is also incorporated.</p>
                         <p class="textstory1">On mechanisms, co-facilitator El Hadji Mbaye  Diagne (Senegal) reported on bilateral meetings, noting that key polarizing  questions refer to access to mechanisms after the first commitment period and  new mechanisms. He said that most parties view the options as ready for  presentation to ministers. </p>
                         <p class="textstory1">Saint Lucia, for AOSIS, supported by PAPUA  NEW GUINEA, called for an AWG-KP output that adopts ratifiable amendments to  the Kyoto Protocol and its Annex B that will be provisionally applied. </p>
                         <p class="textstory1">South Africa, for the AFRICAN GROUP,  explained that its option for accounting for forest management was introduced  because of concern with the reference levels approach. Based on the outcomes of  the review process, he said that Annex I parties have pursued diverse  approaches, which allows them to &ldquo;pick and choose their own models, factors and  data.&rdquo;</p>
                         <p class="textstory1">BOLIVIA underscored the need to increase the  level of ambition through clear political will. </p>
                         <p class="textstory1">The EU noted progress on all chapters and  its offer &ldquo;clearly on the table&rdquo; for a second commitment period that is  ratifiable. </p>
                         <p class="textstory1">Algeria, also for the AFRICAN GROUP,  emphasized that enhanced political will from Annex I parties is &ldquo;the only thing  that can break the deadlock&rdquo; facing the second commitment period. &nbsp;</p>
                         <p class="textstory1">CLIMATE ACTION NETWORK, called for &ldquo;bold  moves&rdquo; to increase overall ambition, observing that accounting loopholes have  the potential to negate current pledges. FRIENDS OF THE EARTH INTERNATIONAL  called for urgent action to protect the poorest and most vulnerable communities  facing the impacts of climate change. The INDIGENOUS PEOPLES ORGANIZATIONS said  that a weak pledge and review system will result in further human rights abuses  of indigenous peoples.&nbsp; YOUTH called on  parties to &ldquo;shake hands&rdquo; on a second commitment period. BINGOs stressed that  the AWG-KP work should be concluded in Durban and highlighted participation of  the private sector in meeting reduction targets.</p>
                         <p class="textstory1"><strong>CDM (CMP):</strong> Informal consultations on the draft decision continued paragraph by paragraph.  Parties discussed monitoring methodologies and ways to improve the current  approach to assessment of additionality. Some developing countries sought  specific reference to public sector CDM projects, while some developed  countries proposed including private sector projects as well. Meetings  continued late into the night.</p>
                         <p class="textstory1"><strong>RESPONSE MEASURES (COP):</strong> Parties met for informal consultations to review the draft text  that was distributed by SB chairs. Parties noted the overlap with discussions  under the AWG-LCA and agreed to provide comments on the paper when both chairs  of the subsidiary bodies are available, with a view to developing decision text  &ldquo;ready to be adopted by the COP.&rdquo;</p>
                         <p class="textstory1"><strong>MARKET AND NON-MARKET APPROACHES  (AWG-LCA): </strong>A revised text was distributed. The US  said she would not oppose a market mechanism established under the Convention  that would accommodate all countries. SAUDI ARABIA pointed to a convergence on  the need to establish a work programme to address various approaches and PAPUA  NEW GUINEA and COLOMBIA emphasized the need to do so at COP 17. VENEZUELA said  the text is unbalanced, as it makes no reference to non-market approaches.  Parties resumed discussions in the evening.</p>
                         <p class="textstory1"><strong>FINANCE (AWG-LCA): </strong>Parties continued considering the text on long-term finance. On a  section on fast-start finance, one developing country called for reporting with  total transparency, while another said that new and additional criteria for  finance had not been clarified. A group of developed countries said that  language on fast-start finance was more suited to the preamble. Some developed  countries said that it was &ldquo;discouraging&rdquo; to receive so little credit for  efforts towards fast-start finance and called for a paragraph on enhancing  transparency to be deleted. They also requested acknowledging other sources of  information for support provided, in addition to the UNFCCC finance portal.  Discussions continued throughout the day.</p>
                         <p class="textstory1"><strong>DEVELOPED COUNTRY MITIGATION (AWG-LCA):</strong> Parties discussed an updated version of the non-paper on biennial reports.  Some developed parties suggested bracketing text on the update of guidelines  for national communications for Annex I parties, saying this should be  acceptable only if also considered in the case of non-Annex I parties. A  developing country highlighted that the Cancun Agreements mandate the update of  guidelines for Annex I parties, but not for non-Annex I parties, suggesting the  former be completed for consideration by COP 19, rather than COP 20. Some  parties suggested retaining only general references to finance to avoid  prejudging outcomes of other discussions. Negotiations continued into the  evening.</p>
                         <p class="textstory1"><strong>DEVELOPING COUNTRY MITIGATION:</strong> Parties briefly discussed revised text on biennial update reports.  On the Registry, parties addressed the updated text, as included in the AWG-LCA  amalgamation document. On inviting developing country parties to submit  information to the Registry, some parties suggested that all parties should  provide information, while others added that information should also come from agencies  and other entities. A developing country suggested possible future linkages  between the Registry, the Standing Committee and the GCF, supporting a  reference to ensuring that information is taken into account by the relevant  financial mechanism. Some parties supported management of the Registry by the  Secretariat but one highlighted it is premature to determine further details.  Negotiations continued into the evening.</p>
                         <p class="textstory1"><strong>REDD+ (AWG-LCA):</strong> Delegates met in informal consultations to address a non-paper on  the way forward and the work for the coming year. Some parties proposed  requesting the Secretariat to prepare a technical paper exploring the sources,  potential scale and efficient and effective use of financing, while others  suggested the prior request of submissions by parties. </p>
                         <p class="textstory1">On a workshop on possible elements for  modalities and procedures for financing results-based actions before SBSTA 39,  parties made suggestions on issues to be addressed, including suitability of  specific sources and effective use of finance. A party suggested moving the  work on REDD+ to the SBI, rather than to SBSTA, while others said forwarding  the discussions to a subsidiary body will result in losing a political space  for REDD+.&nbsp; Another suggested that  discussions continue under the AWG-LCA, if extended, or under the body that may  replace it.</p>
                         <p class="textstory1">Later in the evening, parties met in  &ldquo;informal informals&rdquo; to continue discussions on financing sources and how to  address market and non-market based approaches and offsetting mechanisms.</p>
                         <p class="textstory1"><strong>NATIONAL ADAPTATION PLANS (COP)</strong>: Colombia presented text resulting from &ldquo;informal informals&rdquo; on  modalities for other developing countries that are not LDCs and on the  provision of financial and technical support to those countries. On framing  national adaptation plans, Ghana added a reference to gender-sensitive tools.  On the process to enable the LDCs to formulate and implement national  adaptation plans, the EU proposed language stating the planning process should  not be prescriptive and should facilitate country-driven action. On reporting,  monitoring and evaluation, delegates discussed, <em>inter alia,</em> using  national communications as the primary tool for communicating progress made on  national adaptation plans. One delegate urged retaining a paragraph that refers  to monitoring financial flows. &ldquo;Informal informals&rdquo; continued in the evening on  reporting, monitoring and evaluation.</p>
                         <p class="textstory1"><strong>TECHNOLOGY TRANSFER (AWG-LCA)</strong>: Parties considered a new draft annex on criteria to evaluate and  select the host of the CTC and proposed textual revisions.</p>
                         <p class="textstory1">Delegates were briefed about progress on:  the selection timeline and the possible involvement of an intermediary body;  finance; the role of the GEF; and governance. Delegates also heard an outline  of proposed weighted criteria, including technical capabilities and approach,  governance, performance and budgetary factors. During negotiations on a draft  text, a paragraph on World Intellectual Property Organization and intellectual  property rights was deleted and, in another paragraph, the involvement of the  private sector stressed. Negotiations continued into the evening.</p>
                         <p class="textstory1"><strong>REVIEW (AWG-LCA):</strong> A group of countries tabled a new proposal for a draft decision on  shared vision, calling on SBSTA, <em>inter alia</em>, to initiate a process to  articulate the meaning, implications and operationalization of equitable access  to sustainable development in the climate change regime, and to initiate a  process to study the implications of the elaboration of a long-term global goal  for emissions reductions by 2050 and a timeframe for global peaking. One  country expressed concern about the possibility that the informal group would  not complete its mandate on time. The group continued discussions in the evening.</p>
                         <p class="textstory1"><strong>SECTORAL APPROACHES: </strong>Parties focused on the general framework, with discussions focused  on procedure and the language contained in FCCC/AWGLCA/2011/CRP.38. Some  parties welcomed the language as a way forward with others describing it as  &ldquo;totally unbalanced.&rdquo; Some countries supported separating paragraph 5 as an  Option 2 to avoid conflicting language in brackets. Parties talked about how  the application of common but differentiated responsibilities across sectors is  both a &ldquo;legal and a political issue,&rdquo; upon which guidance must be provided and  will therefore be taken up by ministers. Some countries called for  clarification on the text for international aviation and shipping before  agreeing to language for the general framework. Parties continued to consult on  the way forward.</p>
                         <p class="textstory1"><strong>SPIN-OFF GROUP ON AMENDMENTS/NUMBERS:</strong> A spin-off group on amendments and numbers met in the afternoon.  Parties considered options for addressing the surplus and carry-over of AAUs,  and proposals from parties to amend Annex B of the Kyoto Protocol. Two parties  said it is their sovereign right to decide whether or not to undertake QELROs.  On compliance, one party said there should be &ldquo;no punitive consequences for  trying to do the right thing.&rdquo;</p>
                         <p class="textstory1"><strong><em>IN THE  CORRIDORS </em></strong></p>
                         <p class="textstory1">As the countdown to the close of the  conference began and the Indaba negotiation sessions entered a critical  high-level round, one observer noted that the question now is whether a  political gap would join the gaps in ambition, finance and implementation. The  South African hosts have tabled iterations of the &lsquo;big picture&rsquo; outlining how  ministers might &lsquo;mix and match&rsquo; options that would deliver a second commitment  period under the Kyoto Protocol and the steps to a possible new legally-binding  instrument under the Convention or other alternatives to implement the Bali  Action Plan and Cancun Agreements. &ldquo;They have their work cut out for them,&rdquo;  said one senior delegate, while another pondered that given the current  financial crisis and slow pace of the Green Climate Fund negotiations, there  may not be enough &ldquo;carrots&rdquo; for large developing countries to alter staunch  positions. One significant negotiating position, that of China, has been widely  anticipated following some confusion over their reference to &quot;pinning down  commitments.&quot;</p>
                         <p class="textstory1">An observer noted that the comparability of  undertakings by developed countries and large emitters will prove the toughest  challenge for ministers, an issue that may not be resolved at this meeting. </p>
                         <p class="textstory1">The final 48+ hours of the negotiations are  expected to witness a ministerial-led process of political decision-making  coupled with a frenzy of parallel meetings on dozens of outstanding technical  matters.</p></td>
                     </tr>
                   </table></td>
                   <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                 </tr>
                 <tr>
                   <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                   <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                 </tr>
               </table></td>
             </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="304" class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Soledad Aguilar, Asheline Appleton, Joanna Dafoe, Peter Doran, Ph.D., Elena Kosolapova, Velma McColl, Leila Mead and Eugenia Recio. The Digital Editors are Leila Mead and Brad Vincelette. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), and the European Commission (DG-ENV). General Support for the Bulletin during 2011 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI) and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, United States of America. The ENB Team at the Durban Climate Change Conference - November 2011 can be contacted by e-mail at &lt;<a href="mailto:soledad@iisd.org" class="linknegro">soledad@iisd.org</a>&gt;. &#20195;&#34920;&#22243;&#12398;&#21451;</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2011, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
