<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>COPENHAGEN HIGHLIGHTS - Monday, 14 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, Monday, 14 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12455e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12455f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12455s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12455j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Japanese version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 455 - Tuesday, 15 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Monday, 14 December 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">Throughout the day on Monday, contact groups and informal consultations  convened on a range of issues, including Annex I emission reductions, potential  consequences and other issues under the AWG-KP, technology, finance and a  shared vision under the AWG-LCA, and the Clean Development Mechanism (CDM)  under the COP/MOP.</p>
                               <p class="textstory"><em><strong>CONTACT GROUPS AND INFORMAL CONSULTATIONS</strong></em></p>
                               <p class="textstory"><strong>CLEAN DEVELOPMENT MECHANISM (COP/MOP): </strong>Informal consultations on the CDM  Executive Board&rsquo;s annual report to the COP/MOP took place throughout the day on  Monday. In the morning and evening, parties discussed revised draft text, which  incorporates proposals submitted by parties at the previous meeting of the  group. Parties considered the text paragraph-by-paragraph, indicating their  agreement or disagreement with specific paragraphs, and elaborating on  paragraphs as necessary. The topics discussed included improving transparency  of the CDM Executive Board&rsquo;s work and a possible procedure for considering appeals.</p>
                               <p class="textstory"><strong>ANNEX I EMISSION REDUCTIONS (AWG-KP):</strong> On Monday morning, the contact  group on Annex I emission reductions convened, with Co-Chair Wollansky  highlighting a new non-paper. </p>
                               <p class="textstory">AUSTRALIA referred to news received &ldquo;over the wire&rdquo; that work under the  AWG-LCA had been suspended due to actions by the G-77/China and said this meant  that work under the AWG-KP also had to be suspended. The EU noted that work had  also been halted on LULUCF under the AWG-KP. Several parties expressed  confusion on &ldquo;the state of play&rdquo; outside of the room, noting that these issues  would have to be resolved in plenary. PERU,  the Gambia, for the AFRICAN  GROUP, South Africa, for the  G-77/CHINA, and the FEDERATED    STATES OF MICRONESIA noted the time lost  last week and supported continued discussion of Annex I emission reductions.  The EU stressed that it would not be possible to make faster progress on one  workstream, while lamenting suspension of substantive work. Co-Chair Wollansky  then adjourned the meeting.</p>
                               <p class="textstory">The contact group on Annex I emission reductions resumed late in the  evening, with parties focusing, <em>inter alia</em>, on: options for amending  Protocol Annex B; the implications of the European Union superseding the  European Community on their rights and obligations; inclusion of parties in the  process of joining Convention Annex I; the relationship between the text and  discussions under the AWG-LCA; and reference years.&nbsp;</p>
                               <p class="textstory"><strong>POTENTIAL CONSEQUENCES (AWG-KP): </strong>In the evening, a contact group met  to discuss the potential consequences section of the draft text. Co-Chair Ure  noted that the objective was to craft two distinct and clear options on issues  on which there was disagreement, in order to facilitate the Ministers&rsquo; work.  Parties then moved through the text paragraph-by-paragraph. </p>
                               <p class="textstory">On operationalization, South    Africa, for the G-77/CHINA, preferred using  the Compliance Committee to address implementation of Protocol Article 3.14  (adverse effects and impacts of responses) and to facilitate compliance  under&nbsp; Protocol Article 2.3 (adverse  effects of policies and measures). </p>
                               <p class="textstory">Parties discussed how to include guidelines in decision&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 15/CMP.1 (guidelines for the preparation  of information required under Article 7 of the Kyoto Protocol). The G-77/CHINA,  opposed by the EU, requested that preambular language on &ldquo;the careful design of  policies and measures&rdquo; be moved to the operational text. Noting the lack of  effort on the part of other parties to compromise, the G-77/CHINA, requested to  go back to last week&rsquo;s text. Parties were unable to agree on the language and  the G-77/China&rsquo;s proposal was included as an alternative to the two options.</p>
                               <p class="textstory">CANADA requested further time to discuss  potential consequences. Chair Ure proposed sending the text forward and asked  parties whether this should take the form of a decision or conclusions. Noting  the state of the text, the EU said it was too early to determine its status as  a decision. The text will be forwarded to the AWG-KP plenary.</p>
                               <p class="textstory"><strong>OTHER ISSUES (METHODOLOGICAL ISSUES)(AWG-KP):</strong> In the &ldquo;other issues&rdquo; contact group  focusing on methodological issues, Vice-Chair Dovland noted that the Chair&rsquo;s  draft text added six preambular &ldquo;uncontroversial and factual&rdquo; paragraphs,  mentioning, <em>inter alia</em>, that trifluoromethyl sulfur pentafluoride had  been added to the list of greenhouse gases to be reported. BRAZIL  preferred no change in greenhouse gases and suggested that adding new gases  that are reported but not accounted for may result in a &ldquo;loophole.&rdquo; AUSTRALIA, the FEDERATED   STATES OF MICRONESIA and SWITZERLAND supported estimating  and reporting new greenhouse gases. The EU noted that adding new gases would  require an amendment of the Protocol and Vice-Chair Dovland said there would be  a placeholder in the text for amending Protocol Annex A. The FEDERATED STATES OF MICRONESIA  suggested consideration of such language that does not require an amendment of  Annex A. JAPAN highlighted environmental integrity, but said technical details  require further clarification. PERU  suggested that this is an issue for the SBSTA.</p>
                               <p class="textstory">In relation to sectors/source categories, SWITZERLAND called for  consideration of bunker fuels. The FEDERATED   STATES OF MICRONESIA, SOUTH   AFRICA and BRAZIL said that there was no need  for adding new subcategories to sector/source categories. </p>
                               <p class="textstory">On cross-cutting issues, the EU proposed text requesting the SBSTA to  revise and complement decisions and guidelines relating to reporting, review  and accounting by COP/MOP 7. BRAZIL  opposed, preferring the Chair&rsquo;s more specific draft text. Vice-Chair Dovland  suggested retaining the Chair&rsquo;s text and holding the text proposed by the EU  for future use. He highlighted that this draft decision text would be taken  forward and noted that resolution was needed on new gases.</p>
                               <p class="textstory"><strong>OTHER  ISSUES (FLEXIBILITY MECHANISMS)(AWG-KP): </strong>The other issues contact group met in the  evening and continued considering the draft COP/MOP decision text on the  flexibility mechanisms. </p>
                               <p class="textstory">On the share of proceeds, the RUSSIAN   FEDERATION and UKRAINE supported the option  requiring no decision to be made with respect to the issue. NEW ZEALAND  noted that extension of the share of proceeds would require a Protocol  amendment rather than just a COP/MOP decision. SAUDI ARABIA proposed including  reference to developing countries that are particularly vulnerable to the  impact of response measures in the text that identifies parties requiring  adaptation assistance. </p>
                               <p class="textstory">PERU proposed including a section on  accounting for the flexibility mechanisms, limiting the amounts that can be  added to, or subtracted from, the Assigned Amounts of a party through the  flexibility mechanisms. The EU, supported by NORWAY, proposed having an option  stating that no decision should be taken on this issue. GRENADA proposed inserting a  preamble recognizing that developed countries shall achieve their QELROs  primarily through domestic efforts. </p>
                               <p class="textstory">On emissions trading, NEW    ZEALAND noted interest in extending  emissions trading to developing countries and proposed text reflecting this.  The EU, opposed by ARGENTINA  and VENEZUELA, and supported  by NEW ZEALAND  and others, proposed a paragraph establishing new market-based mechanisms. VENEZUELA  proposed inserting a footnote stating that this would require a Protocol  amendment and also noted that this issue is being addressed under the AWG-LCA. </p>
                               <p class="textstory"><strong>FINANCE (AWG-LCA): </strong>Delegates considered a co-facilitators&rsquo; text on  institutional arrangements reflecting common elements on issues including: a  body, fund or entity; existing funds and entities; and issues for consideration  by&nbsp;&nbsp;&nbsp; COP 16. Discussions continued late  into the evening.</p>
                               <p class="textstory"><strong>TECHNOLOGY (AWG-LCA): </strong>Parties considered new draft text on  technology. Many developing countries said that the text was &ldquo;unbalanced&rdquo; and,  with other countries, stated that core elements from the previous draft had  been omitted. Parties then considered the way forward, including whether to  revert to the previous text or insert missing elements into the new draft.</p>
                               <p class="textstory"><strong>SHARED VISION (AWG-LCA): </strong>Informal consultations were held in  the evening, where parties continued paragraph-by-paragraph discussions of the  draft text, focusing, <em>inter alia,</em> on the review of a shared vision.</p>
                               <p class="textstory"><em><strong>IN THE CORRIDORS</strong></em></p>
                               <p class="textstory">As the negotiations resumed on Monday morning, the very large crowd of  new participants who had arrived in Copenhagen  for the second and crucial week took many by surprise. Even those who had already  registered were forced to stand in line outside the conference center for more  than half an hour to get through security. Those unfortunate participants  without badges, however, found themselves much worse off: the corridors were  full of talk about people who had spent between six to eight hours in  registration lines &ndash; before being ultimately asked to return to their hotels.  &ldquo;We were herded like cattle for the whole day! I couldn&rsquo;t even get a cup of  coffee,&rdquo; commented one hungry journalist standing in line at the cafe. Some  also claimed that the total number of people requesting accreditation had hit  more than 40,000, thus far exceeding the 15,000 capacity of the Bella Center. </p>
                               <p class="textstory">Corridors certainly felt &ldquo;packed&rdquo; during the day - and some celebrities,  such as Crown Princess Victoria of Sweden  and Nobel Laureate Al Gore, were spotted amongst the throng of humanity. Other  famous faces, including Prince Charles, were also rumored to be on their way to  Copenhagen.</p>
                               <p class="textstory">Due to the large number of  participants, limits will be placed on the amount of observers allowed to  access the Bella Center from Tuesday onwards. With the  high-level segment set to begin on Wednesday, increasingly strict restrictions  will be introduced throughout the week and, according to unconfirmed reports,  only 90 observers will be allowed in the conference center on Friday. Many NGOs  reacted angrily to this and complained about being excluded from the process.  &ldquo;I can&rsquo;t believe this is happening to us, it has costs us a fortune to send a  team here,&rdquo; fumed one irate NGO participant. </p>
                               <p class="textstory">During a briefing by COP President Connie Hedegaard to the civil society  in the evening, NGOs voiced their concerns over these arrangements. While COP  President Hedegaard urged the civil society to keep up the pressure on  governments during the last crucial days of the conference, she also recognized  that access by observers and the media would be more difficult during the final  days due to tightened security and also due to the fact that Heads of State  would be bringing large entourages with them to Copenhagen.</p>
                               <p class="textstory">In the negotiations, substantive work on the long-term issues was  suspended until late afternoon, pending consultations by the COP President on  how to proceed. The need for such consultations arose due to &ldquo;deadlock&rdquo; between  developing and developed countries: the African Group and LDCs, supported by  the G-77/China, requested suspending all negotiations under the AWG-LCA. The  move was repeated under the AWG-KP in all negotiating groups apart from the one  focusing on Annex I parties&rsquo; further emission reductions. The EU, Australia  and other developed countries participating in the AWG-KP, in turn, found this  unacceptable. </p>
                               <p class="textstory">Developing countries were ostensibly protesting against the arrangement  whereby only AWG-LCA issues were to be discussed at the ministerial level and  urged for more attention to be given to the AWG-KP. The issue was eventually  resolved during closed consultations by the COP President in the main plenary,  leading to an agreement to hold informal consultations on &ldquo;crunch issues&rdquo; under  both negotiating tracks, headed by a minister from a developed and developing  country. Many parties emerging from the meeting were heard wondering how work  by the ministerial groups will be balanced against the more technical work by  the various drafting groups, which is expected to continue in parallel with  ministerial consultations. Nevertheless, work resumed under both negotiating  tracks in the evening and the informal ministerial groups also began their  work. Many drafting groups continued working late into the night.</p>
                               <p class="textstory">Many seemed determined to keep  fighting towards a successful outcome and resolving as many issues as possible  in Copenhagen: &ldquo;Nothing gets easier by postponing it, if something does not get  resolved in Copenhagen - when will there ever be a better chance and more  attention focused on climate change, including by more than a hundred Heads of  State?&rdquo; commented one delegate, reflecting the mood by many negotiators.</p>                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, the United Nations Environment Programme (UNEP), and the World Bank. Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at the Copenhagen Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
