<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DOHA HIGHLIGHTS - Thursday, 6 December 2012, Doha, Qatar</title>
<link rel="image_src" href="/_img/_logos/iisd/logo_iisdrs_2012__200px.png" />
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), ENB, Climate Change, UNFCCC, Doha Climate Change Conference - November 2012, 26 November - 7 December 2012, Doha, Qatar" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, UN Framework Convention on Climate Change (UNFCCC), DOHA HIGHLIGHTSe - Thursday, 6 December 2012, Doha, Qatar" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365110;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365110;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style31 {font-size: 9pt}
.style31 {font-size: 9pt}
.title_under_earth1 {font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.title_under_earth1 {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}

-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><div style="width:165px; height:190px; position:absolute; margin-left:850px;"><a href="http://enb.iisd.mobi/unfccc-cop18/todays-report/" target="_blank"><img src="/dailies_images/images/generic/qrcode_cif.png" alt="Mobile access to this event's ENB reports and more!" width="165" height="190" border="0"></a></div>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                 <tr>
                   <td width="549" valign="top"><div align="center">
                     <table width="511" border="0">
                       <tr>
                         <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                       </tr>
                       <tr>
                         <td><div align="center"><span class="style31">&middot;</span> <span class="style31">&middot; &middot; </span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span></div></td>
                       </tr>
                       <tr>
                         <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                       </tr>
                     </table>
                   </div></td>
                 </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="425" border="0" align="center" cellpadding="2" cellspacing="0">
                   <tr>
                     <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/download/pdf/enb12566e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/vol12/enb12566f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/arabic_e.png" alt="" width="100" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/vol12/enb12566a.html"><img src="/images/arabia.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/vol12/enb12566j.html"><img src="/images/japanese.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                   </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 566 - Friday, 7 December 2012</font><br />
                 </div></td>
               </tr>
             </table>
             <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title1">DOHA HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><font color="#666666" class="greyheading1">Thursday, 6 December 2012</font></div></td>
               </tr>
             </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                   <tr>
                     <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                     <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                     <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                   </tr>
                   <tr>
                     <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                     <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                       <tr>
                         <td><p class="textstory">In the morning, the AWG-KP held its closing  plenary. Throughout the day on Thursday, the COP 18 and CMP 8 high-level  segment took place. Various contact groups and informal consultations also  convened under the COP, CMP, ADP, AWG-LCA and AWG-KP. In the evening, the COP  President&rsquo;s INFORMAL STOCKTAKING PLENARY WAS HELD. </p>
                           <p class="textstory"><strong><em>STOCKTAKING  PLENARY </em></strong></p>
                           <p class="textstory">During the  evening&rsquo;s informal stocktaking plenary, AWG-KP Chair Diouf reported that the  AWG-KP concluded its work on Thursday morning. </p>
                           <p class="textstory">AWG-LCA  Chair Tayeb reported good progress on all elements, while indicating that there  are areas that require streamlining. He expressed hope that all elements would  be brought together in one document &ldquo;by some time tonight.&rdquo;</p>
                           <p class="textstory">ADP Co-Chair  Dovland reported on informal consultations on the revised co-chairs&rsquo; proposal  for a draft decision and draft conclusions. He observed that parties&rsquo; focus on  the AWG-KP and AWG-LCA prevented the ADP from holding a closing plenary  Thursday afternoon. He expressed confidence that the ADP will send a strong signal  that it is on track to reaching an agreement by 2015 and to addressing the  pre-2020 ambition gap. </p>
                           <p class="textstory">Luis  Figueiredo Machado (Brazil) reported on his ministerial outreach with B&aring;rd  Solhjell (Norway) on outstanding issues concerning the AWG-KP and its outcome  document (FCCC/KP/AWG/2012/L.3). He noted their intention to continue  consultations with several groups. </p>
                           <p class="textstory">Mariyam  Shakeela (Maldives) reported that, with Bruno Oberle (Switzerland), she had  consulted with various regional groups on finance and held an informal session  with parties. She said parties had been invited to provide textual input and  that a draft text was under preparation.</p>
                           <p class="textstory">Mark Dreyfus  (Australia) and Fatou Gaye (the Gambia) reported that parties are closer to an  agreement on reporting guidelines.</p>
                           <p class="textstory">Edna Molewa  (South Africa) reported on informal ministerial consultations on loss and  damage. She said that the main political issue revolves around the potential  establishment of an institutional arrangement, such as a mechanism. </p>
                           <p class="textstory">Maria del  Socorro Flores (Mexico) reported progress on informal consultations on the  composition of the CTCN Advisory Board, expressing hope that parties will reach  agreement by Friday.</p>
                           <p class="textstory">Algeria, for  the G-77/CHINA, highlighted three main pillars of a Doha outcome: an ambitious  second commitment period that would allow for a higher level of ambition from  all Annex I parties; finance under the AWG-LCA; and a balanced treatment of all  elements under the ADP.</p>
                           <p class="textstory">Swaziland,  for the AFRICAN GROUP, called for text addressing the full set of issues in the  Bali Action Plan, and for a second commitment period that enables scaling up  ambition before 2014. Noting that parties may not achieve all they hoped for,  Switzerland, for the EIG, called for: a solution to the carry-over of surplus  AAUs that ensures the environmental integrity of the second commitment period;  building on lessons learned from fast-start finance; and developing a path for  finance for 2020.</p>
                           <p class="textstory">Supporting  further ministerial engagement, Australia, for the UMBRELLA GROUP, urged  agreement on access to market mechanisms during the second commitment period,  and called for concluding discussions under the AWG-LCA, acknowledging  achievements and moving towards implementation. </p>
                           <p class="textstory">Underscoring  environmental integrity, Nauru, for AOSIS, stated that AOSIS&nbsp; &ldquo;has not lost faith,&rdquo; but will continue  working to ensure that &ldquo;we leave with something better than what we came with.&rdquo; </p>
                           <p class="textstory">The EU  underscored the need to speed up the conclusion of the AWG-LCA and supported  the COP President&rsquo;s call for the AWG-LCA Chair to finish the group&rsquo;s work on  Thurday night. The Gambia, for the LDCs, underlined the importance of a second  commitment period that ensures environmental integrity, takes account of the  rules-based regime and limits access to the flexibility mechanisms to Annex I  parties with commitments. Chile, for AILAC, expressed his confidence that  parties would &ldquo;deliver the milestone of a legally-binding agreement by 2015.&rdquo;</p>
                           <p class="textstory">Observing  that the &ldquo;pieces of the package are coming together,&rdquo; COP President Al-Attiyah  called on delegates to increase their efforts to find common ground and for  ministers to complete their work on Thursday night, in order to present clear  political choices by Friday. He said an informal stocktaking meeting will  convene on Friday.</p>
                           <p class="textstory"><strong><em>AWG-KP  CLOSING PLENARY </em></strong></p>
                           <p class="textstory">On Thursday morning, AWG-KP Chair Diouf  reported that work had been undertaken until the early hours of Thursday  morning to streamline her proposal to facilitate negotiations under the AWG-KP  (FCCC/KP/AWG/2012/CRP.3).&nbsp;She explained that the results of this work,  which aim to provide ministers with clear options, had been incorporated in her  draft conclusion text on the outcome of the work of the AWG-KP  (FCCC/KP/AWG/2012/L.3), which she proposed to forward to the CMP for adoption.</p>
                           <p class="textstory">Algeria, for the G-77/CHINA, highlighted  outstanding issues, including operationalization of an ambitious second  commitment period under the Kyoto Protocol beginning on 1 January 2013, and  commitment by Annex I parties to ambitious QELROs. With the Gambia, for the  LDCs, he called for a decision to restrict access to the flexibility mechanisms  to those Annex I parties that take on commitments under the second commitment  period. The LDCs further supported an ambitious five-year second commitment  period with provisional application. </p>
                           <p class="textstory">Swaziland, for the AFRICAN GROUP, expressed  hope that ministers will be able to take the necessary political decisions. He  said the second commitment period should: exclude the carry-over of surplus  AAUs; enable only parties with second commitment period QELROs to participate  in the flexibility mechanisms; and include a mechanism for increasing  mitigation ambition within two years of the start of the commitment period.</p>
                           <p class="textstory">The EU underscored that the text before  parties shows that the AWG-KP will contribute to the balanced outcome Doha is  expected to deliver. He identified the need to secure uninterrupted access to  market mechanisms for all parties who will take on commitments during the  second commitment period, noting that the current text addresses this concern.  On the possibility of Annex B parties strengthening their QELROs during the  second commitment period, the EU indicated willingness to explore the ambition  mechanism proposed by the G-77/China. He recognized the importance of the issue  of carry-over of surplus AAUs, but noted that there will be minimal demand for  such AAUs between 2013 and 2020.</p>
                           <p class="textstory">Australia, for several UMBRELLA GROUP  members, noted convergence on many issues and highlighted key elements that  require agreement, including an eight-year second commitment period and  expanded participation in market mechanisms. He underlined that the AWG-KP is  &ldquo;part of a much broader, shared endeavor.&rdquo;</p>
                           <p class="textstory">The PHILIPPINES drew attention to the Bopha  typhoon afflicting his country. He appealed to parties to &ldquo;open their eyes to  the stark reality we face&rdquo; in order to &ldquo;let this be the year we found the  courage to take responsibility for the future we want,&rdquo; and asked delegates:  &ldquo;If not us, then who? If not now, then when? If not here, then where?&rdquo;</p>
                           <p class="textstory">Switzerland, for the EIG, said adopting the  Protocol amendments in Doha will ensure a seamless transition to the second  commitment period. He stressed the need to: ensure environmental integrity of  the second commitment period through the limitation of carry-over of surplus  AAUs from the first commitment period; and allow those Annex I parties that  will not take on QELROs to participate in the CDM. He expressed solidarity with  the people of the Philippines, as did BOLIVIA, who stated that the current situation  in that country is &ldquo;a testimony of what can be expected to take place more  frequently.&rdquo; BOLIVIA cautioned against &ldquo;empty promises&rdquo; and described the low  level of ambition as a &ldquo;death sentence&rdquo; to some people. He opposed the idea of  voluntary commitments, saying that since developed countries have not managed  to raise the level of ambition in seven years, &ldquo;why should they be believed  now.&rdquo;</p>
                           <p class="textstory">Saint Lucia, for AOSIS, called for, <em>inter  alia</em>: a five-year commitment period; Annex I parties moving to the top end  of their pledges and beyond, and dropping their conditionalities; provisional  application of the Protocol amendments to be adopted in Doha; and limiting  participation in the flexibility mechanisms to Annex I parties with commitments  under the second commitment period. She noted that the G-77/China&rsquo;s proposal on  the ambition mechanism is missing from the AWG-KP text, underlining her view  that this proposal &ldquo;remains on the table,&rdquo; and stressed that the mechanism must  &ldquo;bear fruit&rdquo; by 2014 at the latest.</p>
                           <p class="textstory">AWG-KP Chair Diouf proposed forwarding the  report on the AWG-KP&rsquo;s work to the CMP. AOSIS requested bracketing parts of the  text, including sections containing: the amended Protocol Annex B with parties&rsquo;  mitigation commitments; text on eligibility to participate in the flexibility  mechanisms; and text on the fulfillment of the AWG-KP&rsquo;s mandate and conclusion  of its work. Parties agreed to forward the outcome of the work of the AWG-KP  (FCCC/KP/AWG/2012/L.3), as orally amended by AOSIS, to the CMP for consideration  and finalization. </p>
                           <p class="textstory">Chair Diouf recalled earlier agreement to  form a group that will conduct a legal review of the text forwarded to the CMP,  saying the review will not reopen any substantive discussions. She said the  group will comprise members from all regional groups and SIDS, and explained  that she would report to the CMP President if any changes are required based on  the findings of the legal review.</p>
                           <p class="textstory">The AWG-KP adopted its report  (FCCC/KP/AWG/2012/L.2) and Chair Diouf closed the session at 12:24pm.</p>
                           <p class="textstory"><strong><em>COP </em></strong></p>
                           <p class="textstory"><strong>HIGH-LEVEL SEGMENT:</strong>&nbsp; The COP 18 and CMP 8  high-level segment continued with statements from ministers and other heads of  delegation. A webcast of the statements is available at: <a href="http://unfccc.int/meetings/doha_nov_2012/meeting/6815/php/view/webcasts.php." class="linknegro">http://unfccc.int/meetings/doha_nov_2012/meeting/6815/php/view/webcasts.php.</a></p>
                           <p class="textstory"><strong><em>IN THE  CORRIDORS </em></strong></p>
                           <p class="textstory">Emerging from what most likely was the  AWG-KP&rsquo;s &ldquo;ultimate closing plenary,&rdquo; some confessed to feeling nostalgic.  However, for many, this sentiment was combined with deep frustration that there  was no celebration at the end of the AWG-KP, just bracketed text and options to  forward to the ministers. Many also commented on the touching AWG-KP  intervention by the delegate from the Philippines who emotionally implored  delegates to &ldquo;open their eyes to the stark reality we face,&rdquo; informing delegates  that typhoon Bopha has regained strength and is approaching another part of the  Philippines.</p>
                           <p class="textstory">Meanwhile, negotiations continued under the  AWG-LCA, with finance as one of the key pieces of its complex puzzle. The  question was subject to informal ministerial consultations that lasted most of  Thursday. Despite the &ldquo;intense&rdquo; consultations, as one party put it, as of late  evening, some parties were still unclear about what the outcome would be, but  one fatigued delegate said he was &ldquo;still earnestly hoping for the best.&rdquo;  Efforts to advance under the AWG-LCA meant that the ADP closing plenary,  originally scheduled for Thursday afternoon, was postponed until Friday.&nbsp; </p>
                           <p class="textstory">The evening stocktaking plenary saw a  climate skeptic hijack a party&rsquo;s microphone and request a review of climate  science. His statement was greeted by loud boos from the room and many  delegates were outraged afterwards, expressing hope that he will be &ldquo;debadged&rdquo;  and banned from the COP. This strong reaction prompted one delegate to note  that, &ldquo;even though we have a long way to go before we&rsquo;re able to say that we&rsquo;ve  avoided dangerous climate change, based on everyone&rsquo;s reaction, we all seem to  at least agree that climate change is a problem to be taken seriously.&rdquo;</p>
                           <p class="textstory"><strong>ENB SUMMARY AND ANALYSIS:</strong>&nbsp;The&nbsp;<em>Earth Negotiations Bulletin</em>&nbsp;summary and  analysis of the Doha Climate Change Conference will be available on Tuesday, 11  December 2012 online at: <a href="/climate/cop18/enb/" class="linknegro">http://www.iisd.ca/climate/cop18/enb/</a></p></td>
                       </tr>
                     </table></td>
                     <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                   </tr>
                   <tr>
                     <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                     <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                     <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                   </tr>
                 </table></td>
               </tr>
             </table></td>
         </tr>
       </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
         <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="272" class="textstory1">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola Akanle Eni-ibukun, Ph.D., Jennifer Allan, Beate Antonich, Asheline Appleton, Kati Kulovesi, Ph.D., Elena Kosolapova and Eugenia Recio. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the European Commission (DG-ENV), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), and the Government of Australia. General Support for the Bulletin during 2012 is provided by the Norwegian Ministry of Foreign Affairs, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, the Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI), and the United Nations Environment Programme (UNEP). Specific funding for coverage of this meeting has been provided by the State of Qatar. Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, USA. The ENB Team at the Doha Climate Change Conference - November 2012 can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2012, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
