<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DOHA HIGHLIGHTS - Monday, 3 December 2012, 2012, Doha, Qatar</title>
<link rel="image_src" href="/_img/_logos/iisd/logo_iisdrs_2012__200px.png" />
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), ENB, Climate Change, UNFCCC, Doha Climate Change Conference - November 2012, 26 November - 7 December 2012, Doha, Qatar" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, UN Framework Convention on Climate Change (UNFCCC), DOHA HIGHLIGHTSe - Monday, 3 December 2012, Doha, Qatar" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365110;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365110;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style31 {font-size: 9pt}
.style31 {font-size: 9pt}
.title_under_earth1 {font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.title_under_earth1 {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}

-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><div style="width:165px; height:190px; position:absolute; margin-left:850px;"><a href="http://enb.iisd.mobi/unfccc-cop18/todays-report/" target="_blank"><img src="/dailies_images/images/generic/qrcode_cif.png" alt="Mobile access to this event's ENB reports and more!" width="165" height="190" border="0"></a></div>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                 <tr>
                   <td width="549" valign="top"><div align="center">
                     <table width="511" border="0">
                       <tr>
                         <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                       </tr>
                       <tr>
                         <td><div align="center"><span class="style31">&middot;</span> <span class="style31">&middot; &middot; </span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span></div></td>
                       </tr>
                       <tr>
                         <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                       </tr>
                     </table>
                   </div></td>
                 </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="425" border="0" align="center" cellpadding="2" cellspacing="0">
                   <tr>
                     <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/download/pdf/enb12563e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/vol12/enb12563f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/arabic_e.png" alt="" width="100" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/vol12/enb12563a.html"><img src="/images/arabia.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/vol12/enb12563j.html"><img src="/images/japanese.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                   </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 563 - Tuesday, 4 December 2012</font><br />
                 </div></td>
               </tr>
             </table>
             <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title1">DOHA HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><font color="#666666" class="greyheading1">Monday, 3 December 2012</font></div></td>
               </tr>
             </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                   <tr>
                     <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                     <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                     <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                   </tr>
                   <tr>
                     <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                     <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                       <tr>
                         <td><p class="textstory1">On Monday morning, afternoon and evening,  contact groups and informal consultations convened on a number of issues,  including the agreed outcome of the <em>Ad Hoc </em>Working Group on Long-term  Cooperative Action under the Convention (AWG-LCA), item 3 under the <em>Ad Hoc </em>Working  Group on Annex I Parties&rsquo; Further Commitments under the Kyoto Protocol (AWG-KP)  and workstreams 1 and&nbsp; 2 under the<em> Ad  Hoc</em> Working Group on the Durban Platform for Enhanced Action (ADP). </p>
                           <p class="textstory1">On Monday evening, an informal stocktaking  plenary by COP 18/CMP 8 President Abdullah bin Hamad Al-Attiyah (Qatar) also  took place. </p>
                           <p class="textstory1"><strong><em>COP 18/CMP 8 PRESIDENT&rsquo;S STOCKTAKING PLENARY </em></strong></p>
                           <p class="textstory1">In the evening, the COP 18/CMP 8 President&rsquo;s  stocktaking plenary convened. The SBI, SBSTA, AWG-KP, AWG-LCA and ADP chairs  provided updates on the status of negotiations.</p>
                           <p class="textstory1">SBSTA Chair Richard Muyungi (Tanzania)  highlighted that issues forwarded to the COP for further guidance include development  and transfer of technology, and methodological issues under Protocol Articles  5, 7 and 8. </p>
                           <p class="textstory1">SBI Chair Thomaz Chruszczow  (Poland) said that the SBI successfully closed many items, but indicated  that items requiring further attention include national adaptation plans and  MRV for non-Annex I parties related to international consultation and analysis.  He added that issues requiring further political consideration include loss and  damage, and technology.</p>
                           <p class="textstory1">AWG-KP Chair Madeleine Diouf (Senegal) noted  her expectation for revised text on Wednesday and the completion of the  AWG-KP&rsquo;s work. She highlighted issues that may require ministerial input,  including access to the flexibility mechanisms by parties not undertaking  commitments in the second commitment period and raising the level of ambition.</p>
                           <p class="textstory1">AWG-LCA Chair Aysar Tayeb (Saudi Arabia)  reported on the AWG-LCA outcome and the status of progress under the AWG-LCA  agenda items. He said that some parties had identified the need for further  work on various issues before concluding the AWG-LCA. While underscoring  substantial progress on mitigation issues, he noted less progress on  adaptation, finance, technology, capacity building and response measures. He  said smaller groups are already engaged in drafting text under some of the  agenda issues, and that issues of a political nature that would benefit from  ministerial engagement are being identified.</p>
                           <p class="textstory1">ADP Co-Chair Harald Dovland (Norway)  reported that the co-chairs had presented an informal note containing elements  of the ADP work plan. He indicated that, based on feedback from parties, the  informal note will be revised for consideration on Tuesday. </p>
                           <p class="textstory1">Highlighting the request for early outreach  of ministers, COP 18 President Al-Attiyah said Luiz Figueiredo Machado (Brazil)  and B&aring;rd Vegar Solhjell (Norway) will hold an informal ministerial outreach  process to assist the AWG-KP Chair on discussions related to access to the  Kyoto Protocol flexibility mechanisms for parties not taking commitments under  the second commitment period and extending the share of proceeds to the other  flexibility mechanisms. He added that also other issues could require further  involvement by ministers later on.&nbsp; </p>
                           <p class="textstory1">Algeria, for the G-77/CHINA, expressed  support for the President using appropriate approaches to find a solution that  is acceptable to all parties and noted that the time factor &ldquo;should not be used  as a pretext to digress from the objective of achieving consensus.&rdquo;</p>
                           <p class="textstory1">Swaziland, for the AFRICAN GROUP, expressed  concern over the SBI&rsquo;s closing plenary, which was held during the early hours  of Sunday and highlighted that such procedural arrangements exceeded the  capacity of small delegations. He called for clarity on whether the SBSTA item  on agriculture would be taken up by the COP or forwarded to the next SBSTA.</p>
                           <p class="textstory1">Nauru, for AOSIS, emphasized that success in  Doha requires an ambitious agreement on finance, and lamented lack of urgency  and ambition across all negotiating tracks. </p>
                           <p class="textstory1">Australia, for the UMBRELLA GROUP,  emphasized the need to: address issues around &ldquo;operability&rdquo; and eligibility for  access to flexibility mechanisms in order to deliver a Kyoto Protocol second  commitment period; recognize substantial outcomes achieved in Cancun and  Durban; focus on areas of convergence to finalize any remaining work in the  AWG-LCA; and capture ADP discussions in a text to send a signal that the ADP is  on track.</p>
                           <p class="textstory1">Switzerland, for the EIG, highlighted the  need to build consensus and not revisit what has already been agreed upon, and  supported bringing specific issues to ministers for guidance. The EU emphasized  that &ldquo;we are here to deliver&rdquo; a balanced package as agreed in Durban. On the  second commitment period under the Protocol, she expressed concern about lack  of progress on technical elements and welcomed ministerial input.</p>
                           <p class="textstory1">VENEZUELA expressed concern that parties are  heading toward a &ldquo;mitigation and market agreement&rdquo; that will unfairly benefit  developed countries. She further expressed concern that the AWG-LCA text does  not include finance, adaptation or technology and stated that discussions on  providing access to flexibility mechanisms for those not participating in a  second commitment period violates the principles of the Kyoto Protocol.</p>
                           <p class="textstory1">Bangladesh, for the CLIMATE VULNERABLE  FORUM, identified finance, technology and capacity building as critical for the  2013-2020 period. COLOMBIA, for Chile, Costa Rica, Dominican Republic,  Guatemala and Peru, supported the engagement of ministers to address crucial  issues discussed under the AWG-KP and emphasized the need for a party-driven  process, particularly in the preparation of the AWG-LCA text. </p>
                           <p class="textstory1">BOLIVIA expressed concern over various  informal notes produced by facilitators that do not consider submissions from  some parties and the lack of progress on increasing the level of mitigation  ambition. NICARAGUA called for avoiding a &ldquo;lost decade for climate finance,&rdquo;  noting the lack of a roadmap to achieve the 2020 goal for finance.</p>
                           <p class="textstory1">Egypt, for the ARAB GROUP, stressed that  there is no contradiction between ambition and equity, and that equity should  be the &ldquo;gateway to ambition.&rdquo; He noted that ambition should also be  multi-dimensional. India, for the LIKE-MINDED DEVELOPING COUNTRIES, underlined  that the meaningful conclusion of the AWG-LCA is one of the main components of  the Durban package, and called for resolving all its issues, including  adaptation, capacity building, technology and finance. </p>
                           <p class="textstory1">Responding to questions on the status of the  SBSTA agenda item on agriculture, SBSTA Chair Muyungi reported that the lack of  consensus to refer this item to the COP for further consideration had been  noted and that during the SBSTA closing plenary parties had agreed to continue  consideration of this agenda item at SBSTA 38. Chair Muyungi further noted that  he had reported this to the COP President. </p>
                           <p class="textstory1">COP President Al-Attiyah urged parties to  continue their efforts to find solutions to the various issues, so as to  complete work by Friday. He informed parties of his intention to complete the  work forwarded by the SBs by Tuesday and to close the AWGs on Wednesday. </p>
                           <p class="textstory1"><strong><em>AWG-LCA </em></strong></p>
                           <p class="textstory1"><strong>AGREED OUTCOME: </strong>In the morning, AWG-LCA Chair Tayeb convened informal consultations  on the AWG-LCA agreed outcome. Discussions focused on a new text on the status  of AWG-LCA agenda items 3-5 (AWG-LCA agreed outcome, Review and other matters).</p>
                           <p class="textstory1">Algeria, for the G-77/CHINA, expressed  disappointment with the text, noting that it is &ldquo;unbalanced,&rdquo; failing to  reflect the main elements of the Bali Action Plan. Nicaragua, for the  LIKE-MINDED DEVELOPING COUNTRIES, with many other developing countries,  stressed the need for text on adaptation, finance, technology and capacity  building. Kenya, for the AFRICAN GROUP, identified the inclusion of key  elements of the Bali Action Plan as a precondition for discussions. The  PHILIPPINES, the UNITED ARAB EMIRATES and others lamented lack of clarity on  the means of implementation. BOLIVIA objected to the &ldquo;market-oriented&rdquo; focus of  the text. CHINA identified the need to close the AWG-LCA with a &ldquo;comprehensive  and balanced&rdquo; outcome, saying the text before delegates is not comprehensive.  ECUADOR identified: the environmental integrity of markets; measuring,  reporting and verification (MRV) of financial support; and adaptation as  &ldquo;crucial&rdquo; issues. The CENTRAL AFRICA FOREST COMMISSION called for a work programme  that specifically addresses the socio-economic and ecosystem benefits of forest  conservation.</p>
                           <p class="textstory1">The US, CANADA, AUSTRALIA and NEW ZEALAND  emphasized the importance of recognizing progress made under the AWG-LCA,  including the various new institutional arrangements established. Switzerland,  for the EIG, warned against attempts &ldquo;to revisit everything,&rdquo; raise  &ldquo;artificially high&rdquo; expectations and focus on &ldquo;things that divide us.&rdquo; JAPAN  lamented lack of recognition by developing countries of progress on finance,  including fast-track finance and the establishment of the Standing Committee.  Several developed countries emphasized that discussions on issues, including  adaptation and finance, will continue under other processes after the  termination of the AWG-LCA. The EU drew attention, <em>inter alia</em>, to: the  Adaptation Committee and the Standing Committee; and work on long-term finance  and national adaptation plans. BARBADOS emphasized that there is no process  outside the AWG-LCA to consider the post-2012 financing gap and that the Green  Climate Fund remains &ldquo;an empty shell.&rdquo; </p>
                           <p class="textstory1">The EU highlighted specific tasks in the  AWG-LCA&rsquo;s mandate, saying that no decision on market approaches would mean no  process to consider the issue after Doha. BRAZIL suggested that market mechanisms  be discussed under the ADP, while the EU raised concerns over this idea.  VENEZUELA stressed that the text on paragraph 1(b)(v) of the Bali Action Plan  (market and non-market approaches) had been rejected by many developing  countries during informal consultations, and objected to presenting the text as  the basis for further negotiations. BOLIVIA agreed, emphasizing concerns over  market mechanisms, including double counting and non-additionality that could  increase emissions. </p>
                           <p class="textstory1">COLOMBIA urged: identifying under which  bodies the Bali Action Plan can continue to be implemented; &ldquo;giving closure to  what can be closed&rdquo;; and giving comfort to those who feel some issues are not  reflected in the text. BRAZIL highlighted the need to wrap up everything under the  AWG-LCA&rsquo;s mandate and stressed that solving all these issues is a precondition  for meaningful work under the ADP. SOUTH AFRICA and others emphasized that the  closing text of the AWG-LCA must encompass all issues under the AWG-LCA&rsquo;s  mandate, and that some issues require more elaboration. MEXICO identified the  need to take into consideration outcomes from COP 16 and 17, and consider what  else needs to be done. She identified the need to close the AWG-LCA knowing  that implementation of its outcomes will continue for many years. </p>
                           <p class="textstory1">&nbsp;Chair  Tayeb explained that the paper was not &ldquo;his&rdquo; text, but an unedited compilation  of papers from the spin-off groups, except for those groups where there was no  agreement to have a text. He signaled &ldquo;a lot of work&rdquo; ahead for the AWG-LCA  this week, noting that while some groups would benefit from additional  negotiating time, others are moving backwards and require guidance in order to  move forward. </p>
                           <p class="textstory1">Chair Tayeb proposed that the spin-off group  on shared vision focus on text on a process to: explore the numbers for a  global goal and timeframe for peaking, together with their implications; and  consider equitable access to sustainable development. On the Review, Chair  Tayeb suggested that the group focus on the scope of the Review, coupled with  considerations for expert input. On developed and developing country  mitigation, Chair Tayeb urged parties to focus on establishing work programmes  and their potential elements. After discussion, Chair Tayeb said &ldquo;informal  informals&rdquo; would take place on the Review, shared vision, developed country  mitigation and developing country mitigation. </p>
                           <p class="textstory1"><strong><em>AWG-KP </em></strong></p>
                           <p class="textstory1"><strong>ITEM 3: </strong>In the morning, the  AWG-KP contact group on item 3 (consideration of Annex I Parties&rsquo; further  commitments) took place. AWG-KP Chair Diouf drew attention to her revised  proposal to facilitate negotiations (FCCC/KP/AWG/2012/CRP.2).</p>
                           <p class="textstory1">Facilitator Sandea de Wet (South Africa)  reported on the spin-off group on numbers/text, noting that parties had  exchanged views on how to raise the ambition level. She noted &ldquo;modest progress&rdquo;  on cleaning text, observing that the options on the eligibility to participate  in the flexibility mechanisms during the second commitment period require  further clarification, and progress is also needed on carry-over of surplus  Assigned Amount Units (AAUs).</p>
                           <p class="textstory1">AWG-KP Vice-Chair Jukka Uosukainen (Finland) reported  &ldquo;good progress&rdquo; in his informal consultations on matters relating to the second  commitment period. He noted that some paragraphs in the draft CMP decision on  Protocol amendments remain in brackets &ldquo;for practical and tactical reasons,&rdquo;  waiting for progress in other groups rather than representing real, unsolved  issues. He explained that issues related to the provisional application of the  second commitment period (paragraphs 7-11) in the revised text remain to be  solved. Vice-Chair Uosukainen identified three options for provisional  application: opting out; opting in; and an implementing decision, saying these  options are &ldquo;not necessarily mutually exclusive.&rdquo;</p>
                           <p class="textstory1">AWG-KP Chair Diouf then presented her  assessment of how the AWG-KP can progress to full agreement. She explained that  parties&rsquo; views on the length of the second commitment period, QELROs and  ambition are still divergent. On the Protocol&rsquo;s legal continuity from 1 January  2013, she said options are fewer and clearer, and asked whether parties see  possibility of convergence. On the Protocol&rsquo;s operational continuity for Annex  I parties from 1 January 2013, she reported that proposals are on the table but  identified the need for more time to discuss them. </p>
                           <p class="textstory1">With regards to the eligibility of Annex I  parties not participating in the second commitment period to access the  Protocol&rsquo;s flexibility mechanisms, she observed divergent views with no  compromise option in sight. Identifying this as a political issue, she reminded  parties to refine a proposal for ministers. The EU emphasized the CDM as an  important funding source for the Adaptation Fund. The Marshall Islands, for  AOSIS, supported by INDIA, called for ensuring that a share of proceeds from  the flexibility mechanisms is used for adaptation.</p>
                           <p class="textstory1">Noting proposals on the table, Chair Diouf  also emphasized that the carry-over of surplus AAUs is a &ldquo;complex, sensitive  and political&rdquo; issue. Expressing hope for a solution, she invited parties to  work in a transparent manner before forwarding the issue to the ministers.</p>
                           <p class="textstory1">The EU underscored that parties have been  working on the issues of carry-over of AAUs and increasing ambition, calling for  the &ldquo;fruits of this work&rdquo; to be tabled before forwarding the text to ministers.  Saint Lucia, for AOSIS, and several developing countries, stressed the need to  achieve a higher level of ambition. She lamented that some parties have dropped  to the lower end of their pledges despite their clear mandate to move up to the  top end of their pledges, and noted their conditionalities have been met with  the creation of the ADP process. The PHILIPPINES urged parties to &ldquo;walk fast,  far and forward.&rdquo; AUSTRALIA identified ambition as a broader issue that must be  addressed beyond the Protocol&rsquo;s second commitment period. SWITZERLAND  identified addressing the carry-over of surplus AAUs as a way to raise  ambition. </p>
                           <p class="textstory1"><strong><em>ADP </em></strong></p>
                           <p class="textstory1"><strong>WORKSTREAMS 1 AND 2: </strong>In the afternoon, the ADP convened informal consultations on  workstreams 1 and 2. Parties considered the co-chairs&rsquo; informal note of 2  December. The informal note includes elements of a possible decision and  conclusions, including on an ADP work plan, to be forwarded to the COP for  consideration.</p>
                           <p class="textstory1">Parties made general comments on the  informal note, as well as concrete proposals regarding specific paragraphs.  Parties suggested that the Doha ADP outcome should include: commitment to  complete work in 2015; negotiating text for 2014; and provisions for engaging  with ministers from different sectors, for example, by holding yearly  ministerial roundtables. Some parties stated their preference for a &ldquo;minimalist  outcome&rdquo; in Doha, noting that nothing more was possible or necessary at this  stage of discussions.</p>
                           <p class="textstory1">Several parties said it was too early to  invite submissions on the architecture of a future agreement, with one party  emphasizing that scope, and not architecture, needs to be defined. One  developing country observed that all elements of the Durban Platform, and not  just the two workstreams, should be addressed in a holistic manner. Several  parties also stressed the need for balance between the two workstreams.</p>
                           <p class="textstory1">On the ADP&rsquo;s workplan for 2013, several  developed country parties questioned the need to convene additional sessions in  2013 for the ADP, stating that the scheduled UNFCCC sessions would provide  sufficient time for discussions. &nbsp;</p>
                           <p class="textstory1">Several parties opposed text requesting the  Secretariat to prepare a technical paper analyzing the mitigation potential of  international cooperative initiatives, with one preferring that the ADP request  the international cooperative initiatives themselves to identify their  mitigation potential.</p>
                           <p class="textstory1">A revised  co-chairs&rsquo; informal note will be prepared and informal consultations will  continue.&nbsp;</p>
                           <p class="textstory1"><strong><em>IN THE CORRIDORS </em></strong></p>
                           <p class="textstory1">The roomy corridors of the Qatar National  Convention Center were noticeably busier on Monday as ministers and a  contingent of fresh delegates began arriving for the final days of talks in  Doha. During the stocktaking events and press conferences organized throughout  the day, delegates had the chance to think of the arduous trek towards bringing  the conference to a successful closure. </p>
                           <p class="textstory1">With the SBs concluded, all eyes were now on  the AWG-KP and AWG-LCA, which have to resolve all outstanding issues within the  next few days and terminate their work. Some, including the EU at its press  conference, also highlighted the importance of agreeing on clear steps for the  ADP to reach a legally-binding agreement by 2015. Informal discussions under  the AWG-LCA retraced familiar divergences between developed and developing  countries that remain on issues to be addressed to fulfill the AWG-LCA&rsquo;s  mandate. There did not seem to be consensus among delegates on which issues  were the most controversial; some cited adaptation, finance and market  mechanisms, while others said unilateral trade measures and response measures  were sticking points.</p>
                           <p class="textstory1">Despite so much work remaining, some  commented on the &ldquo;lackluster&rdquo; conference, with one NGO representative saying it  felt like a &ldquo;bureaucratic COP.&rdquo; After the evening stocktaking plenary, several  delegates were in a rather pessimistic mood and seemed far from certain that a  successful outcome was in sight. One long-time delegate said he had &ldquo;little hope  for a &lsquo;surprise&rsquo; agreement at the end of it. </p></td>
                       </tr>
                     </table></td>
                     <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                   </tr>
                   <tr>
                     <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                     <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                     <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                   </tr>
                 </table></td>
               </tr>
             </table></td>
         </tr>
       </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
         <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="272" class="textstory1">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola Akanle Eni-ibukun, Ph.D., Jennifer Allan, Beate Antonich, Asheline Appleton, Kati Kulovesi, Ph.D., Elena Kosolapova and Eugenia Recio. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the European Commission (DG-ENV), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), and the Government of Australia. General Support for the Bulletin during 2012 is provided by the Norwegian Ministry of Foreign Affairs, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, the Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI), and the United Nations Environment Programme (UNEP). Specific funding for coverage of this meeting has been provided by the State of Qatar. Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, USA. The ENB Team at the Doha Climate Change Conference - November 2012 can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2012, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
