<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DOHA HIGHLIGHTS - Tuesday, 4 December 2012, 2012, Doha, Qatar</title>
<link rel="image_src" href="/_img/_logos/iisd/logo_iisdrs_2012__200px.png" />
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), ENB, Climate Change, UNFCCC, Doha Climate Change Conference - November 2012, 26 November - 7 December 2012, Doha, Qatar" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, UN Framework Convention on Climate Change (UNFCCC), DOHA HIGHLIGHTSe - Tuesday, 4 December 2012, Doha, Qatar" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365110;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365110;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.meeting_title1 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style31 {font-size: 9pt}
.style31 {font-size: 9pt}
.title_under_earth1 {font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.title_under_earth1 {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}

-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><div style="width:165px; height:190px; position:absolute; margin-left:850px;"><a href="http://enb.iisd.mobi/unfccc-cop18/todays-report/" target="_blank"><img src="/dailies_images/images/generic/qrcode_cif.png" alt="Mobile access to this event's ENB reports and more!" width="165" height="190" border="0"></a></div>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
         <tr>
           <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                 <tr>
                   <td width="549" valign="top"><div align="center">
                     <table width="511" border="0">
                       <tr>
                         <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                       </tr>
                       <tr>
                         <td><div align="center"><span class="style31">&middot;</span> <span class="style31">&middot; &middot; </span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span> <span class="style31"></span><span class="style31">&middot;</span></div></td>
                       </tr>
                       <tr>
                         <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                       </tr>
                     </table>
                   </div></td>
                 </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="425" border="0" align="center" cellpadding="2" cellspacing="0">
                   <tr>
                     <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/download/pdf/enb12564e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/vol12/enb12564f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/arabic_e.png" alt="" width="100" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/vol12/enb12564a.html"><img src="/images/arabia.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                           </tr>
                           <tr>
                             <td align="center"><div align="center"><a href="/vol12/enb12564j.html"><img src="/images/japanese.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                     <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___" style="background-color:f9f9f9;">
                       <tr>
                         <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                         <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                       <tr>
                         <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                         <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                           </tr>
                         </table></td>
                         <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                       <tr>
                         <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                         <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                         <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                     </table></td>
                   </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 564 - Wednesday, 5 December 2012</font><br />
                 </div></td>
               </tr>
             </table>
             <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title1">DOHA HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><font color="#666666" class="greyheading1">Tuesday, 4 December 2012</font></div></td>
               </tr>
             </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                   <tr>
                     <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                     <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                     <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                   </tr>
                   <tr>
                     <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                     <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                       <tr>
                         <td><p class="textstory">On Tuesday afternoon, the opening ceremony  of the COP 18 and CMP 8 high-level segment took place. In the morning,  afternoon and evening, contact groups and informal consultations convened under  the COP, CMP, ADP, AWG-LCA and AWG-KP. </p>
                           <p class="textstory"><strong><em>OPENING CEREMONY OF THE COP 18 AND CMP 8 HIGH-LEVEL  SEGMENT </em></strong></p>
                           <p class="textstory">In the afternoon, the opening of the COP 18  and CMP 8 high-level segment took place. </p>
                           <p class="textstory">UNFCCC Executive Secretary Figueres  underscored that Doha needs to ensure: agreement on an amendment to the Kyoto  Protocol; a clear path on climate finance; effective Review of the long-term  global goal; an urgent response to the widening emissions gap; and a firm  foundation for a long-term framework applicable to all, equitably instituted  and responsive to science.</p>
                           <p class="textstory">COP 18/CMP 8 President Al-Attiyah: urged  parties to work together towards mutual understanding and to ensure a balanced  package, highlighting climate change as one of the most pressing challenges of  our time.</p>
                           <p class="textstory">Vuk Jeremi&#263;, President of the UN General  Assembly, stated that addressing climate change must become a &ldquo;core national  interest&rdquo; of every UN member state. He outlined plans to schedule a high-level  thematic debate on climate change, green energy and water sustainability during  the resumed 67th session of the UN General Assembly. </p>
                           <p class="textstory">UN Secretary-General Ban Ki-moon underscored  that there should be no illusion that this is a crisis. He outlined five  deliverables from Doha: adopting a ratifiable second commitment period under  the Kyoto Protocol; making progress on long-term climate finance; working to  fully equip institutions supporting mitigation and adaptation by developing  countries; keeping negotiations on a legally-binding instrument on track; and  showing determination to act on the gap between the current mitigation pledges  and what is required to achieve the 2&deg;C target.</p>
                           <p class="textstory">H.H. Sabah IV Al-Ahmad Al-Jaber Al-Sabah,  Emir of Kuwait, noted that the sizeable high-level participation in the  conference reflects recognition by the international community of climate  change as a pressing issue. He called for decisions to pave the way for  long-term cooperation through: ensuring the effective implementation of the  Bali Action Plan and all its elements; adopting a second commitment period  under the Kyoto Protocol; not imposing new commitments on developing countries;  and backing voluntary actions by developing countries with finance and  technology transfer from developed countries.</p>
                           <p class="textstory">H.H. Sheikh Hamad Bin Khalifa Al-Thani, Emir  of Qatar, called for: epitomizing the concept of interdependence; reaching a  practical and effective agreement with flexible solutions; and finding an  equilibrium between the needs of countries and communities for energy on the  one hand, and the requirements to reduce greenhouse gas emissions on the other  hand.</p>
                           <p class="textstory">The high-level segment then continued with  statements from other heads of state and heads of government, deputy heads of  state and deputy heads of government, ministers and other heads of delegations.  A webcast of the statements is available at: <a href="http://unfccc.int/meetings/doha_nov_2012/meeting/6815/php/view/webcasts.php" class="linknegro">http://unfccc.int/meetings/doha_nov_2012/meeting/6815/php/view/webcasts.php</a></p>
                           <p class="textstory"><strong><em>ADP </em></strong></p>
                           <p class="textstory"><strong>ROUNDTABLE ON WORKSTREAM 2: </strong>In the morning ADP roundtable on workstream 2, Nauru, for AOSIS,  presented draft decision text on &ldquo;enhancing pre-2020 mitigation ambition,&rdquo;  highlighting that it provides a detailed ADP work plan for 2013. The text, <em>inter  alia</em>, underscores an urgency to close the existing mitigation gap, and  proposes holding multiple workshops throughout 2013 on several thematic areas.  It also invites parties to submit proposals on: measures to enhance pre-2020  mitigation ambition; quantification of such measures; GHG reduction potential;  barriers to implementation; and the finance, technology and capacity building  required for implementation. </p>
                           <p class="textstory">Several parties welcomed the AOSIS text as a  helpful proposal to move discussions forward. The DOMINICAN REPUBLIC remarked  that being too specific in terms of planning work could mean sacrificing  flexibility, while being too vague could mean &ldquo;not having guidance for our  work.&rdquo; He noted an interactive relationship between ambition and means of  implementation.</p>
                           <p class="textstory">UGANDA called for discussions focusing on  adaptation and means of implementation. BRAZIL supported the AOSIS text but  cautioned that too many details may lead to inefficiencies. He emphasized the  means of implementation as critical for both developing and developed  countries, stressed the &ldquo;enormous potential&rdquo; of subnational initiatives, and  encouraged involving other stakeholders in the ADP&rsquo;s work. </p>
                           <p class="textstory">NORWAY encouraged: continuing positive  dynamics; sharing experiences; understanding conditionalities better; bringing  more parties on board; considering the mitigation potential of REDD+,  hydrofluorocarbons and black carbon; and removing harmful fossil fuel  subsidies. NEW ZEALAND stated that ambition is being hampered by &ldquo;an  environment of finger pointing &ndash; you should, you must, you ought to.&rdquo; </p>
                           <p class="textstory">The MARSHALL ISLANDS urged consideration of  mitigation potential underlying targets and pledges, and stressed that a  thematic approach has much higher mitigation potential than international  cooperative initiatives. </p>
                           <p class="textstory"><strong>INFORMAL CONSULTATIONS: </strong>After the roundtable, the ADP held informal consultations in the  morning and evening on the AOSIS proposal, and on revised draft text by the ADP  co-chairs, which seeks to reflect the interventions and submissions made by  parties in 2012.</p>
                           <p class="textstory">Several parties said the co-chairs&rsquo; text  could be strengthened and noted the loss of detail concerning future work and  themes, calling for references to issues including: international cooperative  initiatives; raising pledges; Annex I countries&rsquo; leadership obligation;  adaptation, means of implementation and broad elements of the Bali Action Plan.  Many parties supported requesting submissions from parties on various themes.  However, while not ruling out thematic discussions, some parties expressed  discomfort with a sector approach to raising ambition.</p>
                           <p class="textstory">Informal consultations continued late into  the evening.</p>
                           <p class="textstory"><strong><em>AWG-KP </em></strong></p>
                           <p class="textstory"><strong>NUMBERS/TEXT: </strong>In the morning  AWG-KP spin-off group on numbers/text, a coalition of developing countries  introduced a proposal for Annex I parties to take on QELROs at CMP 8 consistent  with the top end of their pledged ranges and to further increase ambition  during the Protocol&rsquo;s second commitment period. The proposal requires Annex I parties  to ensure that QELROs adopted for the second commitment period lead to overall  emission reductions of at least 33% below 1990 levels by 2017. It also  establishes a process for each party to revisit its QELRO by 2014 at the  latest, in line with an aggregate Annex I emission reductions of more than 45%  below 1990 levels by 2020. Parties exchanged views on the proposal, with a  number of them expressing support for using it as a basis for work, and some  also supported considering the other two recent proposals. Many developed  countries expressed concern with the years and numbers included in the  proposal. </p>
                           <p class="textstory">Parties also discussed the issue of the  share of proceeds from the flexibility mechanisms. Developing countries  presented a submission that proposes raising the share of proceeds to 5% of the  Certified Emission Reductions issued for CDM projects registered after 31  December 2014. Many parties requested further clarifications and some expressed  agreement to work on this basis.&nbsp; </p>
                           <p class="textstory">Noting the need for further discussions to  feed into the AWG-KP Chair&rsquo;s revised text expected to be prepared on Wednesday,  parties agreed to work in &ldquo;informal informals&rdquo; on text and find common ground,  taking as a basis the three proposals and the Chair&rsquo;s text.</p>
                           <p class="textstory"><strong><em>AWG-LCA </em></strong></p>
                           <p class="textstory"><strong>AGREED OUTCOME:</strong> In the evening, AWG-LCA informal consultations took place with a  view to providing an update on work on issues, including adaptation,  technology, capacity building and response measures. It was also reported that  finance will be taken up in consultations by two ministers. Parties also  considered procedural issues, including the schedule for informal negotiations  and the nature of the informal groups established to address issues which  parties could not agree to forward to spin-off groups. Informal consultations  continued late into the evening, addressing, <em>inter alia</em>, EITs.</p>
                           <p class="textstory"><strong><em>IN THE CORRIDORS </em></strong></p>
                           <p class="textstory">On Tuesday, media attention turned to the  opening of the high-level segment. This annual gathering presents an  opportunity for high-level representatives to deliver statements on domestic  progress and expectations from the UNFCCC negotiations. The high-level segment  also presents an important chance for delegates to present &ldquo;knotty issues&rdquo; for  resolution at the political level. </p>
                           <p class="textstory">Away from the media spotlight, a plethora of  consultations continued under all five bodies, with many feeling that the clock  was running against the negotiators. One delegate remarked: &ldquo;We&rsquo;ve reached a  stage where most negotiations are taking place in parallel, behind the scenes  in informal-informals, so it is difficult to have an overall picture of  everything that is happening, particularly under the AWG-LCA.&rdquo;&nbsp; </p>
                           <p class="textstory">The need for clarity on the &ldquo;big picture&rdquo;  was also picked up elsewhere. CAN emphasized, during its afternoon press  conference, that closing the AWG-LCA is not just a matter of &ldquo;switching off the  lights and leaving&rdquo; as all the negotiating tracks are linked and &ldquo;fundamental  issues&rdquo; under the Bali Action Plan must be resolved. CAN identified finance as  one such fundamental issue, calling for a &ldquo;credible trajectory towards 2020  with innovative sources of financing from a levy on international air and  maritime transport, as well as a financial transaction tax.&rdquo;</p>
                           <p class="textstory">As if anticipating this call for mid-term  finance, rumors circulated that the UK has become the first EU member state to  make a pledge of post-2012 finance totaling &euro; 2.2 billion. This had several  participants, including some observers who heard the news via twitter,  welcoming this and calling for other countries to follow suit.</p>
                           <p class="textstory">Market mechanisms re-awoke as an issue many  believe is essential to resolve before closing the AWG-KP and AWG-LCA. Chaired  by Nicholas Stern, ministers and other-high-level representatives gathered  during lunch time in a dialogue on the role of market mechanisms under the  UNFCCC. </p>
                           <p class="textstory">At the event, the high-level representative  from Grenada called for a clear signal that the CDM will not end and that there  will be a smooth transition to the second commitment period. The Chinese  representative discussed plans for domestic emissions trading and energy  efficiency initiatives, also highlighting the need to raise developed  countries&rsquo; mitigation ambition which will stimulate demand for credits from  international market mechanisms. Representatives from Australia and the EU highlighted  the decision to link their respective emission trading schemes and form the  world&rsquo;s largest carbon market. Most participants leaving the dialogue found it  interesting and hoped that progress on market mechanisms can be achieved in  Doha. Others, however, expressed deep concern over the emphasis on carbon  markets, with some developing country delegates indicating that they were &ldquo;very  disappointed&rdquo; with the event.&nbsp;</p></td>
                       </tr>
                     </table></td>
                     <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                   </tr>
                   <tr>
                     <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                     <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                     <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                   </tr>
                 </table></td>
               </tr>
             </table></td>
         </tr>
       </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
         <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="272" class="textstory1">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola Akanle Eni-ibukun, Ph.D., Jennifer Allan, Beate Antonich, Asheline Appleton, Kati Kulovesi, Ph.D., Elena Kosolapova and Eugenia Recio. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the European Commission (DG-ENV), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), and the Government of Australia. General Support for the Bulletin during 2012 is provided by the Norwegian Ministry of Foreign Affairs, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, the Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI), and the United Nations Environment Programme (UNEP). Specific funding for coverage of this meeting has been provided by the State of Qatar. Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, USA. The ENB Team at the Doha Climate Change Conference - November 2012 can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2012, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
