<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>COPENHAGEN HIGHLIGHTS - Monday, 7 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, 7-18 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12449e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12449f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/vol12/enb12449s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                               </tr>
                               <tr>
                                 <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12449j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Version Japonaise" vspace="1" border="0" /></a><a href="/climate/cop15/japanese/enb12449j.pdf"></a></div></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                         <tr>
                           <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                           <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                         </tr>
                         <tr>
                           <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                           <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                               <tr>
                                 <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                               </tr>
                           </table></td>
                           <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                         </tr>
                         <tr>
                           <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                           <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                           <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                         </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 449 - Tuesday, 8 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">MONDAY, 7 DECEMBER 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">The Copenhagen Climate Change Conference  opened on Monday morning with a welcoming ceremony. This was followed by the  opening plenaries of COP 15, COP/MOP 5, AWG-LCA 8 and AWG-KP 10.</p>
                               <p class="textstory"><strong><em>WELCOMING CEREMONY </em></strong></p>
                               <p class="textstory">Lars L&oslash;kke Rasmussen, Prime Minister of  Denmark, said this conference was taking place at a time of unprecedented  political will, and urged parties to reach an ambitious agreement in order to  deliver &ldquo;hope for a better future.&rdquo; </p>
                               <p class="textstory">Ritt Bjerreg&aring;rd, Mayor of Copenhagen,  highlighted the Copenhagen Climate Summit for Mayors taking place from 14-17  December and indicated that Copenhagen  aimed to be carbon neutral by 2025. She said COP 15 needed to &ldquo;go very far,  very fast&rdquo; and called on delegates to turn Copenhagen into &ldquo;Hopenhagen&rdquo; and to &ldquo;seal the  deal.&rdquo;</p>
                               <p class="textstory">Rajendra Pachauri, Chair of the  Intergovernmental Panel on Climate Change (IPCC), highlighted the consequences  of failure to implement climate change mitigation policies on the basis of the  Fourth Assessment Report (AR4). He emphasized that for temperature increase to  be limited to between 2.0-2.4&deg;C,  global emissions must peak no later than 2015. Pointing to a recent incident  involving the theft of e-mails from scientists at the University  of East Anglia in the UK,  Pachauri highlighted the IPCC&rsquo;s record of transparent and objective assessment. </p>
                               <p class="textstory">UNFCCC Executive Secretary Yvo de Boer  said Copenhagen should result in: an agreement on implementation of mitigation,  adaptation, finance, technology, reducing emissions from deforestation and  forest degradation in developing countries (REDD) and capacity building  actions; ambitious emission reductions commitments and &ldquo;start-up finance&rdquo; of  around US$10 billion per year; and a shared vision on long-term cooperative  action. He emphasized that Copenhagen  would be successful only if it delivered significant and immediate action  beginning the day the conference concludes.</p>
                               <p class="textstory"><strong><em>COP </em></strong></p>
                               <p class="textstory">COP 14 President Maciej Nowicki (Poland)  opened COP 15, stressing its critical role in addressing climate change. Parties  elected Connie Hedegaard, Minister for the UN Climate Change Conference in Copenhagen 2009, Denmark, as COP 15 President. </p>
                               <p class="textstory">COP President Hedegaard stated that the  political will to address climate change has never been stronger and said &ldquo;if  we miss this chance, it may take years to get the next one.&rdquo; She emphasized the  need for progress during the first week, highlighting that leaders are  expecting to adopt a global agreement in 11 days. She called for a  comprehensive agreement delivering on all building blocks and launching  immediate action. Finally, she urged parties to &ldquo;mark this meeting in history&rdquo;  and &ldquo;get it done.&rdquo;</p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS:</strong> On the rules of procedure, COP  President Hedegaard recalled the practice since COP 1 of applying the draft rules  of procedure, with the exception of draft rule 42 on voting. PAPUA NEW GUINEA  opposed this proposal, stating that agreement by consensus based on &ldquo;the lowest  common denominator&rdquo; is &ldquo;gravely negligent&rdquo; given the seriousness of climate  change impacts. He supported taking decisions by a majority of two thirds of  parties present and voting. COP President Hedegaard said she would consult on  the issue. BRAZIL, SAUDI ARABIA, DEMOCRATIC   REPUBLIC OF THE CONGO and LESOTHO supported this, stressing  the need to start working promptly. </p>
                               <p class="textstory">Parties then adopted the agenda  (FCCC/CP/2009/1 and Add.1). On the election of officers other than the  President, COP President Hedegaard said nominations by regional groups have not  been completed and invited COP Vice-President Eric Mugurusi (Tanzania) to  continue consultations. She said current members would serve until the new  Bureau is finalized. </p>
                               <p class="textstory">Delegates agreed to admit the proposed  organizations as observers (FCCC/CP/2009/8/Rev.1). COP President Hedegaard  noted recent Convention ratifications by Iraq  and Somalia,  indicating that this brings the total number of parties to 194 and makes the  UNFCCC &ldquo;a truly universal agreement.&rdquo; </p>
                               <p class="textstory"><strong>OPENING STATEMENTS:</strong> Sudan, for the G-77/CHINA,  encouraged parties to observe the principles of good faith, transparency,  inclusivity and openness, as well as an absolute commitment to the process. He  emphasized the need for the agreed outcome under the AWG-LCA to ensure full  implementation of developed country commitments under the Convention and rejected  attempts to merge developed country commitments under the Protocol with similar  actions for developing countries. </p>
                               <p class="textstory">Algeria, for the AFRICAN GROUP,  expressed serious concerns with the lack of progress in this process and  reminded parties that Africans are already impacted by climate change, through  increased droughts, health hazards, food scarcity and migration. He firmly  opposed renegotiating the UNFCCC and requested a transparent and equitable  high-level segment, stressing that the process must not be selective in the  nature of its consultations. </p>
                               <p class="textstory">SAUDI ARABIA supported the adoption of a  just and comprehensive agreement, which should comply with the principles and  the text of the Convention and Bali Action Plan (BAP). He said his delegation  would not accept accelerating progress on some issues and postponing action on  others. He also proposed an independent and international investigation of &ldquo;a  recent scientific scandal&rdquo; known as &ldquo;climate gate,&rdquo; and noted economic losses  from climate change for many countries, including those that rely on the export  of fossil fuels. </p>
                               <p class="textstory">Lesotho, for the LEAST DEVELOPED  COUNTRIES (LDCs), urged countries not to betray &ldquo;the expectations of the  anxious global population,&rdquo; and supported bottom-up and inclusive procedures  and the continuation of a two-track process. He highlighted the importance of  adaptation, financing, technology and capacity building support, and underlined  the need for contributions to the LDC Fund to finance countries&rsquo; most immediate  adaptation needs.</p>
                               <p class="textstory">Grenada, speaking for the ALLIANCE OF  SMALL ISLAND STATES (AOSIS), urged an ambitious outcome that addresses the true  scale of the problem, responds with the urgency needed; and guarantees the  long-term survival of small island developing States (SIDS), LDCs, and other  vulnerable groups. She said a political outcome was inadequate, and AOSIS would  &ldquo;have to consider our options&rdquo; if a legally-binding outcome is not achieved.  She said a final agreement must address emission reductions by all major  emitting countries and should limit temperature increases to below 1.5&deg;C and atmospheric greenhouse gas  concentrations to 350ppm. She indicated that agreement should also provide for  stable, predictable and adequate financing for adaptation, capacity building,  technology and mitigation. </p>
                               <p class="textstory">Mexico, for the ENVIRONMENTAL  INTEGRITY GROUP, supported a legally-binding outcome agreed by political  leaders in Copenhagen.  He said negotiations under the Protocol must include quantified emission  reduction targets for Annex I parties and the flexibility mechanisms, and urged  the conclusion of negotiations on both tracks ahead of the high-level segment. </p>
                               <p class="textstory">Australia, for the UMBRELLA GROUP,  supported a limit of 2&deg;C  on global temperature rise and a 50% reduction in global emissions by 2050. She  said all Umbrella Group members are prepared to propose individual reduction  targets that will substantially reduce their emissions by 2020, with their  actions being subjected to robust monitoring, reporting and verification (MRV).  She supported &ldquo;quick, substantial and high-impact financing to assist the most  vulnerable developing countries,&rdquo; particularly LDCs and SIDS. She also noted  the emerging consensus that a core element of the Copenhagen accord should be to mobilize US$10  billion a year by 2012 to support adaptation and mitigation in developing  countries. She suggested that the aim in Copenhagen  was to forge a political vision that will guide global actions and lead to a  new legally-binding treaty &ndash; the Copenhagen  accord &ndash; as soon as possible. </p>
                               <p class="textstory">Sweden, for the EU, called for a Copenhagen agreement to be  inclusive, encompass non-Annex I parties, cover all building blocks and be  based on the principles of the Convention. He said the agreement should be  translated into a universal, legally-binding agreement in Copenhagen or by a specified time in 2010. He  welcomed recent clarification on levels of ambition and urged parties to  increase their pledges if possible. The EU highlighted the need for funding in  the order of &euro;100 billion annually by 2020 to support adaptation, mitigation,  REDD, technology and capacity building. He noted the need for fast-start  financing of &euro;5-7 billion to enable immediate action. </p>
                               <p class="textstory"><strong><em>AWG-LCA</em></strong> </p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS:</strong> AWG-LCA Chair Michael Zammit  Cutajar (Malta) opened  AWG-LCA 8, reminding parties that the AWG-LCA has to conclude its work in Copenhagen. Parties  adopted the agenda and agreed to the organization of work (FCCC/AWGLCA/2009/15  and 16). </p>
                               <p class="textstory"><strong>LONG-TERM COOPERATIVE ACTION:</strong> Chair Zammit Cutajar noted the  report of AWG-LCA 7 (FCCC/AWGLCA/2009/14), containing the compilation of the  latest non-papers on each element being discussed under the agenda item. He  also noted agreement in Barcelona to work in one  contact group in Copenhagen.  On the way forward, he said the contact group would begin working on 8 December  and that it would launch drafting groups to produce agreed text on all the  elements of the BAP, using the non-papers as a starting point. He said the  groups would produce text in the form of draft COP decisions, stressing that  this would not prejudice the legal form of the agreed outcome and that parties  had the right to bring forward proposals on a different legal form. </p>
                               <p class="textstory"><strong>OPENING STATEMENTS: </strong>Sudan, for the G-77/CHINA, called on parties to  fulfill the mandate of the BAP and to reject attempts to shift responsibility  onto developing countries. Grenada,  for AOSIS, said all elements of a legally-binding agreement guaranteeing the  viability of SIDS and other vulnerable developing countries are embedded in the  existing text, but that political will is required to realize an agreement. Lesotho,  for the LDCs, called for a legally-binding agreement prioritizing adaptation  and scaling up financing. </p>
                               <p class="textstory">Australia, for the UMBRELLA GROUP,  underscored the importance of MRV. Sweden, for the EU, highlighted the  importance of: increased ambition on mid-term reductions; inclusion of  emissions from the international aviation and maritime transport sectors; fast-track  and long-term financing that includes the private sector and carbon market; and  action on a performance-based mechanism for REDD.</p>
                               <p class="textstory">Switzerland, for the ENVIRONMENTAL  INTEGRITY GROUP, supported a registry for nationally appropriate mitigation  actions (NAMAs), without prejudicing how it would be institutionalized, and a  robust MRV process. </p>
                               <p class="textstory">Algeria, for the AFRICAN GROUP, said  the AWG-LCA must set commitments for developed countries that are not Protocol  parties that are comparable to those taken by other developed countries under  the Protocol in the second commitment period.</p>
                               <p class="textstory">Cuba spoke for the BOLIVARIAN  ALLIANCE FOR THE PEOPLES OF OUR AMERICA-PEOPLES&rsquo; TRADE TREATY (ALBA-TCP),  consisting of Antigua and Barbuda,  Bolivia, Cuba, Dominica,  Ecuador, Nicaragua, Saint   Vincent and the Grenadines and Venezuela. He called for developed  countries to honor their climate debt and rejected attempts to transfer  responsibilities to developing countries. Costa   Rica spoke for countries belonging to the CENTRAL  AMERICAN INTEGRATION SYSTEM, consisting of Belize,  Costa Rica, El Salvador, Guatemala,  Honduras, Nicaragua, Panama  and the Dominican Republic.  He called for an outcome that is consistent with the UNFCCC and Protocol and  urged developed countries to show leadership.</p>
                               <p class="textstory">TANZANIA emphasized the need to  conclude a legally-binding agreement, noting that success would be measured by  addressing the concerns and challenges highlighted by developing counties.</p>
                               <p class="textstory">BELARUS highlighted the needs of  countries with economies in transition for technologies and capacity building,  and GUYANA  noted that areas such as adaptation, technology and REDD-plus offer  &ldquo;low-hanging fruit&rdquo; for early action. KYRGYZSTAN  and TAJIKISTAN  underlined the importance of addressing mountain ecosystems. </p>
                               <p class="textstory">The RUSSIAN   FEDERATION supported a single comprehensive agreement for  the post-Kyoto period, and NORWAY  said a future agreement should include the necessary 2050 goal and adequate and  ambitious collective emission reductions by 2020, with the participation of all  countries, except LDCs.</p>
                               <p class="textstory">INDIA said aggregate emission  reductions by Annex I parties should be the starting point for an outcome from  the AWG-LCA and that its mandate should not change if work extends beyond Copenhagen. </p>
                               <p class="textstory">The US underscored new announcements on  its emissions reduction target in the range of 17% below 2005 levels by 2020,  with a trajectory to 42% reduction by 2030 to meet the goal of 83% by 2050. He  also highlighted the importance of regular reporting and international review  for all parties.</p>
                               <p class="textstory">BOLIVIA, supported by the G-77/CHINA  and SAUDI ARABIA,  said funding in the range of US$10 billion per year is insufficient. Calling  for open, transparent and inclusive negotiations, NIGERIA noted that lack of progress  under the AWG-LCA stems from &ldquo;deep distrust and lack of faith in the  negotiation process.&rdquo; BANGLADESH  noted the need to agree on a quick start fund and said a legally-binding  instrument must be the goal. The SOLOMON ISLANDS  stressed that &ldquo;failure is not an option in Copenhagen.&rdquo; </p>
                               <p class="textstory">JAPAN expressed its commitment to  reaching a substantial agreement in Copenhagen,  which he said should be translated into a legally-binding treaty as soon as  possible in 2010.</p>
                               <p class="textstory">The INTERNATIONAL MARITIME ORGANIZATION  (IMO) highlighted its work on regulating emissions from shipping. The  INTERNATIONAL CIVIL AVIATION ORGANIZATION (ICAO) outlined a programme of action  that includes a global goal of a 2% annual improvement in fuel efficiency until  2050 and a framework for market-based measures. The INTERNATIONAL FEDERATION OF  RED CROSS AND RED CRESCENT said an agreement needs to assist the poorest and  most vulnerable populations and help national governments implement early  adaptation measures. </p>
                               <p class="textstory">The INTERNATIONAL CHAMBER OF COMMERCE  highlighted actions of business to address climate change, particularly through  market mechanisms, and asked for mechanisms to ensure that mitigation  investments are safe. </p>
                               <p class="textstory">CLIMATE ACTION NETWORK INTERNATIONAL  advocated a fair, ambitious and legally-binding agreement. CLIMATE JUSTICE NOW  emphasized that the climate change problem would not be solved by negotiating  an agreement behind closed doors. The INTERNATIONAL INDIGENOUS PEOPLES&rsquo; FORUM  ON CLIMATE CHANGE called for the inclusion of international human rights  standards within the framework of the AWG-LCA, particularly the UN Declaration  on the Rights of Indigenous Peoples. UNITED CITIES AND LOCAL GOVERNMENTS  emphasized that no country will meet their commitments without support from  local authorities. </p>
                               <p class="textstory">GENDER CC &ndash; WOMEN FOR CLIMATE JUSTICE  underscored the importance of fully integrating gender perspectives to bring  about action on all aspects of climate change. The INTERNATIONAL TRADE UNION  CONFEDERATION said bold government policies to promote climate-friendly  innovations and industries could create millions of new jobs. The AUSTRALIAN  YOUTH CLIMATE COALITION said youth are mobilizing support from millions for a  fair, adequate and legally-binding instrument and stressed that &ldquo;survival is  not negotiable.&rdquo;</p>
                               <p class="textstory"><strong><em>COP/MOP </em></strong></p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS:</strong> COP/MOP President Hedegaard  opened COP/MOP 5. Delegates adopted the agenda (FCCC/KP/CMP/2009/1 and Add.1)  and agreed to the organization of work. On the election of officers, President  Hedegaard noted that COP/MOP 5 would return to the issue after informal  consultations.</p>
                               <p class="textstory"><strong>OPENING STATEMENTS:</strong> Sudan, for the G-77/CHINA, stressed  that the core mandate of the ongoing negotiations is to define ambitious  quantified emission reduction targets for future commitment periods. He  emphasized the &ldquo;huge&rdquo; gap between Annex I emission reduction pledges and what  is required by science, and said negotiations should result in separate  agreements under the AWG-KP and AWG-LCA.</p>
                               <p class="textstory">Australia, for the UMBRELLA GROUP,  called for bold action and a strong legally-binding outcome that provides  clarity on rules for the flexibility mechanisms and for land use, land-use  change and forestry (LULUCF). He stated that the negotiations under the  Protocol provide a foundation for a single new legally-binding treaty.</p>
                               <p class="textstory">Grenada, for AOSIS, highlighted the  Protocol as a central part of the climate change architecture and emphasized  that its institutions must be reaffirmed and strengthened the COP/MOP&nbsp; through ambitious emission reduction targets  for the second and subsequent commitment periods, consistent with the science.</p>
                               <p class="textstory">Lesotho, for the LDCs, said the  Protocol is the only instrument in place to harmonize efforts to reduce  emissions of greenhouse gases and stressed that the AWG-KP should be &ldquo;steered  away from&rdquo; the AWG-LCA, to maintain the distinction between the two tracks.</p>
                               <p class="textstory">Switzerland, for the  ENVIRONMENTAL INTEGRITY GROUP, called for a follow-up agreement to the Protocol  in order for industrialized countries to continue and intensify their emission  reduction commitments, and called on all Annex I countries to take the lead in  achieving the 2&deg;C  objective. </p>
                               <p class="textstory">Sweden, for  the EU, highlighted the need to arrive at an effective agreement in Copenhagen. He stressed  that although the Protocol has been the primary tool for combating climate  change since 1997, Copenhagen  should result in a global, ambitious and comprehensive agreement that is more  inclusive than the Protocol. He said developed countries should cut their  emissions by 30% below 1990 levels by 2020, and economically-advanced  developing countries should take appropriate actions according to their  responsibility and capacity. </p>
                               <p class="textstory"><strong><em>AWG-KP </em></strong></p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS: </strong>AWG-KP  Chair John Ashe (Antigua and    Barbuda) welcomed participants to the tenth  and final session of the AWG-KP. He explained that the AWG-KP&rsquo;s mandate is to  develop a proposal for amending the Protocol and define quantified emission  reduction commitments for Annex I parties for the post-2012 period. He urged  parties not to be distracted from this task. He also noted that although  documentation to assist negotiations had been developed  (<a href="http://unfccc.int/resource/docs/2009/awg9/chi/10r03c.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/10/Rev.3</a>; <a href="http://unfccc.int/resource/docs/2009/awg10/eng/10a01r02.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/10/Add.1/Rev.2</a>;  <a href="http://unfccc.int/resource/docs/2009/awg9/eng/10a02.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/10/Add.2</a>; <a href="http://unfccc.int/resource/docs/2009/awg10/eng/10a03r03.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/10/Add.3/Rev.3</a>;  <a href="http://unfccc.int/resource/docs/2009/awg9/eng/10a04r02.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/10/Add.4/Rev.2</a>; <a href="http://unfccc.int/resource/docs/2009/awg10/eng/12r02.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/12/Rev.2</a>), there was no  formal negotiating text. He called for this situation to be resolved.</p>
                               <p class="textstory">Parties then  adopted the agenda and organization of work (<a href="http://unfccc.int/resource/docs/2009/awg10/eng/15.pdf" target="_blank" class="linknegro">FCCC/KP/AWG/2009/15</a> and <a href="http://unfccc.int/resource/docs/2009/awg10/eng/16.pdf" target="_blank" class="linknegro">16</a>). </p>
                               <p class="textstory"><strong>OPENING  STATEMENTS:</strong> Sudan, for the G-77/CHINA, expressed concern at the  &ldquo;insistence&rdquo; of Annex I parties on a single outcome in Copenhagen and stressed  that this undermines the mandate under the Bali Roadmap to finalize  negotiations on: further commitments of Annex I parties for the second and  subsequent commitment periods under the Protocol; and an agreed outcome under  the Convention, aimed at sustained and full implementation of its provisions.  He urged parties to build on the Protocol&rsquo;s success by establishing more  ambitious targets for the second commitment period, as well as developing means  to address the potential consequences of Annex I parties&rsquo; policies and measures  on developing countries. He underlined the need for an inclusive, fair,  effective and equitable international climate change regime with a strong Kyoto  Protocol. </p>
                               <p class="textstory">Sweden, for  the EU, said a Copenhagen  deal must deliver concrete results and include all the essential components of  the Kyoto Protocol. He highlighted that climate change science requires  emissions to peak no later than 2020 and halve by 2050 in order to keep global warming below 2&deg;C, and stated that the Kyoto Protocol alone  cannot achieve this. He called for a global, ambitious and comprehensive  agreement in Copenhagen.  He urged agreement on numbers, noting the challenge of achieving this across  the two negotiating tracks. He also called for progress on issues such as  LULUCF accounting rules and the flexibility mechanisms. </p>
                               <p class="textstory">Noting the need for rules on markets and  LULUCF, Australia,  for the UMBRELLA GROUP, called for broad and effective participation of all  parties under a single, new legally-binding agreement. Grenada, for  AOSIS, stressed that emissions must peak by 2015 to avoid catastrophic impacts  for vulnerable States such as SIDS, and to minimize the risks of irreversible  impacts. She emphasized the economic and technical feasibility of 45% emission  reductions by 2020 and 95% reductions by 2050. She said the current Annex I  pledges, amounting to 13-19% reductions below 1990 levels by 2020, are  inadequate. Finally, she called on countries to muster the &ldquo;political will and  political skill&rdquo; to overcome &ldquo;timidity and cowardice&rdquo; and achieve the necessary  emission reductions.</p>
                               <p class="textstory">Lesotho, for the LDCs, stressed the  Protocol as critical to the UNFCCC process and identified ambitious emission  reductions by Annex I parties as the only way to reduce the already evident  impacts of climate change. He called for targets to limit temperature increase  to 1.5&deg;C and  keep greenhouse gas concentrations below 350 ppm. He said ending the Protocol  is unacceptable, urged maintaining a distinction between the AWGs and called  for discussing the Protocol issues only under the AWG-KP.</p>
                               <p class="textstory">Switzerland, for the ENVIRONMENTAL  INTEGRITY GROUP, called for continuing the Protocol&rsquo;s key elements, including  quantified and legally-binding objectives, the flexibility mechanisms and a  transparent monitoring system. </p>
                               <p class="textstory"><strong>ANNEX I FURTHER COMMITMENTS:</strong> Chair Ashe  introduced the agenda item, noting that this would be divided into four main  components, namely: Annex I parties&rsquo; aggregate and individual emission  reduction commitments (&ldquo;numbers&rdquo;); other issues identified in paragraph 49(c)  of the report of AWG-KP 6 (FCCC/AWG/2008/8); potential consequences; and legal  matters. He said that in accordance with the agreement reached at AWG-KP 9 in Barcelona,  60% of the available time would be allocated to the &ldquo;numbers&rdquo; group. </p>
                               <p class="textstory">Parties subsequently agreed to establish  four contact groups on:</p>
                               <ul>
                                 <li class="textstory">Annex I emission reductions, co-chaired by Leon Charles (Grenada) and Gertraud Wollansky (Austria);</li>
                                 <li class="textstory">other issues, chaired by AWG-KP Vice-Chair Harald Dovland (Norway);</li>
                                 <li class="textstory">potential consequences, co-chaired by Mama Konat&eacute; (Mali) and Andrew Ure (Australia); and</li>
                                 <li class="textstory">legal matters, co-chaired by Mar&iacute;a Andrea Alb&aacute;n Dur&aacute;n (Colombia)  and Gerhard Loibl (Austria), to meet only if requested by the other contact  groups.</li>
                               </ul>
                               <p class="textstory">Chair Ashe said the groups will focus on preparing  draft Protocol amendments and COP/MOP decisions and that, if unable to do so,  they will at a minimum develop text with a limited number of clearly defined  options from which ministers can choose. </p>
                               <p class="textstory"><strong>AWG-KP&rsquo;s REPORT TO THE COP/MOP:</strong> Chair Ashe explained that the  results of the AWG-KP&rsquo;s work will be reported to the COP/MOP on 16 December.  Parties agreed to establish a contact group to consider this in a single  setting and AWG-KP Chair Ashe said he would consult on the timing to launch the  group&rsquo;s work. </p>
                               <p class="textstory"><strong>OTHER MATTERS:</strong> Chair Ashe said the last plenary  would be held on 15 December, when parties would consider the closing reports  from the contact groups and any draft conclusions, as well as the results of  the AWG-KP&rsquo;s work and what should be forwarded to the COP/MOP. </p>
                               <p class="textstory">Costa Rica read a statement on behalf of  countries belonging to the CENTRAL AMERICAN INTEGRATION SYSTEM.He called for, <em>inter  alia</em>, an outcome in Copenhagen that: is consistent with the Convention, the  Protocol and the BAP; extends the Protocol for a second commitment period;  includes ambitious and legally-binding emission reduction targets by Annex I  countries; and takes into account the need to stabilize at 350 ppm and limit  temperature increase to 1.5&deg;C.  He added that Annex I countries should reduce their emissions by 45% by 2020  and by 95% by 2050 compared with 1990 levels.</p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS </em></strong></p>
                               <p class="textstory">As the critically important COP 15 opened  on Monday, the halls of the Bella Center in Copenhagen  filled quickly as eager delegates and observers arrived to attend the welcoming  ceremony. With around 34,000 participants having applied for accreditation, COP  15 is by far the biggest meeting held under the UNFCCC. Given the capacity of  the Bella Center to accommodate only 15,000 people  and limited space in the plenary halls, some observers were already worrying  about access to the negotiations and side events. Media accreditation also had  to be suspended after reaching the 5,000 ceiling. </p>
                               <p class="textstory">The mood in the crowded corridors seemed  to be one of anticipation, excitement, and even guarded optimism. Some  wondered, however, whether the hopefulness would ultimately translate into  political will to reach a strong outcome setting the world on the track to  avoid dangerous climate change. &ldquo;The meeting is too big to fail,&rdquo; commented one  participant. Several others appeared to be genuinely uncertain about what Copenhagen will  ultimately achieve. &ldquo;Some of the high-level opening statements were less  ambitious than I had hoped for,&rdquo; lamented some parties, with others alluding to  &ldquo;mixed signals.&rdquo; Many developed countries were heard talking about political  declarations and COP decisions, with a possible roadmap for adopting a  legally-binding instrument later.&nbsp;  Others, however, especially vulnerable developing countries, continued  working towards text that would result in a legally-binding outcome to be  adopted in Copenhagen. </p>
                               <p class="textstory">&ldquo;Climategate&rdquo; was another popular subject,  particularly after the call by Saudi    Arabia for an independent international  investigation of the work of the scientific unit affected. Although one  scientific expert called it a &ldquo;tempest in a teacup,&rdquo; others worried that it  could distract from the &ldquo;more serious&rdquo; work in Copenhagen. Some participants were also  speculating on the source of the hacking efforts and related break-ins. </p>
                               <p class="textstory">Several participants were expressing  surprise at the appearance of a prominent developing country negotiator in the  delegation of Sudan.  This fueled speculation that her role as a &ldquo;hardline negotiator&rdquo; for the South  had been in jeopardy following pressure from certain parties. &ldquo;These kind of  personality conflicts will happen more often now we&rsquo;re at such a critical part  of this high-stakes game,&rdquo; said one observer. </p>                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
       <br />
       <br />
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at UNFCCC COP 15 and COP/MOP 5 can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
