<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>COPENHAGEN HIGHLIGHTS - Thursday, 17 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, Thursday, 17 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12458e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12458f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12458s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12458j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Japanese version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 458 - Friday, 18 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Thursday, 17 December 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory"><a>On Thursday morning, the COP  and COP/MOP plenaries convened. In the afternoon and late evening, contact  group meetings and drafting groups took place under the COP and COP/MOP.</a></p>
                               <p class="textstory"><em><strong>COP PLENARY</strong></em></p>
                               <p class="textstory">Around noon on Thursday, COP President Rasmussen convened the resumed  meeting of the COP. He noted that many parties had sought clarification during  the COP plenary on Wednesday evening about the documentary basis for moving  forward and also about the method of work to complete the negotiations under  the COP and COP/MOP. He said that the documentary basis for the work will be  the texts presented by the AWG-LCA Chair to the COP plenary on Wednesday  (<a href="FCCC/AWGLCA/2009/2009/L.7/Rev.1" target="_blank" class="linknegro">FCCC/AWGLCA/2009/L.7/Rev.1 and Add.1</a>, <a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a02r01.pdf" target="_blank" class="linknegro">Add.2/Rev.1</a>, Adds. 3-7, <a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a08r01.pdf" target="_blank" class="linknegro">Add.8/Rev.1</a> and <a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a09.pdf" target="_blank" class="linknegro">Add.9</a>). </p>
                               <p class="textstory">COP President Rasmussen proposed forwarding the texts for consideration  by a contact group chaired by COP President&rsquo;s Special Representative Connie  Hedegaard. He said the contact group would have a mandate to complete work on  unresolved issues within a short deadline and that open-ended drafting groups  would be convened, chaired by &ldquo;people we know well and trust.&rdquo; </p>
                               <span class="textstory">Sudan, for the G-77/CHINA, requested clarity on the  deadline. COP President Rasmussen said the contact groups should decide the  time to be scheduled and that he would not define a clear deadline. He then  closed the meeting of the COP.                               </span>
                               <p class="textstory"><em><strong>COP/MOP PLENARY</strong></em></p>
                               <p class="textstory">COP/MOP President Rasmussen opened the COP/MOP plenary. He said that the  documentary basis for the work will be the texts presented by the AWG-KP Chair  to the plenary on Wednesday (FCCC/KP/AWG/2009/L.15). He proposed, and parties  agreed, to establish a contact group chaired by COP/MOP President&rsquo;s Special  Representative Connie Hedegaard. He said the contact group would have a mandate  to complete work on unresolved issues with a short deadline and that open-ended  drafting groups would be convened, chaired by &ldquo;people we know well and trust.&rdquo;  He said the group under the COP/MOP would meet first. </p>
                               <p class="textstory">Sudan, for the G-77/CHINA, requested  confirmation that the chairs of the open-ended drafting groups would be the  chairs and facilitators who had already been working on these issues under the  AWG. He also requested confirmation that the process would result in two  separate documents and that no document that had not been agreed by the parties  would be forwarded to the Heads of State and Government. COP/MOP President  Rasmussen confirmed that negotiations will continue under two tracks and that  the output will be two documents. He also clarified that work would proceed  first with the COP/MOP contact group.</p>
                               <p class="textstory"><em><strong>HIGH-LEVEL  SEGMENT</strong></em></p>
                               <p class="textstory">The high-level segment continued throughout the day and late into the  evening to hear statements from the Heads of State, Heads of Government and  other heads of delegation.&nbsp; A webcast of  all statements made during the high-level segment will be made available online  at: http://www9.cop15.meta-fusion.com/kongresse/cop15/templ/ovw.php?id_kongressmain=1&amp;theme=unfccc#</p>
                               <p class="textstory">Contact  groups and informal consultations</p>
                               <p class="textstory"><strong>COP/MOP CONTACT GROUP:</strong> During the first meeting of the  contact group in the early afternoon, COP President&rsquo;s Special Representative  Hedegaard explained that the contact group&rsquo;s mandate is to prepare the outcomes  of Copenhagen emerging from the Protocol negotiating track, and that the work  of the group would be based on the text forwarded by the AWG-KP to the COP/MOP.</p>
                               <span class="textstory">She then proposed  establishing five drafting groups on:                               </span>
                               <ul>
                                 <li class="textstory">Annex I emission reductions,  co-facilitated by Gertraud Wollansky (Austria)  and Leon Charles (Grenada);</li>
                                 <li class="textstory">LULUCF, co-facilitated by  Marcelo Rocha (Brazil) and  Bryan Smith (New Zealand); </li>
                                 <li class="textstory">flexibility mechanisms,  facilitated by Harald Dovland (Norway); </li>
                                 <li class="textstory">basket of methodological  issues, also facilitated by Harald Dovland; and </li>
                                 <li class="textstory">potential consequences,  co-facilitated by Mama Konat&eacute; (Mali)  and Andrew Ure (Australia). </li>
                               </ul>
                               <p class="textstory">COP President&rsquo;s Special Representative  Hedegaard noted that the facilitators are the same ones that chaired the  respective negotiations under the AWG-KP. She encouraged parties to identify  issues that can be resolved at the expert level and those that need to be  addressed at the political level. She explained that the contact group would  re-convene later to hear reports from the drafting groups and then resolve any  outstanding issues.</p>
                               <p class="textstory">KENYA questioned the rationale for  establishing new drafting groups facilitated by the same people, considering  their inability to complete the work so far. He questioned the approach whereby  &ldquo;Ministers are now becoming drafting committees.&rdquo; COP President&rsquo;s Special  Representative Hedegaard explained that the presence of the Ministers could act  as an impetus for the groups to complete their work. In response to comments by  the RUSSIAN FEDERATION, the  EU and SWITZERLAND,  COP President&rsquo;s Special Representative Hedegaard reiterated that the drafting  groups would report back to the contact group, and that the contact group would  then, with the help of the Ministers, address outstanding political issues.</p>
                               <p class="textstory">In the evening, the COP/MOP contact group  convened to take stock of progress. Drafting group facilitators reported on  progress made during the afternoon and evening. Co-Facilitator Charles said  that the group on Annex I emission reductions had discussed the draft COP/MOP  decision and noted that there were still differences on several technical  issues, including base years and the length and number of commitment periods.  He identified issues requiring political attention: addressing surplus AAUs;  the question of how to populate Annex B with QELROs, or in the absence of  agreement on a Protocol amendment in Copenhagen, how to reflect pledges moving  forward; and a core decision defining further work if it were to continue due  to lack of agreement at this time. </p>
                               <p class="textstory">Facilitator Dovland reported on work on  methodological issues. He noted constructive discussions but said different  views remained on the inclusion of new greenhouse gases and global warming  potentials. On discussions of the flexibility mechanisms, he noted disagreement  on: CCS under the CDM; standardized baselines; share of proceeds;  supplementarity; and regional distribution of CDM projects.</p>
                               <p class="textstory">On LULUCF, Co-Facilitator Rocha highlighted  that many parties preferred not to adopt a land-based approach at this time. He  identified the need for further work on a possible cap for forest management.  He said that further improvements to the text could be made but that choosing  between options and addressing cross-cutting issues would facilitate consensus  text. </p>
                               <p class="textstory">Co-Facilitator Ure noted impressive progress  and flexibility, highlighting that consensus language had been reached on all  issues except on the creation of a permanent forum to address potential  consequences. </p>
                               <p class="textstory">COP President&rsquo;s Special Representative  Hedegaard asked for parties&rsquo; views on how to proceed. The EU recommended  establishment of a &ldquo;friends of the chair&rdquo; group. South Africa, for the  G-77/CHINA, noted that significant progress on LULUCF may facilitate progress  on Annex I emission reductions and that issues on the flexibility mechanisms  and methodologies, in turn, could be unlocked by movement in Annex I emission  reductions. He noted that &ldquo;time is ripe&rdquo; for informal consultations, but  requested that such a group report back to the contact group in order to  maintain construction of a party-driven consensus.</p>
                               <span class="textstory">COSTA RICA, PAPUA NEW GUINEA, Grenada,  for AOSIS, the Gambia, for  the AFRICAN GROUP, COLOMBIA,  GUATEMALA, Lesotho, for the LDCs, and AUSTRALIA supported the proposal to  establish a &ldquo;friends of the chair&rdquo; group. COP President&rsquo;s Special  Representative Hedegaard said she will consult with parties on how to proceed  with establishment of a &ldquo;friends of the chair&rdquo; group, and closed the contact  group meeting. </span>
                               <p class="textstory"><strong>COP  CONTACT GROUP:</strong> During the contact group meeting in  the afternoon, COP President&rsquo;s Special Representative Hedegaard proposed, and  parties agreed, to establish open-ended drafting groups on:</p>
                               <ul>
                                 <li class="textstory">a shared vision  (<a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a04.pdf" target="_blank" class="linknegro">FCCC/AWGLCA/2009/L.7/Rev.1</a>), facilitated by Michael Zammit Cutajar (Malta);</li>
                                 <li class="textstory">finance  (<a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a02r01.pdf" target="_blank" class="linknegro">FCCC/AWGLCA/2009/L.7/Add.2/Rev.1</a>), co-facilitated by Farrukh Khan (Pakistan) and Jukka Uosukainen (Finland);</li>
                                 <li class="textstory">mitigation  (<a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a09.pdf" target="_blank" class="linknegro">FCCC/AWGLCA/2009/L.7/Rev.1</a>; paragraphs 12-29, but excluding paragraph 23 on a  NAMA mechanism), facilitated by Cristian Maquieira (Chile);</li>
                                 <li class="textstory">NAMA mechanism  (<a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a05.pdf" target="_blank" class="linknegrobullet">FCCC/AWGLCA/2009/L.7/Add.5</a>), facilitated by Margaret Mukahanana-Sangarwe (Zimbabwe);</li>
                                 <li class="textstory">REDD-plus  (<a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a06.pdf" target="_blank" class="linknegro">FCCC/AWGLCA/2009/L.7/Add.6</a>), co-facilitated by Peter Graham (Canada) and Tony La Vi&ntilde;a (the Philippines);</li>
                                 <li class="textstory">various approaches to enhance  cost-effectiveness of mitigation actions (FCCC/AWGLCA/2009/L.7/Add.8/Rev.1),  facilitated by Christina Figueres Olsen (Costa Rica);</li>
                                 <li class="textstory">adaptation  (<a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a01.pdf" target="_blank" class="linknegro">FCCC/AWGLCA/2009/L.7/Add.1</a>), co-facilitated by Thomas Kolly (Switzerland) and William Kojo Agyemang-Bonsu (Ghana);</li>
                                 <li class="textstory">technology  (<a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a03.pdf" target="_blank" class="linknegro">FCCC/AWGLCA/2009/L.7/Add.3</a>), co-facilitated by Kishan Kumarsingh (Trinidad and Tobago) and Kunihiko Shimada (Japan);  and</li>
                                 <li class="textstory">capacity building  (<a href="http://unfccc.int/resource/docs/2009/awglca8/eng/l07a04.pdf" target="_blank" class="linknegro">FCCC/AWGLCA/2009/L.7/Add.4</a>), co-facilitated by Fatou Gaye (the Gambia) and Georg B&oslash;rsting (Norway).</li>
                               </ul>
                               <p class="textstory">COP President&rsquo;s Special Representative Hedegaard suggested the contact  group reconvene later in the evening to receive an update on progress in  drafting groups.</p>
                               <p class="textstory">NORWAY and ARGENTINA inquired about addressing  emissions from bunker fuels and COP President&rsquo;s Special Representative  Hedegaard explained that text would be available in the afternoon. SAUDI ARABIA  also drew attention to the issue of bunker fuels, saying this had not been  captured as a supplementary decision to the core decision. He also asked how  response measures would be addressed. COP President&rsquo;s Special Representative  Hedegaard confirmed that a facilitator was being sought for the group on  response measures. </p>
                               <p class="textstory">The G-77/CHINA noted that issues under discussion in the various  drafting groups had been captured in the AWG-LCA&rsquo;s text on the core decision  (FCCC/AWGLCA/2009/L.7/Rev.1) in a way that did not fully reflect the  understanding reached in the negotiating groups. She sought assurances that in  the interest of transparency, no other processes would define or alter the  outcome of the drafting groups.</p>
                               <p class="textstory">On sectoral approaches, EGYPT  noted long discussions on guiding principles and asked for the reinsertion of  principles in the text. URUGUAY  called for the establishment of a drafting group on sectoral approaches in the  agriculture sector. </p>
                               <p class="textstory">SOUTH AFRICA stressed that capacity building is  for developing countries and highlighted that it would be difficult to discuss  capacity building for developed countries in text concerning developing  countries. Tanzania,  for the G-77/CHINA, called for separate discussions on capacity building for  developing countries and countries with economies in transition. The RUSSIAN FEDERATION  suggested that a compromise proposal should be sought to resolve the issue.</p>
                               <p class="textstory">&nbsp;Late in the evening, the COP  contact group reconvened and the drafting group Facilitators reported back on  progress. </p>
                               <p class="textstory">On adaptation, Co-Facilitator Kolly said that the drafting group had  reached a better understanding of a Copenhagen  adaptation framework or programme, as well as agreement on objectives and  principles and some categories of action. Identifying issues to be addressed at  a higher level, Kolly highlighted: response measures; the polluter pays  principle; and the concept of historical responsibility. </p>
                               <p class="textstory">On technology, Co-Facilitator Kumarsingh reported that parties have  agreed on the establishment of a technology mechanism with a technology  executive committee and a climate executive center. He said discussions had  focused on the functions of these entities and agreement had been reached with  some &ldquo;minor issues&rdquo; outstanding. Kumarsingh identified issues in need of  ministerial intervention as: the reporting line between the committee and  center; link between the committee and agreement on finance; and the issue of  intellectual property rights. </p>
                               <p class="textstory">On a shared vision for long-term cooperative action, Facilitator Zammit  Cutajar observed that views had been expressed on human rights, stakeholder  participation and a just transition to a new form of production and  consumption, which could be addressed through further discussion. He noted  discussions on the concept of long-term goals, on finance, technology and  adaptation, in addition to the long-term global goal on emission reductions. Facilitator  Zammit Cutajar also identified the need to resolve the issue of review,  especially in terms of what is to be reviewed.</p>
                               <p class="textstory">On a possible NAMA registry or mechanism, Facilitator  Mukahanana-Sangarwe said no agreement had been reached on the establishment of  a NAMA registry or mechanism, the functions of such a registry or mechanisms,  and on whether the registry should be independent of, or part of the financialmechanism. Facilitator Mukahanana-Sangarwe said divergent views remained on  whether support for NAMAs should come only from developed countries or from  both developed and developing countries and identified treatment of autonomous  NAMAs as issues in need of political resolution. </p>
                               <p class="textstory">Reporting on financial institutional arrangements, Co-Facilitator  Uosukainen said that the drafting group had addressed the issue of a climate  fund or facility, and noted movement on the selection of a trustee to the fund  or facility on an interim basis. He said that divergent views remained on the  composition and nomination of a finance board and its corresponding functions,  explaining that these issues could benefit from political resolution.  Facilitator Uosukainen also noted that the group lacked time to address the  remaining paragraphs on the establishment and functions of the proposed finance  board. </p>
                               <p class="textstory">On capacity building, Facilitator B&oslash;rsting identified &ldquo;difficult  outstanding issues&rdquo; requiring political guidance. He highlighted: institutional  arrangements and financial resources for capacity building; reporting and  review of actions in terms of indicators; and the provision of capacity  building as a legally-binding obligation. </p>
                               <p class="textstory">On REDD-plus, Facilitator Graham highlighted outstanding issues relating  to financing, relationship to NAMAs and MRV of action and support. </p>
                               <p class="textstory">On various approaches to enhancing cost-effectiveness of mitigation  actions, including markets, Facilitator Figueres Olsen highlighted two  outstanding issues: whether to adopt an option encouraging parties to pursue  HFC regulation under the Montreal Protocol on Substances that Deplete the Ozone  Layer; and the role of markets and how this role should be structured.&nbsp; </p>
                               <p class="textstory">In his report on mitigation, Facilitator Maquieira noted the complexity  of the issue, highlighting fixed positions on many paragraphs. He also informed  parties of his intention to combine proposals. </p>
                               <p class="textstory">VENEZUELA, with Angola,  for the AFRICAN GROUP, drew attention to the option of not taking any decision  on market approaches, while the US  stressed the centrality of market approaches. PAKISTAN inquired on the issue of  vulnerability in the adaptation text, to which Co-Facilitator Kolly noted that  this topic has not been discussed yet and might go to a higher level of  discussion.</p>
                               <p class="textstory">Parties then discussed how to move forward. Sweden, for the EU,  supported by JAPAN, COLOMBIA, CANADA, the MARSHALL ISLANDS, ICELAND, AUSTRALIA,  GUYANA and many others, supported establishing a &ldquo;friends of the chair&rdquo; group.</p>
                               <p class="textstory">SUDAN and BOLIVIA stressed the need for  transparency and sought clarification on the establishment of a smaller group. SUDAN suggested  continuation of discussions in drafting groups. The US,  opposed by BRAZIL,  noted the possibility of convening a &ldquo;friends of the chair&rdquo; group while  continuing with drafting. </p>
                               <p class="textstory">SOUTH AFRICA, supported by Grenada, for AOSIS, suggested  forwarding issues related to mitigation by developed countries, market approach  and finance to the political level. INDIA,  supported by EGYPT,  said that the Protocol process should take precedence and that the reports from  the &ldquo;friends of the chair&rdquo; group should go through the COP/MOP or COP before  being forwarded to Heads of State. </p>
                               <p class="textstory">Bangladesh, for the LDCs, said drafting groups  could report back in the morning and issues could then be forwarded to the  political level. MEXICO  supported working in a &ldquo;friends of the chair&rdquo; format, provided the group  discusses only political issues. NEW ZEALAND stressed the need to  continue working through a smaller group with higher-level representation.</p>
                               <p class="textstory">Following brief consultations, COP President&rsquo;s Special Representative  Hedegaard recommended that the majority of drafting groups continue with their  work, especially those that had reported it would be meaningful to do so. She  also proposed convening the &ldquo;friends of the chair&rdquo; to address political issues  on mitigation by developed countries, market approaches and finance. </p>
                               <p class="textstory">The G-77/CHINA said that a &ldquo;friends of the chair&rdquo; group would have to be  open-ended, and allow negotiating groups to select their representatives. Venezuela  reiterated that a non-inclusive approach was unacceptable because of divergent  views within groups on certain issues. Emphasizing the late hour, COP  President&rsquo;s Special Representative Hedegaard closed the meeting and sent the  drafting groups on all issues back to work, saying that stock of progress would  be taken later in the night. </p>
                               <p class="textstory"><strong>JOINT IMPLEMENTATION (COP/MOP):</strong> During the contact group on joint  implementation (JI), Co-Chair Lesolle introduced a revised draft COP/MOP  decision, noting that the only outstanding issue is that relating to extending  the share of proceeds to JI. </p>
                               <span class="textstory">SIERRA LEONE noted the new  text does not adequately reflect previous discussions, especially regarding the  option to take no decision on the issue, and also regarding reference to double  counting. He also proposed specifying that the share of proceeds will be paid  into the Adaptation Fund. The RUSSIAN FEDERATION,  supported by UKRAINE,  proposed a new option, which states that the share of proceeds would be paid  into the Adaptation Fund &ldquo;on a voluntary basis.&rdquo; NEW ZEALAND said the option of  taking no decision on the issue is misleading and proposed amending the option  to state that no decision would be taken on the issue within this contact  group, noting that this issue was being discussed elsewhere and a decision  could be taken there. UKRAINE  said they would be willing to drop the third option on payment on a voluntary  basis, if the first option regarding no decision to be taken is kept in its  original form without the new insertions regarding decisions being possibly  taken elsewhere. The Co-Chairs will consult informally and produce new text for  Friday. </span>
                               <p class="textstory"><em><strong>IN  THE CORRIDORS</strong></em></p>
                               <p class="textstory">On Thursday morning, delegates made their way through a snow-covered  landscape to the Bella Center, many of them increasingly concerned about the  &ldquo;precious little time&rdquo; remaining to reach agreement in Copenhagen on a &ldquo;vast  amount of difficult issues,&rdquo; but nevertheless still clinging to the hope of  &ldquo;sealing the deal&rdquo; on Friday at a historic moment in the fight against climate  change. </p>
                               <p class="textstory">As they arrived, many noted that the large exhibit area leading to the  meeting rooms felt &ldquo;eerily empty&rdquo; &ndash; not filled with energetic youth as usual.  This was because strict limits had been placed on the number of observers  allowed in the Bella   Center. Echoes of their  voices were, however, still being heard: many NGO stands in the exhibit area  displayed the messages &ldquo;civil society has been removed from the negotiations&rdquo;  and &ldquo;how can you decide about us without us.&rdquo; </p>
                               <p class="textstory">&nbsp;The halls of the Bella Center  still felt crowded, however: the artistic protests and large number of youthful  faces were replaced by members of the press lugging television cameras and  lighting equipment through the halls as well as large security details for  VIPs. A number of the world&rsquo;s leaders with their entourages were also spotted  rushing through the corridors as Luiz Ignacio Lula da Silva, Felipe Calder&oacute;n,  Evo Morales, Gordon Brown, Hugo Chavez, Kevin Rudd, Nicolas Sarkozy, Angela  Merkel, Mahmoud Ahmadinejad, Evans Atta-Mills, Hillary Clinton and many, many  others gathered in the Bella Center. &ldquo;Now we really are at the center of the  world&rsquo;s attention &ndash; I do hope we will be able to live up to the great hopes and  expectations,&rdquo; commented one negotiator.</p>
                               <p class="textstory">A positive step in that direction was taken as negotiations at the  expert level resumed after the COP and COP/MOP plenaries were given assurances  from COP President Rasmussen that work would be transparent and based on texts  forwarded by the AWG-LCA and AWG-KP. Several informal drafting groups thus  convened throughout the day, and late into the night. The high-level segment  and national statements taking place all day and late into night in the main  plenary hall were being shown on CCTV throughout the center. Most had large  groups of people crowded around watching their leaders make impassioned calls  to &ldquo;seal the deal&rdquo; in Copenhagen  and take advantage of the unprecedented gathering of decision-making power. It  was widely recognized that this marked the largest gathering of the world&rsquo;s  leaders outside New York  and therefore constituted a historic moment.</p>
                               <p class="textstory">Indeed, some softening of positions and progress could &ldquo;finally&rdquo; be  detected from the statements by high-level representatives on Thursday. At her  press conference in the morning, US  Secretary of State Hillary Clinton announced that the US is prepared  to work with other countries to mobilize US$100 billion a year by 2020. A  financing announcement had also been made earlier by Japan to raise climate aid to about  US$15 billion by 2012. In his plenary statement, French President Sarkozy also  stressed the need for financing for developing countries and remarked that if  keeping the Kyoto Protocol is what it takes, then the Kyoto Protocol could be  retained. Reports on softening in China&rsquo;s position concerning MRV  were also circulating. Many were hoping these announcements would have a  positive impact on the negotiations. </p>
                               <span class="textstory">Negotiators were prepared  for a long and sleepless night, as the COP and COP/MOP contact groups decided  to continue working well beyond midnight. Rumors were also circulating that the  world leaders were making their own efforts to work towards a deal. &ldquo;One way or  another Friday is going to be a historic day in this process, and the whole  world is pushing for us in this building to make it a resounding success. </span>
                               <p class="textstory"><strong>ENB SUMMARY AND ANALYSIS</strong>: The Earth Negotiations Bulletin summary and analysis of the  Copenhagen Climate Change Conference will be available on Monday, 21 December  2009 online at: <a href="/climate/cop15/" target="_blank" class="linknegro">http://www.iisd.ca/climate/cop15/</a></p>                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, the United Nations Environment Programme (UNEP), and the World Bank. Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at the Copenhagen Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
