<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Durban Climate Change Conference - Monday, 28 November 2011, Durban, South Africa</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Durban Climate Change Conference - November 2011, 28 November - 9 December 2011, Durban, South Africa" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, DURBAN HIGHLIGHTS - Monday, 28 November 2011, Durban, South Africa" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365100;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365100;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}


-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
               <tr>
                 <td width="549" valign="top"><div align="center">
                   <table width="510" border="0">
                     <tr>
                       <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                     </tr>
                     <tr>
                       <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                     </tr>
                     <tr>
                       <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                     </tr>
                   </table>
                 </div></td>
               </tr>
             </table></td>
           </tr>
         </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td></td>
             </tr>
             <tr>
               <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                 <tr>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/download/pdf/enb12524e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12524f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12524s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/climate/cop17/japanese/enb12524j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                 </tr>
               </table></td>
             </tr>
             <tr>
               <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 524 - Tuesday, 29 November 2011</font><br />
               </div></td>
             </tr>
           </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
             <tr>
               <td width="663" align="center"><div align="center"><STRONG class="meeting_title">DURBAN HIGHLIGHTS</STRONG></div></td>
             </tr>
             <tr>
               <td align="center"><div align="center"><strong class="light_green">Monday, 28 November 2011</strong></div></td>
             </tr>
           </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                 <tr>
                   <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                   <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                 </tr>
                 <tr>
                   <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                   <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                       <td><p class="textstory">The United Nations Climate Change Conference  in Durban, South Africa, opened on Monday  morning, 28 November. Following a welcoming ceremony attended by South African  President Jacob Zuma and other high-level dignitaries, delegates gathered for  the opening plenary meetings of the COP, COP/MOP, SBI and SBSTA. During these  opening plenaries, parties gave initial consideration to the various agenda  items, referring many issues to informal groups for further consideration. </p>
                         <p class="textstory"><strong><em>WELCOMING  CEREMONY </em></strong></p>
                         <p class="textstory">COP 16 President Patricia Espinosa, Minister  of Foreign Affairs, Mexico,  urged delegates to agree on, <em>inter alia</em>: full implementation of the  Cancun Agreements; capitalizing the Green Climate Fund; and the future of the  Kyoto Protocol, reaffirming the relevance of a rules-based system. </p>
                         <p class="textstory">UNFCCC Executive Secretary Christiana  Figueres stressed that two decisive steps must be taken in Durban: tasks from COP 16 must be completed;  and key political questions from Cancun  answered. She highlighted: launching the Adaptation Committee; operationalizing  the Technology Mechanism in 2012; approving the Green Climate Fund; and  providing more clarity on fast-start finance. She stressed the need for a fair  and responsible process towards a multilateral rules-based system under the  Convention. </p>
                         <p class="textstory">Vice-President of Angola, Fernando de  Piedade Dias dos Santos, representing the Southern African Development  Community, stated that the Kyoto Protocol is the only suitable tool that can  enable the international community to remain committed to reducing greenhouse  gas emissions.</p>
                         <p class="textstory">President of Chad, Idris D&eacute;by Itno, representing  the Economic Community of Central African States, said Africa  needs the resources to mitigate and adapt to climate change.</p>
                         <p class="textstory">Jacob Zuma, President of South Africa,  emphasized the need for a balanced, fair and credible outcome in Durban. He highlighted  the responsibility of affirming the multilateral rules-based system, anchored  by the Kyoto Protocol, as well as the need to provide funding to address  climate change impacts by operationalizing the Green Climate Fund.</p>
                         <p class="textstory">Delegates observed a minute of silence to  honor SBSTA Chair Mama Konat&eacute; of Mali, who had recently passed away  and had been a key actor in the climate change process over many years. </p>
                         <p class="textstory"><strong><em>COP PLENARY </em></strong></p>
                         <p class="textstory">Maite Nkoana-Mashabane, South Africa&rsquo;s Minister of International  Relations and Cooperation, was elected COP 17 and COP/MOP 7 President by  acclamation. She said negotiations and outcomes in Durban should be transparent, inclusive, fair  and equitable. She called for progress on key issues, such as legal options and  the Green Climate Fund.</p>
                         <p class="textstory"><strong>ORGANIZATIONAL MATTERS: Rules of  procedure: </strong>COP President Nkoana-Mashabane reminded  parties of the practice since COP 1 of applying the draft rules of procedure  (FCCC/CP/1996/2) with the exception of draft rule 42 on voting, which has  remained unresolved since COP 1. PAPUA NEW GUINEA expressed concerns,  suggesting that lack of agreement on voting can mean &ldquo;lowest common  denominator&rdquo; outcomes. Further consultations will be held during COP 17.</p>
                         <p class="textstory"><strong>Adoption of the agenda:</strong> Parties agreed to proceed with their work based on the provisional  agenda (FCCC/CP/2011/1) with a view to its formal adoption at a later stage  following informal consultations on three agenda items proposed by India (on  accelerated access to critical technologies, equitable access to sustainable  development and unilateral trade measures). SINGAPORE expressed concerns over  this procedure, noting that it could open the door to more agenda items and  make the workload unmanageable. SYRIA  supported having discussions on India&rsquo;s  proposals. </p>
                         <p class="textstory"><strong>OPENING STATEMENTS</strong>: Argentina, for the G-77/CHINA,  supported a second commitment period under the Kyoto Protocol as part of a  balanced and comprehensive outcome for Durban,  saying the Cancun Agreements should be fully operationalized. Australia, for  the UMBRELLA GROUP, supported a transition towards a climate change framework  including all major economies, taking into account countries&rsquo; respective  capabilities. The EU said Durban should  address the gap in the level of ambition, a common international accounting  system and a process to deliver a new global comprehensive legally-binding  framework to be completed by 2015.&nbsp; &nbsp;</p>
                         <p class="textstory">Switzerland, for the  ENVIRONMENTAL INTEGRITY GROUP (EIG), outlined three important steps for Durban: agreeing on key  elements of an international regime after 2012; launching a process to further  strengthen the regime in the mid-term; and agreeing on the key elements of a  shared vision, including a long-term global goal for emission reductions and a  date for peaking of global emissions. </p>
                         <p class="textstory">Grenada, for AOSIS,  supported: a process to scale up the ambition of mitigation pledges; a second  commitment period; a Durban  mandate for a legally-binding agreement in accordance with the Bali Action  Plan; operationalizing the new institutions established in Cancun;  and reviewing the adequacy of the long-term global goal for emission  reductions. </p>
                         <p class="textstory">YOUTH said Durban should not be the &ldquo;burying ground for  the Kyoto Protocol.&rdquo;</p>
                         <p class="textstory"><strong><em>COP/MOP </em></strong></p>
                         <p class="textstory">AWG-KP Chair Adrian  Macey (New Zealand)  discussed the need for a decisive outcome that completes the work of the AWG-  KP. On challenges, he noted bridging differences, especially over the  fundamental issue of the commitment period and the need for a major political  decision.&nbsp; </p>
                         <p class="textstory"><strong>ORGANIZATIONAL  MATTERS:</strong> Parties adopted the  agenda and agreed to the organization of work (FCCC/KP/CMP/2011/1). Parties  referred a number of issues to the Subsidiary Bodies (FCCC/SBSTA/2011/3 and  FCCC/SBI/2011/8).&nbsp; </p>
                         <p class="textstory"><strong>OPENING STATEMENTS: </strong>Argentina, for the  G-77/CHINA, reaffirmed the need for a second commitment  period under the Kyoto Protocol, calling for a higher level of ambition by  Annex I parties. </p>
                         <p class="textstory">Switzerland, for the  EIG, called for, <em>inter alia</em>: further clarity on  the AWG-LCA outcome, maintaining a rules-based system; and enhancing the  environmental integrity of the regime in areas such as land use, land-use  change and forestry (LULUCF) and the flexible mechanisms. </p>
                         <p class="textstory">Australia, for the UMBRELLA GROUP, supported  a new climate change framework that builds on the Kyoto Protocol, when  appropriate, and takes operationalizing the Cancun Agreements as a foundation  for future action.</p>
                         <p class="textstory">&nbsp;The EU supported a multilateral, ambitious  rules-based system with broad participation, notably from major economies. He  said a second commitment period of the Kyoto Protocol could be considered as  part of a transition to a wider legally-binding framework, provided there is an  agreement for a robust roadmap for a new legally-binding framework with a clear  timeline and engaging all parties.</p>
                         <p class="textstory">The Democratic Republic of the Congo,  for the AFRICAN GROUP, said the two negotiating tracks  should remain separate and expressed concern over countries not willing to  commit to a second commitment period. Grenada, for AOSIS, said the  Protocol is central to the future of the climate change regime. </p>
                         <p class="textstory">The Gambia, for LDCs, called for a  second commitment period under the Kyoto Protocol and on Annex I parties to  reduce their greenhouse gas emissions by at least 45% below 1990 levels by 2020  and at least 95% below 1990 levels by 2050. Saudi Arabia, for the ARAB GROUP,  rejected attempts to marginalize the Kyoto Protocol.</p>
                         <p class="textstory">China, for the BASIC countries, said  defining a second commitment period should be the main priority for Durban. He opposed  &ldquo;unilateral measures&rdquo; on international aviation under the EU&rsquo;s Emissions  Trading Scheme. </p>
                         <p class="textstory">Papua New Guinea, for the COALITION FOR  RAINFOREST NATIONS, supported an agreement on a second commitment period, the  introduction of a REDD+ mechanism on a voluntary basis, and eliminating  loopholes in the rules on LULUCF. </p>
                         <p class="textstory">Venezuela, for ALBA, condemned the  &ldquo;selfishness&rdquo; of predatory economies that are destroying the existing climate  regime to replace it with a voluntary approach that will be lethal for the  planet. </p>
                         <p class="textstory"><strong><em>SBSTA </em></strong></p>
                         <p class="textstory">SBSTA Chair Richard  Muyungi (Tanzania)  opened the meeting on Monday afternoon and parties made opening remarks. </p>
                         <p class="textstory"><strong>OPENING  STATEMENTS</strong>: Argentina, for the G-77/CHINA,  highlighted the work of the Technology Executive Committee (TEC) and urged operationalizing  the work programme and holding a forum on response measures. </p>
                         <p class="textstory">On the Nairobi work programme,  the EU supported making it more relevant for practitioners and a COP decision  to enhance its work. </p>
                         <p class="textstory">Costa Rica, on  behalf of the COALITION FOR RAINFOREST NATIONS, highlighted the critical role  of forests and the need for draft decisions on MRV for REDD+. </p>
                         <p class="textstory">Australia, on  behalf of the UMBRELLA GROUP, stressed the need for continued progress on  reform of the CDM and technical issues under REDD+ in order for SBSTA to absorb  the work of the AWGs &ldquo;when their mandate ends.&rdquo; </p>
                         <p class="textstory">El Salvador, on  behalf of the Central American Integration System (SICA), underscored the need  for a holistic approach to REDD+ that considers the multifunctional role of  forests and ecosystem services. </p>
                         <p class="textstory">The Gambia, for  LDCs, stressed the need to define appropriate policy incentives for REDD+ to  ensure adequate and predictable funding for developing countries. </p>
                         <p class="textstory">The Democratic  Republic of Congo, on behalf of the AFRICAN GROUP, called for strengthening the  mandate of the NWP and further engage the region into the CDM process.</p>
                         <p class="textstory">Delegates then took  up the various agenda items. </p>
                         <p class="textstory"><strong>NAIROBI WORK  PROGRAMME:</strong> Delegates were briefed on the recent  IPCC Special Report on Managing the Risks of Extreme Events and Disasters to  Advance Climate Change Adaptation. ECUADOR highlighted linkages with  water issues. </p>
                         <p class="textstory"><strong>BUNKER FUELS:</strong> On emissions from fuel used for international aviation and maritime  transport (bunker fuels), CUBA,  ARGENTINA,  BRAZIL,  CHINA,  INDIA  and SAUDI ARABIA,  said work to address sectoral emissions under the IMO and ICAO should be guided  by the principles of the UNFCCC. PANAMA said the IMO, not the  UNFCCC, is the correct forum to discuss maritime emissions. </p>
                         <p class="textstory"><strong>OTHER AGENDA  ITEMS: </strong>The following agenda items were also briefly  considered and forwarded for further consideration either to contact groups or  informal consultations:</p>
                         <ul>
                           <li class="textstory">methodological guidance on  REDD+;</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">technology transfer (including  the TEC);</li>
                         </ul>
                         <ul>
                           <li class="textstory">research and systematic  observation;</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">methodological issues  (Convention);</li>
                         </ul>
                         <ul>
                           <li class="textstory">methodological issues  (Protocol);</li>
                         </ul>
                         
                         <ul>
                           <li class="textstory">response measures; and</li>
                         </ul>
                         <ul>
                           <li class="textstory">Protocol Article 2.3 (adverse  impacts of policies and measures).</li>
                         </ul>
                         
                         <p class="textstory"><strong><em>SBI </em></strong></p>
                         <p class="textstory">SBI Chair Robert Owen-Jones  (Australia)  opened the meeting and delegates adopted the agenda. Delegates briefly considered the agenda item on Convention Articles  4.8 and 4.9 (adverse effects and LDCs), which will be the subject of informal  consultations. </p>
                         <p class="textstory">The meeting closed at 7:00 pm and will resume on Tuesday morning. </p>
                         <p class="textstory"><strong><em>IN THE  CORRIDORS </em></strong></p>
                         <p class="textstory">Uncertainty seemed to be the order of the  day as delegates in Durban  began their first formal work day. Many participants were speculating about  what the meeting might deliver, particularly in terms of the future of the  Kyoto Protocol and how it may link to some parties&rsquo; hopes for a broader  agreement down the road.</p>
                         <p class="textstory">&ldquo;The legal options negotiations will be  critical,&rdquo; opined one negotiator, reflecting a widely shared view. Some experts  noted the linkages between discussions on the legal form of the AWG-LCA outcome  and the possible adoption of a second Kyoto  commitment period. </p>
                         <p class="textstory">In this respect, some participants were  discussing media reports that Canada  planned to formally withdraw from the Protocol under Article 27 by the end of  the year. Although Canada&rsquo;s  lack of interest in a second commitment period was widely known (along with Japan and Russia), some  supporters of the Protocol seemed to feel that the timing of this latest  announcement would cast a shadow in Durban.</p>
                         <p class="textstory">Participants also debated the US  position&mdash;repeated in its press conference on Monday afternoon&mdash;that it does not  favor discussing a broader agreement at this time. The US prefers  following up on previously agreed conference outcomes, such as under the Cancun  Agreements. Some reacted to recent media reports that a number of developed  countries did not foresee a broad agreement happening until 2020. &ldquo;Not  acceptable,&rdquo; said one developing country delegate.</p>
                         <p class="textstory">Meanwhile, there were discussions about the  last meeting of the Transitional Committee for the design and transparency of  the Green Climate Fund, which took place in October. The meeting, which had  aimed to conclude discussions ahead of COP 17, ended without consensus to adopt  the Committee&rsquo;s report. Some felt that the topic could prove divisive in Durban, while others  viewed it more as a &ldquo;bargaining chip&rdquo; to be traded off later in the  negotiations. </p></td>
                     </tr>
                   </table></td>
                   <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                 </tr>
                 <tr>
                   <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                   <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                 </tr>
               </table></td>
             </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="304" class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Asheline Appleton, Joanna Dafoe, Aaron Leopold, Velma McColl, Eugenia Recio and Chris Spence. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2011 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI) and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, United States of America. The ENB Team at the Durban Climate Change Conference - November 2011 can be contacted by e-mail at &lt;<a href="mailto:chris@iisd.org" class="linknegro">chris@iisd.org</a>&gt;. &#20195;&#34920;&#22243;&#12398;&#21451;</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2011, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
