<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DOHA HIGHLIGHTS - November 2012, Monday, 26 November 2012, Doha, Qatar</title>
<link rel="image_src" href="/_img/_logos/iisd/logo_iisdrs_2012__200px.png" />
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), ENB, Climate Change, UNFCCC, Doha Climate Change Conference - November 2012, 26 November - 7 December 2012, Doha, Qatar" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, UN Framework Convention on Climate Change (UNFCCC), Curtain Raiser of the Doha Climate Change Conference - November 2012, Monday, 26 November 2012, Doha, Qatar" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegro:hover{
	color:#000000;
	text-decoration:underline;
}
.entrada {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a.linknaranja:link{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:visited{
	color:#336600;
	text-decoration:none;
}
a.linknaranja:hover{
	color:#336600;
	text-decoration:underline;
}
.caption {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 44px;
}
.title_under_earth {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
.style1 {font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style3 {font-size: 9pt}
#msndiv {
	border-bottom-color:#F6F6F6;
	border-left-color:#F6F6F6;
	border-right-color:#F6F6F6;
	border-top-color:#F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A6F00;
	background-position: left;
	text-decoration: none;
	text-align: left;
	white-space: normal;
	clear: left;
	float: left;
	list-style-image: url(images/generic/bola4.jpg);
	left: 0px;
	list-style-type: none;
	list-style-position: outside;
	width: 205px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: -50px;
}

#marco {
	padding: 5px;
	border-bottom-color:#00005a;
	border-left-color:#00005a;
	border-right-color:#00005a;
	border-top-color:#00005a;
	}

.bordes {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #606200;
	border-right-color: #606200;
	border-bottom-color: #606200;
	border-left-color: #606200;
}
.bordeabajopunteado {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.bordelink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #B66A16;
	border-right-color: #B66A16;
	border-bottom-color: #B66A16;
	border-left-color: #B66A16;
}
a.linknegrobullet:link{
	color:#666666;
	text-decoration:none;
	list-style-image: url(images/generic/bullet.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
}
a.linknegrobullet:visited{
	color:#666666;
	text-decoration:none;
}
a.linknegrobullet:hover{
	color:#000000;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:link{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.linknegro:visited{
	color:#666666;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknegro:hover{
	color:#000000;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:link{
	color:#669900;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja:visited{
	color:#336600;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja:hover{
	color:#336600;
	font-size: 13px;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:link{
	color:#999999;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
}
a.linknaranja_grey:visited{
	color:#000000;
	font-size: 13px;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.linknaranja_grey:hover{
	color:#333333;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.caption {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
	font-size: 19px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
.textstory {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	font-weight: normal;
}
.textstorysmall {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
	clip: rect(auto,auto,auto,auto);
}
.textfooter {
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.datevenue {
	color: #002953;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #365110;
}
.subtitle_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0082C5;
}
.subtitle_white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.sub_heading_matrix {
	font-size: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3F5E00;
	clip: rect(auto,auto,auto,auto);
}
.japanese-heading {
	font-size: 8.5pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #365110;
}
.whatsup_heading {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #385300;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.content_grey {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #636363;
}
.dark_green {
	font-size: 10pt;
	font-weight: bold;
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.green_heading {
	font-size: 8pt;
	color: #669933;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
}
a.green_heading:link{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
}
a.green_heading:visited{
	font-size: 8pt;
	color:#669933;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.green_heading:hover{
	font-size: 8pt;
	color:#336600;
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.light_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.greyheading1 {font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading1 {font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory1 {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><div style="width:165px; height:190px; position:absolute; margin-left:850px;"><a href="http://enb.iisd.mobi/" target="_blank"><img src="/dailies_images/images/generic/qrcode_cif.png" alt="Mobile access to this event's ENB reports and more!" width="165" height="190" border="0"></a></div><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
               <tr>
                 <td width="549" valign="top"><div align="center">
                   <table width="511" border="0">
                     <tr>
                       <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                     </tr>
                     <tr>
                       <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                     </tr>
                     <tr>
                       <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                     </tr>
                   </table>
                 </div></td>
               </tr>
             </table></td>
           </tr>
         </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td></td>
             </tr>
             <tr>
               <td height="58" align="center" valign="top"><table width="425" border="0" align="center" cellpadding="2" cellspacing="0">
                 <tr>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/download/pdf/enb12557e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                       </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                           </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12557f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                           </tr>
                         </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                       </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                       </tr>
                   </table></td>
                   <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/arabic_e.png" alt="" width="100" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12557a.html"><img src="/images/arabia.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12557j.html"><img src="/images/japanese.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="137"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                 </tr>
               </table></td>
             </tr>
             <tr>
               <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading1">Volume 12 Number 557 - Tuesday, 27 November 2012</font><br />
               </div></td>
             </tr>
           </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
             <tr>
               <td width="663" align="center"><div align="center"><STRONG class="meeting_title">DOHA HIGHLIGHTS</STRONG></div></td>
             </tr>
             <tr>
               <td align="center"><div align="center"><font color="#666666" class="greyheading1">Monday, 26 November 2012</font></div></td>
             </tr>
           </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                 <tr>
                   <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                   <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                 </tr>
                 <tr>
                   <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                   <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                       <td><p class="textstory">The United Nations Climate Change Conference  in Doha, Qatar, opened on Monday morning, 26 November. Following an opening  ceremony, delegates gathered for the opening plenary meetings of the COP, CMP,  SBI and SBSTA. </p>
                         <p class="textstory"><strong><em>OPENING  CEREMONY </em></strong></p>
                         <p class="textstory">COP 17 President Maite Nkoana-Mashabane,  Minister of International Relations and Cooperation, South Africa, urged  delegates to: adopt a second commitment period under the Kyoto Protocol;  complete work under the AWG-LCA; and find appropriate space to undertake other  work under the COP, subsidiary bodies or new institutions. She stated that it  would be a &ldquo;step backwards for the ADP to become the AWG-LCA under a new name.&rdquo;  UNFCCC Executive  Secretary Christiana Figueres stressed that COP 18 will be unique in marking  the end of the first commitment period and launching the next one and will move  the Bali Action Plan from design to full and effective implementation. She  urged work on a future framework that ensures equity and responds to science,  and challenged delegates to find common ground in order to finalize documents  before the high-level segment convenes. </p>
                         <p class="textstory"><strong><em>COP  PLENARY </em></strong></p>
                         <p class="textstory"><strong>ORGANIZATIONAL MATTERS: Election of  Officers: </strong>Abdullah  bin Hamad Al-Attiyah, Deputy Minister, Qatar, was elected COP 18/CMP 8  President by acclamation. He noted the challenge posed by seven bodies  convening in Doha and called on delegates to agree to a second commitment  period under the Kyoto Protocol, finish work started in Bali, and achieve  progress on work undertaken in Durban.</p>
                         <p class="textstory"><strong>Rules of procedure: </strong>COP18/CMP 8 President, Al-Attiyah reminded parties of the practice  since COP 1 of applying the draft rules of procedure (FCCC/CP/1996/2) with the  exception of draft rule 42 on voting, which has remained unresolved since COP  1. He informed parties that no consensus has been achieved after consultations  held by the COP 17 President, and parties agreed to apply the draft rules with  the exception of draft rule 42. </p>
                         <p class="textstory"><strong>Adoption of the agenda: </strong>Parties agreed to proceed with their work based on the provisional  agenda (FCCC/CP/2012/1) with a view to its formal adoption, with the exception  of item 10, (second review of the adequacy of Article 4 (a) and (b) of the  Convention), which was held in abeyance.</p>
                         <p class="textstory"><strong>Election of officers: </strong>COP 18/CMP 8 President Al-Attiyah informed parties that the COP  Vice-President is conducting consultations on this issue.</p>
                         <p class="textstory">AWG-LCA Chair Aysar Tayeb (Saudi Arabia)  reported that, based on recent consultations, parties had expressed willingness  to work towards an agreed outcome in Doha.</p>
                         <p class="textstory">ADP Co-Chair Harald Dovland (Norway) called  for parties to maintain the cooperative spirit of Bangkok. He said goals for  the session in Doha would be to: continue planning the work of the ADP for  2013; and advance efforts to bridge the current mitigation gap and deliver a  new agreement by 2015.</p>
                         <p class="textstory"><strong>OPENING STATEMENTS: </strong>Algeria, for the G-77/CHINA called  for implementing the Durban balanced &ldquo;package&rdquo; by, <em>inter alia</em>:  strengthening the Convention principles, in particular equity and common but  differentiated responsibilities (CBDR), expressed concern over slow progress  under the AWG-LCA, particularly on adaptation, financing and technology  transfer, drawing attention to the finance gap from now to 2020. She said the  ADP outcome should lead to a &ldquo;balanced approach&rdquo; that includes mitigation,  adaptation and means of implementation and added that work under the AWGs  should be completed before parties engaged in a new track of negotiations.</p>
                         <p class="textstory">Switzerland, on behalf of the ENVIRONMENTAL  INTEGRITY GROUP (EIG), outlined three deliverables for Doha: concluding the  AWG-KP, closing the AWG-LCA, and progressing on the two streams of the ADP. He  highlighted several achievements on finance, noting that further work is  required, including scaling up finance to agreed levels by 2020.</p>
                         <p class="textstory">Australia, on behalf of the UMBRELLA GROUP  urged the conclusion of the AWG-LCA to allow implementation to begin and looked  forward to progress toward an agreement applicable to all parties by 2020,  while increasing ambition before 2020.<strong>&nbsp;</strong></p>
                         <p class="textstory">Cyprus, on behalf of the EU, outlined  outcomes for Doha, including: progressing on a new agreement with legally-binding  commitments by all parties by 2015 at the latest; enhancing pre-2020 mitigation  ambition; and closing the AWG-LCA to streamline negotiations. </p>
                         <p class="textstory">Egypt, on  behalf of the ARAB GROUP, highlighted Doha as a turning point in regional  efforts to address climate change. He underlined that developed countries have  a historic responsibility to mitigate emissions and provide finance and  technology, while developing countries&rsquo; responsibility is to combat poverty and  ensure equitable access to sustainable development. </p>
                         <p class="textstory">EL SALVADOR, speaking on behalf of Argentina, the Philippines, India, Saudi Arabia,  Egypt, Pakistan, Dominica, Bolivia, Cuba, Ecuador, Nicaragua, Venezuela,  Democratic Republic of the Congo, Malaysia, Mali, Algeria, Iran, Kuwait, Sudan  and Iraq, highlighted COP 18 as an important milestone for strengthening the  multilateral climate regime under the principles of equity and CBDR. He  cautioned against unravelling the delicately balanced Durban package, noting  that Doha must &ldquo;earn its place in history&rdquo; as the COP that was able to ensure  the implementation of the decisions of the Durban conference and successfully  conclude much of the ongoing work of the past years.&rdquo;</p>
                         <p class="textstory">Swaziland, for the AFRICAN GROUP,  highlighted, <em>inter alia,</em> the need to: work towards increasing the level  of ambition; agree on global peaking of emissions; agree on mid-term finance;  and clarify the application of the principles and provisions of the Convention.  He emphasized that a future agreement should be more than just a &ldquo;mitigation deal.&rdquo; </p>
                         <p class="textstory">Reflecting on progress over 20 years under  the UNFCCC, Nauru, for AOSIS, noted that hurricane Sandy was a reminder that  &ldquo;we are all in this together.&rdquo; She emphasized that Doha is about preserving the  fundamental integrity of the climate change regime which should begin with an  ambitious and credible second commitment period under the Kyoto Protocol. </p>
                         <p class="textstory">The Gambia, for the LDCs, said a successful  termination of the AWG-LCA requires agreement on comparable targets and common  accounting rules to ensure transparency and coherence among developed  countries. He called for agreement on a climate finance roadmap for the period  2013-2020, to annually scale up developed countries&rsquo; public finance  contributions to a minimum of US$100 billion per year. </p>
                         <p class="textstory">COLOMBIA, for Costa Rica, Chile, Panama and  Peru, highlighted the need to ensure: continuity to a second commitment period  under the Kyoto Protocol; comparable commitments by Annex I countries not party  to the Kyoto Protocol; predictability on the continuation of finance for the  2013-2020 period; and continued progress in ADP discussions. </p>
                         <p class="textstory">China, for BASIC, said the Kyoto Protocol  remains the key component of the international climate regime and is the most  important deliverable from Doha. He supported adoption of a roadmap to scale up  financial resources. </p>
                         <p class="textstory">Drawing attention to climatic disasters and  threats to food security, Nicaragua, for SICA, stressed adaptation as a  priority for the Group and highlighted the role of traditional knowledge in  this regard.&nbsp;</p>
                         <p class="textstory">Tajikistan, for the GROUP OF MOUNTAINOUS  LANDLOCKED DEVELOPING COUNTRIES, expressed concern with the slow progress under  the AWG-LCA, particularly on adaptation, mitigation and technology transfer. He  underscored the need for an outcome on long-term finance from Doha. </p>
                         <p class="textstory">Indonesia, on behalf of the CARTAGENA  DIALOGUE, outlined key issues for a balanced package in Doha, including  adoption of a second commitment period, closure of the AWG-LCA, and progress  under the ADP. Under the AWG-LCA he stated that key issues should continue to  be developed and implemented under the subsidiary bodies (SBs) and other  established processes.</p>
                         <p class="textstory">Papua New Guinea, on behalf of the COALITION  FOR RAINFOREST NATIONS, urged parties to conclude all elements of the Bali  Action Plan under the AWG-LCA, including an agreement on institutional  arrangements for REDD+ finance and a decision on the new market mechanism (NMM)  covering the forest sector, in order to help bridge the ambition gap. </p>
                         <p class="textstory">Venezuela, on behalf of ALBA, stated that  markets are not the only solution to achieving ambitious emission reductions  and urged parties to undertake real and responsible commitments under the  principle of CBDR.</p>
                         <p class="textstory">CLIMATE ACTION NETWORK, for ENGOs,  underscored their protest over the exclusion of civil society voices from this  process. </p>
                         <p class="textstory">WOMEN AND GENDER said that closing the gap  between words and action is closely linked to closing the gender gap. </p>
                         <p class="textstory">YOUTH  stressed that if the future involves a six-degree temperature rise, parties  could &ldquo;count them out&rdquo; and urged for significant commitments in the second  commitment period and progress in the ADP. </p>
                         <p class="textstory"><strong><em>CMP  PLENARY </em></strong></p>
                         <p class="textstory">Opening the session, CMP 8 President Al-Attiyah  noted that the AWG-KP is expected to forward to the CMP a set of amendments to  the Kyoto Protocol to allow the second commitment period to commence promptly  on 1 January 2013. He urged all parties to show creativity and flexibility to  ensure that the desired outcome is achieved. AWG-KP Chair Madeleine Diouf  (Senegal) highlighted that there are some outstanding issues to be resolved to  allow the second commitment period to commence as planned. She said the  proposal by the Chair to facilitate negotiations (FCCC/KP/AWG/2012/CRP.1) will  be the basis of discussions under the AWG-KP, and will be revised as work  progresses.</p>
                         <p class="textstory"><strong>ORGANIZATIONAL MATTERS</strong>: Parties adopted the agenda and agreed to the organization of work  (FCCC/KP/CMP/2012/1).</p>
                         <p class="textstory"><strong>OPENING STATEMENTS: </strong>Algeria, speaking on behalf of the  G-77/CHINA, stressed the need to complete the work of the AWG-KP in line with  the Bali Action Plan, in order to ensure that there is no gap between the first  and second commitment periods. She expressed concern that only some parties  have presented information on their QELROs. </p>
                         <p class="textstory">Swaziland, for the AFRICAN GROUP, stressed  that the successful adoption of the second commitment period under the Kyoto  Protocol will be the single most important outcome from Doha, expressing the  hope that the AWG-KP will finalize its mandate regarding all outstanding  issues. Mexico, for the EIG, stated that the context of the conclusion of the  work of the AWG-KP will be the conclusion of the work of the AWG-LCA and  meaningful progress under the ADP. &nbsp;</p>
                         <p class="textstory">Nauru, for AOSIS, urged developed countries  to make ambitious emission reduction targets at the scale required by science,  and called on all parties to put the interests of vulnerable countries at the  same level as their own interests. He said &ldquo;hot air&rdquo; and surplus units must not  be allowed to undermine the emission reductions to be achieved. </p>
                         <p class="textstory">China, for BASIC, underlined that Doha must  achieve a legally-binding and fully ratifiable second commitment period, and  said developed countries that are not party to the Kyoto Protocol or do not  intend to participate in the second commitment period should not have access to  the CDM.</p>
                         <p class="textstory">The PHILIPPINES, for Algeria, Argentina,  Bolivia, China, Cuba, Democratic Republic of the Congo, Dominica, Ecuador,  Egypt, El Salvador, India, Iran, Iraq, Kuwait, Malaysia, Mali, Mauritania,  Nicaragua, Pakistan, Paraguay, Saudi Arabia, Sri Lanka, Sudan and Venezuela, outlined benchmarks for success in  Doha, including: Annex I parties to the Kyoto Protocol committing to ambitious  QELROs to be provisionally applied from 1 January 2013; Annex I countries not  party to the Kyoto Protocol taking on comparable and ambitions emission  reduction commitments; and the Kyoto Protocol compliance mechanism applying in  the second commitment period. </p>
                         <p class="textstory">Bolivia, for ALBA, said the Durban outcome  did not deliver a solution to developed countries&rsquo; lack of political will to  undertake ambitious emission reduction commitments. He noted &ldquo;unbridled abuse&rdquo;  of the flexibility mechanisms and called for a cap on their use.&nbsp;</p>
                         <p class="textstory">Nicaragua, for SICA, expressed concern with  the trend under the Kyoto Protocol towards flexibility based on &ldquo;promises and  reviews,&rdquo; calling for genuinely legally-binding commitments under the Protocol. </p>
                         <p class="textstory">NEW ZEALAND noted her country&rsquo;s intention to  take on post-2012 commitments under the Convention track, observing that the  Protocol covers less than 15% of global emissions and therefore cannot  represent a common future. She explained that although her country will not  join a second commitment period it would remain a party to the Protocol and  &ldquo;play by the Kyoto Protocol rules.&rdquo; </p>
                         <p class="textstory">Cyprus, on behalf of theEU  underlined that its proposed QELROs demonstrate its commitment and ambition for  the second commitment period under the Kyoto Protocol. He also stressed the  need for progress towards legally-binding commitments by all by 2015.</p>
                         <p class="textstory">Australia, speaking for the UMBRELLA GROUP,  pointed out that the Durban compromise included an agreement for a new  negotiation process. He highlighted his country&rsquo;s intention to join the second  commitment period. </p>
                         <p class="textstory">Expressing  concern over inadequate pledges, the Gambia, on behalf of the LDCs, supported a  five-year second commitment period as well as a cap on transfers of surplus  units in order to ensure environmental integrity.</p>
                         <p class="textstory">Saudi Arabia, on behalf of the ARAB GROUP,  emphasized that reaching an agreement on the second commitment period is a  legal obligation and stressed the need for clear commitments by Annex I  parties, in line with science. </p>
                         <p class="textstory">Papua New Guinea, on behalf of the COALITION  FOR RAINFOREST NATIONS, stressed that the second commitment period must be  based on a clear, ambitious and precise set of rules to ensure environmental  integrity, including rules on carry-over of surplus AAUs. </p>
                         <p class="textstory"><strong><em>SBSTA </em></strong></p>
                         <p class="textstory">Chair Richard Muyungi (Tanzania) opened the  meeting. </p>
                         <p class="textstory"><strong>OPENING STATEMENTS:</strong> Algeria, for the G-77/CHINA, called for addressing mitigation and  adaptation elements in a balanced manner, underscoring the importance of  adaptation for agriculture and the need to increase agricultural productivity  for food security, particularly in developing countries. Australia, for the  UMBRELLA GROUP, highlighted outstanding issues, including MRV for REDD+,  national forest monitoring systems, and agriculture. He said SBSTA has a  critical role in the transition to the Kyoto Protocol second commitment period,  by providing updated rules and modalities.</p>
                         <p class="textstory">Papua New Guinea, for the COALITION FOR  RAINFOREST NATIONS, urged parties to complete the work on the technical  building blocks for REDD+ actions, particularly MRV and national forest  monitoring systems. She recalled that parties agreed to make MRV of REDD+  actions consistent with MRV of NAMAs. Nauru, for AOSIS, stressed the need to  keep the issue of environmental integrity at the forefront in discussions on  the Kyoto Protocol&rsquo;s methodological issues. </p>
                         <p class="textstory">Swaziland, for the AFRICAN GROUP, called for  strengthening the mandate of the Nairobi Work Programme on impacts,  vulnerability and adaptation to climate change (NWP) to address poverty  alleviation, food security and reduce vulnerabilities. The EU underlined the  importance of: enabling immediate implementation of the second commitment  period; and developing general guidelines on domestic MRV of NAMAs in  developing countries. </p>
                         <p class="textstory">The Republic of Korea, for the EIG, called  for progress on new work areas for the NWP, MRV and agriculture, addressing  both mitigation and adaptation aspects. The Gambia, on behalf of the LDCs,  urged parties to focus on technical issues, particularly for methodological  issues under the Kyoto Protocol. </p>
                         <p class="textstory">INDIA stressed that agriculture is a sensitive  issue in developing countries and opposed producing negative impacts on  peoples&rsquo; livelihoods in the pursuit of agriculture-related mitigation  objectives. FARMERS called for empowering small holder women and farmers.  TUNGOs called for implementing the compromises adopted in COP 16 to provide  quality jobs as part of the transition to a more sustainable society. CAN said  that addressing agriculture should ensure biodiversity protection, the right to  food, promote adaptation and avoid exacerbating existing inequalities. CLIMATE  JUSTICE NOW called upon historic polluters to avoid placing the mitigation  burden on poor farmers. </p>
                         <p class="textstory">Delegates then took up the various agenda  items. </p>
                         <p class="textstory"><strong>METHODOLOGICAL GUIDANCE FOR REDD+:</strong> Chair Muyungi outlined the large volume of work on this issue,  particularly MRV and national forest monitoring systems. INDONESIA stated that  discussion of deforestation drivers, safeguards and forest reference emission  levels should account for national development priorities, circumstances and  capabilities.</p>
                         <p class="textstory"><strong>AGRICULTURE:</strong> FAO reported on activities related to agriculture and climate change, including  the report by the High-Level Panel of Experts on food security and nutrition  (HLPE). EGYPT underscored the need for an adaptation programme that addresses the  adverse impacts of climate change in the agricultural sector. ARGENTINA and  URUGUAY suggested that SBSTA focus on adaptation issues for agriculture, with  ARGENTINA supporting the need to submit the HLPE&rsquo;s report to the UNFCCC. The  Gambia, for the LDCs, called on developed countries to scale up support for the  implementation of adaptation measures and plans through the Cancun Adaptation  Framework, the NWP, and the development of a mechanism for loss and damage.</p>
                         <p class="textstory"><strong>BUNKER FUELS:</strong> On emissions from fuel used for international aviation and maritime transport  (bunker fuels), the International Civil Aviation Organization (ICAO) and the  International Maritime Organization (IMO) reported on relevant work  (FCCC/SBSTA/2012/MISC.20). </p>
                         <p class="textstory">JAPAN and SINGAPORE said that ICAO and IMO  are the appropriate bodies to address this issue. JAPAN stated that global  regulations should apply universally to all aircraft or ships, regardless of  country of operation or registration and, therefore, the CBDR principle should  not apply. CUBA, on behalf of Algeria, Argentina, Brazil, China, Democratic  Republic of the Congo, Ecuador, Egypt, India, Malaysia, Nicaragua, the  Philippines, Saudi Arabia and Venezuela, underscored the need to apply the CBDR  principle and stated that a decision on this issue must await a decision on  financial support. CHINA, supported by EGYPT, stated CBDR is a basic principle  of international climate change negotiations and should apply to international  aviation and shipping. </p>
                         <p class="textstory"><strong>OTHER AGENDA ITEMS:</strong> The following agenda items were briefly considered and forwarded to  contact groups or informal consultations: </p>
                         <ul>
                           <li class="textstory">Nairobi Work Programme; </li>
                           <li class="textstory">Report of the Adaptation Committee; </li>
                           <li class="textstory">Development and transfer of technologies  and report of the Technology Executive Committee (joint consultations with the  SBI); </li>
                           <li class="textstory">Research and systemic observation; </li>
                           <li class="textstory">Forum and work programme on the impact  of the implementation of response measures (joint consultations with the SBI);</li>
                           <li class="textstory">Matters relating to Article 2, paragraph  3 of the Kyoto Protocol (adverse impacts of polices and measures);</li>
                           <li class="textstory">Methodological issues (Convention); and</li>
                           <li class="textstory">Methodological issues (Protocol).</li>
                         </ul>
                         <p class="textstory"><strong><em>SBI </em></strong></p>
                         <p class="textstory">Opening the session, SBI Chair Thomasz  Chruszczow (Poland) urged parties to focus on essentials in order to produce  substantive conclusions to be forwarded to the CMP, noting that &ldquo;time  management is a challenge in Doha.&rdquo;&nbsp;</p>
                         <p class="textstory"><strong>FORUM AND WORK PROGRAMME ON THE IMPACT OF  THE IMPLEMENTATION OF RESPONSE MEASURES:</strong> Chair  Chruszczow informed parties that the Forum will convene during this session.</p>
                         <p class="textstory">The following agenda items were briefly  considered and forwarded for further consideration to contact groups or  informal groups:</p>
                         <ul>
                           <li class="textstory">composition, modalities and procedures  of the team of technical experts under international consultations and  analysis;</li>
                           <li class="textstory">matters relating to finance;</li>
                           <li class="textstory">developing country NAMAs;</li>
                           <li class="textstory">Convention Article 6 (education,  training and public awareness);</li>
                           <li class="textstory">Non Annex I national communications;</li>
                           <li class="textstory">Protocol Article 3.14 (adverse effects);</li>
                           <li class="textstory">Loss and damage; and</li>
                           <li class="textstory">Convention Articles 4.8 and 4.9 (adverse  effects and LDCs).</li>
                         </ul>
                         <p class="textstory"><strong><em>IN  THE CORRIDORS </em></strong></p>
                         <p class="textstory">COP 18/CMP 8 got underway on Monday morning  - the first time a COP has been held in the Middle East. The conference, which  is being convened in a brand-new conference center is also deploying a  &ldquo;paper-smart&rdquo; format. Thus, the Doha conference involves fewer documents to  keep track of, and, as one proponent of the new format put it, &ldquo;lighter loads  might even make it easier to navigate a venue that seems as &ldquo;vast as a desert.&rdquo; </p>
                         <p class="textstory">After quickly adopting the agendas under the  various bodies, delegates weighed in with numerous lengthy opening statements,  which took up most of the plenary sessions.&nbsp;  Many reported serious cases of &ldquo;d&eacute;j&agrave; vu&rdquo; while others chalked it up to a  normal first day with the usual &ldquo;all-encompassing&rdquo; opening remarks, which  appeared to sap the limited energy reserves of some jet-lagged delegates. While  one delegate commented that the meeting seemed to kick off relatively slowly,  another seasoned negotiator pointed out that &ldquo;it will get busier and before long  we will have a hard time keeping track of what is happening, where and when.&rdquo;</p></td>
                     </tr>
                   </table></td>
                   <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                 </tr>
                 <tr>
                   <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                   <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                 </tr>
               </table></td>
             </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
         <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop18/enb/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="272" class="textstory1">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola Akanle Eni-ibukun, Ph.D., Jennifer Allan, Beate Antonich, Asheline Appleton, Elena Kosolapova and Eugenia Recio. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the European Commission (DG-ENV), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), and the Government of Australia. General Support for the Bulletin during 2012 is provided by the Norwegian Ministry of Foreign Affairs, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, the Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI), and the United Nations Environment Programme (UNEP). Specific funding for coverage of this meeting has been provided by the State of Qatar. Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, USA. The ENB Team at the Doha Climate Change Conference - November 2012 can be contacted by e-mail at &lt;<a href="mailto:asheline@iisd.org" class="linknegro">asheline@iisd.org</a>&gt;.</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2012, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
