<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CANCUN HIGHLIGHTS, Tuesday, 30 November 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, CANCUN HIGHLIGHTS, Tuesday, 30 November 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12489e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12489f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12489s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12489j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 489 - Wednesday, 1 December 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">CANCUN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Tuesday, 30 November 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">In the morning and afternoon, opening plenaries of the SBI and SBSTA  took place, as well as informal groups under the two AWGs. </p>
                               <p class="textstory"><strong><em>SBI </em></strong></p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS:</strong> SBI Chair Robert Owen-Jones  (Australia) opened the session. He suggested, and parties agreed, leaving the  sub-item on information contained in non-Annex I national communications in  abeyance. Parties adopted the agenda and agreed to the organization of work  (FCCC/SBI/2010/11). On elections of officers other than the Chair  and elections of replacement officers, Chair Owen-Jones reported that  consultations are ongoing.</p>
                               <p class="textstory"><strong>OPENING STATEMENTS: </strong>Yemen, for the G-77/CHINA, lamented  that Annex I parties&rsquo; greenhouse gas (GHG) inventories show an increase in  their GHG emissions and urged the SBI to fulfill its mandate to review the  implementation of the Convention, including Annex I parties&rsquo; emission reduction  efforts. </p>
                               <p class="textstory">Mexico, for the ENVIRONMENTAL INTEGRITY GROUP (EIG), highlighted the  importance of stakeholder participation and proposed means to enhance the  participation of observer organizations, such as a forum to promote dialogue  among participants. Australia, for the UMBRELLA GROUP, noted the importance of  improving cooperation with observer organizations. The EU, said discussions  should focus on technology transfer, particularly issues relevant to  discussions under the AWG-LCA, and the financial mechanism. He also called for  increased support to the LDCs for the implementation of the LDC work programme. </p>
                               <p class="textstory">Grenada, for AOSIS, called for discussions on the financial mechanism,  particularly regarding issues concerning access to finance. Belize, for the  CENTRAL AMERICAN INTEGRATION SYSTEM (SICA), urged progress on issues, such as  technology transfer and capacity building. Lesotho, for the LDCs, urged  extension and expansion of the mandate of the LDC Expert Group (LEG), lamented  the co-financing requirement for the implementation of national adaptation  programmes of action (NAPAs) and called for implementation of all elements of  the LDC work programme. The Democratic Republic of the Congo, for the AFRICAN  GROUP, called for increased contributions to the Special Climate Change Fund  (SCCF) and expressed concern with the time taken from project conception to the  delivery of funds. He also opposed suggestions that the Consultative Group of  Experts on Non-Annex I National Communications (CGE) should consider the  frequency of reporting by non-Annex I parties.</p>
                               <p class="textstory"><strong>FINANCIAL MECHANISM:</strong> This agenda item has four sub-items  on: the fourth review of the financial mechanism (FCCC/SBI/2010/INF.7,  FCCC/SBI/2009/MISC.10 and Add.1); the report of the Global Environment Facility  (GEF) (FCCC/CP/2010/5 and Add.1, FCCC/CP/2009/9 and FCCC/SBI/2010/MISC.5); the  assessment of the SCCF; and the LDC Fund (FCCC/CP/2010/5 and Add.1,  FCCC/SBI/2010/5, FCCC/SBI/2010/15, 17, 26 and MISC.9, FCCC/SBI/2009/MISC.10 and  Add.1). The GEF presented its report (FCCC/CP/2010/5), highlighting that many  adaptation, technology transfer and other projects have been implemented in  various countries. He also noted that the allocation of funds to LDCs and SIDS  has increased to 18% in the fourth GEF replenishment, up from 12% in the third  GEF replenishment. </p>
                               <p class="textstory">Ana Fornells de Frutos (Spain) and Fernando Farias (Chile) will co-chair  a contact group on the review of the financial mechanism, the report of the GEF  and the assessment of the SCCF. Katherine Vaughn (Australia) and Rence Sore  (Solomon Islands) will co-chair a contact group on the LDC Fund. </p>
                               <p class="textstory"><strong>ANNEX I NATIONAL COMMUNICATIONS: </strong>This agenda item has four sub-items  on: national GHG inventory data for 1990-2007 (FCCC/SBI/2010/18 and  FCCC/SBI/2009/12); status of submissions and review of the fifth national  communications (FCCC/SBI/2009/INF.8); submission of the sixth national  communications (FCCC/SBI/2009/INF.9); and further implementation of Convention  Article 12.5 (frequency of national communications). Anke Herold (Germany) and  Eric Mugurusi (Tanzania) will co-chair a contact group on these issues.</p>
                               <p class="textstory"><strong>Annual compilation and  accounting reports for Annex B Parties under the KYOTO PROTOCOL for 2009 and  2010:</strong> The  Secretariat introduced the issue (FCCC/KP/CMP/2010/5 and Add.1). Anke Herold  (Germany) and Eric Mugurusi (Tanzania) will co-chair a contact group.</p>
                               <p class="textstory"><strong>NON-ANNEX I NATIONAL COMMUNICATIONS: </strong>The Secretariat introduced three  sub-items under this agenda item on: the CGE (FCCC/SBI/2010/21 and Add.1);  further implementation of Convention Article 12.5; and financial and technical  support.</p>
                               <p class="textstory">The CGE Chair described progress made in implementing the CGE work  programme. The GEF presented on the status of financial and technical support  for non-Annex I national communications (FCCC/SBI/2010/INF.10, FCCC/CP/2010/5  and Add.1). Anke Herold (Germany) and Eric Mugurusi (Tanzania) will co-chair a  contact group on these issues.</p>
                               <p class="textstory"><strong>ARTICLE 6 OF THE CONVENTION (Education,  training and public awareness): </strong>The Secretariat introduced the agenda item (FCCC/SBI/2010/2,  FCCC/SBI/2010/3, FCCC/SBI/2010/10, FCCC/SBI/2010/22, FCCC/SBI/2010/9,  FCCC/SBI/2010/23, FCCC/SBI/2010/24 and FCCC/SBI/2010/MISC.7). The Dominican  Republic, for the G-77/CHINA, requested the establishment of a contact group. The  SBI agreed to establish a contact group chaired by Pa Ousman Jarju (the Gambia). </p>
                               <p class="textstory"><strong>ADMINISTRATIVE, FINANCIAL AND  INSTITUTIONAL MATTERS: Budget performance for the biennium 2008-2009:</strong> The  Secretariat introduced the issues (FCCC/SBI/2010/14/ Add.1 &amp; Add.2). Draft  conclusions and draft decisions will be prepared.</p>
                               <p class="textstory"><strong>Programme budget for the  biennium 2010-2011: </strong>UNFCCC Executive Secretary Figueres introduced the item  (FCCC/SBI/2010/13) and (FCCC/SBI/2010/INF.9), noting that 83% of total  indicative contributions have been received and urged parties to settle  outstanding arrears. She stated that new decisions in Cancun may call for  additional support from the Secretariat, which would require additional  resources. The SBI Chair will prepare a draft decision and draft conclusions in  consultation with interested parties. SBI Chair Owen-Jones informed parties  that he would also conduct bilateral discussions with interested&nbsp;&nbsp; </p>
                               <p class="textstory">parties on the  programme budget for 2012-13,&nbsp; to be  taken up at SBI 34, to find out what parties&rsquo; expectations might be.</p>
                               <p class="textstory"><strong>Continuing review of the  functions and operations of the Secretariat:</strong> UNFCCC Executive Secretary  Figueres highlighted &ldquo;generally positive feedback&rdquo; from questionnaire responses  from parties on this item. However, she underscored feedback on the need to  improve the UNFCCC website in terms of searchability and usability. Draft  conclusions and draft decisions will be prepared.</p>
                               <p class="textstory"><strong>Privileges and Immunities: </strong>The  Secretariat introduced the item (FCCC/SBI/2010/10). Draft conclusions will be  prepared. </p>
                               <p class="textstory"><strong>CAPACITY BUILDING (CONVENTION): </strong>The Secretariat introduced the issue (FCCC/CP/2010/5 and Add.1,  FCCC/SBI/2010/20, FCCC/SBI/2010/MISC.6, FCCC/SBI/2009/10, FCCC/SBI/2009/MISC.1,  MISC.2, MISC.8, and MISC.12/Rev.1). SBI Chair Owen-Jones said that work on this  issue should continue based on the Annex V to the SBI 32 report. </p>
                               <p class="textstory">A contact group co-chaired by Philip  Gwage (Uganda) and Marie Jaudet (France) was established. </p>
                               <p class="textstory"><strong>CAPACITY BUILDING (PROTOCOL): </strong>The  Secretariat introduced the issue (FCCC/KP/CMP/2010/10, FCCC/KP/CMP/2009/16).  SBI Chair Owen-Jones encouraged delegates to work based on the annex VI to the  SBI 32 report. </p>
                               <p class="textstory">A contact group co-chaired by Philip  Gwage (Uganda) and Marie Jaudet (France) was established. </p>
                               <p class="textstory"><strong>CONVENTION ARTICLES 4.8 AND  4.9: Progress on implementation of decision 1/CP.10 (Buenos Aires programme of  work):</strong> SBI Chair Owen-Jones encouraged parties to make progress on the  draft decision text and drew attention to relevant parallel discussions.  BARBADOS urged for further implementation of decision 1/CP.10 by: considering  within adaptation activities the implementation of the Mauritius Strategy for  the Further Implementation of the Programme of Action for the Sustainable  Development of Small Island Developing States; promoting the review and  strengthening of LDC&acute;s NAPAs; and increased financial support for national institutional  arrangements on adaptation. SBI Vice-Chair Samuel Ortiz Basualdo (Argentina)  will chair a contact group. SBI Chair Owen-Jones requested the contact group to  ensure that both adaptation and response measures issues are addressed in a  balanced manner.</p>
                               <p class="textstory"><strong>Matters related to the LDCs: </strong>The  Secretariat introduced documents (FCCC/SBI/2010/5, FCCC/SBI/2010/12,  FCCC/SBI/2010/15, FCCC/SBI/2010/17, FCCC/SBI/2010/26 and FCCC/SBI/2010/MISC.9).  The LEG Chair Fred Onduri Machulu (Uganda) reported on the LEG&rsquo;s activities  (FCCC/SBI/2010/26).</p>
                               <p class="textstory">Bangladesh, for the G-77/CHINA,  supported extending and expanding the LEG&rsquo;s mandate, highlighting that 45  countries have submitted NAPAs. He urged for support to implement the NAPAs.  Malawi, for the LDCs, supported extension of the LEG&rsquo;s mandate to enable the  LEG to provide assistance for the implementation of the LDCs work programme.  AFGHANISTAN supported the extension of the LEG&rsquo;s mandate to, <em>inter alia</em>:  support mainstreaming adaptation in LDCs and aligning NAPAs with government  economic planning and budgetary process.</p>
                               <p class="textstory">Katherine Vaughn (Australia) and  Rence Sore (Solomon Islands) will co-chair a contact group. </p>
                               <p class="textstory"><strong>TECHNOLOGY TRANSFER:</strong>&nbsp; The Secretariat introduced the report of the  Expert Group on Technology Transfer (EGTT) (FCCC/SB/2010/INF.4) and the GEF&rsquo;s  report (FCCC/SBI/2010/25). The EGTT reported on progress on implementing its  work programme for 2010-2011. The GEF highlighted progress in implementing the  Poznan Strategic Programme on Technology Transfer.</p>
                               <p class="textstory">The EU called for a focus on  elements that are relevant for the work on technology by the AWG-LCA and said  the GEF should seek a more balanced approach to mitigation and adaptation  technologies. ZAMBIA called for enhanced deployment of existing technologies  and, with the DEMOCRATIC REPUBLIC OF THE CONGO, the removal of barriers to  technology transfer, such as intellectual property rights. Climate Justice  Network, for ENGOs, called for a new technology mechanism with a mandate to  evaluate social and environmental impact of technologies. </p>
                               <p class="textstory">Carlos Fuller (Belize) and Ronald Schillemans  (The Netherlands) will co-chair a joint SBI/SBSTA contact group.</p>
                               <p class="textstory"><strong>ARRANGEMENTS FOR  INTERGOVERNMENTAL MEETINGS: </strong>The Secretariat introduced this item  (FCCC/SBI/2010/16) and (FCCC/SBI/2010/MISC.8). MEXICO underscored its  commitment to mechanisms and processes that increase the participation of  observers. He expressed intention to table draft decisions on: the creation of  a dialogue platform for observers; and on the inclusion of legislative entities  and parliaments in the UNFCCC process.</p>
                               <p class="textstory">NIGERIA noted that although  participation of stakeholders has been positive, the UNFCCC is an  intergovernmental process. ICLEI - Local Governments for Sustainability,  representing five civil society constituencies, commented on the UNFCCC  synthesis report on enhancing civil society engagement, noting that important  recommendations had not been reflected in the report. He made several recommendations  including: direct access to negotiations; enhancing opportunities to make oral  interventions and written submissions; and upholding the right for observers to  organize non-violent demonstrations and stunts. </p>
                               <p class="textstory">SBI Chair Owen-Jones will chair a contact  group. </p>
                               <p class="textstory"><strong>REPORTING AND REVIEW OF  INFORMATION FROM ANNEX I PARTIES UNDER THE PROTOCOL:</strong> The Secretariat  introduced the item (FCCC/SBI/2009/INF.2). Dominique Blain (Canada) will  conduct informal consultations.</p>
                               <p class="textstory"><strong>PROTOCOL ARTICLE 3.14 (ADVERSE  EFFECTS):</strong> Parties established a joint SBI/SBSTA contact group, co-chaired  by Andrew Ure (Australia) and Eduardo Calvo Buend&iacute;a (Peru). </p>
                               <p class="textstory"><strong>INTERNATIONAL TRANSACTION LOG  (ITL).</strong> The Secretariat introduced the issue (FCCC/KP/CMP/2010/8). The SBI  agreed to take note of this information.</p>
                               <p class="textstory"><strong>PROTOCOL AMENDMENT WITH RESPECT  TO COMPLIANCE:</strong> The Secretariat introduced this item (FCCC/KP/CMP/2005/2).  The SBI Chair will consult with interested parties. </p>
                               <p class="textstory"><strong>OTHER MATTERS:</strong> ARGENTINA  objected to the UK&rsquo;s inclusion of Islas Malvinas/Falklands Islands and other  South Atlantic islands in its national communications, citing sovereignty  disputes. The UK said the SBI is not appropriate forum to raise sovereignty  issues, stating that there was no doubt about the sovereignty of the Falkland  Islands.&nbsp; </p>
                               <p class="textstory"><strong><em>SBSTA</em></strong></p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS: </strong>SBSTA Chair Mama Konat&eacute; (Mali)  opened the session. Parties adopted the agenda and agreed to the organization  of work (FCCC/SBSTA/2010/7). </p>
                               <p class="textstory">UNFCCC Executive Secretary Christiana Figueres identified the  continuation of the Nairobi Work Programme on Impacts, Vulnerability and  Adaptation (NWP) as a valuable outcome and also urged parties to make progress  on revision of the UNFCCC national reporting guidelines for Annex I countries,  as well as carbon capture and storage (CCS), standardized baselines and forests  in exhaustion under the Clean Development Mechanism (CDM). On elections of  officers other than the Chair and elections of replacement officers, SBSTA  Chair Konat&eacute; noted ongoing consultations. </p>
                               <p class="textstory"><strong>OPENING STATEMENTS: </strong>Yemen, for the G-77/CHINA, called  for: consideration of action-driven outcomes under the NWP; a decision to build  and/or enhance national and regional climate centers; and a decision to  strengthen systematic observation networks. Australia, for the UMBRELLA  GROUP, suggested that work on the NWP and reform of the CDM could be completed  at this meeting. </p>
                               <p class="textstory">Grenada, for AOSIS, highlighted the need to encourage implementation of  actions based on the NWP and, with Lesotho, for the LDCs, reiterated the call  for a technical review of the science related to limiting temperature increase  to under 1.5&deg;C.</p>
                               <p class="textstory">The Republic of Korea, for the EIG, noted the need to address revision  of the NWP, transparency and MRV, and the development of standardized  baselines. The EU stressed the need for agreement on standardized baselines and  expressed willingness to consider continuation of activities under the NWP. </p>
                               <p class="textstory">Lesotho, for the LDCs, called for strengthening institutions on research  and systematic observations and further development and implementation of the  Global Framework for Climate Services (GFCS). Belize, for SICA, urged efforts  to enhance the global observation programmes, and called for engagement on CCS,  standardized baselines, common metrics and forests in exhaustion.</p>
                               <p class="textstory">The INTERNATIONAL TRADE UNION CONFEDERATION stressed the need to address  social aspects of climate mitigation. The YOUTH lamented the lack of urgency  shown by the SBSTA regarding forest-related definitions that ensure protection  of carbon-rich forests and biodiversity. CLIMATE ACTION NETWORK underscored  that the window of opportunity to limit global average warming to 1.5&deg;C is  closing rapidly and stressed the need for a technical paper addressing this.  CLIMATE JUSTICE NOW called for clean technology solutions based on the needs of  communities and ecosystems.&nbsp;&nbsp;&nbsp; </p>
                               <p class="textstory"><strong>NWP: </strong>The Secretariat introduced the item  (FCCC/SBSTA/2010/8-10 and 12; FCCC/SBSTA/2010/INF.7; and FCCC/SBSTA/2010/MISC.8  and Add.1). The WORLD METEOROLOGICAL ORGANIZATION (WMO) highlighted the GFCS,  which will strengthen climate observation systems, further mobilize climate  science and improve collaboration. The CONVENTION ON BIOLOGICAL DIVERSITY and  the UN CONVENTION TO COMBAT DESERTIFICATION underscored cooperation between the  three Rio Conventions. </p>
                               <p class="textstory">Kishan Kumarsingh (Trinidad and Tobago) and Don Lemmen (Canada) will  co-chair a contact group. </p>
                               <p class="textstory"><strong>DEVELOPMENT AND TRANSFER OF TECHNOLOGIES: </strong>The Secretariat introduced this item  (FCCC/SB/2010/INF.4; FCCC/SBSTA/2010/INF.6 and INF.11). The EGTT reported on  the work of the EGTT, in particular on operational modalities for the proposed  technology mechanisms, and presented the Report on Options to Facilitate  Collaborative Technology Research and Development (FCCC/SBSTA/INF.11). Several  parties, noting the possible creation of a technology mechanism by the COP,  suggested focusing efforts on negotiations on this issue under the AWG-LCA. </p>
                               <p class="textstory">Carlos Fuller (Belize) and Ronald Schillemans (the Netherlands) will  co-chair a joint SBSTA/SBI contact group. </p>
                               <p class="textstory"><strong>RESEARCH AND SYSTEMATIC OBSERVATION:</strong> The Secretariat introduced this  item (FCCC/SBSTA/2010/MISC.s 9-12 and 15).</p>
                               <p class="textstory">The Global Climate Observing  System (GCOS), the Global  Terrestrial OBSERVATION SYSTEM, the COMMITTEE ON EARTH OBSERVATION  SATELLITES and the GLOBAL OCEAN OBSERVING SYSTEM provided progress reports on  activities related to the updated GCOS implementation plan. They emphasized the  importance of investments in observation systems to provide robust climate  data. </p>
                               <p class="textstory">Stefan <em>R&ouml;sner</em> (Germany)  and Arthur Rolle (Bahamas) will conduct informal consultations.</p>
                               <p class="textstory"><strong>MATTERS RELATED TO PROTOCOL ARTICLE 2.3  (ADVERSE IMPACTS OF POLICIES AND MEASURES):</strong> SBSTA Chair Konat&eacute; noted that work on this  issue will continue based on text contained in Annex I of the SBI 32 report.  Andrew Ure (Australia) and Eduardo Calvo Buend&iacute;a (Peru) will co-chair a joint  SBI/SBSTA contact group on this item and Protocol Article 3.14 (adverse effects  and impacts of response measures).</p>
                               <p class="textstory"><strong>METHODOLOGICAL ISSUES (CONVENTION): Annual  report on the technical review of GHG inventories from Annex I parties under  the Convention: </strong>The  Secretariat introduced this item (FCCC/SBSTA/2010/INF.8) and parties took note  of the report. </p>
                               <p class="textstory"><strong>Revision of the UNFCCC reporting guidelines on  annual inventories for Annex I parties:</strong> The Secretariat introduced this item  (FCCC/SBSTA/2010/INF.10; FCCC/SBSTA/2010/MISC.7 and Add.s 1-3). The IPCC TASK  FORCE ON NATIONAL GHG INVENTORIES reported on recent meetings addressing use of  models and measurements in GHG inventories and on methodological issues related  to reporting on harvested wood products, wetlands and nitrous oxide emissions  from soils.</p>
                               <p class="textstory">Riitta Pipatti (Finland) and Nagmeldin Elhassan (Sudan) will co-chair a  contact group.</p>
                               <p class="textstory"><strong>Emissions from international  aviation and maritime transport: </strong>The Secretariat introduced the item  (FCCC/SBSTA/2010/MIC.14). The International Civil Aviation Organization (ICAO)  reported on a comprehensive resolution on aviation and climate change adopted  by the 37th session of the ICAO Assembly in October 2010. The International  Maritime Organization (IMO) highlighted, <em>inter alia</em>, efforts to develop  a comprehensive mandatory regulatory framework and market-based mechanisms to  substantially reduce greenhouse gas emissions from maritime transport by 2020. </p>
                               <p class="textstory">Several parties highlighted the  ICAO and IMO as the principle forums for addressing emissions from  international aviation and maritime transportation. Many also stressed the  importance of these sectors for developing countries. CUBA, for Argentina,  Brazil, China, India and Saudi Arabia, supported by SOUTH AFRICA and others,  stressed the principles of equity and common but differentiated  responsibilities. The US suggested considering how the IMO and ICAO should deal  with the principle of common but differentiated responsabilities if it is not  part of their mandate. ARGENTINA, supported by SAUDI ARABIA, highlighted  reservations made to the ICAO resolution. The EU stressed the urgency of  addressing emissions from bunker fuels, while highlighting the AWG-LCA as the  best forum to do so. The COOK ISLANDS called for the IMO and ICAO to continue  their consultations with SIDS. BRAZIL, supported by ARGENTINA and others,  suggested that IMO and ICAO should continue reporting to the SBSTA. </p>
                               <p class="textstory">SBSTA Chair Konat&eacute; will consult  informally and prepare draft conclusions.</p>
                               <p class="textstory"><strong>Greenhouse gas data interface:</strong> The Secretariat reported on the development of the greenhouse gas data  interface. The SBSTA took note of the information and agreed to continue  consideration of the issue at SBSTA 34.</p>
                               <p class="textstory"><strong>METHODOLOGICAL ISSUES  (PROTOCOL): Technical review of Annex I Protocol parties&rsquo; greenhouse gas  inventories and other information: </strong>The Secretariat introduced the item  (FCCC/SBSTA/2010/INF.9). The SBSTA took note of the annual report. </p>
                               <p class="textstory"><strong>Common metrics to calculate  carbon dioxide (CO2) equivalence:</strong> SBSTA Chair Konat&eacute; noted that the AWG-KP  has considered the common metrics to calculate CO2 equivalence for more than  two years and that SBSTA 32 did not reach agreement on this issue. The EU  stated that consideration of this issue by the SBSTA is premature, while BRAZIL  stressed problems caused by the use of global warming potentials, saying this  has misguided mitigation efforts. The SBSTA agreed to defer substantive  discussions until the next session.</p>
                               <p class="textstory"><strong>Carbon dioxide capture and  storage (CCS) in geological formations under the CDM: </strong>SBSTA Chair Konat&eacute;  highlighted a draft text forwarded by SBSTA 32. NORWAY, AUSTRALIA, SAUDI ARABIA  and others supported the inclusion of CCS under the CDM, while BRAZIL and  others expressed reservations. Pedro Martins Barata (Portugal) and Andrea  Garc&iacute;a (Colombia) will consult informally.</p>
                               <p class="textstory"><strong>Standardized baselines under  the CDM: </strong>The Secretariat introduced the issue (FCCC/SBSTA/2010/MIC.13 and  Add.1, FCCC/TP/2010/4). The EU, SWITZERLAND, AUSTRALIA and others highlighted  the benefits of using standardized baselines under the CDM. BRAZIL underscored  the importance of additionality and said standardized baselines would change  the CDM&rsquo;s nature, while PAPUA NEW GUINEA said they would be compatible with the  current definition and make the CDM more efficient and objective. Peer Stiansen  (Norway) and Hugh Sealy (Grenada) will consult informally.</p>
                               <p class="textstory"><strong>Inclusion of lands with forests  in exhaustion under the CDM: </strong>The EU, supported by SAUDI ARABIA, said that  this issue should be addressed through the REDD+ discussions under the AWG-LCA  and LULUCF discussions under the AWG-KP. ETHIOPIA, supported by BRAZIL,  suggested a technical workshop. Eduardo Sanhueza (Chile) will consult  informally.</p>
                               <p class="textstory"><strong>SCIENTIFIC, TECHNICAL AND SOCIO-ECONOMIC  ASPECTS OF MITIGATION OF CLIMATE CHANGE: </strong>The Secretariat introduced the  issue (FCCC/SBSTA/2010/11).&nbsp; SBSTA Chair  Konat&eacute; highlighted negotiations on enhanced mitigation by the AWG-LCA and  AWG-KP, saying their outcomes could have implications on the SBSTA&rsquo;s work on  this issue. The SBSTA agreed to take note of the report.</p>
                               <p class="textstory"><strong>OTHER MATTERS: </strong>The  Secretariat explained that since no new information has been received on  Activities Implemented Jointly under the pilot phase by the June 2010 deadline,  it has not provided an updated report. SBSTA Chair Konat&eacute; will prepare a draft  decision and draft conclusions. </p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS</em></strong></p>
                               <p class="textstory">As the sun continued to shine  outside the Moon Palace, attention inside the conference venue focused on the  opening sessions of the SBI and SBSTA. Throughout the day, both Subsidiary  Bodies worked &ldquo;relatively swiftly and smoothly&rdquo; through their respective  agendas, deferring some substantive discussions to June 2011 and instructing  negotiating groups to report back to the Chairs by Friday. &ldquo;It feels good to  turn attention to standard business,&rdquo; volunteered one delegate. </p>
                               <p class="textstory">Meanwhile, both AWGs held a series  of informal consultations on the long-term issues. Some negotiators described  the AWG-KP&rsquo;s informal consultations on &ldquo;numbers&rdquo; by saying:&nbsp; &ldquo;Not much had changed: We continued  discussing carryover of surplus AAUs - it&rsquo;s like we never left Tianjin!&rdquo; Some,  however, were heard wondering about the impact of Japan&rsquo;s &ldquo;bombshell&rdquo; statement  on Monday that it would neither inscribe its commitments in an amended Protocol  Annex B, nor accept a COP/MOP decision extending the Protocol&rsquo;s first  commitment period or establishing a second commitment period. One seasoned  observer estimated that &ldquo;the lines in the sand are now clearly drawn - Japan  won&rsquo;t accept a second Protocol period and many developing countries saying  there will be no progress under the AWG-LCA without concrete progress under the  AWG-KP.&rdquo; Under the AWG-LCA, some negotiators were finding it hard to keep track  of texts and proposals on various issues, including those rumored to be under  preparation: &ldquo;I feel like I&rsquo;m working with a moving target,&rdquo; said one seasoned  negotiator, &ldquo;new texts seem to be introduced every time I think I have a grasp  of the old one.&rdquo;</p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
