<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>COPENHAGEN HIGHLIGHTS - Wednesday, 16 December 2009 - Copenhagen - Denmark</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change (UNFCCC) and Fifth Meeting of the Parties to the Kyoto Protocol (COP 15 and COP/MOP 5), 7-18 December 2009, Copenhagen, Denmark">
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin, Climate Change, Fifteenth Conference of the Parties to the UN Framework Convention on Climate Change and Fifth Meeting of the Parties to the Kyoto Protocol, Wednesday, 16 December 2009, Copenhagen, Denmark">
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style7 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="title_earth style5 style7">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12457e.pdf"><img src="/dailies_images/images/generic/pdficonsm0.gif" alt="Download PDF version" width="15" height="15" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12457f.html"><img src="/images/french_logo.jpg" alt="French version" width="22" height="14" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12457s.html"><img src="/dailies_images/images/generic/spanish_logo.gif" alt="Spanish version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop15/japanese/enb12457j.pdf"><img src="/crs/whales/pew2/images/generic/japan-1.gif" alt="Japanese version" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 457 - Thursday, 17 December 2009</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">COPENHAGEN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Wednesday, 16 December 2009</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">On Wednesday  morning, the COP/MOP plenary convened, followed by the opening of the  high-level segment. The high-level segment continued into the evening with a  number of Heads of State, Heads of Government and Ministers delivering national  statements. Under the COP/MOP, contact groups on joint implementation and the  CDM also took place in the afternoon and evening. The COP plenary took place in  the evening. </p>
                               <p class="textstory"><em><strong>COP/MOP PLENARY</strong></em></p>
                               <p class="textstory"><strong>report of the Awg-kp: </strong>COP/MOP President Hedegaard noted that a group comprising fifty  participants would meet to consider how to move forward. </p>
                               <p class="textstory">Chair Ashe then  presented the AWG-KP&rsquo;s report (FCCC/KP/AWG/2009/L.15), explaining that the  AWG-KP had met in contact groups considering Annex I emission reductions, other  issues and potential consequences. He underscored significant progress but  regretted that parties were unable to reach agreement on amendments to the  Kyoto Protocol. He expressed confidence that the COP/MOP would take appropriate  action on the text developed by the AWG-KP. </p>
                               <p class="textstory">BRAZIL and INDIA raised points of order concerning access  to the Bella Center. The Secretariat apologized for  &ldquo;teething problems&rdquo; in implementing new security measures.</p>
                               <p class="textstory">TUVALU expressed  &ldquo;extreme disappointment&rdquo; with lack of progress under the AWG-KP and, opposed by  INDIA,  urged consideration of parties&rsquo; proposals for Protocol amendments as &ldquo;a  lifeboat for a sinking process.&rdquo; South Africa,  for the G-77/CHINA, supported by INDIA,  the PHILIPPINES, CHINA, Algeria,  for the AFRICAN GROUP, OMAN  and ZAMBIA,  requested further time to resolve outstanding technical issues in the AWG-KP&rsquo;s  text. The EU noted that the text was &ldquo;well developed&rdquo; and that political choices  must now be made.&nbsp; </p>
                               <p class="textstory">COP/MOP President  Hedegaard then suspended the plenary to allow the high-level segment to  convene.</p>
                               <p class="textstory">UNFCCC Executive  Secretary de Boer said he had received a letter of resignation by COP/MOP  President Hedegaard and, in accordance with the draft rules of procedure,  announced the nomination of Danish Prime Minister Lars L&oslash;kke Rasmussen as her  replacement. He also noted that Connie Hedegaard had been appointed as the COP  President&rsquo;s Special Representative and would be continuing her efforts in  informal consultations. </p>
                               <p class="textstory">COP President&rsquo;s  Special Representative Hedegaard noted that as a consequence of the arrival of  the large number of Heads of State and Government, it was appropriate that the  Prime Minister of Denmark take over the position of the COP President. She also  outlined plans by the COP Presidency to table a package for the outcome,  consisting of two texts that are &ldquo;based substantially on the two texts  forwarded by the AWGs.&rdquo; She said the texts would be available shortly. </p>
                               <p class="textstory"><em><strong>HIGH-LEVEL SEGMENT </strong></em></p>
                               <p class="textstory">During COP  President Rasmussen&rsquo;s opening remarks, several parties raised points of order. BRAZIL sought  clarification on the texts proposed by the Danish COP Presidency, questioning  why they were presented when the COP plenary had not convened to consider the  AWG-LCA&rsquo;s report. UNFCCC Executive Secretary de Boer informed delegates that  the COP plenary would convene in the early afternoon to consider the AWG-LCA&rsquo;s  report and decide on how to proceed in terms of taking the documents forward. </p>
                               <p class="textstory">BRAZIL, supported by CHINA,  said preparing new texts and focusing subsequent discussions on how to take  them forward created the impression that text negotiated by parties would not  form the basis of further work. China identified the issue as &ldquo;one of trust  between the host country and parties,&rdquo; noting that the procedure had not been  transparent. He stressed that &ldquo;the only legitimate basis&rdquo; for an outcome from Copenhagen is an outcome  from the AWGs and the Presidency could not &ldquo;put forward text from the sky.&rdquo; India underscored that only the AWG-LCA and  AWG-KP texts negotiated by parties should guide further negotiations. The Maldives proposed moving forward by considering  the new texts proposed by the COP Presidency.&nbsp; </p>
                               <p class="textstory">Sudan, for the G-77/CHINA, emphasized that parties had agreed on a  two-track, party-driven, transparent negotiating process and were not ready to  &ldquo;rubber stamp text coming out of the blue.&rdquo; Ecuador drew attention to &ldquo;serious procedural  problems,&rdquo; highlighting lack of transparency and inclusiveness. SOUTH AFRICA  recalled the COP Presidency&rsquo;s undertaking to ensure a party-driven process. BOLIVIA  said the problem was one of substance, not just procedure, highlighting that  the Danish texts did not reflect the outcome of a democratic or participatory  process.</p>
                               <p class="textstory">COP President  Rasmussen explained that the Danish texts had not yet been presented and that  the Presidency fully respected the will of parties. He reminded parties that  the COP plenary would convene in the afternoon and parties could then decide  how to proceed. </p>
                               <p class="textstory">Parties then  moved on to the high-level segment to hear statements by Heads of State, Heads  of Government and other heads of delegation. </p>
                               <p class="textstory">Nafie Ali Nafie,  Assistant President of Sudan, for the G-77/CHINA, stressed the need to maintain  a two-track outcome under the AWG-KP and AWG-LCA, establish a second commitment  period under the Kyoto Protocol on the basis of comparable and ambitious  emission reductions, and respect the Convention&rsquo;s principles of equity and  common but differentiated responsibilities. </p>
                               <p class="textstory">Meles Zenawi,  Prime Minister of Ethiopia, for the AFRICAN GROUP, noted the importance of  Africa speaking with one voice, and outlined a short-term finance proposal that  includes: US$10 billion per year for 2010-2012; a board of trustees with  representatives from an equal number of donor and recipient countries; 40% of  funds earmarked for Africa; and a committee of experts to facilitate the launch  of the fund. On long-term financing he said, <em>inter alia</em>, that US$100  billion per year by 2020 would be required with at least 50% earmarked for the  LDCs and SIDS, and that Africa&rsquo;s share should  be administered by the African Development Bank. </p>
                               <p class="textstory">Tillman Thomas,  Prime Minister of Grenada, for AOSIS, called on all countries to work together  to ensure that the Copenhagen  outcomes fulfill the hopes and aspirations of millions of people &ldquo;depending on  us to do the right thing to help them stay alive.&rdquo; He stressed that all  countries must take &ldquo;strong measures&rdquo; to achieve needed emission reductions to  achieve the goal of limiting temperature increase to well below 1.5&deg;C and atmospheric greenhouse gas  concentrations to below 350 ppm, in accordance with their common but  differentiated responsibilities.</p>
                               <p class="textstory">Pakalitha Bethuel Mosisili, Prime Minister of Lesotho, for the LDCs, noted progress by LDCs in  developing their national adaptation programmes of action (NAPAs), and called  for scaling up accessible, predictable and sustainable finance for LDCs that is  additional to official development assistance. </p>
                               <p class="textstory">Andreas Calgren,  Minister for the Environment of Sweden, for the EU, urged parties not to leave Copenhagen without a  legally-binding, ambitious, global and comprehensive agreement for all  countries, including actions from developed countries and emerging economies.  He called on the US to adopt  legally-binding, economy-wide emission reduction commitments and on China  to adopt binding actions, urging these countries to &ldquo;unleash their full  potential&rdquo; to enable the world to achieve the objective of limiting the global  temperature increase to below 2&deg;C. </p>
                               <p class="textstory">Penny Wong,  Minister for Climate and Water of Australia, for the UMBRELLA GROUP, called for  an agreement delivering an environmental outcome and which has legally-binding  commitments for all major economies to realize a 50% reduction in global  emissions by 2050. She highlighted the core element of mobilizing US$120  billion from public and private sources, including carbon markets, particularly  for vulnerable and LDCs.&nbsp; </p>
                               <p class="textstory">A webcast of the  statements made during the high-level segment will be available online at: <a href="http://www.un.org/webcast/unfccc/" target="_blank" class="linknegro">http://www.un.org/webcast/unfccc/</a> </p>
                               <p class="textstory"><em><strong>COP PLENARY</strong></em></p>
                               <p class="textstory">COP  Vice-President Figueres Olsen opened the COP plenary noting that the meeting of  the COP/MOP remained suspended. AWG-LCA Chair Zammit Cutajar presented the  report of the AWG-LCA (FCCC/AWGLCA/2009/L.7 Rev.1, and Add.1, Add.2 Rev.1,  Adds. 3-7, Add.8 Rev.1, and Add.9). Noting that the main output of the group is  a set of conclusions presenting decision text to COP 15, he emphasized that the  text does not prejudice the possible form or legal nature of the outcome  adopted by the COP. He stressed that while substantial progress has been made,  the text has not been completed, requires further work and that, as a package,  nothing is agreed until everything is agreed. </p>
                               <p class="textstory">Figueres Olsen  noted the historic nature of the process undertaken to fulfill the BAP. She  said that COP President Rasmussen is consulting with parties on how to proceed  and that he would inform parties in the morning on the outcome of these  consultations and that the COP plenary would be suspended and resume in the  morning. INDIA  requested textual changes to make the text more consistent with the Convention,  changes to the sections on NAMAs and on financial resources and investment. </p>
                               <p class="textstory">TUVALU requested clarity on the process moving forward and specifics on  how consultations would be conducted.</p>
                               <p class="textstory">COP  Vice-President Figueres Olsen clarified that the COP President is &ldquo;consulting  on how to conduct consultations&rdquo; and noted that it had been an extraordinary  day and that the road forward was not clear. </p>
                               <p class="textstory">BANGLADESH, TUVALU, EGYPT  and GUATEMALA  said they had yet to be contacted by the COP President for consultations and  noted that they should be inclusive, transparent and include all major groups. ECUADOR  expressed concern with the final outcome and worried that basic standards of  multilateralism would be violated. </p>
                               <p class="textstory">The REPUBLIC OF KOREA emphasized that some proposals had  not yet been discussed in the contact group. AUSTRALIA urged moving to  outstanding issues, saying this should be done at the ministerial level. BOLIVIA, SAUDI   ARABIA, NIGERIA,  ARGENTINA, VENEZUELA and PAKISTAN urged openness,  transparency and inclusiveness in the consultations, lamenting the lack of  transparency so far. ARGENTINA  said consultations must be carried out with all countries, and requested that  her Minister of Foreign Affairs be included. CUBA  highlighted the need for efficient use of time, noting that the COP plenary had  been scheduled for 1:00 pm but had only convened at 10:00 pm. BANGLADESH  requested the COP President to engage with parties constructively. COLOMBIA  urged parties not to debate process, noting that these discussions are being  held elsewhere. </p>
                               <p class="textstory">Costa Rica welcomed the report of the AWG-LCA and called for an ambitious and  legally binding agreement. The US  said that the text posed issues, which were not final nor finished and  expressed willingness to work on specifics, noting that the relevant decisions  would have enormous value. The COP Vice-President said that she would convey  the general message to the COP President on the need for: quick clarity on the  way forward; effective use of time; and an inclusive and transparent process.  The COP Plenary was suspended at 11:03 pm.&nbsp; </p>
                               <p class="textstory"><em><strong>CONTACT GROUPS AND INFORMAL CONSULTATIONS</strong></em></p>
                               <p class="textstory"><strong>joint implementation:</strong> Co-Chair Barata invited discussion on text relating to share of  proceeds and issues related to double counting. CANADA called for bracketed text to  be restructured to reflect clear options. </p>
                               <p class="textstory">The RUSSIAN FEDERATION requested adding a footnote  to the options indicating they may require a Protocol amendment and said, with CHINA  disagreeing, that this is not the right place or time for these discussions.  Co-Chair Barta encouraged parties to consult bilaterally and noted another  meeting would be scheduled for Thursday. </p>
                               <p class="textstory"><strong>CDM:</strong> During a contact group meeting in the afternoon, parties based  discussions on a revised draft COP/MOP decision on further guidance relating to  the CDM. </p>
                               <p class="textstory">On guidance to  the CDM Executive Board, parties discussed matters relating to: improving the  transparency, consistency and impartiality of the Board; conflicts of interests  of Board members; the skills, expertise and time commitment required from Board  members; a possible appeals procedure; and deferring payment of registration  fees in countries with fewer than ten CDM projects. Parties were able to reach  agreement on most paragraphs except those relating to: the prerogative of the  host country to decide on incentive policies; conflicts of interest of Board  members; the development of standardized baselines; the definition of forests  in exhaustion; including CCS under the CDM; and providing loans to countries  with fewer than ten registered projects.</p>
                               <p class="textstory">Parties agreed that the issues on which agreement could not be  reached should be forwarded to Ministers for consideration.</p>
                               <p class="textstory"><em><strong>IN THE CORRIDORS</strong></em></p>
                               <p class="textstory">&ldquo;What a crazy  day!&rdquo; This was how many described developments both inside and outside the Bella Center  on Wednesday.</p>
                               <p class="textstory">As the AWG-LCA  was winding up its closing plenary just before 7:00 am, other delegates began  returning to work. At the same time, police had surround the area in  anticipation of protests and possible attempts by demonstrators &ldquo;to take over&rdquo;  the Bella Center. Indeed, violent clashes outside  the Center between demonstrators and police punctuated the morning. Inside the  building, two individuals also jumped on to the podium during one of the  high-level national statements, calling for &ldquo;climate justice&rdquo; before detonating  a &ldquo;sound bomb.&rdquo; </p>
                               <p class="textstory">The beginning of  the high-level segment in the morning was no less dramatic. First, COP  President Hedegaard passed her responsibility to Danish Prime Minister  Rasmussen - a development subject to a lot of speculation in the corridors and  the media. Some interpreted this as a dramatic &ldquo;resignation,&rdquo; speculating that  it resulted from tensions between the COP President and developing countries,  or was prompted by a decision taken by certain Prime Ministers. Others,  however, noted that they had been informed about this in advance, saying it was  &ldquo;a question of protocol&rdquo; to hand the Presidency over to the Prime Minister as  Heads of State start arriving. &ldquo;Be it as it may, she will still be heavily  involved in the negotiations,&rdquo; commented one delegate. </p>
                               <p class="textstory">Another &ldquo;hot  topic&rdquo; in the corridors related to the announcement by the Danish Presidency  that it intended to table two texts as a possible Copenhagen outcome - something that many had  already anticipated, or feared, following text leaked last week. Inside the  plenary, many developing countries voiced their objection to the planned  procedure. In the corridors, many were &ldquo;outraged&rdquo; at what they described as an  attempt to sideline the work done by the AWGs. &ldquo;What is going on? What are they  doing?&rdquo; despaired one veteran negotiator. &ldquo;Tense backroom discussions&rdquo; were  reportedly occurring behind the scenes during the day to determine how to  proceed. However, most delegates, even many well-known negotiators, appeared to  be unaware of the exact details of these consultations. &ldquo;This has been an extraordinary  day in the UNFCCC negotiations. My best advice is for us all to have a good  night&rsquo;s sleep tonight so that we can come back tomorrow with renewed energy  needed to complete our work,&rdquo; remarked COP Vice-President Figueres Olsen as she  wrapped up the COP&rsquo;s evening plenary. </p>
                               </td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop15/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Anna Schulz, Matthew Sommerville, Chris Spence, and Yulia Yamineva. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the United Kingdom (through the Department for International Development &ndash; DFID), the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the Netherlands Ministry of Foreign Affairs, the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2009 is provided by the Government of Australia, the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, the United Nations Environment Programme (UNEP), and the World Bank. Funding for translation of the Bulletin into French at this meeting has been provided by the International Organization of the Francophonie (IOF). Funding for translation of the Bulletin into Spanish at this meeting has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11A, New York, New York 10022, USA. The ENB Team at the Copenhagen Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2009, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
