<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CANCUN HIGHLIGHTS, Thursday, 9 December 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, CANCUN HIGHLIGHTS, Thursday, 9 December 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12497e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12497f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12497s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12497j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 497 - Friday, 10 December 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">CANCUN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Thursday, 9 December 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">On  Thursday, contact groups and informal consultations, including discussions at  the ministerial level, were held throughout the day. Late in the evening, COP  and COP/MOP President Espinosa convened an informal stocktaking plenary.  Throughout the day, the high-level segment continued with statements from heads  of states, governments and delegations. A webcast of all statements is  available online at: <a href="http://webcast.cc2010.mx/" target="_blank" class="linknegro">http://webcast.cc2010.mx</a></p>
                               <p class="textstory"><strong><em>CONTACT GROUPS AND INFORMAL CONSULTATIONS </em></strong></p>
                               <p class="textstory"><strong>JI (COP/MOP):</strong> During the  morning informal consultations, parties continued considering a draft COP/MOP  decision paragraph-by-paragraph. </p>
                               <p class="textstory">Parties  discussed a paragraph allowing crediting from JI projects after the first  commitment period, using Assigned Amount Units (AAUs) from the first commitment  period. Several parties objected to this paragraph, stating that a conversion  of first commitment period AAUs to Emission Reduction Units (ERUs) must be  based on emission reductions achieved in the first commitment period. One party  noted that his country is not in a position to accept any text that deals with  emission reductions achieved after 2012. A number of parties proposed  alternative formulations to address the issue, such as requesting the AWG-KP  to: propose options for addressing a potential gap between the first and second  commitment periods and present the work to COP/MOP 7; or consider the JI  Supervisory Committee&rsquo;s proposal with regard to the generation of ERUs after 31  December 2012. </p>
                               <p class="textstory">Regarding  the introduction of a fee for JI Track 1 projects, parties considered various  textual formulations and proposals for the level of the fee. Consensus  eventually emerged on a fee and review of JI. During evening informal  consultations, outstanding issues remained concerning the continuity of JI  projects beyond 2012 and Annex I parties whose quantified emission reduction  and limitation commitment has not yet been inscribed in Protocol Annex B but  who wish to host JI projects. Informal consultations continued. </p>
                               <p class="textstory"><strong>MITIGATION (response measures) (AWG-LCA): </strong>In the morning AWG-LCA drafting group on the  sub-paragraph 1(b)(vi) of the Bali Action Plan, parties disagreed on which text  they should use as the basis for further discussions. Many developing countries  supported using text from Tianjin as modified by negotiations in the drafting group,  while some developed countries supported using the new Chair&rsquo;s text as the  basis for compromise. One developed country proposed using the new Chair&rsquo;s text  to move forward while inserting some missing options to reflect all parties&rsquo;  views and provide a basis for political decisions by ministers. This proposal  was supported by several other developed countries, but opposed by many  developing countries. Parties agreed to continue meeting to consolidate similar  options within their groups in the hope of presenting the Chair with two clear  options on each controversial issue. </p>
                               <p class="textstory"><strong>ADAPTATION FUND (COP/MOP):</strong> Parties reconvened for informal consultations in the morning, engaging in  extensive debate over text dealing with regional and sub-regional workshops  aimed at familiarizing parties with the process and requirements for the  accreditation of national implementing entities. While developing countries  wanted at least three workshops with the possibility of another, some developed  countries wanted &ldquo;up to three&hellip; as circumstances permit.&rdquo; Parties eventually  agreed a formulation that would allow for &ldquo;up to three&hellip; as appropriate, with  the possibility of another as circumstances permit, and as warranted&hellip;&rdquo; </p>
                               <p class="textstory">Parties  then reconvened in a formal contact group and agreed on the draft COP/MOP  decision. Several parties expressed pleasure that agreement had been possible,  and welcomed the spirit of compromise. The Philippines, for the G-77/CHINA,  expressed hope that the outcome would facilitate rapid progress. </p>
                               <p class="textstory"><strong>COMPLIANCE (COP/MOP): </strong>During  the afternoon contact group, parties considered a draft COP/MOP decision on the  Compliance Committee&rsquo;s report, as well as bracketed draft text on Croatia&rsquo;s  appeal against a decision of the Enforcement Branch. Parties agreed to forward  the draft decision to the COP/MOP. </p>
                               <p class="textstory">On  the appeal by Croatia, BOLIVIA proposed broadening the scope of a proposed  technical paper, aimed at outlining the process and applicable rules for the  consideration of appeals, to include the consideration of legally-binding consequences  for non-compliance. This was opposed by several parties, with CANADA  emphasizing that the objective of the technical paper is to assist parties in  moving forward with the appeal by Croatia. Bolivia then withdrew this proposal. </p>
                               <p class="textstory">BOLIVIA also proposed a new  paragraph on the COP/MOP encouraging the SBI to conclude its work on agenda  item 14 (amendments to the Kyoto Protocol with respect to procedures and  mechanisms relating to compliance). The proposal was opposed by CANADA, the EU,  JAPAN and AUSTRALIA who, acknowledging Bolivia&rsquo;s concerns, emphasized that they  do not fall within the remit of the group. The Cook Islands, for AOSIS,  suggested that Bolivia raise the matter in the COP/MOP plenary.&nbsp;Parties  agreed that Co-Chair&nbsp;Richard Tarasofsky (Canada) would raise Bolivia&rsquo;s  concerns in his oral report to the COP/MOP. Parties then agreed to forward the  draft conclusions to the COP/MOP with other amendments.</p>
                               <p class="textstory"><strong>CHAPTER I (numbers) (AWG-KP): </strong>Parties  discussed options for removing brackets on proposed text to amend Protocol  Article 3.9 (Annex I further commitments) concerning when to start  consideration of commitments for the third and subsequent commitment periods.  Parties also discussed base year. On a carryover of AAUs, some parties  expressed interest in combining options, while others preferred no change to  the existing rules. One country proposed text on an option for a 5% cap that  applies only to the first commitment period. Another party suggested limits on  a fixed amount of emissions or a percentage, whichever is greater. The group  forwarded the text to the Chair of the AWG-KP.</p>
                               <p class="textstory"><strong>CDM (COP/MOP): </strong>The CDM  contact group convened on Thursday evening. PAPUA NEW GUINEA, supported by  SOUTH AFRICA, opposed the introduction of new text by the Co-Chairs, stating  that the text had already been gaveled during informal consultations last  night. He stressed the party-driven nature of the negotiations, observing that  the &ldquo;text appears from nowhere.&rdquo; </p>
                               <p class="textstory">BOLIVIA reiterated that her  country had opposed small-group negotiations and stressed opposition to  paragraph 52 on revising procedures for CDM project registration. </p>
                               <p class="textstory">Co-Chair Kunihiko Shimada (Japan)  thanked Bolivia for her flexibility concerning participation in the informal  consultations. He explained that consultations had continued past 3 am in the  morning and highlighted that &ldquo;tremendous progress&rdquo; had been made. The  Secretariat explained that the Chair had ruled at the end of the informal  consultations that the text was clear and ready to come to the contact group,  while also reminding delegates that &ldquo;nothing is agreed until everything is  agreed&rdquo; and that the entire text therefore remains in brackets. </p>
                               <p class="textstory">Going through the text, parties  agreed on all paragraphs apart from paragraph 52 on the Executive Board  revising the procedures for CDM project registration to allow the crediting  period to start from the date that a complete request for registration has been  submitted, which was bracketed at the request of Bolivia. PAPUA NEW GUINEA  stressed that the paragraph relates to his country&rsquo;s proposal and suggested  leaving it bracketed without further informal consultations, saying they were  unlikely to yield results.</p>
                               <p class="textstory">Parties also discussed three  annexes to the draft COP/MOP decision. BOLIVIA requested bracketing all of  them, saying parties had not had time to analyze them and also noting concerns  about issues related to code of conduct and conflict of interest. JAPAN  stressed the &ldquo;enormous effort&rdquo; to provide text in the annexes to everyone a  month before the meeting, and that the annexes &ldquo;were adopted two days ago.&rdquo;  BOLIVIA underscored the importance of environmental integrity, and indicated  that the bracketed paragraph is &ldquo;only meant to make more money with the CDM and  for the investors without helping the climate.&rdquo; Co-Chair Shimada indicated that  all annexes remain in brackets. Informal consultations continued.</p>
                               <p class="textstory"><strong>MITIGATION (sectoral approaches  and sector-specific actions) (AWG-LCA): </strong>During informal consultations, it  was suggested that possible outcomes from Cancun could include a simplified  text on the general framework with a streamlined and clear text on agriculture,  and that these texts could be forwarded for further discussion to the next  session of the group, in 2011. Many parties opposed working on the general  framework in the absence of agreement on the text on bunker fuels. Some  supported addressing the text on agriculture and the general framework in small  parallel groups. Many others supported considering the general framework and  then the agriculture text in a small group. Parties eventually agreed to  convene a friends-of-the-facilitator group and report back to the main group.<strong>&nbsp;</strong></p>
                               <p class="textstory"><strong>CHAPTER II (LULUCF) (AWG-KP): </strong>In  the morning informal consultations, new proposals were made on text on  harvested wood products, <em>force majeure </em>and on a cap for LULUCF. Parties  continued to discuss the review process for reference levels. Late into the  evening, parties considered how to reflect their work in a new Chair&rsquo;s text on  Friday. </p>
                               <p class="textstory"><strong>ITEM 3 (Annex I further  commitments) (AWG-KP): </strong>In the evening contact group, AWG-KP Chair Ashe  invited spin-off group facilitators to report on their work. </p>
                               <p class="textstory">On numbers, J&uuml;rgen Lefevre (EU)  reported that text on Annex B had been streamlined to include only two options  and that options on Protocol Article 3.9 (future commitment periods) although  not clean, reflect political choices. He noted that some parties had expressed  concern about the texts and how they would move forward. </p>
                               <p class="textstory">On LULUCF, Marcelo Rocha (Brazil)  noted progress and said that options are integrated in the current text, but  that it may be useful to separate options to clarify the decisions to be made,  highlighting ongoing discussions.</p>
                               <p class="textstory">On the flexibility mechanisms,  AWG-KP Vice-Chair Adrian Macey (New Zealand) highlighted the focus of  discussions on enhancing co-benefits under the CDM and increasing the use of  Certified Emission Reductions from certain host countries. He said that the  inclusion of CCS under the CDM and standardized baselines have been &ldquo;put on  hold&rdquo; because they are under consideration by the COP/MOP based on work by the  SBSTA. He described three sets of decisions: political decisions; those linked  to ongoing AWG-KP discussions; and those related to work in the AWG-LCA. AWG-KP  Vice-Chair Macey then noted that after three years of negotiations on the  flexibility mechanisms, parties had only agreed on one paragraph.</p>
                               <p class="textstory">On the basket of methodological  issues, AWG-KP Vice-Chair Macey highlighted concerns related to global warming  potential of short lived gases in the section on common metrics and the practical  challenges for inclusion of some new gases. </p>
                               <p class="textstory">AWG-KP Chair Ashe noted that his  revised text (FCCC/KP/AWG/CRP.4/Rev.3) would be available on Thursday night,  but that this may be further revised based on continued discussions in the  LULUCF group.</p>
                               <p class="textstory"><strong><em>PRESIDENT&rsquo;S INFORMAL STOCKTAKING PLENARY</em></strong></p>
                               <p class="textstory">Late on Thursday evening, an  informal stocktaking plenary convened by COP and COP/MOP President Espinosa  took place. She explained that  informal ministerial meetings had been held  throughout the day with a commitment to transparency and inclusiveness.  President Espinosa underscored that a broad package of decisions is still  within the grasps of the parties and then invited ministers to report on the  informal consultations they had facilitated. </p>
                               <p class="textstory">On a shared vision for long-term cooperative  action, SWEDEN highlighted a focus on three issues: a temperature goal; a  long-term global goal for emission reductions; and peaking of global emissions. </p>
                               <p class="textstory">On finance, BANGLADESH highlighted that  consultations had resulted in two potentially acceptable options on the  establishment of the fund, noting compromises that could be made across the  text. </p>
                               <p class="textstory">On adaptation, SPAIN and ALGERIA noted  consultations on the establishment of an adaptation committee, facilitation of  access to the fund, an international mechanism to address loss and damage, as  well as consolidation of regional centers.</p>
                               <p class="textstory">On  MRV, NEW ZEALAND said that consultations were focused on ICA and included  issues, such as frequency and categorization. He highlighted positive  engagement from a number of parties, as well as proposals submitted by  developing countries that he expected to &ldquo;prove helpful&rdquo; in reaching a balanced  text. He identified balance between transparency and avoiding unreasonable  burden on countries as the key challenge.&nbsp; </p>
                               <p class="textstory">On  REDD+, NORWAY and ECUADOR reported on key outstanding issues: financing; scope  of a REDD+ mechanism; connection between the national and sub-national levels;  and MRV of safeguards. ECUADOR explained that parties were close to agreeing on  a balanced text. Calling for a spirit of compromise, NORWAY said that &ldquo;no  family, no community and no international community can survive without a  compromise.&rdquo; </p>
                               <p class="textstory">On  technology, FRANCE underscored the need for convergence on issues including the  establishment of a technology mechanism, a technology committee and CTCNs. She  explained that some parties would make further proposals on issues such as  governance, and that further work would seem to be necessary on technology in  2011. </p>
                               <p class="textstory">On  CCS and response measures, SWITZERLAND indicated that parties&rsquo; views remain  divergent, while expressing hope that after further consultations, a new text  proposal could be submitted. </p>
                               <p class="textstory">AWG-LCA  Chair Margaret Mukahanana&shy;Sangarwe (Zimbabwe) reported on issues that were not  subject to ministerial consultations. On various approaches, including  opportunities for using markets, to enhance the cost-effectiveness of, and to  promote, mitigation actions, she said that the group had not yet reported back.  On sectoral approaches, she said no agreement was reached. She also explained  that since parties were unable to agree on a paragraph concerning &ldquo;general  framing,&rdquo; some were unwilling to address particular sectors. She highlighted that  text on agriculture is &ldquo;well advanced&rdquo; but that the group is not undertaking  further consultations. Stressing the importance of agreement on introductory  text, President Espinosa requested the AWG-LCA Chair to provide a text  reflecting the state of discussions. </p>
                               <p class="textstory">AWG-KP  Chair John Ashe (Antigua and Barbuda) reported that the AWG-KP spin-off groups  have met throughout the week. He identified limited scope for advancing the  substantive work further and called for political guidance to overcome  obstacles. He noted a revised version of the AWG-KP Chair&rsquo;s text was available  (FCCC/KP/AWG/CRP.4/Rev.3).</p>
                               <p class="textstory">Underscoring the rapidly  approaching deadline, President Espinosa encouraged further consultations to be  held during the night and announced that the next stocktaking plenary would  convene at 8:30 am on Friday. She also stressed that closer political guidance  should not sacrifice transparency. President Espinosa explained that, in a few  hours, the Secretariat would circulate the draft texts reflecting work done during  the informal consultations. She emphasized that this text would not constitute  a &ldquo;Mexican text&rdquo; but a text based on parties&rsquo; views, and urged parties to look  beyond their national interest to reach agreement by Friday evening.</p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS</em></strong></p>
                               <p class="textstory">On Thursday morning, weary delegates congregated to continue a number of  informal consultations at the Moon Palace after all-night negotiations that had  included an informal ministerial stocktaking at midnight and what a seasoned  negotiator characterized as a &ldquo;vague&rdquo; text on mitigation under the Convention  and Protocol tracks. Overall, the mood permeating the building in the morning  was subdued with delegates reporting &ldquo;very little progress&rdquo; on many important  issues. </p>
                               <p class="textstory">Meanwhile, Heads of State and government continued to deliver national  statements, including Bolivian President Evo Morales who stressed the need to  extend the Kyoto Protocol and ensure protection for Mother Earth. Other Latin  American countries, including Venezuela, reiterated their positions on temperature  rise and other issues but confirmed their commitment to &ldquo;stay in the room and  seek convergence&rdquo; among the parties. </p>
                               <p class="textstory">Throughout the day, informal ministerial consultations took place in  &ldquo;informal informals&rdquo; chaired by pairs of ministers from developing and  developed countries on mitigation, a shared vision, REDD+, technology, MRV/ICA,  finance, CCS amd response measures and adaptation. Some drafting groups also  continued to make headway to refine texts to identify clear options for  political decision. </p>
                               <p class="textstory">Reflecting on progress on Thursday afternoon, many continued to identify  MRV/ICA as one of the primary sticking points. A senior negotiator noted that  countries also continued to put forward &ldquo;strong and divergent positions&rdquo; about  the continuation of the Kyoto Protocol. At that stage, others said there was  &ldquo;little positive to note&rdquo; coming out of discussions on adaptation, finance and  a shared vision. &ldquo;Compromise appears to be aspirational rather than operational  in these negotiations,&rdquo; opined a delegate emerging from a ministerial meeting.  Some NGOs representatives indicated they were increasingly frustrated with the  delay in reaching decisions.</p>
                               <p class="textstory">Just after 9 pm, an informal stocktaking session was convened by COP and  COP/MOP President Espinosa. Ministers leading the informal consultations  suggested that while issues had been &ldquo;better elaborated,&rdquo; compromise texts on  the Kyoto Protocol, mitigation and MRV had not been crafted. The stocktaking  ended at around 11 pm with a reminder from President Espinosa that &ldquo;very few  hours for actual negotiating&rdquo; remained. Already-tired delegates therefore  prepared themselves for &ldquo;another marathon all-nighter.&rdquo; One high-level  representative indicated that &ldquo;there is still a deal to be done - but we could  also end up with a belly flop.&rdquo;</p>
                               <p class="textstory"><strong>ENB SUMMARY AND ANALYSIS:</strong> The <em>Earth Negotiations  Bulletin</em> summary and analysis of the Canc&uacute;n Climate Change Conference will  be available on Monday, 13 December 2010 online at: <a href="/climate/cop16" target="_blank" class="linknegro">http://www.iisd.ca/climate/cop16</a></p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p>
                        </td>
                    </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
