<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Durban Climate Change Conference - November 2011, 28 November - 9 December 2011, Durban, South Africa</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Durban Climate Change Conference - November 2011, 28 November - 9 December 2011, Durban, South Africa" />
<meta name= "description" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Durban Climate Change Conference - November 2011, 28 November - 9 December 2011, Durban, South Africa" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textstory {	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 13px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.greyheading {	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4A6F00;
}
.light_green {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #669900;
	text-decoration: none;
	font-size: 9pt;
	line-height: 14px;
}
.meeting_title {font-family: Verdana, Arial, Helvetica, sans-serif; color: #669900; font-size: 19px; 
}
.style3 {font-size: 9pt}
.title_under_earth {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
	color: #669900;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
           <tr>
             <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
               <tr>
                 <td width="549" valign="top"><div align="center">
                   <table width="510" border="0">
                     <tr>
                       <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                     </tr>
                     <tr>
                       <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                     </tr>
                     <tr>
                       <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                     </tr>
                   </table>
                 </div></td>
               </tr>
             </table></td>
           </tr>
         </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td></td>
             </tr>
             <tr>
               <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                 <tr>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/download/pdf/enb12523e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12523f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/vol12/enb12523s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                         </tr>
                         <tr>
                           <td align="center"><div align="center"><a href="/climate/cop17/japanese/enb12523j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                   <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                           <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                         </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                   </table></td>
                 </tr>
               </table></td>
             </tr>
             <tr>
               <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 523 - Monday, 28 November 2011</font><br />
               </div></td>
             </tr>
           </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
             <tr>
               <td width="663" align="center"><div align="center"><STRONG class="meeting_title">UNITED NATIONS CLIMATE CHANGE CONFERENCE IN DURBAN</STRONG></div></td>
             </tr>
             <tr>
               <td align="center"><div align="center"><strong class="light_green">28 NOVEMBER - 9 DECEMBER 2011</strong></div></td>
             </tr>
           </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                 <tr>
                   <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                   <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                 </tr>
                 <tr>
                   <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                   <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                       <td><p class="textstory">The United Nations Climate Change Conference  in Durban, South Africa, begins today and will continue until 9 December. The  event includes the seventeenth Conference of the Parties (COP 17) to the UN  Framework Convention on Climate Change (UNFCCC) and the seventh Conference of  the Parties serving as the Meeting of Parties to the Kyoto Protocol (COP/MOP  7). In support of these two main bodies, four subsidiary bodies will convene:  the fourth part of the fourteenth session of the <em>Ad Hoc</em> Working Group on  Long-term Cooperative Action under the Convention (AWG-LCA 14); the fourth part  of the sixteenth session of the <em>Ad Hoc </em>Working  Group on Further Commitments for Annex I Parties under the Kyoto Protocol  (AWG-KP 16); and the thirty-fifth sessions of the Subsidiary Body for  Implementation (SBI 35) and the Subsidiary Body for Scientific and  Technological Advice (SBSTA 35). A joint COP and COP/MOP high-level segment  involving government ministers and other senior officials will also take place  from 6-9 December. </p>
                         <p class="textstory">One focus will be on efforts to move ahead  on several initiatives and institutions that were the subject of decisions in  Cancun in 2010. In this respect, negotiations in Durban are expected to result  in decisions that would operationalize, <em>inter alia</em>, a technology  mechanism to promote clean energy and adaptation-related technologies, an  adaptation framework to support developing countries and a Green Climate Fund.  A second focus will be the question of how the international community will  collaborate in tackling climate change in the future. In this respect, the  AWG-KP and COP/MOP are expected to take a decision in Durban on the future of  the Kyoto Protocol, bearing in mind that the Protocol&rsquo;s first commitment period  expires in 2012. Additionally, the question of long-term cooperation under the  UNFCCC will be taken up by the AWG-LCA and COP. Discussions are expected to  focus on a timeline for developing a future framework under the Convention and  also on an upcoming review of the adequacy of, and progress towards, limiting  average global temperature rise to 2&deg;C. This review is scheduled to take place  between 2013 and 2015. Although a major breakthrough is not expected in Durban,  many view the meeting as an important opportunity to deliver both operational  decisions and some longer-term signals on the future direction of the process. </p>
                         <p align="center" class="textstory"><strong>A BRIEF  HISTORY OF THE UNFCCC AND KYOTO PROTOCOL </strong></p>
                         <p class="textstory">The international political response to  climate change began with the adoption of the United Nations Framework  Convention on Climate Change (UNFCCC) in 1992. The UNFCCC sets out a framework  for action aimed at stabilizing atmospheric concentrations of greenhouse gases  to avoid &ldquo;dangerous anthropogenic interference&rdquo; with the climate system. The  Convention, which entered into force on 21 March 1994, now has 195 parties.</p>
                         <p class="textstory">In December 1997, delegates to the third  session of the Conference of the Parties (COP) in Kyoto, Japan, agreed to a  Protocol to the UNFCCC that commits industrialized countries and countries in  transition to a market economy to achieve emission reduction targets. These  countries, known as Annex I parties under the UNFCCC, agreed to reduce their  overall emissions of six greenhouse gases by an average of 5.2% below 1990  levels between 2008-2012 (the first commitment period), with specific targets  varying from country to country. The Kyoto Protocol entered into force on 16  February 2005 and now has 193 parties.</p>
                         <p class="textstory">At the end of 2005, the first steps were  taken to consider long-term issues. Convening in Montreal, Canada, the first  session of the COP/MOP 1 decided to establish the AWG-KP on the basis of  Protocol Article 3.9, which mandates consideration of Annex I parties&rsquo; further  commitments at least seven years before the end of the first commitment period.  COP 11 agreed to consider long-term cooperation under the Convention through a  series of four workshops known as &ldquo;the Convention Dialogue,&rdquo; which continued  until COP 13.</p>
                         <p class="textstory"><strong>BALI ROADMAP:</strong> COP 13 and COP/MOP 3 took place in December 2007 in Bali, Indonesia.  Negotiations resulted in the adoption of the Bali Action Plan. Parties  established the AWG-LCA with a mandate to focus on key elements of long-term  cooperation identified during the Convention Dialogue: mitigation, adaptation,  finance, technology and a shared vision for long-term cooperative action. The  Bali conference also resulted in agreement on the Bali Roadmap. Based on two  negotiating tracks under the Convention and the Protocol, the Roadmap set a  deadline for concluding the negotiations in Copenhagen in December 2009.</p>
                         <p class="textstory"><strong>COPENHAGEN CLIMATE CHANGE CONFERENCE:</strong> The UN Climate Change Conference in Copenhagen, Denmark, took place  in December 2009. The event was marked by disputes over transparency and process.  During the high-level segment, informal negotiations took place in a group  consisting of major economies and representatives of regional and other  negotiating groups. Late in the evening of 18 December, these talks resulted in  a political agreement: the &ldquo;Copenhagen Accord,&rdquo; which was then presented to the  COP plenary for adoption. Over the next 13 hours, delegates debated the Accord.  Many supported adopting it as a step towards securing a &ldquo;better&rdquo; future  agreement. However, some developing countries opposed the Accord, which they  felt had been reached through an &ldquo;untransparent&rdquo; and &ldquo;undemocratic&rdquo; negotiating  process. Ultimately, the COP agreed to &ldquo;take note&rdquo; of the Copenhagen Accord. It  established a process for parties to indicate their support for the Accord and,  during 2010, over 140 countries did so. More than 80 countries also provided  information on their national emission reduction targets and other mitigation  actions.</p>
                         <p class="textstory">On the last day of the Copenhagen Climate  Change Conference, parties also agreed to extend the mandates of the AWG-LCA  and AWG-KP, requesting them to present their respective outcomes to COP 16 and  COP/MOP 6.</p>
                         <p class="textstory"><strong>CANCUN CLIMATE CHANGE CONFERENCE:</strong> Following four preparatory meetings in 2010, the UN Climate Change  Conference in Cancun, Mexico, took place from 29 November to 11 December 2010.  By the end of the conference, parties had finalized the Cancun Agreements,  which include decisions under both negotiating tracks. Under the Convention  track, Decision 1/CP.16 recognized the need for deep cuts in global emissions  in order to limit global average temperature rise to 2&deg;C. Parties also agreed  to consider strengthening the global long-term goal during a review by 2015,  including in relation to a proposed 1.5&deg;C target. They took note of emission  reduction targets and nationally appropriate mitigation actions (NAMAs)  communicated by developed and developing countries respectively  (FCCC/SB/2011/INF.1/Rev.1 and FCCC/AWGLCA/2011/INF.1, both issued after  Cancun). Decision 1/CP.16 also addressed other aspects of mitigation, such as  measuring, reporting and verification (MRV); reducing emissions from  deforestation and forest degradation in developing countries; and the role of  conservation, sustainable management of forests and enhancement of forest carbon  stocks in developing countries (REDD+).</p>
                         <p class="textstory">Parties also agreed to establish several new  institutions and processes, such as the Cancun Adaptation Framework and the  Adaptation Committee, as well as the Technology Mechanism, which includes the  Technology Executive Committee (TEC) and the Climate Technology Centre and  Network (CTCN). On finance, Decision 1/CP.16 created the Green Climate Fund  (GCF), which was designated to be the new operating entity of the Convention&rsquo;s  financial mechanism and is to be governed by a board of 24 members. Parties  agreed to set up a Transitional Committee tasked with the Fund&rsquo;s detailed  design, and established a Standing Committee to assist the COP with respect to  the financial mechanism. They also recognized the commitment by developed  countries to provide US$30 billion of fast-start finance in 2010-2012, and to  jointly mobilize US$100 billion per year by 2020.</p>
                         <p class="textstory">Under the Protocol track, Decision 1/CMP.6  included agreement to complete the work of the AWG-KP and have the results adopted  by the COP/MOP as soon as possible and in time to ensure there will be no gap  between the first and second commitment periods. The COP/MOP urged Annex I  parties to raise the level of ambition of their emission reduction targets with  a view to achieving aggregate emission reductions consistent with the range  identified in the Fourth Assessment Report of the Intergovernmental Panel on  Climate Change (IPCC). Parties also adopted Decision 2/CMP.6 on land use,  land-use change and forestry (LULUCF).</p>
                         <p class="textstory">The mandates of the two AWGs were extended  to the UN Climate Change Conference in Durban.</p>
                         <p class="textstory"><strong>UN CLIMATE CHANGE TALKS IN 2011:</strong> In 2011, three official UNFCCC negotiating sessions were held in  the lead-up to Durban.  In April, the two AWGs convened in Bangkok,   Thailand. The  AWG-LCA engaged in procedural discussions on its agenda, finally agreeing on an  agenda for its subsequent work. Under the AWG-KP, parties focused on key policy  issues hindering progress. </p>
                         <p class="textstory">Two months later, negotiators gathered in Bonn, Germany,  for sessions of the SBI, SBSTA, AWG-LCA and AWG-KP. SBSTA agreed to a new  agenda item on impacts of climate change on water and integrated water  resources management under the Nairobi Work Programme. This item will be taken  up in Durban.  No agreement was reached on other proposed new items, such as blue carbon and  rights of nature and the integrity of ecosystems, and a work programme on  agriculture. Under the SBI, work was launched on national adaptation plans, and  loss and damage, as mandated by the Cancun Agreements. The agenda item relating  to MRV remained in abeyance. Proposed new items related to the impacts of the  implementation of response measures also featured prominently.</p>
                         <p class="textstory">The focus of the AWG-KP in Bonn was on outstanding political issues and  conditionalities set by various Annex I countries for taking on new commitments  during a second commitment period. Despite initial opposition from developing  countries, parties also undertook technical work, including on LULUCF, the  flexibility mechanisms and methodological issues. Under the AWG-LCA,  substantive work began based on Decision 1/CP.16. Parties worked on adaptation,  finance, technology, capacity building, shared vision, review of the global  long-term goal, legal options, and diverse issues related to mitigation.  Parties agreed that notes prepared by the facilitators of the AWG-LCA informal  groups be carried forward to the third part of AWG-LCA 14 in Panama. While  progress was reported on some issues, many felt that the outcomes were  relatively modest.</p>
                         <p class="textstory">The AWG-LCA and AWG-KP reconvened from  1-7 October 2011 in Panama City, Panama. The AWG-KP concentrated on outstanding  issues and further clarifying options concerning mitigation targets, the  possible nature and content of rules for a second commitment period, and the  role of a possible second commitment period within a balanced outcome in  Durban. Under the AWG-LCA, negotiators engaged in extended procedural  discussions based on Decision 1/CP.16 and the Bali Action Plan. Parties worked  on adaptation, finance, technology, capacity building, shared vision, review of  the global long-term goal, legal options, and diverse issues related to  mitigation. The outcome for most of the informal group discussions was some  &ldquo;form of text&rdquo; forwarded to Durban as a basis for further discussions. </p>
                         <p class="textstory"><strong><em>INTERSESSIONAL  HIGHLIGHTS </em></strong></p>
                         <p class="textstory">Since the negotiations in Panama, a number  of meetings have been held that are relevant to Durban. The 4th meeting of the  Transitional Committee for the design of the GCF was held from 16-18 October  2011 in Cape Town, South Africa. Delegates sought to conclude discussions for  the design of the GCF ahead of COP 17. However, the Committee could not reach  an agreement to adopt the recommendations and the instrument, and so decided to  forward them to the COP for its consideration and approval. For further  information, visit: <a href="/crs/climate/gcftd4/brief_gcftd4.html" class="linknegro">http://www.iisd.ca/crs/climate/gcftd4/brief_gcftd4.html&nbsp; </a></p>
                         <p class="textstory">&nbsp;There  were also a number of other formal and informal regional and group meetings  designed to help parties prepare their negotiating positions. For more  information on many of these events, visit IISD Reporting Services&rsquo; <em>Climate  Change Policy and Practice</em> knowledgebase: <a href="http://climate-l.iisd.org" class="linknegro">http://climate-l.iisd.org&nbsp;</a></p></td>
                     </tr>
                   </table></td>
                   <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                 </tr>
                 <tr>
                   <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                   <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                   <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                 </tr>
               </table></td>
             </tr>
           </table></td>
       </tr>
     </table>
       <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop17/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="304" class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Asheline Appleton, Joanna Dafoe, Aaron Leopold, Velma McColl, Eugenia Recio and Chris Spence. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2011 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute &ndash; GISPRI) and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, NY 10022, United States of America. The ENB Team at the Durban Climate Change Conference - November 2011 can be contacted by e-mail at &lt;<a href="mailto:chris@iisd.org" class="linknegro">chris@iisd.org</a>&gt;. &#20195;&#34920;&#22243;&#12398;&#21451;</td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2011, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
