<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CANCUN HIGHLIGHTS, Monday, 29 November 2010, Cancún, Mexico</title>
<meta name="keywords" content="International Institute for Sustainable Development - Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), Climate Change, Cancún Climate Change Conference, 29 November - 10 December 2010, Cancún, Mexico" />
<meta name= "description" content="IISD Reporting Services (IISD RS), Earth Negotiations Bulletin (ENB), CANCUN HIGHLIGHTS, Monday, 29 November 2010, Cancún, Mexico" />
<link href="/dailies_images/images/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfngyzGhrE9XRj1aozEyxABQSJH-l6MP2gXySr4kyhr_oJWjNBRSoLPrBPk5YJ9fVkn25I9Jph0yrLQ">
</script>
<script type="text/javascript" src="rssdisplayer.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script src="js/lightbox.js" type="text/javascript"></script>

</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
<style type="text/css">
<!--
body {
	background-color: #f6f6f6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(/dailies_images/images/generic/BG_LOGO.jpg);
	background-repeat: no-repeat;
}
.style4 {
	color: #669933
}
.style8 {
	color: #336600;
	font-size: 44px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
-->
</style>
</head>

<body>
<div align="center">
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/TOP_BG.jpg" alt="" width="1000" height="20"></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td align="center" background="/dailies_images/images/generic/MAIN_BG.jpg"><table width="950" border="0" cellspacing="0" cellpadding="0">
    <tr>
     <td align="center"><table width="950" border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td><a name="top"></a><a href="/"><img src="/_gen/images/header_banner.png?1" alt="Linkages home" width="950" height="106" border="0" class="bordes" /></a></td>
            </tr>
     </table></td>
        </tr>
    <tr>
     
    </tr>
    <tr>
     <td align="center" style="padding-top:10px;"><table width="930" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td align="center"><table width="930" border="0" cellspacing="0" cellpadding="0">
             <tr>
               <td align="center"><table width="549" border="0" align="center" cellpadding="0" cellspacing="0">
                   <tr>
                     <td width="549" valign="top"><div align="center">
                         <table width="510" border="0">
                           <tr>
                             <th scope="col"><div align="center"><font class="style8">Earth Negotiations Bulletin</font></div></th>
                           </tr>
                           <tr>
                             <td><div align="center"><span class="style3">&middot;</span> <span class="style3">&middot; &middot; </span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span> <span class="style3"></span><span class="style3">&middot;</span></div></td>
                           </tr>
                           <tr>
                             <td><div align="center" class="title_under_earth style4">A     Reporting Service for Environment and Development Negotiations</div></td>
                           </tr>
                         </table>
                     </div></td>
                   </tr>
               </table></td>
             </tr>
           </table>
             <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td></td>
               </tr>
               <tr>
                 <td height="58" align="center" valign="top"><table width="647" border="0" align="center" cellpadding="2" cellspacing="0">
                     <tr>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___8" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/pdf_format.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/download/pdf/enb12488e.pdf"><img src="/images/pdf.png" alt="Download PDF version" width="30" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___2" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/french_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12488f.html"><img src="/images/french.png" alt="French version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___3" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/spanish_ver.jpg" alt="" width="120" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/vol12/enb12488s.html"><img src="/images/spanish.png" alt="Spanish version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="138"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___6" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><div align="center"><img src="/dailies_images/images/generic/japanese_ver.jpg" alt="" width="110" height="20"></div></td>
                                 </tr>
                                 <tr>
                                   <td align="center"><div align="center"><a href="/climate/cop16/japanese/enb12488j.pdf"><img src="/images/japanese.png" alt="Japanese version" width="22" height="22" vspace="1" border="0" /></a></div></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                       <td width="75"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___7" style="background-color:f9f9f9;">
                           <tr>
                             <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                             <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                           </tr>
                           <tr>
                             <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                             <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                   <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                                 </tr>
                             </table></td>
                             <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                           </tr>
                           <tr>
                             <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                             <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                             <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                           </tr>
                       </table></td>
                     </tr>
                 </table></td>
               </tr>
               <tr>
                 <td height="29" valign="middle"><div align="center"><font color="#666666" class="greyheading">Volume 12 Number 488 - Tuesday, 30 November 2010</font><br />
                 </div></td>
               </tr>
             </table>
           <table width="671" border="0" align="center" cellpadding="4" cellspacing="0">
               <tr>
                 <td width="663" align="center"><div align="center"><STRONG class="meeting_title">CANCUN HIGHLIGHTS</STRONG></div></td>
               </tr>
               <tr>
                 <td align="center"><div align="center"><strong class="light_green">Monday, 29 November 2010</strong></div></td>
               </tr>
             </table>
           <table width="930" border="0" cellspacing="0" cellpadding="0">
               <tr>
                 <td><table width="930" border="0" cellpadding="0" cellspacing="0" id="___12" style="background-color:f9f9f9;">
                     <tr>
                       <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                       <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                     </tr>
                     <tr>
                       <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                       <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                             <td><p class="textstory">The UN Climate Change Conference  in Cancun opened on Monday. In the morning and afternoon, the opening plenary  of the Conference of the Parties (COP) took place. In the afternoon, opening  plenaries of the Conference of the Parties serving as the Meeting of the  Parties to the Kyoto Protocol (COP/MOP), the <em>Ad Hoc </em>Working Group on  Long-term Cooperative Action under the UNFCCC (AWG-LCA) and the <em>Ad Hoc</em> Working Group on Further Commitments by Annex I Parties under the Kyoto  Protocol (AWG-KP) convened. In the evening, the AWG-LCA contact group on  preparation of an outcome for COP 16 and the AWG-KP contact group on Annex I  further commitments met.</p>
                               <p class="textstory"><strong><em>COP</em></strong></p>
                               <p class="textstory">Lykke Friis, Minister for Climate Change and Energy,  Denmark, for the COP 15 Presidency, stressed the need for a &ldquo;response to  climate change to match reality,&rdquo; and for decisive steps towards a  legally-binding outcome. She also urged delegates to show the world that  climate change was not &ldquo;put on ice&rdquo; in Copenhagen and that &ldquo;Cancun can.&rdquo; </p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS:  Election of COP 16 President: </strong>Parties elected Patricia Espinosa, Minister  for Foreign Affairs, Mexico, as COP 16 President. She identified Cancun as an opportunity to move  from discourse to action on many fronts, highlighting that the credibility of  the multilateral system is at stake. She emphasized that a broad, balanced  package of decisions is within the reach of parties.</p>
                               <p class="textstory"><strong>Rules of Procedure: </strong>COP President  Espinosa reminded parties of the practice since COP 1 to apply the draft rules  of procedure (FCCC/CP/1996/2) with the exception of draft rule 42 on voting.  She noted that the issue remains unresolved after COP 15 and the COP  President&rsquo;s intersessional consultations. </p>
                               <p class="textstory">PAPUA NEW GUINEA expressed serious  concern over continued reliance on the consensus rule and &ldquo;the lowest common  denominator.&rdquo; He highlighted that Copenhagen was not a political but a  procedural failure, noting that 140 parties have subsequently expressed support  for the Copenhagen Accord. He stated that a minority is holding up progress and  stressed that time has come to move forward under the UNFCCC with the  possibility to vote &ldquo;when all else fails&rdquo; or look elsewhere for solutions. </p>
                               <p class="textstory">BOLIVIA stated that the problem in  Copenhagen was not the consensus rule but that the multilateral process was not  respected and stressed the need to preserve the consensus rule. INDIA and SAUDI  ARABIA identified consensus as the paramount principle that has produced the  UNFCCC, Kyoto Protocol, Marrakesh Accords and the Bali Action Plan, and said it  must be preserved. </p>
                               <p class="textstory">Joel Hern&aacute;ndez (Mexico) will  consult informally.</p>
                               <p class="textstory"><strong>Agenda: </strong>Parties adopted the  agenda (FCCC/CP/2010/1) with the item on the second review of Convention  Articles 4.2(a) and 4.2(b) held in abeyance.</p>
                               <p class="textstory"><strong>Election of other officers:</strong> COP President Espinosa noted that consultations on election of officers other  than the President are ongoing.</p>
                               <p class="textstory"><strong>Admission of observers:</strong> Parties agreed to accredit observer organizations (FCCC/CP/2010/4), including  the South Asian Association for Regional Cooperation.</p>
                               <p class="textstory"><strong>Organization of work: </strong>Parties referred many agenda items to the Subsidiary  Bodies. COP President Espinosa stressed her commitment to work in a way that  ensures inclusiveness, transparency and a sense of urgency.</p>
                               <p class="textstory"><strong>Future sessions: </strong>South  Africa announced that COP 17 and COP/MOP 7 will be held in Durban, South  Africa, from 28 November to 9 December 2011. COP President Espinosa noted that  consultations on the venue of COP 18 and COP/MOP 8 are ongoing.</p>
                               <p class="textstory"><strong>OPENING STATEMENTS</strong>: Yemen,  for the G-77/CHINA, called for the negotiations to be party-driven, transparent  and inclusive. He stressed the need for balance between the AWG-LCA and the  AWG-KP negotiating tracks. The G-77/CHINA identified the need for additional  funding for the Special Climate Change Fund and the Least Developed Country  Fund, developing country adaptation and developing country national  communications. He stressed the need for a decision on a new fund, addressing  structure, scope, scale and resources. He also highlighted, <em>inter alia</em>:  the fund&rsquo;s operating entity; accountability; measuring, reporting and verifying  (MRV) of developed country contributions; and assessing adequacy of financing. </p>
                               <p class="textstory">Egypt, for the ARAB GROUP, said a  balanced outcome should support developing countries&rsquo; adaptation efforts,  encourage voluntary participation in international efforts to cut emissions and  incorporate a mechanism for implementing financing and technology measures in  developing countries. </p>
                               <p class="textstory">Switzerland, for the ENVIRONMENTAL  INTEGRITY GROUP (EIG), highlighted that Cancun is the &ldquo;time to deliver&rdquo; and  said the Group &ldquo;cannot and will not accept further delays.&rdquo; He noted that good  progress has been made on adaptation, finance, REDD+, capacity building and  technology, but that mitigation, and MRV are outstanding issues also required  for a balanced package. </p>
                               <p class="textstory">Grenada, for the ALLIANCE OF SMALL  ISLAND STATES (AOSIS), highlighted the challenge of producing outcomes that  provide for immediate action in all countries and lay the groundwork for  completing unfinished work in South Africa. He called for a ratifiable,  legally-binding agreement from the AWG-LCA. The Democratic Republic of the  Congo, for the AFRICAN GROUP, called for agreement on a comprehensive  adaptation framework and for developed countries to agree on new and additional  financing that is accessible to all countries.&nbsp;Belize, for the CENTRAL  AMERICAN INTEGRATION SYSTEM (SICA), underscored the urgency of adaptation and  stressed the need for a second commitment period under the Kyoto Protocol  immediately following the first one, and called for a legally-binding agreement  in South Africa. </p>
                               <p class="textstory">Venezuela, for the BOLIVARIAN  ALLIANCE FOR THE PEOPLES OF OUR AMERICA (ALBA), said the Kyoto Protocol is a  universal agreement that crystallizes the determination of all UN countries,  except for one, to face climate change based on equity and the principle of  common but differentiated responsibilities. She called for an inclusive and  balanced outcome in Cancun without losing achievements already made by  countries.</p>
                               <p class="textstory">Lesotho, for the LEAST DEVELOPED  COUNTRIES (LDCs), stressed that the UNFCCC should remain the central  international platform to address climate change. He said the outcome could be  a set of balanced decisions, but that this should not preclude the possibility  of a future comprehensive and legally-binding agreement. </p>
                               <p class="textstory">Papua New Guinea, for the Coalition of Rainforest Nations, urged  a meaningful decision on REDD+. Tajikistan, for the MOUNTAINOUS LANDLOCKED  DEVELOPING COUNTRIES, highlighted climate change impacts on glaciers, stressed  the vital importance of this issue to members of the Group and urged efforts by  the international community to address the problem. </p>
                               <p class="textstory">Belgium, for the EUROPEAN UNION  (EU), called for a balanced package within and across the two negotiating  tracks. He said a Cancun outcome must: capture progress to the maximum extent;  contain the framework and basis of a future climate change regime; achieve  incremental steps on MRV, mitigation, adaptation, capacity building, finance  and technology; and make as much progress as possible towards a legally-binding  outcome. </p>
                               <p class="textstory">COP President Espinosa informed  parties that she would be conducting consultations on mitigation with the  Chairs of the two AWGs, adhering to the principles of transparency and  inclusiveness. She also informed parties that a stocktaking plenary would  convene on Saturday. </p>
                               <p class="textstory"><strong><em>COP/MOP</em></strong></p>
                               <p class="textstory">In the afternoon, COP/MOP  President Espinosa opened COP/MOP 6, highlighting the need for a balanced set  of decisions. </p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS:</strong> Parties adopted the agenda (FCCC/KP/CMP/2010/1). Parties referred a number of  issues to the Subsidiary Bodies and agreed to the organization of work  (FCCC/KP/CMP/2010/1 and Add.1, FCCC/SBI/2010/11, FCCC/SBSTA/2010/7 and  FCCC/KP/AWG/2010/15). </p>
                               <p class="textstory"><strong>OPENING STATEMENTS: </strong>Grenada,  for AOSIS, stressed the objective in Cancun to agree on the amendment of the  Kyoto Protocol as mandated by Protocol Article 3.9 (Annex I further  commitments) and on consequential amendments to ensure the effectiveness of the  Protocol. Yemen, for the G-77/CHINA, underscored the AWG-KP&rsquo;s mandate and  stressed that a second commitment period must be established under the Kyoto  Protocol beyond 2012 as the basis for comparable Annex I emission reduction  commitments. Egypt, for the ARAB GROUP, underscored that an agreement under the  AWG-LCA will not be possible unless agreement is reached on a second Kyoto  Protocol commitment period.</p>
                               <p class="textstory">Belgium, for the EU, said a Cancun  outcome should further clarify parties&rsquo; emission reduction objectives with a  view to limiting global average warming to 2&deg;C and inscribing them under the  AWG-KP process. The EU expressed willingness to commit to a second commitment  period as a part of a wider outcome that engages all major economies. </p>
                               <p class="textstory">Australia, for the UMBRELLA GROUP,  urged progress on items such as land use, land-use change and forestry (LULUCF)  and the flexibility mechanisms, and expressed commitment to continuous,  effective action on climate change now, up to and beyond 2012. Switzerland, for  the EIG, stressed the need for concerted efforts by both Annex I and non-Annex  I parties. He called for capturing Annex I emission reduction pledges and  stressed the importance of a decision on the continuity of existing market  mechanisms. </p>
                               <p class="textstory">Lesotho, for the LDCs, urged the  adoption of ambitious reduction targets to avoid a gap between commitment  periods. The Democratic Republic of the Congo, for the AFRICAN GROUP, noted,  with concern, the lack of political signals that developed countries are  prepared to undertake ambitious, legally-binding emission reduction  commitments. Bolivia, for ALBA, stressed that developed country commitments  cannot be conditioned on markets and the flexibility mechanisms, eluding  historical responsibility. Vanuatu, for the Pacific  Small Island Developing States, called for ambitious and legally-binding  targets by Annex I countries and stressed the need for a second commitment  period under the Protocol to address the &ldquo;climate crisis.&rdquo; </p>
                               <p class="textstory"><strong><em>AWG-KP</em></strong></p>
                               <p class="textstory">AWG-KP Chair John Ashe (Antigua  and Barbuda) recalled that the AWG-KP is expected to conclude its work in  Cancun and report its outcome to COP/MOP 6. </p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS:</strong> Parties adopted the agenda (FCCC/KP/AWG/2010/15) and agreed to the organization  of work (FCCC/KP/AWG/2010/16).</p>
                               <p class="textstory"><strong>OPENING STATEMENTS: </strong>Yemen,  for the G-77/CHINA, urged Annex I parties to close the gap between the current  emission reduction pledges and what is required by science. Belgium, for the  EU, said the Cancun outcome should preserve the Kyoto Protocol architecture and  confirm the continuation of the Kyoto Protocol institutions, but noted that  progress under the AWG-KP alone would be insufficient. Australia, for the  UMBRELLA GROUP, said that agreement on the work by the AWG-KP should be part of  a comprehensive outcome considering the AWG-LCA. The Democratic Republic of the  Congo, for the AFRICAN GROUP, emphasized that the AWG-LCA should agree on  comparable mitigation commitments for Annex I countries that are not parties to  the Kyoto Protocol.</p>
                               <p class="textstory">Lesotho, for the LDCs, said that  Annex I parties should increase the level of ambition of their emission  reduction commitments and, with Grenada, for AOSIS, said loopholes, such as  carry over of surplus AAUs and weak LULUCF accounting rules, should be avoided.  Liechtenstein, for the EIG, highlighted the need for further progress on  transforming pledges into quantified emission limitation and reduction  objectives (QELROs), commitment period length and the carryover of surplus  AAUs. </p>
                               <p class="textstory"><strong>ANNEX I FURTHER COMMITMENTS: </strong>On  this issue (FCCC/KP/AWG/2010/17 and MISC.7), AWG-KP Chair Ashe proposed the  establishment of single contact group and after consultations, parties agreed. </p>
                               <p class="textstory"><strong><em>AWG-LCA</em></strong></p>
                               <p class="textstory"><strong>ORGANIZATIONAL MATTERS: </strong>AWG-LCA  Chair Margaret Mukahanana-Sangarwe (Zimbabwe) opened the session and parties  adopted the agenda (FCCC/AWGLCA/20010/16) and agreed to the organization of  work (FCCC/AWGLCA/2010/17). </p>
                               <p class="textstory"><strong>PREPARATION OF AN OUTCOME FOR  COP 16:</strong> The Secretariat introduced documents (FCCC/AWGLCA/2010/14,  FCCC/AWGLCA/2010/17, FCCC/AWGLCA/2010/INF.1, FCCC/AWGLCA/2010/CRP.1,  FCCC/AWGLCA/2010/MISC.8 &amp; Add.1 and FCCC/AWGLCA/2010/MISC.9 &amp; Add.1).</p>
                               <p class="textstory">MEXICO explained that his country  had held a number of consultations with parties and stakeholders throughout the  year in preparation for Cancun and highlighted, <em>inter alia</em>, a meeting on  mitigation, including MRV, and the pre-COP ministerial meeting after Tianjin.  He stressed the meetings were open to all interested governments and have  helped Mexico understand parties&rsquo; views. He stressed that success in Cancun  will confirm that the multilateral system is the best forum to face common  challenges. </p>
                               <p class="textstory">ETHIOPIA reported on the UN  Secretary-General&rsquo;s High-level Advisory Group on Climate Change Finance. He  emphasized the conclusion that it will be challenging but possible to mobilize  US$100 billion annually for climate action in developing countries by 2020 and  that a combination of different sources will be necessary. He noted that his  country has submitted the Group&rsquo;s report to the Secretariat so that it can  provide valuable input to the negotiations.&nbsp; </p>
                               <p class="textstory">GRENADA reported on an informal  ministerial meeting co-hosted by Grenada and Mexico in November with 42 AOSIS  and non-AOSIS participants. She highlighted, <em>inter alia</em>, agreement on  the urgency of mitigation, broad interest in a second commitment period under  the Protocol and the need for a new fund under the Convention. COSTA RICA  reported on the outcome of the third meeting of the Cartagena dialogue on  progressive action where priority areas for a balanced package had been identified. </p>
                               <p class="textstory">AWG-LCA Chair Mukahanana-Sangarwe  noted her informal consultations in Tianjin on the Cancun outcome, highlighting  a shared desire for a balanced and comprehensive outcome that: respects the  two-track approach; balances elements of the Bali Action Plan; is balanced  concerning the level of detail; and does not prejudge a future legally-binding  outcome. She highlighted her note on the possible elements of an outcome  (FCCC/AWGLCA/2010/CRP.1), indicating that not all elements are fully  elaborated, reflecting the current stage of progress. AWG-LCA Chair  Mukahanana-Sangarwe said the elements were presented in the search for common  ground, have no formal status and will not replace the official negotiating  text (FCCC/AWGLCA/2010/14), which contains the comprehensive spectrum of views. </p>
                               <p class="textstory">Parties agreed to establish a  contact group chaired by AWG-LCA Chair Mukahanana-Sangarwe to consider the  agenda item.</p>
                               <p class="textstory"><strong>OPENING STATEMENTS: </strong>Yemen,  for the G-77/CHINA, identified the need to respect the balance between the two  negotiating tracks and emphasized that the outcome should not compromise or  prejudge the overall objective of reaching a comprehensive, fair, ambitious and  legally-binding outcome in the future. Lesotho, for the LDCs, called for an  adaptation framework covering the full costs, as well as an international  mechanism for addressing loss and damage. </p>
                               <p class="textstory">Grenada, for AOSIS, called for a  process to strengthen emission reduction pledges communicated to the UNFCCC,  while noting that recognition of pledges should not be used to undermine the  AWG-KP track. She highlighted that an &ldquo;empty&rdquo; adaptation framework would not be  acceptable to AOSIS and questioned opposition to a mechanism for loss and  damage. Australia, for the UMBRELLA GROUP, noted that Cancun should help to prepare  a legally-binding agreement that includes commitments by all major economies.  She called for: progress on MRV and international consultation and analysis  (ICA); a workplan for climate finance; a framework for adaptation; details on  technology institutions; and establishment of a REDD+ mechanism. She welcomed  the Chair&rsquo;s outcome note and called for details on MRV and mitigation. </p>
                               <p class="textstory">The Democratic Republic of the  Congo, for the AFRICAN GROUP, noted a willingness to work on the basis of the  Chair&rsquo;s note, but highlighted that key elements from the August negotiating  text had been lost, particularly on a shared vision, mitigation, finance and  capacity building. </p>
                               <p class="textstory">Belgium, for the EU, welcomed the  Chair&rsquo;s note, but underscored that elements on mitigation and MRV are missing.  He said Cancun should agree on the key principles of the Copenhagen Green  Climate Fund, with a process for a periodic review of climate financing. He  called for incremental steps on all building blocks and said more than &euro;2  billion had been mobilized in 2010. </p>
                               <p class="textstory">Egypt, for the ARAB GROUP, noted  missing elements from the Chair&rsquo;s outcome note and called for working on the  basis of the August negotiating text. Papua New Guinea, on behalf of the  COALITION OF RAINFOREST NATIONS, called for the conclusion of discussions on  REDD+ and for ensuring adequate, consistent and sustainable financing from  multiple sources. The Republic of Korea, for the EIG, emphasized the need for  flexibility to achieve a balanced and environmentally-effective outcome. Venezuela,  for ALBA, called for decisions in Cancun that would result in the adoption of a  legally-binding agreement in South Africa respecting the two negotiating  tracks. Belize, for SICA, emphasized the need for environmentally-robust  targets for mitigation and credible and actionable financial commitments that  will enable direct access. </p>
                               <p class="textstory"><strong><em>CONTACT GROUPS</em></strong></p>
                               <p class="textstory"><strong>ANNEX I FURTHER COMMITMENTS  (AWG-KP): </strong>On Monday evening, AWG-KP Chair Ashe introduced his proposal  (FCCC/KP/AWG/2010/CRP.4), which contains draft decision text on amendments to  the Kyoto Protocol pursuant to its Article 3.9 (Annex I further commitments),  LULUCF, the flexibility mechanisms, methodological issues and potential  consequences. Parties agreed to establish informal groups on: amendments to the  Kyoto Protocol pursuant to its Article 3.9, co-facilitated by J&uuml;rgen Lefevere  (European Commission) and Leon Charles (Grenada); LULUCF, co-facilitated by  Marcelo Rocha (Brazil) and Peter Iversen (Denmark); the flexibility mechanisms  and methodological issues, facilitated by AWG-KP Vice-Chair Adrian Macey (New  Zealand); and potential consequences, co-facilitated by Andrew Ure (Australia)  and Eduardo Calvo Buend&iacute;a (Peru). </p>
                               <p class="textstory"><strong>PREPARATION OF AN OUTCOME FOR  COP 16 (AWG-LCA)</strong>: AWG-LCA Chair Mukahanana-Sangarwe opened the first  meeting of the AWG-LCA contact group on Monday evening. Parties agreed to the  continuation of the four drafting groups on: a shared vision, facilitated by  Anders Turesson (Sweden); adaptation, facilitated by Kishan Kumarsingh  (Trinidad and Tobago); mitigation, co-facilitated by Richard Muyungi (Tanzania)  and Helen Plume (New Zealand);  and finance, technology and capacity building, co-facilitated by Burhan  Gafoor (Singapore) and Kunihiko Shimada (Japan).</p>
                               <p class="textstory"><strong><em>IN THE CORRIDORS</em></strong></p>
                               <p class="textstory">Cancun welcomed participants to  the UN Climate Change Conference with beautiful sunshine, sandy beaches and  crystal-blue Caribbean waters. Yet, many of those arriving to the conference  were not in an optimistic mood. Expectations for an outcome that is ambitious  and meaningful enough to respond to the climate change challenge are much lower  than they were in Copenhagen last year. For most, a positive outcome from  Cancun would mean &ldquo;a balanced package&rdquo; on issues such as the green fund, a  technology mechanism, REDD+, adaptation and MRV/ICA, possibly leaving more  difficult but crucially important issues, such as mitigation and legal form for  resolution some time in the future. &ldquo;Reaching agreement on these issues would  undoubtedly be progress, but this will not be enough to avoid dangerous climate  change, so I&rsquo;m not too excited about the prospects,&rdquo; noted a seasoned veteran.</p>
                               <p class="textstory">Conference logistics were an  overwhelmingly popular topic among those not staying at the conference venue.  While negotiations are taking place at the Moon Palace, which is normally some  20-45 minutes drive away from most hotels - the heavy morning traffic and  numerous police check points meant that many delegates spent several hours in  the traffic jam. In addition, negotiators have to travel past the Moon Palace  to the second venue, Cancun Messe (or the Cancun &quot;mess&quot;, as some have  named it) to go through a security check, board shuttle buses and drive a  further 20 minutes back to the Moon Palce. &ldquo;It took us almost three hours to  get here this morning and it will probably take an hour or more to go back.  Knowing how tiring these conferences are even without a long commute, I&rsquo;m quite  worried!&rdquo; remarked a delegate boarding the shuttle bus following the opening  reception under the stars. </p></td>
                           </tr>
                       </table></td>
                       <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                     </tr>
                     <tr>
                       <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                       <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                       <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                     </tr>
                 </table></td>
               </tr>
           </table></td>
       </tr>
     </table>
     <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="padding-top:5px;padding-bottom:5px;"><font face="Verdana" style="font-size: 8.5pt"><a class="linknegro" title="up to top" href="#top">^ <span class="linknaranja">up to top</span></a></font></td>
              </tr>
            </table>
            <table width="930" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><table width="130" border="0" cellpadding="0" cellspacing="0" id="___4" style="background-color:f9f9f9;">
                    <tr>
                      <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                      <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
                    </tr>
                    <tr>
                      <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                      <td align="center" valign="top"><table width="112" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><a href="/climate/cop16/"><img src="/dailies_images/images/generic/back_to_iisd.jpg" alt="Back to IISD coverage" width="120" height="35" vspace="2" border="0"></a></td>
                          </tr>
                      </table></td>
                      <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
                    </tr>
                    <tr>
                      <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                      <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                      <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___5" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td height="270" background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="912" align="left" valign="top"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="321"><p class="textstory">This issue of the Earth Negotiations Bulletin &copy; &lt;<a href="mailto:enb@iisd.org" class="linknegro">enb@iisd.org</a>&gt; is written and edited by Tomilola &ldquo;Tomi&rdquo; Akanle, Asheline Appleton, Kati Kulovesi, Ph.D., Eugenia Recio, Anna Schulz, and Matthew Sommerville. The Digital Editor is Leila Mead. The Editor is Pamela S. Chasek, Ph.D. &lt;<a href="mailto:pam@iisd.org" class="linknegro">pam@iisd.org</a>&gt;. The Director of IISD Reporting Services is Langston James &ldquo;Kimo&rdquo; Goree VI &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;. The Sustaining Donors of the Bulletin are the Government of the United States of America (through the Department of State Bureau of Oceans and International Environmental and Scientific Affairs), the Government of Canada (through CIDA), the Danish Ministry of Foreign Affairs, the German Federal Ministry for Economic Cooperation and Development (BMZ), the German Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU), the European Commission (DG-ENV), and the Italian Ministry for the Environment, Land and Sea. General Support for the Bulletin during 2010 is provided by the Norwegian Ministry of Foreign Affairs, the Government of Australia, the Ministry of Environment of Sweden, the New Zealand Ministry of Foreign Affairs and Trade, SWAN International, Swiss Federal Office for the Environment (FOEN), the Finnish Ministry for Foreign Affairs, the Japanese Ministry of Environment (through the Institute for Global Environmental Strategies - IGES), the Japanese Ministry of Economy, Trade and Industry (through the Global Industrial and Social Progress Research Institute - GISPRI), the Government of Iceland, and the United Nations Environment Programme (UNEP). Funding for translation of the Bulletin into French has been provided by the Government of France, the Belgium Walloon Region, the Province of Qu&eacute;bec, and the International Organization of the Francophone (OIF and IEPF). Funding for translation of the Bulletin into Spanish has been provided by the Spanish Ministry of the Environment and Rural and Marine Affairs. The opinions expressed in the Bulletin are those of the authors and do not necessarily reflect the views of IISD or other donors. Excerpts from the Bulletin may be used in non-commercial publications with appropriate academic citation. For information on the Bulletin, including requests to provide reporting services, contact the Director of IISD Reporting Services at &lt;<a href="mailto:kimo@iisd.org" class="linknegro">kimo@iisd.org</a>&gt;, +1-646-536-7556 or 300 East 56th St., 11D, New York, New York 10022, United States of America. The ENB Team at the Canc&uacute;n Climate Change Conference can be contacted by e-mail at &lt;<a href="mailto:kati@iisd.org" class="linknegro">kati@iisd.org</a>&gt;.</p></td>
                  </tr>
                </table></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table>
            <table width="930" border="0" cellpadding="0" cellspacing="0" id="___15" style="background-color:f9f9f9;">
              <tr>
                <td width="9" background="/dailies_images/images/generic/esq1.gif"><img src="/dailies_images/images/generic/esq1.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoarriba.gif"><img src="/dailies_images/images/generic/fondoarriba.gif" width="10" height="9" /></td>
                <td width="10" background="/dailies_images/images/generic/esq2.gif"><img src="/dailies_images/images/generic/esq2.gif" width="9" height="9" /></td>
              </tr>
              <tr>
                <td background="/dailies_images/images/generic/fondoder.gif"><img src="/dailies_images/images/generic/fondoder.gif" width="9" height="10" /></td>
                <td width="911" align="center" valign="top"><span class="textfooter"><font face="Verdana">| Back to <a href="/" title="Linkages" class="green_heading"><strong>IISD RS &quot;Linkages&quot;</strong></a></font></span><span class="textfooter"><font face="Verdana"> | 
                  Visit <a href="http://www.iisd.org/" title="Visit IISDnet" class="green_heading"><strong>IISDnet</strong></a> | Send 
                  e-mail to <a href="mailto:enb@iisd.org" title="Send and e-mail to ENB" class="green_heading"><strong>IISD RS</strong></a> | <br />
                  &copy; 2010, IISD. All rights reserved.</font></span></td>
                <td background="/dailies_images/images/generic/fondoizq.gif"><img src="/dailies_images/images/generic/fondoizq.gif" width="9" height="10" /></td>
              </tr>
              <tr>
                <td height="9" background="/dailies_images/images/generic/esq3.gif"><img src="/dailies_images/images/generic/esq3.gif" width="9" height="9" /></td>
                <td background="/dailies_images/images/generic/fondoabajo.gif"><img src="/dailies_images/images/generic/fondoabajo.gif" width="10" height="9" /></td>
                <td background="/dailies_images/images/generic/esq4.gif"><img src="/dailies_images/images/generic/esq4.gif" width="9" height="9" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
  <table width="1000" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/dailies_images/images/generic/BOTTOM_BG.jpg" alt="" width="1000" height="21"></td>
    </tr>
  </table>
</div>
<script src='http://www.iisd.ca/scripts/downloads_ga.js' type='text/javascript'></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2638113-2']);
_gaq.push(['_trackPageview']);
(function() {
   var ga = document.createElement('script');
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   ga.setAttribute('async', 'true');
   document.documentElement.firstChild.appendChild(ga);
})();
</script>
<!--Tracking by GAHelper on iisd.ca -->

</body>
</html>
